<div id="sidebar">
  <%- if @resources -%>
  <h4><a href="http://crd.ndl.go.jp/">レファレンス協同データベース</a></h4>
    <p><%= t('question.number_of_search_results', :count => @refkyo_count) -%><br />
    <%- if @refkyo_count > 0 -%>
      <!--
      Displaying <%=h @startrecord -%> to 
      <%- if @refkyo_count < @startrecord + Question.per_page - 1 -%>
        <%=h @refkyo_count -%>
      <%- else -%>
        <%=h @startrecord + Question.per_page - 1 -%>
      <%- end -%>
      .</p>
      -->
    <%- end -%>
    <ul>
      <%- @resources.each do |resource| -%>
        <li><%= link_to h(truncate(resource[:title])), resource[:link] -%></li>
      <%- end -%>
    </ul>
    <%= will_paginate(@crd_results, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next'), :param_name => :crd_page, :class => 'ajax_pagination') -%>
  <%- else -%>
    <p>You can search <a href="http://crd.ndl.go.jp/">レファレンス協同データベース</a>.</p>
  <%- end -%>
</div>
