<div id="main">
<h1 class="title"><%=h t('page.listing', :model => t('activerecord.models.question')) -%></h1>
<div class="inner">
  <%- form_for :questions, :url => user_questions_path(@user.login), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:class => 'search_form'} -%>
      <%= submit_tag t('page.search') -%>
    </p>
    <%= javascript_tag("$('query').focus()") -%>
  <%- end -%>

  <%= render :partial => 'list' -%>

</div>
</div>

<div id="sidebar">
  <%= render :partial => 'crd' -%>
</div>
