<h1><%=h ("Questions") -%></h1>

<div id="result_list">
  <div id="searchform">
    <%- form_for :questions, :url => questions_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:style => 'width: 350px'} -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%- end -%>
  </div>

<%- if @count[:query_result] > 0 -%>
  <table style="width: 100%">
    <tr>
      <th><%= ('Id') -%></th>
      <th><%= t('page.user') -%></th>
      <th><%= ('Body') -%></th>
      <th><%= ('Answers') -%></th>
      <th><%= t('page.updated_at') -%></th>
    </tr>
  
  <%- @questions.each_with_index do |question, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%=h question.id -%></td>
      <td><%= link_to h(question.user.login), user_path(question.user.login) -%></td>
      <td><%= link_to h(truncate(question.body, :length => 60)), user_question_path(question.user.login, question) -%></td>
      <td><%=h question.answers.size -%></td>
      <td><%=h question.updated_at -%></td>
      <%- if_authorized?(:destroy, question) do -%>
        <td><%= link_to t('page.destroy'), user_question_path(question.user.login, question), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    </tr>
  <%- end -%>
  </table>
<%- else -%>
  <p><%= ('No records found.') -%></p>
<%- end -%>

<%= will_paginate(@questions) -%>

<div>
<%- if logged_in? -%>
  <%- if current_user.has_role?('Librarian') -%>
    <%= link_to ('All questions'), questions_path -%>
  <%- end -%>
<%- end -%>

<%- if_authorized?(:new, Question) do -%>
  <%= link_to ('My questions'), user_questions_path(current_user.login) -%>
  <%= link_to ('New question'), new_user_question_path(current_user.login) -%>
<%- end -%>
</div>
</div>

<%= render :partial => 'crd' -%>
