<div id="result_index">
<p>
  <%= t('page.sort_by') -%>:
  <%- if params[:sort_by].blank? -%>
    <strong><%= t('page.updated_at') -%></strong>
  <%- else -%>
    <%= link_to t('page.updated_at'), params.merge(:sort_by => nil) -%>
  <%- end -%>
  <%- if params[:sort_by] == 'created_at' -%>
    <strong><%= t('page.created_at') -%></strong>
  <%- else -%>
    <%= link_to t('page.created_at'), params.merge(:sort_by => 'created_at') -%>
  <%- end -%>
  <%- if params[:sort_by] == 'answers_count' -%>
    <strong><%= t('activerecord.attributes.question.answers_count') -%></strong>
  <%- else -%>
    <%= link_to t('activerecord.attributes.question.answers_count'), params.merge(:sort_by => 'answers_count') -%>
  <%- end -%>
</p>

<%- if @count[:query_result] > 0 -%>
  <table class="index">
    <tr>
      <th><%= ('Id') -%></th>
      <th><%= t('activerecord.attributes.question.solved') -%></th>
      <th><%= t('activerecord.models.user') -%></th>
      <th><%= t('activerecord.attributes.question.body') -%></th>
      <th><%= t('activerecord.models.answer') -%></th>
      <th><%= t('page.updated_at') -%></th>
    </tr>
  
  <%- @questions.each_with_index do |question, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= question.id -%></td>
      <td><%= i18n_boolean(question.solved) -%></td>
      <td><%= link_to h(question.user.username), user_path(question.user.username) -%></td>
      <td><%= link_to h(truncate(question.body, :length => 60)), user_question_path(question.user.username, question) -%></td>
      <td><%= question.answers.size -%></td>
      <td><%= l(question.updated_at) -%></td>
      <%- if can? :destroy, question -%>
        <td><%= link_to t('page.destroy'), user_question_path(question.user.username, question), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    </tr>
  <%- end -%>
  </table>
<%- else -%>
  <p><%= t('question.no_record_found') -%></p>
<%- end -%>

<%= will_paginate(@questions, :class => 'content_pagination digg_pagination') -%>

</div>
