<div id="result_index">
<%- if @count[:query_result] > 0 -%>
  <table id="index">
    <tr>
      <th><%= ('Id') -%></th>
      <th><%= t('activerecord.models.user') -%></th>
      <th><%= t('activerecord.attributes.question.body') -%></th>
      <th><%= t('activerecord.models.answer') -%></th>
      <th><%= t('page.updated_at') -%></th>
    </tr>
  
  <%- @questions.each_with_index do |question, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%=h question.id -%></td>
      <td><%= link_to h(question.user.login), user_path(question.user.login) -%></td>
      <td><%= link_to h(truncate(question.body, :length => 60)), user_question_path(question.user.login, question) -%></td>
      <td><%=h question.answers.size -%></td>
      <td><%= l(question.updated_at) -%></td>
      <%- if question.is_deletable_by(current_user) -%>
        <td><%= link_to t('page.destroy'), user_question_path(question.user.login, question), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    </tr>
  <%- end -%>
  </table>
<%- else -%>
  <p><%= t('question.no_record_found') -%></p>
<%- end -%>

<%= will_paginate(@questions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next'), :class => 'content_pagination') -%>

</div>
