<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), user_question_path(@question.user.login, @question) -%></li>
    <li><%= link_to t('page.back'), user_questions_path(@question.user.login) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('question.editing') -%></h1>

<%= error_messages_for :question -%>

<%- form_for(:question, :url => user_question_path(@question.user.login, @question), :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('page.user') -%></b><br />
  <%= link_to h(@question.user.login), user_path(@question.user.login) -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.question.body') -%></b><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.question.private_question') -%></b><br />
    <%= f.check_box :private_question -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>
</div>
