<div id="sidebar">
  <ul>
    <li><%= link_to t('question.answer_question'), new_user_question_answer_path(@question.user.login, @question) -%></li>
    <%- if updatable(@question) -%>
      <li><%= link_to t('page.edit'), edit_user_question_path(@question.user.login, @question) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), questions_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.question')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@question.user.login), user_path(@question.user.login) -%>
</p>

<div>
  <b><%= t('activerecord.attributes.question.body') -%>:</b>
  <%= textilize_without_paragraph(h(@question.body)) -%>
</div>

<p>
<b><%= t('activerecord.attributes.question.shared') -%>:</b>
  <%=h @question.shared -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@question.created_at) -%>
</p>

<p>
  <b><%= t('page.updated_at') -%>:</b>
  <%= l(@question.updated_at) -%>
</p>

<p>
<b><%= link_to t('activerecord.models.answer'), user_question_answers_path(@question.user.login, @question) -%>:</b>
</p>

<ul>
<%- for answer in @question.answers -%>
  <li><%= link_to h(answer.user.login), user_path(answer.user.login) -%>: <%= textilize_without_paragraph(h(answer.body)) -%></li>
<%- end -%>
</ul>

</div>
</div>
