<div id="main">
<h1 class="title">Listing bookmark_stat_has_manifestations</h1>
<div class="inner">

<table class="index">
  <tr>
    <th>Bookmark stat</th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th>Bookmarks count</th>
  </tr>

<% for bookmark_stat_has_manifestation in @bookmark_stat_has_manifestations -%>
  <tr>
    <td><%=h bookmark_stat_has_manifestation.bookmark_stat_id -%></td>
    <td><%=h bookmark_stat_has_manifestation.manifestation_id -%></td>
    <td><%=h bookmark_stat_has_manifestation.bookmarks_count -%></td>
    <td><%= link_to t('page.show'), bookmark_stat_has_manifestation -%></td>
    <td><%= link_to t('page.edit'), edit_bookmark_stat_has_manifestation_path(bookmark_stat_has_manifestation) -%></td>
    <td><%= link_to t('page.destroy'), bookmark_stat_has_manifestation, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@bookmark_stat_has_manifestations, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.bookmark_stat_has_manifestation')), new_bookmark_stat_has_manifestation_path -%></li>
  </ul>
</div>
