<p>
  <b>Bookmark stat:</b>
  <%= @bookmark_stat_has_manifestation.bookmark_stat_id -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= @bookmark_stat_has_manifestation.manifestation_id -%>
</p>

<p>
  <b>Bookmarks count:</b>
  <%= @bookmark_stat_has_manifestation.bookmarks_count -%>
</p>


<%= link_to t('page.edit'), edit_bookmark_stat_has_manifestation_path(@bookmark_stat_has_manifestation) -%> |
<%= link_to t('page.back'), bookmark_stat_has_manifestations_path -%>
