<p>
  <b>Bookmark stat:</b>
  <%=h @bookmark_stat_has_manifestation.bookmark_stat_id -%>
</p>

<p>
  <b>Manifestation:</b>
  <%=h @bookmark_stat_has_manifestation.manifestation_id -%>
</p>

<p>
  <b>Bookmarks count:</b>
  <%=h @bookmark_stat_has_manifestation.bookmarks_count -%>
</p>


<%= link_to t('page.edit'), edit_bookmark_stat_has_manifestation_path(@bookmark_stat_has_manifestation) -%> |
<%= link_to 'Back', bookmark_stat_has_manifestations_path -%>
