div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.advertise')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.advertisement') -%></th>
  </tr>

<%- @advertises.each do |advertise| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(advertise.patron.full_name), advertise.patron -%></td>
    <td><%= link_to h(advertise.advertisement.title), advertise.advertisement -%></td>
    <td><%= link_to t('page.show'), advertise -%></td>
    <td><%= link_to t('page.edit'), edit_advertise_path(advertise) -%></td>
    <td><%= link_to t('page.destroy'), advertise, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@advertises) -%>
</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.advertise')), new_advertise_path -%></li>
  </ul>
</div>
