<h1><%= t('page.listing', :model => t('activerecord.models.advertise')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.advertisement') -%></th>
  </tr>

<%- for advertise in @advertises -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(advertise.patron.full_name), advertise.patron -%></td>
    <td><%= link_to h(advertise.advertisement.title), advertise.advertisement -%></td>
    <td><%= link_to t('page.show'), advertise -%></td>
    <td><%= link_to t('page.edit'), edit_advertise_path(advertise) -%></td>
    <td><%= link_to t('page.destroy'), advertise, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@advertises, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
<br />

<%= link_to t('page.new', :model => t('activerecord.models.advertise')), new_advertise_path -%>
