<h1><%= ('Listing advertises') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Patron') -%></th>
    <th><%= ('Advertisement') -%></th>
  </tr>

<%- for advertise in @advertises -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(advertise.patron.full_name), advertise.patron -%></td>
    <td><%= link_to h(advertise.advertisement.title), advertise.advertisement -%></td>
    <td><%= link_to t('show'), advertise -%></td>
    <td><%= link_to t('edit'), edit_advertise_path(advertise) -%></td>
    <td><%= link_to t('destroy'), advertise, :confirm => ('Are you sure?'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New advertise'), new_advertise_path -%>
