<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_advertise_path(@advertise) -%></li>
    <li><%= link_to t('page.back'), advertises_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@advertise.patron.full_name), @advertise.patron -%>
</p>

<p>
  <b><%= t('activerecord.models.advertisement') -%>:</b>
  <%= link_to h(@advertise.advertisement.title), @advertise.advertisement -%>
</p>

</div>
