<h1><%= ('Listing baskets') -%></h1>

<table style="width: 100%">
  <tr>
<<<<<<< HEAD:app/views/baskets/index.html.erb
    <th><%= t('page.user') -%></th>
    <th><%= t('page.note') -%></th>
=======
    <th><%= ('User') -%></th>
    <th><%= ('Note') -%></th>
>>>>>>> 591cc9f71f2d9220e978c2c274fc370eea38768e:app/views/baskets/index.html.erb
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for basket in @baskets -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h basket.user.login -%></td>
    <td><%=h basket.note -%></td>
    <td><%=h basket.updated_at -%></td>
    <td><%= link_to t('page.show'), user_basket_path(basket.user.login, basket) -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@baskets) -%>

<br />

<%= link_to ('New basket'), new_user_basket_path(@user.login) -%>
