<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.basket')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('activerecord.attributes.basket.note') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for basket in @baskets -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h basket.user.login -%></td>
    <td><%=h basket.note -%></td>
    <td><%=h basket.updated_at -%></td>
    <td><%= link_to t('page.show'), user_basket_path(basket.user.login, basket) -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@baskets, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

<br />

<%= link_to t('page.new', :model => t('activerecord.models.basket')), new_user_basket_path(@user.login) -%>
