<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_basket_path(@basket.user.login, @basket) -%></li>
    <li><%= link_to t('page.back'), user_baskets_path(@basket.user.login) -%></li>
  </ul>
</div>

<div id="content_detail">
  <p>
    <b><%= t('page.user') -%>:</b>
    <%=h @basket.user.login -%>
  </p>

  <p>
    <b><%= t('page.note') -%>:</b>
    <%=h @basket.note -%>
  </p>
</div>

