<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Bookmark) do -%>
      <li><%= link_to ('New bookmark'), new_bookmarked_resource_bookmark_path(@bookmarked_resource) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1>
    <%= link_to h(@bookmarked_resource.title), @bookmarked_resource -%>
  </h1>
<table>
  <tr>
<<<<<<< HEAD:app/views/bookmarks/_index_bookmarked_resource.html.erb
    <th><%= t('page.user') -%></th>
=======
    <th><%= ('User') -%></th>
>>>>>>> 591cc9f71f2d9220e978c2c274fc370eea38768e:app/views/bookmarks/_index_bookmarked_resource.html.erb
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for bookmark in @bookmarks -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(bookmark.user.login), user_path(bookmark.user.login) -%></td>
    <td><%=h bookmark.created_at -%></td>
    <td><%=h bookmark.updated_at -%></td>
    <%- if_authorized?(:destroy, bookmark) do -%>
      <td><%= link_to t('page.destroy'), bookmarked_resource_bookmark_path(@bookmark.bookmarked_resource, bookmark), :confirm => ('Are you sure?'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookmarks) -%>

</div>
