<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Bookmark) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.bookmark')), new_bookmark_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.bookmark')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('page.user') -%></th>
    <th><%= t('activerecord.models.bookmarked_resource') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for bookmark in @bookmarks -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(bookmark.user.login), user_path(bookmark.user.login) -%></td>
    <td><%= link_to h(bookmark.bookmarked_resource.title), bookmark.bookmarked_resource -%></td>
    <td><%=h bookmark.created_at -%></td>
    <td><%=h bookmark.updated_at -%></td>
    <%- if_authorized?(:destroy, bookmark) do -%>
      <td><%= link_to t('page.show'), bookmark_path(bookmark) -%></td>
      <td><%= link_to t('page.destroy'), bookmark_path(bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookmarks, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
