<div id="sidebar">
  <ul>
    <li><%= link_to t('page.showing', :model => t('activerecord.models.bookmarked_resource')), bookmarked_resource_path(@bookmark.bookmarked_resource) -%></li>
    <li><%= link_to t('page.show'), user_bookmark_path(@bookmark.user.login, @bookmark) -%></li>
    <li><%= link_to t('page.back'), user_bookmarks_path(@bookmark.user.login) -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.bookmark')) -%></h1>
<div class="inner">

<%= error_messages_for :bookmark -%>

<%- form_for(@bookmark, :url => user_bookmark_path(@bookmark.user.login, @bookmark), :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('page.title') -%></b><br />
  <%- if @bookmark.bookmarked_resource -%>
    <%= link_to h(@bookmark.bookmarked_resource.title), h(@bookmark.bookmarked_resource.url) -%>
  <%- else -%>
    <%= f.text_field :bookmarked_resource_id -%>
  <%- end -%>
  </p>

  <p>
    <b><%= t('activerecord.models.tag') -%></b><br />
    <%= f.text_field :tag_list, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.bookmark.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>
