<div id="submenu">
  <ul>
    <%- if @user -%>
      <li><%= link_to t('edit'),edit_user_bookmark_path(@user.login, @bookmark) -%></li>
      <li><%= link_to t('destroy'), user_bookmark_path(@user.login, @bookmark), :confirm => ('Are you sure?'), :method => :delete -%></li>
      <li><%= link_to ('Back to manifestation'), @bookmark.bookmarked_resource.manifestation -%></li>
      <li><%= link_to ('Back'), user_bookmarks_path(@user.login) -%></li>
    <%- else -%>
      <li><%= link_to t('edit'),edit_bookmark_path(@bookmark) -%></li>
      <li><%= link_to t('destroy'), bookmark_path(@bookmark), :confirm => ('Are you sure?'), :method => :delete -%></li>
      <li><%= link_to ('Back to manifestation'), session[:return_to] if session[:return_to] -%></li>
      <li><%= link_to ('Back'), bookmarks_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Bookmark') -%></h1>

<p>
  <b><%= ('User') -%>:</b>
  <%= link_to h(@bookmark.user.login), user_path(@bookmark.user.login) -%>
</p>

<p>
  <b><%= ('Bookmarked resource') -%>:</b>
  <%= link_to h(@bookmark.bookmarked_resource.title), h(@bookmark.bookmarked_resource.url) -%><br />
  (<%= link_to ('Manifestation'), @bookmark.bookmarked_resource.manifestation -%>)
  (<%= link_to ('Detail'), bookmarked_resource_path(@bookmark.bookmarked_resource) -%>)
</p>

<p>
  <b><%= ('Tag') -%>:</b>
  <%- @bookmark.tags.collect {|tag| -%>
  <%= link_to h(tag.name), user_bookmarked_resources_path(@bookmark.user.login, :tag => tag.name) -%>
  <%- } -%></td>
</p>

<p>
  <b><%= ('Note') -%>:</b>
  <%=h @bookmark.note -%>
</p>

<p>
  <b><%= ('Created at') -%>:</b>
  <%=h @bookmark.created_at -%>
</p>

<p>
<b><%= ('Updated at') -%>:</b>
  <%=h @bookmark.updated_at -%>
</p>

<p>
<b><%= ('Bookmarked count') -%>:</b>
  <%=h @bookmark.bookmarked_resource.bookmarks_count -%>
</p>

</div>
