<div id="submenu">
  <ul>
    <%- if @user -%>
      <li><%= link_to t('page.edit'),edit_user_bookmark_path(@user.login, @bookmark) -%></li>
      <li><%= link_to t('page.destroy'), user_bookmark_path(@user.login, @bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back_to', :model => t('activerecord.models.manifestation')), @bookmark.manifestation -%></li>
      <li><%= link_to t('page.back'), user_bookmarks_path(@user.login) -%></li>
    <%- else -%>
      <li><%= link_to t('page.edit'),edit_bookmark_path(@bookmark) -%></li>
      <li><%= link_to t('page.destroy'), bookmark_path(@bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back'), :back -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.bookmark')) -%></h1>
<div id="content_list">

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@bookmark.user.login), user_path(@bookmark.user.login) -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= link_to h(@bookmark.manifestation.original_title), @bookmark.manifestation -%>
</p>

<p>
  <b><%= t('page.tag') -%>:</b>
  <%- @bookmark.tags.collect {|tag| -%>
  <%= link_to h(tag.name), user_manifestations_path(@bookmark.user.login, :tag => tag.name) -%>
  <%- } -%></td>
</p>

<p>
  <b><%= t('activerecord.attributes.bookmark.note') -%>:</b>
  <%=h @bookmark.note -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@bookmark.created_at) -%>
</p>

<p>
  <b><%= t('page.updated_at') -%>:</b>
  <%= l(@bookmark.updated_at) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.bookmarked_resource.bookmarks_count') -%>:</b>
  <%=h @bookmark.manifestation.bookmarks_count -%>
</p>

</div>
</div>
