<div id="submenu">
  <ul>
    <%- if @user -%>
      <li><%= link_to t('page.edit'),edit_user_bookmark_path(@user.login, @bookmark) -%></li>
      <li><%= link_to t('page.destroy'), user_bookmark_path(@user.login, @bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back_to', :model => t('activerecord.models.manifestation')), @bookmark.bookmarked_resource.manifestation -%></li>
      <li><%= link_to t('page.back'), user_bookmarks_path(@user.login) -%></li>
    <%- else -%>
      <li><%= link_to t('page.edit'),edit_bookmark_path(@bookmark) -%></li>
      <li><%= link_to t('page.destroy'), bookmark_path(@bookmark), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
      <li><%= link_to t('page.back_to', :model => t('activerecord.models.manifestation')), session[:return_to] if session[:return_to] -%></li>
      <li><%= link_to t('page.back'), bookmarks_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 id="resource_title"><%= ('Bookmark') -%></h1>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@bookmark.user.login), user_path(@bookmark.user.login) -%>
</p>

<p>
  <b><%= ('Bookmarked resource') -%>:</b>
  <%= link_to h(@bookmark.bookmarked_resource.title), h(@bookmark.bookmarked_resource.url) -%><br />
  (<%= link_to t('activerecord.models.manifestation'), @bookmark.bookmarked_resource.manifestation -%>)
  (<%= link_to t('page.detail'), bookmarked_resource_path(@bookmark.bookmarked_resource) -%>)
</p>

<p>
  <b><%= t('page.tag') -%>:</b>
  <%- @bookmark.tags.collect {|tag| -%>
  <%= link_to h(tag.name), user_bookmarked_resources_path(@bookmark.user.login, :tag => tag.name) -%>
  <%- } -%></td>
</p>

<p>
  <b><%= t('activerecord.attributes.bookmark.note') -%>:</b>
  <%=h @bookmark.note -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@bookmark.created_at) -%>
</p>

<p>
<b><%= t('page.updated_at') -%>:</b>
  <%= l(@bookmark.updated_at) -%>
</p>

<p>
<b><%= ('Bookmarked count') -%>:</b>
  <%=h @bookmark.bookmarked_resource.bookmarks_count -%>
</p>

</div>
