<h1><%= t('page.listing', :model => t('activerecord.models.inventory_file')) -%></h1>

<table id="index">
  <tr>
    <th><%= ('Db file') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.filename') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.content_type') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.size') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.file_hash') -%> </th>
    <th><%= t('activerecord.models.user') -%> </th>
    <th><%= t('activerecord.attributes.inventory_file.note') -%> </th>
  </tr>

<%- for inventory_file in @inventory_files -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h inventory_file.db_file_id -%> </td>
    <td><%=h inventory_file.filename -%> </td>
    <td><%=h inventory_file.content_type -%> </td>
    <td><%=h inventory_file.size -%> </td>
    <td><%=h inventory_file.file_hash -%> </td>
    <td><%=h inventory_file.user_id -%> </td>
    <td><%=h inventory_file.note -%> </td>
    <td><%= link_to t('page.show'), inventory_file -%> </td>
    <td><%= link_to t('page.edit'), edit_inventory_file_path(inventory_file) -%> </td>
    <td><%= link_to t('page.destroy'), inventory_file, :confirm => t('page.are_you_sure'), :method => :delete -%> </td>
  </tr>
<%- end -%> 
</table>

<%= link_to t('page.new', :model => t('activerecord.models.inventory_file')), new_inventory_file_path -%>

<%= will_paginate(@inventory_files, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
