<div id="submenu">
  <ul>
    <li><%= link_to ('Back'), inventory_files_path -%> </li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New inventory_file') -%> </h1>

<%- form_for(@inventory_file, :html => {:multipart => true}) do |f| -%> 
  <%= f.error_messages -%> 

  <p>
    <b><%= ('File') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit Create -%>
  </p>
<%- end -%>

</div>
