<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_inventory_file_path(@inventory_file) -%> </li>
    <li><%= link_to t('page.back'), inventory_files_path -%> </li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.inventory_file')) -%></h1>
<div class="inner">

<p>
  <b><%= t('activerecord.attributes.inventory_file.inventory_file_name') -%> :</b>
  <%=h @inventory_file.inventory_file_name -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.inventory_content_type') -%> :</b>
  <%=h @inventory_file.inventory_content_type -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.inventory_file_size') -%> :</b>
  <%=h @inventory_file.inventory_file_size -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.file_hash') -%> :</b>
  <%=h @inventory_file.file_hash -%> 
</p>

<p>
  <b><%= t('activerecord.models.user') -%> :</b>
  <%= link_to h(@inventory_file.user.login), user_path(@inventory_file.user.login) -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.note') -%> :</b>
  <%=h @inventory_file.note -%> 
</p>

</div>
</div>
