<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_inventory_file_path(@inventory_file) -%> </li>
    <li><%= link_to t('page.back'), inventory_files_path -%> </li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= ('Db file') -%> :</b>
  <%=h @inventory_file.db_file_id -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.filename') -%> :</b>
  <%=h @inventory_file.filename -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.content_type') -%> :</b>
  <%=h @inventory_file.content_type -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.size') -%> :</b>
  <%=h @inventory_file.size -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.file_hash') -%> :</b>
  <%=h @inventory_file.file_hash -%> 
</p>

<p>
  <b><%= t('activerecord.models.user') -%> :</b>
  <%=h @inventory_file.user_id -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory_file.note') -%> :</b>
  <%=h @inventory_file.note -%> 
</p>

</div>
