<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @message -%></li>
    <li><%= link_to t('page.back'), messages_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.message')) -%></h1>

<%= error_messages_for :message -%>

<%- form_for(@message) do |f| -%>
  <p>
    <b><%= t('message.sender') -%></b><br />
    <%= @message.sender.login -%>
    <%= f.hidden_field :sender_id -%>
  </p>

  <p>
    <b><%= t('message.receiver') -%></b><br />
    <%= f.text_field :recipient, :class => 'resource_title', :value => @message.recipient -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.message.subject') -%></b><br />
    <%= f.text_field :subject, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.message.body') -%></b><br />
    <%= f.text_area :body, :id => 'message_body' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
