<div id="content_detail">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.message')) -%></h1>
<div id="content_list">
  <fieldset>

    <%- form_for :message, :url => user_messages_path do |form| -%>
      <p>
        <label for="message_recepient"><%= t('message.recipient') -%>:</label><br />
        <%- if @message_request -%>
          <%= link_to h(@message_request.receiver.login), user_path(@message_request.receiver.login) -%>
          <%= form.hidden_field :recipient, :value => h(@message_request.receiver.login) -%>
        <%- else -%>
          <%= form.text_field :recipient, :class => 'resource_title', :value => @message.recipient -%>
        <%- end -%>
      </p>
    
      <p>
        <label for="message_subject"><%= t('activerecord.attributes.message.subject') -%>:</label><br />
        <%= form.text_field :subject, :class => 'resource_title' -%>
      </p>
      
      <p>
        <label for="message_body"><%= t('activerecord.attributes.message.body') -%>:</label><br />
        <%= form.text_area :body, :id => 'message_body' -%>
      </p>

      <%= submit_tag t('message.send') -%>

    <%- end -%>
  </fieldset>
  
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= rezm_link_to_inbox -%></li>
    <li><%= rezm_link_to_create_message -%></li>
    <li><%= rezm_link_to_outbox -%></li>
    <li><%= rezm_link_to_trash_bin -%></li>
  </ul>
</div>
