<div id="content_detail">
<h1 class="title"><%= t('activerecord.models.message') -%></h1>
<div id="content_list">

  <%= flash[:notice] -%> 
  <fieldset>
	    <p>
        <label for="message_receiver_name" ><strong><%= t('message.receiver') -%>:</strong></label>
        <%= rezm_to_user_link(@message) -%>
      </p>
      <p>
        <label for="message_sender_name" ><strong><%= t('message.sender') -%>:</strong></label>
        <%= rezm_from_user_link(@message) -%>
      </p>
    
      <p>
        <label for="message_sent_at" ><strong><%= t('message.sent_at') -%>:</strong></label>
        <%= l(@message.created_at) -%>
      </p>
    
      <p>
        <label for="message_subject" ><strong><%= t('activerecord.attributes.message.subject') -%>:</strong></label>  
        <%= @message.subject -%>
      </p>
      
      <p>
        <label for="message_body" ><strong><%= t('activerecord.attributes.message.body') -%>:</strong></label>  
        <%= raw auto_link(simple_format(h(@message.body))) -%>
      </p>

  </fieldset>
  
  <%= raw rezm_button_to_reply(@message) -%>
  <%= raw rezm_button_to_delete(@message) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= rezm_link_to_inbox -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= rezm_link_to_create_message -%></li>
      <li><%= rezm_link_to_outbox -%></li>
    <%- end -%>
    <li><%= rezm_link_to_trash_bin -%></li>
  </ul>
</div>
