<div id="submenu">
  <ul>
    <li><%= rezm_link_to_inbox -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= rezm_link_to_create_message -%></li>
      <li><%= rezm_link_to_outbox -%></li>
    <%- end -%>
    <li><%= rezm_link_to_trash_bin -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1 id="resource_title"><%= t('activerecord.models.message') -%></h1>
<div class="" >
  <%= flash[:notice] -%> 
  <p></p>
  <fieldset>
	    <p>
        <label for="message_receiver_name" ><strong><%= t('message.receiver') -%>:</strong></label>
        <%= rezm_to_user_link(@message) -%>
      </p>
      <p>
        <label for="message_sender_name" ><strong><%= t('message.sender') -%>:</strong></label>
        <%= rezm_from_user_link(@message) -%>
      </p>
    
      <p>
        <label for="message_sent_at" ><strong><%= t('message.sent_at') -%>:</strong></label>
        <%=h @message.created_at -%>
      </p>
    
      <p>
        <label for="message_subject" ><strong><%= t('activerecord.attributes.message.subject') -%>:</strong></label>  
        <%=h @message.subject -%>
      </p>
      
      <p>
        <label for="message_body" ><strong><%= t('activerecord.attributes.message.body') -%>:</strong></label>  
        <%= auto_link(simple_format(@message.body)) -%>
      </p>

  </fieldset>
  
  <%= rezm_button_to_reply(@message) -%>
  <%= rezm_button_to_delete(@message) -%>
</div>
</div>
