<h1><%= ('Listing item_has_use_restrictions') -%></h1>

<table>
  <tr>
    <th><%= t('activerecord.models.item') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= ('Use restriction') -%></th>
  </tr>

<%- for item_has_use_restriction in @item_has_use_restrictions -%>
  <tr>
    <td><%= link_to h(item_has_use_restriction.item_id), item_path(item_has_use_restriction.item_id) -%></td>
    <td><%= link_to h(item_has_use_restriction.item.item_identifier), item_path(item_has_use_restriction.item_id) -%></td>
    <td><%= link_to h(item_has_use_restriction.item.manifestation.original_title), manifestation_path(item_has_use_restriction.item.manifestation) -%></td>
    <td><%= link_to h(item_has_use_restriction.use_restriction.display_name), use_restriction_path(item_has_use_restriction.use_restriction_id) -%></td>
    <td><%= link_to t('page.show'), item_has_use_restriction -%></td>
    <td><%= link_to t('page.edit'), edit_item_has_use_restriction_path(item_has_use_restriction) -%></td>
    <td><%= link_to t('page.destroy'), item_has_use_restriction, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@item_has_use_restrictions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
<br />

<%- if @item -%>
  <%= link_to ('New item_has_use_restriction'), new_item_item_has_use_restriction_path(@item) -%>
<%- else -%>
  <%= link_to ('New item_has_use_restriction'), new_item_has_use_restriction_path -%>
<%- end -%>

