<p>
<b><%= t('page.item') -%>:</b>
  <%= link_to h(@item_has_use_restriction.item_id), item_path(@item_has_use_restriction.item_id) -%>
</p>

<p>
<b><%= tt('activerecord.attributes.item.item_identifier') -%>:</b>
  <%= link_to h(@item_has_use_restriction.item.item_identifier), item_path(@item_has_use_restriction.item_id) -%> (<%= link_to h(@item_has_use_restriction.item.manifestation.original_title), manifestation_path(@item_has_use_restriction.item.manifestation) -%>)
</p>

<p>
<b><%= ('Use restriction') -%>:</b>
  <%= link_to h(@item_has_use_restriction.use_restriction.display_name), use_restriction_path(@item_has_use_restriction.use_restriction_id) -%>
</p>


<%= link_to t('page.edit'), edit_item_has_use_restriction_path(@item_has_use_restriction) -%> |
<%= link_to t('page.back'), item_has_use_restrictions_path -%>
