<div id="submenu">
  <ul>
    <li><%= link_to h(@library_group.name), root_url -%></li>
  </ul>
</div>

<div id="content_detail">
  <div id="content_list">

  <%- form_tag(sessions_path, :name => 'login_form') do -%>
    <p><%= label_tag t('page.login_name') -%><br/>
    <%= text_field_tag 'login' -%></p>

    <p><%= label_tag t('page.password') -%><br/>
    <%= password_field_tag 'password', nil -%></p>

    <p><%= label_tag t('session.remember_me') -%>
    <%= check_box_tag 'remember_me', '1', @remember_me -%></p>

    <p><%= submit_tag t('page.login') -%></p>
  <%- end -%>
  <%= javascript_tag("$('login').focus()") -%>

  </div>
</div>
