<div id="submenu">
  <ul>
    <%- if_authorized?(:new, EventCategory) do -%>
      <li><%= link_to ('New event_category'), new_event_category_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing event_categories') -%></h1>

<table id="index">
  <tr>
    <th><%= t('page.name') -%></th>
    <th><%= t('page.display_name') -%></th>
    <th><%= t('page.note') -%></th>
  </tr>

<%- for event_category in @event_categories -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(event_category.name), event_category -%></td>
    <td><%= link_to h(event_category.display_name), event_category -%></td>
    <td><%=h event_category.note -%></td>
    <%- if_authorized?(:destroy, event_category) do -%>
      <td><%= link_to t('page.edit'), edit_event_category_path(event_category) -%></td>
      <td><%= link_to t('page.destroy'), event_category, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= event_category.first? ? '' : link_to('▲', {:action => 'update', :position => (event_category.position  > 1 ? event_category.position - 1 : 1), :id => event_category.id}, :method => :put) -%></td>
      <td><%= event_category.last? ? '' : link_to('▼', {:action => 'update', :position => (event_category.position + 1), :id => event_category.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
