<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_event_category_path(@event_category) -%></li>
    <li><%= link_to t('page.back'), event_categories_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.event_category')) -%></h1>
<div id="content_list">

<p>
  <b><%= t('activerecord.attributes.event_category.display_name') -%>:</b>
  <%=h @event_category.display_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event_category.note') -%>:</b>
  <%=h @event_category.note -%>
</p>

</div>
</div>
