<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.event_category')) -%></h1>
<div id="content_list">

<p>
  <strong><%= t('activerecord.attributes.event_category.display_name') -%>:</strong>
  <%= @event_category.display_name.localize -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.event_category.note') -%>:</strong>
  <%= @event_category.note -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_event_category_path(@event_category) -%></li>
    <li><%= link_to t('page.back'), event_categories_path -%></li>
  </ul>
</div>
