<div id="content_detail">
<h1 class="title"><%= t('password_reset.update_password') -%></h1>
<div id="content_list">

<%- form_tag password_reset_path, :method => :put do -%>
  <%= error_messages_for 'user' -%>
  <p>
    <%= label_tag t('activerecord.attributes.user.password') -%><br />
    <%= password_field_tag :password -%>
  </p>
  <p>
    <%= label_tag t('activerecord.attributes.user.password_confirmation') -%><br />
    <%= password_field_tag :password_confirmation -%>
  </p>
  <p>
    <%= submit_tag t('password_reset.update_password') -%>
  </p>
  <%= javascript_tag("$('password').focus()") -%>
<%- end -%>

</div>
</div>

<div id="submenu">
</div>
