<div id="content_detail">
<h1 class="title"><%= t('password_reset.reset_password') -%></h1>
<div id="content_list">

<p><%= t('password_reset.fill_in_email_address') -%></p>

<%- form_tag password_resets_path do -%>
  <p>
    <%= label_tag t('activerecord.attributes.user.email') -%><br />
    <%= text_field_tag 'email', nil, :class => 'resource_email' -%>
  </p>
  <p>
    <%= submit_tag t('password_reset.reset_password') -%>
  </p>
  <%= javascript_tag("$('email').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu">
</div>
