<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work_to_expression_rel_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.work_to_expression_rel_type.name') -%></th>
    <th><%= t('activerecord.attributes.work_to_expression_rel_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.work_to_expression_rel_type.note') -%></th>
  </tr>

<%- for work_to_expression_rel_type in @work_to_expression_rel_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if work_to_expression_rel_type.is_deletable_by(current_user) -%>
        <%= move_position(work_to_expression_rel_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(work_to_expression_rel_type.name), work_to_expression_rel_type -%></td>
    <td><%= link_to h(work_to_expression_rel_type.display_name.localize), work_to_expression_rel_type -%></td>
    <td><%= work_to_expression_rel_type.note -%></td>
    <td><%= link_to t('page.edit'), edit_work_to_expression_rel_type_path(work_to_expression_rel_type) -%></td>
    <td><%= link_to t('page.destroy'), work_to_expression_rel_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.work_to_expression_rel_type')), new_work_to_expression_rel_type_path -%></li>
  </ul>
</div>
