<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.content_type')), new_content_type_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.content_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.content_type.name') -%></th>
    <th><%= t('activerecord.attributes.content_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.content_type.note') -%></th>
  </tr>

<%- for content_type in @content_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if content_type.is_deletable_by(current_user) -%>
        <%= content_type.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (content_type.position  > 1 ? content_type.position - 1 : 1), :id => content_type.id}, :method => :put) -%>
        <%= content_type.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (content_type.position + 1), :id => content_type.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(content_type.name), content_type -%></td>
    <td><%= link_to h(content_type.display_name.localize), content_type -%></td>
    <td><%=h content_type.note -%></td>
    <td><%= link_to t('page.edit'), edit_content_type_path(content_type) -%></td>
    <td><%= link_to t('page.destroy'), content_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@content_types, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
