<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_content_type_path(@content_type) -%></li>
    <li><%= link_to t('page.back'), content_typees_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.content_type')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.content_type.name') -%>:</b>
  <%=h @content_type.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.content_type.display_name') -%>:</b>
  <%=h @content_type.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.content_type.note') -%>:</b>
  <%=h @content_type.note -%>
</p>

</div>
</div>
