<div id="submenu">
  <ul>
    <li><%= link_to t('show'), own_path(@own) -%></li>
    <li><%= link_to ('Back'), owns_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing own') -%></h1>

<%= error_messages_for :own -%>

<%- form_for(:own, :url => own_path(@own), :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= ('Library') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
  <b><%= ('Item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= submit_tag t('update') -%>
  </p>
<%- end -%>

</div>
