<h1><%= t('page.listing', :model => t('activerecord.models.own')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>
  
<%- for own in @owns -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(own.patron.full_name), patron_path(own.patron) -%></td>
    <td>
      <%- if own.item.item_identifier.blank? -%>
        (<%= link_to ('no number'), item_path(own.item) -%>)
      <%- else -%>
        <%= link_to h(own.item.item_identifier), item_path(own.item) -%>
      <%- end -%>
    </td>
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => own.item.manifestation} -%>
    </td>
    <%- if_authorized?(:destroy, own) do -%>
      <td><%= link_to t('page.show'), own -%></td>
      <td><%= link_to t('page.destroy'), own, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%- if_authorized?(:new, Own) do -%>
  <p><%= link_to t('page.new', :model => t('activerecord.models.own')), new_own_path -%></p>
<%- end -%>

<%= will_paginate(@owns, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
