<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), owns_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.own')) -%></h1>
<div class="inner">

<%= error_messages_for :own -%>

<%- form_for(@own) do |f| -%>
  <p>
    <b><%= t('activerecord.models.library') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
