<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.patron')), item_patrons_path(@own.item) -%></li>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.item')), patron_items_path(@own.patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@own.patron.full_name), @own.patron -%>
</p>

<p>
<b><%= t('activerecord.models.item') -%>:</b>
  <%= link_to h(@own.item.item_identifier), @own.item -%>
  (<%= link_to h(@own.item.manifestation.original_title), @own.item.manifestation -%>)
</p>

</div>
