<div id="submenu">
  <ul>
    <li><%= link_to t('show'), @donate -%></li>
    <li><%= link_to ('Back'), donates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing donate') -%></h1>

<%= error_messages_for :donate -%>

<%- form_for(@donate) do |f| -%>
  <p>
    <b><%= ('Patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= ('Item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.submit t('update') -%>
  </p>
<%- end -%>

</div>
