<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @donate -%></li>
    <li><%= link_to t('page.back'), donates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing donate') -%></h1>

<%= error_messages_for :donate -%>

<%- form_for(@donate) do |f| -%>
  <p>
    <b><%= t('page.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
