<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), donates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New donate') -%></h1>

<%= error_messages_for :donate -%>

<%- form_for(@donate) do |f| -%>
  <p>
    <b><%= ('Patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= t('page.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
