<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_donate_path(@donate) -%></li>
    <li><%= link_to t('page.back'), donates_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.donate')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@donate.patron.full_name), @donate.patron -%>
</p>

<p>
  <b><%= t('activerecord.models.item') -%>:</b>
  <%= link_to h(@donate.item.manifestation.original_title), @donate.item.manifestation -%>
  (<%= link_to h(@donate.item.item_identifier), @donate.item -%>)
</p>

</div>
</div>
