<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">

<%= form_for(@shelf) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.shelf.name') -%><br />
    <%= f.text_field :name, :class => 'short_name' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.shelf.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.shelf.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.library') -%><br />
    <select id="library_id" name="library_id">
      <%- @libraries.each do |library| -%>
        <option value="<%= library.name -%>"<%= " selected='selected'" if @shelf.library == library -%>><%= library.display_name.localize -%></option>
      <%- end -%>
    </select>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
  <%= javascript_tag("$('#shelf_name').focus()") -%>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), library_shelf_path(@shelf.library) -%></li>
    <li><%= link_to t('page.back'), library_shelves_path(@shelf.library) -%></li>
  </ul>
</div>
