<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), library_shelf_path(@shelf.library.name) -%></li>
    <li><%= link_to t('page.back'), library_shelves_path(@shelf.library.name) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">

<%= error_messages_for :shelf -%>

<%- form_for(@shelf) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.shelf.name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.shelf.display_name') -%></b><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.shelf.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.models.library') -%></b><br />
    <select id="library_id" name="library_id">
      <%- @libraries.each do |library| -%>
        <option value="<%=h library.name -%>"><%=h library.display_name.localize -%></option>
      <%- end -%>
    </select>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>
