<div id="submenu">
  <ul>
    <%- if @library -%>
      <li><%= link_to ('Back'), library_shelves_path(@library.short_name) -%></li>
    <%- else -%>
      <li><%= link_to ('Back'), shelves_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New shelf') -%></h1>

<%= error_messages_for :shelf -%>

<%- form_for(:shelf, :url => shelves_path) do |f| -%>
  <p>
  <b><%= ('Name') -%></b><br />
  <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
  <b><%= ('Note') -%></b><br />
  <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
  <b><%= ('Library') -%></b><br />
    <%= f.select(:library_id, @libraries.collect{|l| [l.name, l.id]}) -%>
  </p>

  <p>
    <%= submit_tag t('create') -%>
  </p>
<%- end -%>
</div>
