<div id="submenu">
  <%- if @shelf.is_deletable_by(current_user) -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.shelf')), new_shelf_path -%></li>
      <li><%= link_to t('page.edit'), edit_shelf_path(@shelf) -%></li>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), library_shelf_picture_files_path(@shelf.library.short_name, @shelf) -%></li>
      <li>
        <%= link_to t('page.back'), shelves_path -%>
      </li>
    </ul>
<%- end -%>
</div>
<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">
  <h2 id="resource_title"><%= link_to h(@shelf.library.display_name), library_path(@shelf.library.short_name) -%>
    <%=h @shelf.display_name -%></h2>
</p>

<p>
  <%=h @shelf.note -%><br />
</p>

<p>
  <b><%= t('activerecord.models.picture_file') -%>:</b><br />
  <%- @shelf.picture_files.each do |file| -%>
    <%= image_tag(picture_file_path(file.thumbnails.first, :format => file.thumbnails.first.extname)) -%>
  <%- end -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@shelf.created_at) -%>
</p>

<p>
  <b><%= t('page.updated_at') -%>:</b>
  <%= l(@shelf.updated_at) -%>
</p>

</div>
</div>
