<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @imported_resource_file -%></li>
    <li><%= link_to t('page.back'), imported_resource_files_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.imported_resource_file')) -%></h1>
<div class="inner">

<%- form_for(@imported_resource_file) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.imported_resource_file.imported_resource_file_name') -%><br />
    <%= f.text_field :imported_resource_file_name -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
