<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.imported_resource_file')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.imported_resource_file.imported_resource_file_name') -%></th>
    <th><%= t('activerecord.attributes.imported_resource_file.imported_at') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
  </tr>

<%- for imported_resource_file in @imported_resource_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(imported_resource_file.imported_resource_file_name), imported_resource_file_path(imported_resource_file, :format => :download) -%></td>
    <td><%= l(imported_resource_file.imported_at) if imported_resource_file.imported_at -%></td>
    <td><%= link_to h(imported_resource_file.user.login), user_path(imported_resource_file.user.login) -%></td>
    <td><%= link_to t('page.show'), imported_resource_file -%></td>
    <td><%= link_to t('page.edit'), edit_imported_resource_file_path(imported_resource_file) -%></td>
    <td><%= link_to t('page.destroy'), imported_resource_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_resource_files, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.imported_resource_file')), new_imported_resource_file_path -%></li>
  </ul>
</div>
