<h1><%= ('Listing imported_resource_files') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Db file') -%></th>
    <th><%= ('Filename') -%></th>
    <th><%= ('Content type') -%></th>
    <th><%= ('Size') -%></th>
    <th><%= t('page.user') -%></th>
  </tr>

<%- for imported_resource_file in @imported_resource_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h imported_resource_file.db_file_id -%></td>
    <td><%=h imported_resource_file.filename -%></td>
    <td><%=h imported_resource_file.content_type -%></td>
    <td><%=h imported_resource_file.size -%></td>
    <td><%= link_to h(imported_resource_file.user.login), user_path(imported_resource_file.user.login) -%></td>
    <td><%= link_to t('page.show'), imported_resource_file -%></td>
    <td><%= link_to t('page.edit'), edit_imported_resource_file_path(imported_resource_file) -%></td>
    <td><%= link_to t('page.destroy'), imported_resource_file, :confirm => ('Are you sure?'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_resource_files) -%>
<br />

<%= link_to ('New imported_resource_file'), new_imported_resource_file_path -%>
