<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), imported_resource_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1><%= ('New imported_resource_file') -%></h1>

<%- form_for(@imported_resource_file, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <b><%= ('File') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
