<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_resource_file_path(@imported_resource_file) -%></li>
    <li><%= link_to t('page.back'), imported_resource_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.imported_resource_file')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.imported_resource_file.filename') -%>:</b>
  <%=h @imported_resource_file.filename -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.content_type') -%>:</b>
  <%=h @imported_resource_file.content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.size') -%>:</b>
  <%=h @imported_resource_file.size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.file_hash') -%>:</b>
  <%=h @imported_resource_file.file_hash -%>
</p>

<p>
  <b><%= t('page.user') -%>:</b>
  <%= link_to h(@imported_resource_file.user.login), user_path(@imported_resource_file.user.login) -%>
</p>

<table id="index">
  <%- @imported_resource_file.imported_objects.each do |object| -%>
    <tr>
      <td><%= link_to h(object.importable.title), object.importable -%></td>
      <td><%= link_to h(object.importable.library.display_name), object.importable.library -%></td>
      <td>
        <%=h object.importable.start_at -%>
        -
        <%=h object.importable.end_at -%>

      </td>
    </tr>
  <%- end -%>
</table>

</div>
</div>
