<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_resource_file_path(@imported_resource_file) -%></li>
    <li><%= link_to t('page.back'), imported_resource_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.imported_resource_file')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.imported_resource_file.imported_resource_file_name') -%>:</b>
  <%= link_to h(@imported_resource_file.imported_resource_file_name), imported_resource_file_path(@imported_resource_file, :format => :download) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.imported_resource_content_type') -%>:</b>
  <%= @imported_resource_file.imported_resource_content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.imported_resource_file_size') -%>:</b>
  <%= @imported_resource_file.imported_resource_file_size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.file_hash') -%>:</b>
  <%= @imported_resource_file.file_hash -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@imported_resource_file.created_at) if @imported_resource_file.created_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_resource_file.imported_at') -%>:</b>
  <%= l(@imported_resource_file.imported_at) if @imported_resource_file.imported_at -%>
</p>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@imported_resource_file.user.login), user_path(@imported_resource_file.user.login) -%>
</p>

<%= render :partial => 'show_object_list', :locals => {:imported_objects => @imported_objects} -%>

</div>
</div>
