<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_inventory_path(@inventory) -%> </li>
    <li><%= link_to t('page.back'), inventories_path -%> </li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.item') %>:</b>
  <%=h @inventory.item_id -%> 
</p>

<p>
  <b><%= ('Inventory file') %>:</b>
  <%=h @inventory.inventory_file_id -%> 
</p>

<p>
  <b><%= ('Note') %>:</b>
  <%=h @inventory.note -%> 
</p>

</div>
