<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_inventory_path(@inventory) -%> </li>
    <li><%= link_to t('page.back'), inventories_path -%> </li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.models.item') -%>:</b>
  <%= @inventory.item_id -%> 
</p>

<p>
  <b><%= t('activerecord.models.inventory_file') -%>:</b>
  <%= @inventory.inventory_file_id -%> 
</p>

<p>
  <b><%= t('activerecord.attributes.inventory.note') -%>:</b>
  <%= @inventory.note -%> 
</p>

</div>
