<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @reserve.manifestation} -%>
  <ul>
    <li><%= link_to ('Back to reservations'), reserves_path -%></li>
    <%- if @reserve.manifestation -%>
      <li><%= link_to ('Back to manifestation'), @reserve.manifestation -%></li>
    <%- end -%>
  </ul>
</div>
              
<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.reserve')) -%></h1>
<div id="content_list">

<%= error_messages_for :reserve -%>

<%- form_for(:reserve, :url => reserves_path) do |f| -%>
  <p>
  <% if @reserve.manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @reserve.manifestation} -%>
    <%= f.hidden_field :manifestation_id -%>
  <%- else -%>
    <%= f.text_field :manifestation_id -%>
  <%- end -%>
  </p>

  <!--
  <p>
    <b><%= t('activerecord.attributes.reserve.expired_at') -%></b><br />
    <%= f.date_select :expired_at, :include_blank => true -%>
  </p>
  -->

  <p>
    <b><%= t('activerecord.attributes.user.user_number') -%></b><br />
    <%= f.text_field :user_number, :class => 'resource_user_number' -%>
  </p>

  <p>
  <%= submit_tag t('page.create'), :confirm => t('page.are_you_sure') -%>
  </p>
<%- end -%>
<%= javascript_tag("$('reserve_user_number').focus()") -%>
</div>
</div>
