<div id="submenu">
  <ul>
    <li><%= link_to ('Back to reservations'), user_reserves_path(@user.login) -%></li>
    <%- if @manifestation -%>
      <li><%= link_to ('Back to manifestation'), @manifestation -%></li>
    <%- end -%>
  </ul>
</div>
              
<div id="content_detail">
<h1><%= ('New reservation') -%></h1>

<%= error_messages_for :reserve -%>

<%- form_for(:reserve, :url => reserves_path) do |f| -%>
  <p>
  <b><%= ('Patron') -%></b><br />
    <%= link_to h(@user.patron.full_name), patron_path(@user.patron) -%>
    (<%=h @user.login -%>)
  </p>

  <p>
  <b><%= t('page.manifestation') -%></b><br />
    <%- if @item -%>
      <%- cache(:controller => :manifestations, :action => :show, :id => @reserve.manifestation.id, :action_suffix => 'book_jacket') do -%>
        <%= book_jacket(@reserve.manifestation) -%>
      <%- end -%>
      <br />
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => @reserve.manifestation} -%>
      (<%= link_to h(@item.item_identifier), item_path(@item.item_identifier) -%>)
      <%= f.hidden_field :manifestation_id, :value => @item.manifestation.id -%>
      <%= f.hidden_field :item_id, :value => @item.id -%>
    <%- elsif @manifestation -%>
      <%= book_jacket(@manifestation) -%>
      <br />
      <%= link_to h(@manifestation.original_title), manifestation_path(@manifestation) -%>
      <%= f.hidden_field :manifestation_id -%>
    <%- else -%>
      <%= f.text_field :manifestation_id -%>
    <%- end -%>
  </p>

  <p>
    <b><%= ('Expired at') -%></b><br />
    <%= f.date_select :expired_at, :include_blank => true -%>
  </p>

  <p>
    <%= f.hidden_field :user_number, :class => 'resource_user_number', :value => @user.user_number -%>
    <%= submit_tag t('page.create'), :confirm => ('Are you sure?') -%>
  </p>
<%- end -%>
</div>
