<div style="color: red"><%=h flash[:message].to_s -%></div>
<div id="submenu">
  <ul>
    <li>
    <%= link_to ('New reserve'), manifestations_path -%>
    <br />
    (<%= ('Search manifestations') -%>)
    </li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to ('All reserves'), reserves_path -%></li>
      <li><%= link_to ('My reserves'), user_reserves_path(current_user.login) -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to ('Checkout'), user_checkouts_path(@user.login) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">

<h1><%= ('Listing reserves') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Id') -%></th>
    <th><%= ('User') -%></th>
    <th><%= t('page.manifestation') -%></th>
    <th><%= ('Status') -%></th>
    <th><%= ('Expired at') -%></th>
  </tr>
  
<%- @reserves.each_with_index do |reserve, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(reserve.id), user_reserve_path(reserve.user.login, reserve) -%></td>
    <td><%= link_to h(reserve.user.login), user_path(reserve.user.login) -%></td>
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => reserve.manifestation} -%>
      <div class="holding" id="holding_<%=h reserve.manifestation.id -%>"></div>
    </td>
    <td><%=h reserve.request_status_type.display_name -%></td>
    <td><%=h reserve.expired_at -%></td>
    <%- if_authorized?(:destroy, reserve) do -%>
      <td><%= link_to t('page.show'), user_reserve_path(reserve.user.login, reserve) -%></td>
      <td><%= link_to t('page.edit'), edit_user_reserve_path(reserve.user.login, reserve) -%></td>
      <td>
        <%- if reserve.user.reserves.waiting.include?(reserve) -%>
          <%= link_to ('Cancel'), user_reserve_path(reserve.user.login, reserve, :mode => 'cancel'), :confirm => ('Are you sure?'), :method => :put -%>
        <%- else -%>
          <%= link_to t('page.destroy'), user_reserve_path(reserve.user.login, reserve), :confirm => ('Are you sure?'), :method => :delete -%>
        <%- end -%>
      </td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reserves) -%>

</div>
