<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @reserve.manifestation} -%>
  <ul>
    <li><%= link_to t('page.edit'), edit_user_reserve_path(@reserve.user.login, @reserve) -%></li>
    <%- if @reserve.user.reserves.waiting.include?(@reserve) -%>
      <li><%= link_to t('page.cancel'), user_reserve_path(@reserve.user.login, @reserve, :mode => 'cancel'), :confirm => t('page.are_you_sure'), :method => :put -%></li>
    <%- else -%>
      <li><%= link_to t('page.destroy'), user_reserve_path(@reserve.user.login, @reserve), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_reserves_path(@reserve.user.login) -%></li>
  </ul>
  <!--
  <p>TODO: 予約取り消し時に、次の予約者に連絡する</p>
  -->
</div>

<div id="content_detail">
  
<%= render :partial => 'manifestations/title', :locals => {:manifestation => @reserve.manifestation} -%>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@reserve.user.login), user_path(@reserve.user.login) -%>
</p>

<p>
  <b><%= t('activerecord.models.request_status_type') -%>:</b>
  <%=h @reserve.request_status_type.display_name -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@reserve.created_at) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.reserve.canceled_at') -%>:</b>
  <%= l(@reserve.canceled_at) if @reserve.canceled_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.reserve.expired_at') -%>:</b>
  <%= l(@reserve.expired_at) if @reserve.expired_at -%>
</p>

<p>
<b><%= t('activerecord.attributes.reserve.checked_out_at') -%>:</b>
  <%= l(@reserve.checked_out_at) if @reserve.checked_out_at -%>
</p>

</div>
