<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_reserve_path(@reserve.user.login, @reserve) -%></li>
    <%- if ['pending', 'requested', 'retained'].index(@reserve.state) -%>
      <li><%= link_to t('page.cancel'), user_reserve_path(@reserve.user.login, @reserve, :mode => 'cancel'), :confirm => t('page.are_you_sure'), :method => :put -%></li>
    <%- end -%>
    <li><%= link_to t('page.destroy'), user_reserve_path(@reserve.user.login, @reserve), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <li><%= link_to t('page.back'), user_reserves_path(@reserve.user.login) -%></li>
  </ul>
  <!--
  <p>TODO: 予約取り消し時に、次の予約者に連絡する</p>
  -->
</div>

<div id="content_detail">
<p>
<b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@reserve.user.login) -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b><br />
  <%- cache(:controller => :manifestations, :action => :show, :id => @reserve.manifestation.id, :action_suffix => 'book_jacket') do -%>
    <%= book_jacket(@reserve.manifestation) -%>
  <%- end -%>
  <br />
  <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => @reserve.manifestation} -%>
</p>

<p>
  <b><%= ('Request status type') -%>:</b>
  <%=h @reserve.request_status_type.name -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%=h @reserve.created_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.reserve.canceled_at') -%>:</b>
  <%=h @reserve.canceled_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.reserve.expired_at') -%>:</b>
  <%=h @reserve.expired_at -%>
</p>

<p>
<b><%= ('Checked out at') -%>:</b>
  <%=h @reserve.checked_out_at -%>
</p>

</div>
