<div id="submenu">
  <ul>
    <li><%= link_to ('New subject_type'), new_subject_type_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing subject_types') -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.subject_type.name') -%></th>
    <th><%= t('activerecord.attributes.subject_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.subject_type.note') -%></th>
  </tr>

<%- for subject_type in @subject_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subject_type.name), subject_type -%></td>
    <td><%=h subject_type.display_name -%></td>
    <td><%=h subject_type.note -%></td>
    <td><%= link_to t('page.edit'), edit_subject_type_path(subject_type) -%></td>
    <td><%= link_to t('page.destroy'), subject_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
