<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_subject_type_path(@subject_type) -%></li>
    <li><%= link_to t('page.back'), subject_types_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subject_type')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.subject_type.name') -%>:</b>
  <%=h @subject_type.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subject_type.display_name') -%>:</b>
  <%=h @subject_type.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subject_type.note') -%>:</b>
  <%=h @subject_type.note -%>
</p>

</div>
</div>
