<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_inter_library_loan_path(@inter_library_loan) -%></li>
    <%- unless @inter_library_loan.item.shelf.library == current_user.library -%>
      <li><%= link_to ('Return this item'), edit_inter_library_loan_path(@inter_library_loan) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.inter_library_loan')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.library') -%>:</b>
  <%= link_to h(@inter_library_loan.item.shelf.library.display_name.localize), library_path(@inter_library_loan.item.shelf.library.name) -%>
</p>

<p>
  <b><%= t('inter_library_loan.borrowing_library') -%>:</b>
  <%= link_to h(@inter_library_loan.borrowing_library.display_name.localize), library_path(@inter_library_loan.borrowing_library.name) -%>
</p>

<p>
  <b><%= t('activerecord.models.item') -%>:</b>
  <%= link_to h(@inter_library_loan.item.item_identifier), @inter_library_loan.item -%>
  (<%= link_to h(@inter_library_loan.item.manifestation.original_title), @inter_library_loan.item.manifestation -%>)
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.requested_at') -%>:</b>
  <%= l(@inter_library_loan.requested_at) if @inter_library_loan.requested_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.shipped_at') -%>:</b>
  <%= l(@inter_library_loan.shipped_at) if @inter_library_loan.shipped_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.received_at') -%>:</b>
  <%= l(@inter_library_loan.received_at) if @inter_library_loan.received_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.return_shipped_at') -%>:</b>
  <%= l(@inter_library_loan.return_shipped_at) if @inter_library_loan.return_shipped_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.return_received_at') -%>:</b>
  <%= l(@inter_library_loan.return_received_at) if @inter_library_loan.return_received_at -%>
</p>

</div>
</div>
