<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_inter_library_loan_path(@inter_library_loan) -%></li>
    <%- unless @inter_library_loan.item.shelf.library == current_user.library -%>
      <li><%= link_to ('Return this item'), edit_inter_library_loan_path(@inter_library_loan) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), inter_library_loans_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.library') -%>:</b>
  <%= link_to h(@inter_library_loan.item.shelf.library.name), library_path(@inter_library_loan.item.shelf.library.short_name) -%>
</p>

<p>
  <b><%= t('inter_library_loan.borrowing_library') -%>:</b>
  <%= link_to h(@inter_library_loan.borrowing_library.name), library_path(@inter_library_loan.borrowing_library.short_name) -%>
</p>

<p>
  <b><%= t('activerecord.models.item') -%>:</b>
  <%= link_to h(@inter_library_loan.item.item_identifier), @inter_library_loan.item -%>
  (<%= link_to h(@inter_library_loan.item.manifestation.original_title), @inter_library_loan.item.manifestation -%>)
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.requested_at') -%>:</b>
  <%=h @inter_library_loan.requested_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.shipped_at') -%>:</b>
  <%=h @inter_library_loan.shipped_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.received_at') -%>:</b>
  <%=h @inter_library_loan.received_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.return_shipped_at') -%>:</b>
  <%=h @inter_library_loan.return_shipped_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.inter_library_loan.return_received_at') -%>:</b>
  <%=h @inter_library_loan.return_received_at -%>
</p>

</div>
