<h1><%= t('page.listing', :model => t('activerecord.models.imported_object')) -%></h1>

<table>
  <tr>
    <th>Imported file</th>
    <th>Importable</th>
    <th>Importable type</th>
  </tr>

<%- for imported_object in @imported_objects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h imported_object.imported_file_id -%></td>
    <td><%=h imported_object.importable_id -%></td>
    <td><%=h imported_object.importable_type -%></td>
    <td><%= link_to t('page.show'), imported_object -%></td>
    <td><%= link_to t('page.edit'), edit_imported_object_path(imported_object) -%></td>
    <td><%= link_to t('page.destroy'), imported_object, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_objects, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
<br />

<%= link_to 'New imported_object', new_imported_object_path -%>
