<h1><%= t('page.new', :model => t('activerecord.models.imported_object')) -%></h1>

<%- form_for(@imported_object) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :imported_file_id -%><br />
    <%= f.text_field :imported_file_id -%>
  </p>
  <p>
    <%= f.label :importable_id -%><br />
    <%= f.text_field :importable_id -%>
  </p>
  <p>
    <%= f.label :importable_type -%><br />
    <%= f.text_field :importable_type -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

<%= link_to t('page.back'), imported_objects_path -%>
