<div id="content_detail">
<div id="content_list">
<p>
  <b>Imported file:</b>
  <%=h @imported_object.imported_file_id -%>
</p>

<p>
  <b>Importable:</b>
  <%=h @imported_object.importable_id -%>
</p>

<p>
  <b>Importable type:</b>
  <%=h @imported_object.importable_type -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_object_path(@imported_object) -%></li>
    <li><%= link_to t('page.back'), imported_objects_path -%></li>
  </ul>
</div>
