<h1><%= ('Listing search_engines') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Name') -%></th>
    <th><%= ('Note') -%></th>
  </tr>

<%- for search_engine in @search_engines -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(search_engine.name), search_engine.url -%></td>
    <td><%=h search_engine.note -%></td>
    <td><%= link_to t('page.show'), search_engine -%></td>
    <td><%= link_to t('page.edit'), edit_search_engine_path(search_engine) -%></td>
    <td><%= link_to t('page.destroy'), search_engine, :confirm => ('Are you sure?'), :method => :delete -%></td>
    <td><%= search_engine.first? ? '' : link_to('▲', {:action => 'update', :position  => (search_engine.position  > 1 ? search_engine.position - 1 : 1), :id => search_engine.id}, :method => :put) -%></td>
    <td><%= search_engine.last? ? '' : link_to('▼', {:action => 'update', :position => (search_engine.position + 1), :id => search_engine.id}, :method => :put) -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New search_engine'), new_search_engine_path -%>
