<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.search_engine')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.search_engine.name') -%></th>
    <th><%= t('activerecord.attributes.search_engine.note') -%></th>
  </tr>

<%- for search_engine in @search_engines -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(search_engine.name), search_engine.url -%></td>
    <td><%=h search_engine.note -%></td>
    <td><%= link_to t('page.show'), search_engine -%></td>
    <td><%= link_to t('page.edit'), edit_search_engine_path(search_engine) -%></td>
    <td><%= link_to t('page.destroy'), search_engine, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <td><%= search_engine.first? ? '' : link_to('▲', {:action => 'update', :position  => (search_engine.position  > 1 ? search_engine.position - 1 : 1), :id => search_engine.id}, :method => :put) -%></td>
    <td><%= search_engine.last? ? '' : link_to('▼', {:action => 'update', :position => (search_engine.position + 1), :id => search_engine.id}, :method => :put) -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@search_engines, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.search_engine')), new_search_engine_path -%></li>
  </ul>
</div>
