<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), search_engines_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.search_engine')) -%></h1>
<div class="inner">

<%- form_for(@search_engine) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.search_engine.name') -%><br />
    <%= f.text_field :name -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.url') -%><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.base_url') -%><br />
    <%= f.text_area :base_url, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.http_method') -%><br />
    <%= f.select :http_method, ['get', 'post'] -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.query_param') -%><br />
    <%= f.text_field :query_param -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.additional_param') -%><br />
    <%= f.text_area :additional_param, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.search_engine.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
