<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_search_engine_path(@search_engine) -%></li>
    <li><%= link_to t('page.back'), search_engines_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.search_engine.name') -%>:</b>
  <%=h @search_engine.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.url') -%>:</b>
  <%= link_to h(@search_engine.url), @search_engine.url -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.base_url') -%>:</b>
  <%=h @search_engine.base_url -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.http_method') -%>:</b>
  <%=h @search_engine.http_method -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.query_param') -%>:</b>
  <%=h @search_engine.query_param -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.additional_param') -%>:</b>
  <%= simple_format(h(@search_engine.additional_param)) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.search_engine.note') -%>:</b>
  <%=h @search_engine.note -%>
</p>

</div>
</div>
