<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), expression_form_path(@expression_form) -%></li>
    <li><%= link_to t('page.back'), expression_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1><%= t('page.editing', :model => t('activerecord.models.expression_form')) -%></h1>

<%= error_messages_for :expression_form -%>

<%- form_for(:expression_form, :url => expression_form_path(@expression_form), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.expression_form.name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression_form.display_name') -%></b><br />
    <%= f.text_field :display_name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression_form.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
