<div id="submenu">
  <ul>
    <%- if ExpressionForm.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.expression_form')), new_expression_form_path -%></li>
    <%- end -%>
  </li>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression_form')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.expression_form.name') -%></th>
    <th><%= t('activerecord.attributes.expression_form.display_name') -%></th>
    <th><%= t('activerecord.attributes.expression_form.note') -%></th>
  </tr>
  
<%- for expression_form in @expression_forms -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(expression_form.name), expression_form -%></td>
    <td><%= link_to h(expression_form.display_name.localize), expression_form -%></td>
    <td><%=h expression_form.note -%></td>
    <%- if expression_form.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_expression_form_path(expression_form) -%></td>
      <td><%= link_to t('page.destroy'), expression_form_path(expression_form), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= expression_form.first? ? '' : link_to('▲', {:action => 'update', :positin  => (expression_form.position > 1 ? expression_form.position - 1 : 1), :id => expression_form.id}, :method => :put) -%></td>
      <td><%= expression_form.last? ? '' : link_to('▼', {:action => 'update', :positio => (expression_form.position + 1), :id => expression_form.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
