<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_expression_form_path(@expression_form) -%></li>
    <li><%= link_to t('page.back'), expression_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.expression_form.name') -%>:</b>
  <%=h @expression_form.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.expression_form.display_name') -%>:</b>
  <%=h @expression_form.display_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.expression_form.note') -%>:</b>
  <%=h @expression_form.note -%>
</p>

</div>
</div>
