div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work_merge_list')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.work_merge_list.title') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- @work_merge_lists.each do |work_merge_list| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(work_merge_list.title), work_merge_list -%></td>
    <td><%= l(work_merge_list.created_at) -%></td>
    <td><%= link_to t('page.show'), work_merge_list -%></td>
    <td><%= link_to t('page.edit'), edit_work_merge_list_path(work_merge_list) -%></td>
    <td><%= link_to t('page.destroy'), work_merge_list, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@work_merge_lists) -%>
</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.work_merge_list')), new_work_merge_list_path -%></li>
  </ul>
</div>
