<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.work_merge_list')), new_work_merge_list_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work_merge_list')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.work_merge_list.title') -%></th>
    <th><%= t('page.created_at') -%></th>
  </tr>

<%- for work_merge_list in @work_merge_lists -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(work_merge_list.title), work_merge_list -%></td>
    <td><%= l(work_merge_list.created_at) -%></td>
    <td><%= link_to t('page.show'), work_merge_list -%></td>
    <td><%= link_to t('page.edit'), edit_work_merge_list_path(work_merge_list) -%></td>
    <td><%= link_to t('page.destroy'), work_merge_list, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@work_merge_lists, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
