<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_merge_list')) -%></h1>
<div id="content_list">
<%= form_for(:work_merge_list, :url => work_merge_list_path(@work_merge_list, :mode => 'merge'), :html => { :method => :put }) do |f| -%>
  <p>
  <strong><%= t('page.title') -%>:</strong>
    <%= @work_merge_list.title -%>
  </p>

  <ul>
    <%- @work_merge_list.works.each do |work| -%>
      <li><%= radio_button_tag 'selected_work_id', work.id -%><%= link_to h(work.original_title), work -%></li>
    <%- end -%>
  </ul>
  <%- if @work_merge_list.works.size > 1 -%>
    <%= f.submit t('page.merge'), :confirm => t('page.are_you_sure') -%>
  <%- end -%>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), work_merge_list_works_path(@work_merge_list) -%></li>
    <li><%= link_to t('page.edit'), edit_work_merge_list_path(@work_merge_list) -%></li>
    <li><%= link_to t('page.back'), work_merge_lists_path -%></li>
  </ul>
</div>
