<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">
<p>
  <b>Title:</b>
  <%=h @series_statement.title %>
</p>

<p>
  <b>Numbering:</b>
  <%=h @series_statement.numbering %>
</p>

<p>
  <b>Title subseries:</b>
  <%=h @series_statement.title_subseries %>
</p>

<p>
  <b>Numbering subseries:</b>
  <%=h @series_statement.numbering_subseries %>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to 'Edit', edit_series_statement_path(@series_statement) %></li>
    <li><%= link_to 'Back', series_statements_path %></li>
  </ul>
</div>
