<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @subject_heading_type_has_subject %></li>
    <li><%= link_to t('page.back'), subject_heading_type_has_subjects_path %></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.subject_heading_type_has_subject')) -%></h1>
<div class="inner">

<% form_for(@subject_heading_type_has_subject) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('activerecord.models.subject') %><br />
    <%= f.text_field :subject_id %>
  </p>
  <p>
    <%= f.label t('activerecord.models.subject_type') %><br />
    <%= f.text_field :subject_type %>
  </p>
  <p>
    <%= f.label t('activerecord.models.subject_heading_type') %><br />
    <%= f.text_field :subject_heading_type_id %>
  </p>
  <p>
    <%= f.submit t('page.update') %>
  </p>
<% end %>
</div>
</div>
