<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_subject_heading_type_has_subject_path(@subject_heading_type_has_subject) %></li>
    <li><%= link_to t('page.back'), subject_heading_type_has_subjects_path %></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subject_heading_type_has_subject')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.subject') %></b>
  <%= link_to h(@subject_heading_type_has_subject.subject.term), @subject_heading_type_has_subject.subject %>
</p>

<p>
  <b><%= t('activerecord.models.subject_type') %></b>
  <%=h @subject_heading_type_has_subject.subject_type %>
</p>

<p>
  <b><%= t('activerecord.models.subject_heading_type') %></b>
  <%= link_to h(@subject_heading_type_has_subject.subject_heading_type.display_name.localize), @subject_heading_type_has_subject.subject_heading_type %>
</p>
</div>
</div>
