<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.shelf_has_manifestation')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.shelf_has_manifestation.shelf') -%>:</b>
  <%= link_to h(@shelf_has_manifestation.shelf.display_name.localize), @shelf_has_manifestation.shelf %>
</p>

<p>
  <b><%= t('activerecord.attributes.shelf_has_manifestation.manifestation') -%>:</b>
  <%= link_to h(@shelf_has_manifestation.manifestation.original_title), @shelf_has_manifestation.manifestation %>
</p>

<p>
  <b><%= t('activerecord.attributes.shelf_has_manifestation.position') -%>:</b>
  <%=h @shelf_has_manifestation.position %>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_shelf_has_manifestation_path(@shelf_has_manifestation) %></li>
    <li><%= link_to t('page.back'), shelf_has_manifestations_path %></li>
  </ul>
</div>
