<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.expression') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>

<%- @embodies.each do |embody| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to embody.expression.original_title, embody.expression -%>
      <%= content_type_icon(embody.expression.content_type) -%>
    </td>
    <td>
      <%= link_to embody.manifestation.original_title, embody.manifestation -%>
      <%= content_type_icon(embody.expression.content_type) -%>
    </td>
    <%- if can? :destroy, embody -%>
      <td><%= link_to t('page.show'), embody_path(embody) -%></td>
      <td><%= link_to t('page.destroy'), embody_path(embody), :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= paginate(@embodies) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Embody -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.embody')), new_embody_path -%></li>
    <%- end -%>
  </ul>
</div>
