div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">

<h3><%= link_to h(@expression.original_title), @expression -%></h3>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>

<%- @embodies.each do |embody| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(embody.manifestation.original_title), embody.manifestation -%>
      <%= form_icon(embody.manifestation.carrier_type) -%>
    </td>
    <%- if can? :destroy, embody -%>
      <td><%= link_to t('page.destroy'), embody, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@embodies) -%>
</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Embody -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.embody')), expression_manifestations_path(@expression) -%></li>
    <%- end -%>
  </ul>
</div>
