<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Embody) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.embody')), manifestation_expressions_path(@manifestation) -%></li>
      <li><%= link_to ('Show manifestation'), @manifestation -%></li>
      <li><%= link_to ('Edit manifestation'), edit_manifestation_path(@manifestation) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.embody')) -%></h1>

<%= render :partial => 'manifestations/title' -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- for embody in @embodies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(embody.expression.original_title), expression_path(embody.expression) -%>
      <%= expression_form_icon(embody.expression.expression_form) -%>
    </td>
    <%- if_authorized?(:destroy, embody) do -%>
      <td><%= link_to t('page.destroy'), embody, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= embody.first? ? '' : link_to('▲', {:action => 'update', :position  => (embody.position  > 1 ? embody.position - 1 : 1), :id => embody.id}, :method => :put) -%></td>
      <td><%= embody.last? ? '' : link_to('▼', {:action => 'update', :position => (embody.position + 1), :id => embody.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%= will_paginate(@embodies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
