<h1><%= ('Listing embodies') -%></h1>

<table id="index">
  <tr>
    <th><%= t('page.expression') -%></th>
    <th><%= t('page.manifestation') -%></th>
  </tr>

<%- for embody in @embodies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(embody.expression.original_title), embody.expression -%>
      <%= expression_form_icon(embody.expression.expression_form) -%>
    </td>
    <td>
      <%= link_to h(embody.manifestation.original_title), embody.manifestation -%>
      <%= expression_form_icon(embody.expression.expression_form) -%>
    </td>
    <%- if_authorized?(:destroy, embody) do -%>
      <td><%= link_to t('page.show'), embody_path(embody) -%></td>
      <td><%= link_to t('page.destroy'), embody_path(embody), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%- if_authorized?(:new, Embody) do -%>
  <p><%= link_to ('New embody'), new_embody_path -%></p>
<% end -%>

<%= will_paginate(@embodies) -%>
</div>
