<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.expression') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>

<%- for embody in @embodies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(embody.expression.original_title), embody.expression -%>
      <%= content_type_icon(embody.expression.content_type) -%>
    </td>
    <td>
      <%= link_to h(embody.manifestation.original_title), embody.manifestation -%>
      <%= content_type_icon(embody.expression.content_type) -%>
    </td>
    <%- if embody.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.show'), embody_path(embody) -%></td>
      <td><%= link_to t('page.destroy'), embody_path(embody), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@embodies) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if Embody.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.embody')), new_embody_path -%></li>
    <%- end -%>
  </ul>
</div>
