<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">

<%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- @embodies.each do |embody| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, embody -%>
        <%= embody.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (embody.position  > 1 ? embody.position - 1 : 1), :id => embody.id}, :method => :put) -%>
        <%= embody.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (embody.position + 1), :id => embody.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to embody.expression.original_title, embody.expression -%>
      <%= content_type_icon(embody.expression.content_type) -%>
    </td>
    <%- if can? :destroy, embody -%>
      <td><%= link_to t('page.destroy'), embody, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@embodies) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Embody -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.embody')), manifestation_expressions_path(@manifestation) -%></li>
      <li><%= link_to t('page.showing', :model => t('activerecord.models.manifestation')), @manifestation -%></li>
      <li><%= link_to t('page.editing', :model => t('activerecord.models.manifestation')), edit_manifestation_path(@manifestation) -%></li>
    <%- end -%>
  </ul>
</div>


