<h1><%= t('page.editing', :model => t('activerecord.models.embody')) -%></h1>

<%= error_messages_for :embody -%>

<%- form_for(@embody) do |f| -%>
  <p>
  <b><%= t('activerecord.models.expression') -%></b><br />
    <%= f.text_field :expression_id -%>
  </p>

  <p>
  <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%= f.text_field :manifestation_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

<%= link_to t('page.show'), @embody -%> |
<%= link_to t('page.back'), embodies_path -%>
