<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">
  <%= render 'form' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @embody.manifestation -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), manifestation_expressions_path(@embody.manifestation) -%></li>
    <%- end -%>
    <%- if @embody.expression -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), expression_manifestations_path(@embody.expression) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back_to_index'), embodies_path -%></li>
  </ul>
</div>
