<div id="submenu">
  <ul>
    <%- if @manifestation -%>
      <li><%= link_to ('Back to expressions'), manifestation_expressions_path(@manifestation) -%></li>
    <%- end -%>
    <%- if @expression -%>
      <li><%= link_to ('Back to manifestations'), expression_manifestations_path(@expression) -%></li>
    <%- end -%>
    <li><%= link_to ('Back to index'), embodies_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New embody') -%></h1>

<%= error_messages_for :embody -%>

<%- form_for(@embody) do |f| -%>
  <p>
  <b><%= t('page.expression') -%></b><br />
  <%- if @expression -%>
    <%= link_to h(@expression.original_title), expression_path(@expression) -%>
    <%= f.hidden_field :expression_id, :value => @expression.id -%>
  <%- else -%>
    <%= f.text_field :expression_id -%>
  <%- end -%>
  </p>

  <p>
  <b><%= t('page.manifestation') -%></b><br />
  <%- if @manifestation -%>
    <%= link_to h(@manifestation.original_title), manifestation_path(@manifestation) -%>
    <%= f.hidden_field :manifestation_id, :value => @manifestation.id -%>
  <%- else -%>
    <%= f.text_field :manifestation_id -%>
  <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
