<div id="submenu">
  <ul>
    <li><%= link_to ('Back to expressions'), manifestation_expressions_path(@embody.manifestation) -%></li>
    <li><%= link_to ('Back to manifestations'), expression_manifestations_path(@embody.expression) -%></li>
</div>

<div id="content_detail">
<p>
<b><%= t('activerecord.models.expression') -%>:</b>
  <%= link_to h(@embody.expression.original_title), @embody.expression -%>
</p>

<p>
<b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= link_to h(@embody.manifestation.original_title), @embody.manifestation -%>
</p>

</div>
