div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.embody')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.expression') -%>:</strong>
  <%= link_to h(@embody.expression.original_title), @embody.expression -%>
</p>

<p>
  <strong><%= t('activerecord.models.manifestation') -%>:</strong>
  <%= link_to h(@embody.manifestation.original_title), @embody.manifestation -%>
</p>

</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.expression')), manifestation_expressions_path(@embody.manifestation) -%></li>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.manifestation')), expression_manifestations_path(@embody.expression) -%></li>
  </ul>
</div>


