<div id="submenu">
  <ul>
    <li><%= link_to t('show'), @imported_event_file -%></li>
    <li><%= link_to ('Back'), imported_event_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1><%= ('Editing imported_event_file') -%></h1>

<%- form_for(@imported_event_file) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :filename -%><br />
    <%= f.text_field :filename -%>
  </p>
  <p>
    <%= f.submit t('update') -%>
  </p>
<%- end -%>

</div>
