<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.imported_event_file')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.imported_event_file.filename') -%></th>
    <th><%= t('activerecord.attributes.imported_event_file.imported_at') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
  </tr>

<%- for imported_event_file in @imported_event_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h imported_event_file.imported_event_file_name -%></td>
    <td><%= l(imported_event_file.imported_at) if imported_event_file.imported_at -%></td>
    <td><%= link_to h(imported_event_file.user.login), user_path(imported_event_file.user.login) -%></td>
    <td><%= link_to t('page.show'), imported_event_file -%></td>
    <td><%= link_to t('page.edit'), edit_imported_event_file_path(imported_event_file) -%></td>
    <td><%= link_to t('page.destroy'), imported_event_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_event_files, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.imported_event_file')), new_imported_event_file_path -%></li>
  </ul>
</div>
