<h1><%= ('Listing imported_event_files') -%></h1>

<table id="index">
  <tr>
    <th>Db file</th>
    <th><%= ('Filename') -%></th>
    <th><%= ('Content type') -%></th>
    <th><%= ('Size') -%></th>
    <th><%= t('page.user') -%></th>
  </tr>

<%- for imported_event_file in @imported_event_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h imported_event_file.db_file_id -%></td>
    <td><%=h imported_event_file.filename -%></td>
    <td><%=h imported_event_file.content_type -%></td>
    <td><%=h imported_event_file.size -%></td>
    <td><%= link_to h(imported_event_file.user.login), user_path(imported_event_file.user.login) -%></td>
    <td><%= link_to t('page.show'), imported_event_file -%></td>
    <td><%= link_to t('page.edit'), edit_imported_event_file_path(imported_event_file) -%></td>
    <td><%= link_to t('page.destroy'), imported_event_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_event_files) -%>
<br />

<%= link_to ('New imported_event_file'), new_imported_event_file_path -%>
