<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_event_file_path(@imported_event_file) -%></li>
    <li><%= link_to t('page.back'), imported_event_files_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.imported_event_file')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.attributes.imported_event_file.imported_event_file_name') -%>:</b>
  <%= link_to h(@imported_event_file.imported_event_file_name), imported_event_file_path(@imported_event_file, :format => :download) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.imported_event_content_type') -%>:</b>
  <%=h @imported_event_file.imported_event_content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.imported_event_file_size') -%>:</b>
  <%=h @imported_event_file.imported_event_file_size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.file_hash') -%>:</b>
  <%=h @imported_event_file.file_hash -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@imported_event_file.created_at) if @imported_event_file.created_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.imported_at') -%>:</b>
  <%= l(@imported_event_file.imported_at) if @imported_event_file.imported_at -%>
</p>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@imported_event_file.user.login), user_path(@imported_event_file.user.login) -%>
</p>

<table class="index">
  <%- @imported_event_file.imported_objects.each do |object| -%>
    <tr>
      <td><%= link_to h(object.importable.title), object.importable -%></td>
      <td><%= link_to h(object.importable.library.display_name.localize), object.importable.library -%></td>
      <td>
        <%= l(object.importable.started_at) -%>
        -
        <%= l(object.importable.ended_at) -%>

      </td>
    </tr>
  <%- end -%>
</table>

</div>
</div>
