<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_event_file_path(@imported_event_file) -%></li>
    <li><%= link_to t('page.back'), imported_event_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.imported_event_file.filename') -%>:</b>
  <%=h @imported_event_file.filename -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.content_type') -%>:</b>
  <%=h @imported_event_file.content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.size') -%>:</b>
  <%=h @imported_event_file.size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_event_file.file_hash') -%>:</b>
  <%=h @imported_event_file.file_hash -%>
</p>

<p>
  <b><%= t('page.user') -%>:</b>
  <%= link_to h(@imported_event_file.user.login), user_path(@imported_event_file.user.login) -%>
</p>

<table id="index">
  <%- @imported_event_file.imported_objects.each do |object| -%>
    <tr>
      <td><%= link_to h(object.importable.title), object.importable -%></td>
      <td><%= link_to h(object.importable.library.name), object.importable.library -%></td>
      <td>
        <%= l(object.importable.started_at) -%>
        -
        <%= l(object.importable.ended_at) -%>

      </td>
    </tr>
  <%- end -%>
</table>

</div>
