<div id="expression">
  <ul>
    <%- @expressions.each do |expression| -%>
      <li>
      [E]
      <%= link_to expression.original_title, expression -%>
      <%= content_type_icon(expression.content_type) -%>
      <%= patrons_list(expression.work.patrons) -%>
      <%= patrons_list(expression.patrons) -%>
        <ul>
          <%- expression.manifestations.each do |manifestation| -%>
            <li>
            [M]
            <%= link_to manifestation.original_title, manifestation -%>
            <%= form_icon(manifestation.carrier_type) -%>
            <%- manifestation.expressions.each do |expression| -%>
              <%= content_type_icon(expression.content_type) -%>
            <%- end -%>
            <%= patrons_list(manifestation.creators) -%>
            <%= patrons_list(manifestation.contributors) -%>
            <%= patrons_list(manifestation.patrons) -%>
            <%- if manifestation.date_of_publication -%>
              (<%= manifestation.date_of_publication.strftime('%Y') -%>)
            <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </li>
    <%- end -%>
  </ul>
  <%= paginate(@expressions, :param_name => :expression_list_page, :remote => true) -%>
</div>

