<p>
  <b><%= t('activerecord.attributes.patron.first_name') -%></b><br />
  <%= f.text_field :first_name, :class => 'resource_title' -%><br />
  <%= t('activerecord.attributes.patron.first_name_transcription') -%><br />
  <%= f.text_field :first_name_transcription, :class => 'resource_title' -%><br />
  <b><%= t('activerecord.attributes.patron.last_name') -%></b><br />
  <%= f.text_field :last_name, :class => 'resource_title' -%><br />
  <%= t('activerecord.attributes.patron.last_name_transcription') -%><br />
  <%= f.text_field :last_name_transcription, :class => 'resource_title' -%><br />
  <b><%= t('activerecord.attributes.patron.full_name') -%></b><br />
  <%= f.text_field :full_name, :class => 'resource_title' -%><br />
  <%= t('activerecord.attributes.patron.full_name_transcription') -%><br />
  <%= f.text_field :full_name_transcription, :class => 'resource_title' -%><br />
  <%= t('activerecord.attributes.patron.full_name_alternative') -%><br />
  <%= f.text_area :full_name_alternative, :class => 'resource_textarea' -%>
</p>
