<div id="sidebar">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron_merge_list')), @patron_merge_list -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron')) -%></h1>
<div class="inner">
<p>Patron(s) for <%= link_to h(@patron_merge_list.title), patron_merge_list_path(@patron_merge_list) -%></p>

<%- form_for :patrons, :url => patron_merge_list_patrons_path(@patron_merge_list), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:class => 'search_form'} -%>
  <%- if @patron_merge_list.is_deletable_by(current_user) -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), patron_merge_list_patrons_path(@patron_merge_list) -%>
</p>
<%- end -%>

  <table class="index">
  <tr>
    <th><%= ('Patron name') -%></th>
    <th><%= t('activerecord.models.patron_type') -%></th>
    <th><%= t('activerecord.attributes.patron.other_designation') -%></th>
    <th><%= ('Place') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_birth') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_death') -%></th>
  </tr>
  
<%- @patrons.each do |patron| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(patron.full_name), patron_merge_list_patron_path(@patron_merge_list, patron) -%></td>
    <td><%=h patron.patron_type.display_name.localize -%></td>
    <td><%=h patron.other_designation -%></td>
    <td><%=h patron.place -%></td>
    <td><%=h patron.date_of_birth -%></td>
    <td><%=h patron.date_of_death -%></td>
    <td>
      <%- if patron.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_patron_merge_list_patron_merge_path(@patron_merge_list, :patron_id => patron.id) unless @patron_merge_list.patrons.include?(patron) -%>
        <%- else -%>
          <%- patron_merge = @patron_merge_list.patron_merges.find_by_patron_id(patron) -%>
          <%= link_to t('page.destroy'), patron_merge_list_patron_merge_path(@patron_merge_list, patron_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@patrons, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
