<div id="submenu">
  <div id="manifestation_book_jacket">
    <%= book_jacket(@manifestation) -%>
  </div>
  <ul>
    <li><%= link_to ('Back to manifestations'), manifestations_path -%></li>
    <li><%= link_to ('Add an expression'), manifestation_expressions_path(@manifestation) -%></li>
    <li><%= link_to ('Add an item'), manifestation_items_path(@manifestation) -%></li>
    <li><%= link_to ('New patron'), new_manifestation_patron_path(@manifestation) -%></li>
  </ul>
</div>

<div id="content_detail">

  <%= render :partial => 'manifestations/manifestation_patrons_list' -%>

<%- form_for :patrons, :url => manifestation_patrons_path(@manifestation), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
  <%- if_authorized?(:destroy, @manifestation) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), manifestation_patrons_path(@manifestation) -%>
</p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= ('Patron name') -%></th>
    <th><%= ('Type') -%></th>
    <th><%= t('activerecord.attributes.patron.other_designation') -%></th>
    <th><%= ('Place') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_birth') -%></th>
    <th><%= t('activerecord.attributes.patron.date_of_death') -%></th>
    <th></th>
  </tr>
  <%- @patrons.each do |patron| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(patron.full_name), patron -%></td>
      <td><%=h patron.patron_type.display_name -%></td>
      <td><%=h patron.other_designation -%></td>
      <td><%=h patron.place -%></td>
      <td><%=h patron.date_of_birth -%></td>
      <td><%=h patron.date_of_death -%></td>
      <td>
        <%- if_authorized?(:destroy, patron) do -%>
          <%- if params[:mode] == 'add' -%>
            <%= link_to t('page.add'), new_manifestation_produce_path(@manifestation, :patron_id => patron.id) unless @manifestation.patrons.include?(patron) -%>
          <%- else -%>
            <%- produce = @manifestation.produces.find_by_patron_id(patron.id) -%>
            <%= link_to t('page.destroy'), manifestation_produce_path(@manifestation, produce), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@patrons) -%>
</div>
