<div id="manifestation">
  <ul>
    <%- @manifestations.each do |manifestation| -%>
      <li>
        [M]
        <%= link_to manifestation.original_title, manifestation -%>
        <%= form_icon(manifestation.carrier_type) -%>
        <%= patrons_list(manifestation.creators) -%>
        <%= patrons_list(manifestation.contributors) -%>
        <%= patrons_list(manifestation.patrons) -%>
        <%- if manifestation.date_of_publication -%>
          (<%= manifestation.date_of_publication.strftime('%Y') -%>)
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@manifestations, :param_name => :manifestation_list_page, :class => 'content_pagination digg_pagination') -%>
</div>
