    <li title="active" class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
    <%- unless @patron.derived_patrons.empty? and @patron.original_patrons.empty? -%>
      <li><a href="#related"><em><%= t('page.related') -%></em></a></li>
    <%- end -%>
    <%- unless @patron.works.empty? -%>
      <li><a href="#work"><em><%= t('activerecord.models.work') -%></em></a></li>
    <%- end -%>
    <%- unless @patron.expressions.empty? -%>
      <li><a href="#expression"><em><%= t('activerecord.models.expression') -%></em></a></li>
    <%- end -%>
    <%- unless @patron.manifestations.empty? -%>
      <li><a href="#manifestation"><em><%= t('activerecord.models.manifestation') -%></em></a></li>
    <%- end -%>
