  <h2 class="resource_title">
    [P]
    <%= @patron.full_name -%>
  </h2>
  <p>(<%= l(@patron.versions.find(@version).created_at) -%>)</p>

  <p>
    (<%= link_to_wikipedia(@patron.full_name_without_space) -%>)
    <%- if !@patron.user && can?(:update, @patron) -%>
      (<%= link_to t('patron.activate_as_user'), new_user_path(:patron_id => @patron.id) -%>)
    <%- end -%>
  </p>

  <div id="tabs">
    <ul>
      <%= render 'show_menu' %>
      <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
    </ul>
    <%= render 'show_content' -%>
    <%= render 'history_list' -%>
  </div>
  <%= render 'page/tabview' -%>
