<div id="work">
  <ul>
    <%- works.each do |work| -%>
      <li>
        [W]
        <%= link_to h(work.original_title), work -%>
        <%= raw patrons_list(work.patrons, current_user) -%>
        <%- unless work.manifestations.blank? -%>
          <ul>
            <%- work.manifestations.each do |manifestation| -%>
              <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation -%>
              <%= form_icon(manifestation.carrier_type) -%>
              <%- manifestation.expressions.each do |expression| -%>
                <%= content_type_icon(expression.content_type) -%>
              <%- end -%>
              <%= raw patrons_list(manifestation.creators, current_user) -%>
              <%= raw patrons_list(manifestation.patrons, current_user) -%>
              <%- if manifestation.date_of_publication -%>
                (<%= manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
</div>

