<h1 class="title">Listing patrons</h1>

<table class="index">
  <tr class="line<%= cycle("0", "1") -%>">
    <th>Full name</th>
    <th>Patron type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patrons.each do |patron| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= patron.full_name %></td>
    <td><%= patron.patron_type_id %></td>
    <td><%= link_to t('enju.show'), patron %></td>
    <td><%= link_to t('enju.edit'), edit_patron_path(patron) %></td>
    <td><%= link_to t('enju.destroy'), patron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patron', new_patron_path %>
