<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), patrons_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('patron.new') -%></h1>

<%= error_messages_for :patron -%>

<%- form_for(:patron, :url => patrons_path) do |f| -%>
  <p>
    <b><%= t('activerecord.models.patron_type') -%></b>
    <%= f.select(:patron_type_id, @patron_types.collect{|p| [p.display_name, p.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.full_name') -%></b><br />
    <%= f.text_field :full_name, :class => 'resource_title' -%><br />
    <%= t('activerecord.attributes.patron.full_name_transcription') -%><br />
    <%= f.text_field :full_name_transcription, :class => 'resource_title' -%><br />
    <%= t('activerecord.attributes.patron.full_name_alternative') -%><br />
    <%= f.text_area :full_name_alternative, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.other_designation') -%></b><br />
    <%= f.text_area :other_designation, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.place') -%></b><br />
    <%= f.text_area :place, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.date_of_birth') -%></b>
    <%= f.date_select :date_of_birth, :blank => true -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.date_of_death') -%></b>
    <%= f.date_select :date_of_death, :blank => true -%>
  </p>

  <p>
    <b><%= t('activerecord.models.language') -%></b>
    <%= f.select(:language_id, @languages.collect{|l| [l.display_name, l.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.models.country') -%></b>
    <%= f.select(:country_id, @countries.collect{|c| [c.display_name, c.id]}) -%>
  </p>

  <p>
    <b><%= ('Access role') -%></b>
    <%= f.select(:access_role_id, @roles.collect{|r| [r.name, r.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.zip_code_1') -%></b><br />
    <%= f.text_field :zip_code_1, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.address_1') -%></b><br />
    <%= f.text_area :address_1, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.telephone_number_1') -%></b><br />
    <%= f.text_field :telephone_number_1, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.address_1_note') -%></b><br />
    <%= f.text_area :address_1_note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.zip_code_2') -%></b><br />
    <%= f.text_field :zip_code_2, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.address_2') -%></b><br />
    <%= f.text_area :address_2, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.telephone_number_2') -%></b><br />
    <%= f.text_field :telephone_number_2, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.address_2_note') -%></b><br />
    <%= f.text_area :address_2_note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.patron.fax_number') -%></b><br />
    <%= f.text_field :fax_number, :class => 'resource_telephone_number' -%>
  </p>

  <p>
    <%= hidden_field_tag 'work_id', @work.id if @work -%>
    <%= hidden_field_tag 'expression_id', @expression.id if @expression -%>
    <%= hidden_field_tag 'manifestation_id', @manifestation.id if @manifestation -%>
    <%= hidden_field_tag 'item_id', @item.id if @item -%>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>
</div>
