<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.patron')) -%></h1>
<div id="content_list">
  <%- if @version -%>
    <%= render 'show_version' %>
  <%- else -%>
    <% cache(:controller => :patrons, :action => :show, :id => @patron.id, :page => 'detail', :role => current_user_role_name, :locale => @locale) do %>
    <h2 class="resource_title">
      [P]
      <%= @patron.full_name -%>
    </h2>

    <p>
      (<%= link_to_wikipedia(@patron.full_name_without_space) -%>)
      <%- if !@patron.user && can?(:update, @patron) -%>
        (<%= link_to t('patron.activate_as_user'), new_user_path(:patron_id => @patron.id) -%>)
      <%- end -%>
    </p>

    <div id="tabs">
      <ul>
        <%= render :partial => 'show_menu' %>
        <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
      </ul>
      <%= render :partial => 'show_content' -%>
      <%= render :partial => 'history_list' -%>
    </div>
    <%= render :partial => 'page/tabview' %>
    <%- end -%>
  <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <%- cache(:controller => :patrons, :action => :show, :id => @patron.id, :page => 'picture_file', :role => current_user_role_name, :locale => @locale) do -%>
    <%- unless @patron.picture_files.empty? -%>
      <div id="manifestation_book_jacket">
        <%= patron_custom_book_jacket(@patron) -%>
      </div>
      <ul>
        <%- @patron.picture_files.each_with_index do |picture_file, i| -%>
          <%- if i > 0 -%>
            <li style="display: none"><%= link_to_custom_book_jacket(@patron, picture_file) -%></li>
          <%- end -%>
        <%- end -%>
        <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), patron_picture_files_path(@patron) -%></li>
        <%- if can? :create, PictureFile -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_patron_picture_file_path(@patron) -%></li>
        <%- end -%>
      </ul>
      <script type="text/javascript">
        $(document).ready(function(){
          $("a[rel='patron_<%= @patron.id -%>']").colorbox({transition:"none"});
        })
      </script>
    <%- else -%>
      <%- if can? :create, PictureFile -%>
        <ul>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_patron_picture_file_path(@patron) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
  <%- end -%>
  <ul>
    <li><%= link_to t('page.back'), patrons_path -%></li>
    <%- if can? :update, @patron -%>
      <%- if @patron.user.blank? -%>
        <li><%= link_to t('patron.activate_as_user'), new_user_path(:patron_id => @patron.id) -%></li>
      <%- else -%>
        <li><%= link_to t('page.editing', :model => t('activerecord.models.user')), edit_user_path(@patron.user) -%></li>
      <%- end -%>
      <li><%= link_to t('page.edit'), edit_patron_path(@patron) -%></li>
    <%- end -%>
    <%- if can? :destroy, @patron -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.patron')), new_patron_path -%></li>
      <li><%= link_to t('page.destroy'), @patron, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('page.add_derivation'), patron_patrons_path(@patron) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), patron_works_path(@patron) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), patron_expressions_path(@patron) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), patron_manifestations_path(@patron) -%></li>
  </ul>
</div>
