<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @patron.full_name %>
</p>

<p>
  <b>Patron type:</b>
  <%= @patron.patron_type_id %>
</p>


<%= link_to t('enju.edit'), edit_patron_path(@patron) %> |
<%= link_to t('enju.back'), patrons_path %>
