<div id="submenu">
  <%- if_authorized?(:destroy, @patron) do -%>
    <ul>
      <%- if @patron.user.blank? -%>
        <li><%= link_to t('patron.activate_as_user'), new_user_path(:patron_id => @patron.id) -%></li>
      <%- else -%>
        <li><%= link_to t('patron.deactivate'), edit_user_path(@patron.user.login) -%></li>
      <%- end -%>
      <li><%= link_to t('page.add_picture'), new_patron_attachment_file_path(@patron) -%></li>
      <li><%= link_to t('page.edit'), edit_patron_path(@patron) -%></li>
      <li><%= link_to t('page.back'), patrons_path -%></li>
      <li><%= link_to t('page.new', :model => t('activerecord.models.patron')), new_patron_path -%></li>
      <li><%= link_to t('page.destroy'), @patron, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    </ul>
  <%- end -%>
    <ul>
      <li><%= link_to t('work.add'), patron_works_path(@patron) -%></li>
    </ul>
    <ul>
      <li><%= link_to t('expression.add'), patron_expressions_path(@patron) -%></li>
    </ul>
    <ul>
      <li><%= link_to t('manifestation.add'), patron_manifestations_path(@patron) -%></li>
    </ul>
</div>

<div id="content_detail">

  <%-
    cache(:id => @patron.id, :editable => @patron.is_updatable_by(current_user)) do
  -%>
  <h1 id="resource_title">
    [P]
    <%=h @patron.full_name -%>
  </h1>

<p>(<%= link_to ('Wikipedia'), "http://ja.wikipedia.org/wiki/" + CGI.escape(h(@patron.full_name_without_space)) -%>)</p>

<div id="tabview">

  <div id="demo" class="yui-navset yui-navset-top">
    <ul class="yui-nav">
      <li title="active" class="selected"><a href="#tab1"><em><%= t('page.detail') -%></em></a></li>
      <%- unless @patron.works.blank? -%>
        <li><a href="#tab2"><em><%= t('activerecord.models.work') -%></em></a></li>
      <%- end -%>
      <%- unless @patron.expressions.blank? -%>
        <li><a href="#tab3"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- end -%>
      <%- unless @involved_manifestations.blank? -%>
        <li><a href="#tab4"><em><%= t('activerecord.models.manifestation') -%></em></a></li>
      <%- end -%>
      <%- unless @patron.manifestations.blank? -%>
        <li><a href="#tab5"><em><%= t('patron.publication') -%></em></a></li>
      <%- end -%>
    </ul>
    <div class="yui-content">
      <div id="tab1">
        <table id="index">
          <tr>
            <td><b><%= t('activerecord.attributes.patron.full_name') -%>:</b></td>
            <td><%=h @patron.full_name -%></td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.patron.full_name_transcription') -%>:</b></td>
            <td><%=h @patron.full_name_transcription -%></td>
          </tr>
          <%- if @patron.user -%>
            <tr>
              <td><b><%= t('activerecord.attributes.user.login') -%>:</b></td>
              <td><%= link_to h(@patron.user.login), edit_user_path(@patron.user.login) -%></td>
            </tr>
          <%- end -%>
          <tr>
            <td><b><%= t('activerecord.models.patron_type') -%>:</b></td>
            <td><%=h @patron.patron_type.display_name -%></td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.patron.other_designation') -%>:</b></td>
            <td><%=h @patron.other_designation -%></td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.patron.place') -%>:</b></td>
            <td><%=h @patron.place -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.language') -%>:</b></td>
            <td><%=h @patron.language.display_name -%></td>
          </tr>
          <%- if_authorized?(:destroy, @patron) do -%>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.zip_code_1') -%>:</b></td>
              <td><%=h @patron.zip_code_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.address_1') -%>:</b></td>
              <td><%=h @patron.address_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.telephone_number_1') -%>:</b></td>
              <td><%=h @patron.telephone_number_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.fax_number_1') -%>:</b></td>
              <td><%=h @patron.fax_number_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.address_1_note') -%>:</b></td>
              <td><%=h @patron.address_1_note -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.zip_code_2') -%>:</b></td>
              <td><%=h @patron.zip_code_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.address_2') -%>:</b></td>
              <td><%=h @patron.address_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.telephone_number_2') -%>:</b></td>
              <td><%=h @patron.telephone_number_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.fax_number_2') -%>:</b></td>
              <td><%=h @patron.fax_number_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.address_2_note') -%>:</b></td>
              <td><%=h @patron.address_2_note -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.date_of_birth') -%>:</b></td>
              <td><%=h @patron.date_of_birth -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.patron.date_of_death') -%>:</b></td>
              <td><%=h @patron.date_of_death -%></td>
            </tr>
          <%- end -%>
          <tr>
            <td><b><%= t('activerecord.attributes.patron.note') -%>:</b></td>
            <td><%=h @patron.note -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.created_at') -%>:</b></td>
            <td><%= l(@patron.created_at) -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.updated_at') -%>:</b></td>
            <td><%= l(@patron.updated_at) -%></td>
          </tr>
        </table>
      </div>
      <%- unless @patron.works.blank? -%>
        <div id="tab2">
          <ul>
            <%- @patron.works.each do |work| -%>
              <li>
                [W]
                <%= link_to h(work.original_title), work -%>
                <%= patrons_list(work.patrons) -%>
                <%- unless work.manifestations.blank? -%>
                  <ul>
                    <%- work.manifestations.each do |manifestation| -%>
                      <li>
                      [M]
                      <%= link_to h(manifestation.original_title), manifestation -%>
                      <%= form_icon(manifestation.manifestation_form) -%>
                      <%- manifestation.expressions.each do |expression| -%>
                        <%= expression_form_icon(expression.expression_form) -%>
                      <%- end -%>
                      <%= patrons_list(manifestation.authors) -%>
                      <%= patrons_list(manifestation.patrons) -%>
                      <%- if manifestation.date_of_publication -%>
                        (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                      <%- end -%>
                      </li>
                    <%- end -%>
                  </ul>
                <%- end -%>
              </li>
            <%- end -%>
          </ul>
        </div>
    <%- end -%>
    <%- unless @patron.expressions.blank? -%>
      <div id="tab3">
        <ul>
          <%- @patron.expressions.each do |expression| -%>
            <li>
            [E]
            <%= link_to h(expression.original_title), expression -%>
            <%= expression_form_icon(expression.expression_form) -%>
            <%= patrons_list(expression.work.patrons) -%>
            <%= patrons_list(expression.patrons) -%>
              <ul>
                <%- expression.manifestations.each do |manifestation| -%>
                  <li>
                  [M]
                  <%= link_to h(manifestation.original_title), manifestation -%>
                  <%= form_icon(manifestation.manifestation_form) -%>
                  <%- manifestation.expressions.each do |expression| -%>
                    <%= expression_form_icon(expression.expression_form) -%>
                  <%- end -%>
                  <%= patrons_list(manifestation.authors) -%>
                  <%= patrons_list(manifestation.patrons) -%>
                  <%- if manifestation.date_of_publication -%>
                    (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                  <%- end -%>
                  </li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <%- unless @involved_manifestations.blank? -%>
      <div id="tab4">
        <ul>
          <%- @involved_manifestations.each do |manifestation| -%>
            <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation -%>
              <%= form_icon(manifestation.manifestation_form) -%>
              <%- manifestation.expressions.each do |expression| -%>
                <%= expression_form_icon(expression.expression_form) -%>
              <%- end -%>
              <%= patrons_list(manifestation.authors) -%>
              <%= patrons_list(manifestation.patrons) -%>
              <%- if manifestation.date_of_publication -%>
                (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
              <%- unless manifestation.works.blank? -%>
                <ul>
                  <%- manifestation.works.each do |work| -%>
                    <%- if work.patrons.include?(@patron) -%>
                      <li>
                      [W]
                      <%= link_to h(work.original_title), work -%>
                      <%= patrons_list(work.patrons) -%>
                      </li>
                    <%- end -%>
                  <%- end -%>
                  <%- manifestation.expressions.each do |expression| -%>
                    <%- if expression.patrons.include?(@patron) -%>
                      <li>
                      [E]
                      <%= link_to h(expression.original_title), expression -%>
                      <%= expression_form_icon(expression.expression_form) -%>
                      <%= patrons_list(expression.work.patrons) -%>
                      <%= patrons_list(expression.patrons) -%>
                      </li>
                    <%- end -%>
                  <%- end -%>
                </ul>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <%- unless @publications.blank? -%>
      <div id="tab5">
        <h3><%= t('patron.recent_publication') -%></h3>
        <ul>
          <%- @publications.each do |manifestation| -%>
            <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation -%>
              <%= form_icon(manifestation.manifestation_form) -%>
              <%= patrons_list(manifestation.authors) -%>
              <%= patrons_list(manifestation.patrons) -%>
              <%- if manifestation.date_of_publication -%>
                (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
        <p><%= link_to t('patron.all_publication'), manifestations_path(:publisher => @patron.full_name) -%></p>
      </div>
    <%- end -%>
    </div>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>
<%- end -%>
</div>
