<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.user_group')), new_user_group_path -%></li>
  </ul>
</div>
  
<div id="content_detail">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.user_group')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.user_group.display_name') -%></th>
    <th><%= t('activerecord.attributes.user_group.note') -%></th>
  </tr>
  
<%- for user_group in @user_groups -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(user_group.display_name), user_group -%></td>
    <td><%=h user_group.note -%></td>
    <td><%= link_to t('page.edit'), edit_user_group_path(user_group) -%></td>
    <td><%= link_to t('page.destroy'), user_group_path(user_group), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
</div>
