<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_group_path(@user_group) -%></li>
    <li><%= link_to t('page.back'), user_groups_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.user_group.name') -%>:</b>
  <%=h @user_group.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.user_group.display_name') -%>:</b>
  <%=h @user_group.display_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.user_group.note') -%>:</b>
  <%=h @user_group.note -%>
</p>

<p>
<b><%= t('activerecord.models.checkout_type') -%></b>
<ul>
  <%- @user_group.user_group_has_checkout_types.each do |available_checkout_type| -%>
    <li>
      <%= link_to h(available_checkout_type.checkout_type.display_name), available_checkout_type.checkout_type -%>
      (<%= link_to h("#{available_checkout_type.checkout_period} days"), edit_user_group_has_checkout_type_path(@user_group) -%> )
    </li>
  <%- end -%>
</ul>

<p><%= link_to t('page.add', :model => t('activerecord.models.checkout_type')), new_user_group_user_group_has_checkout_type_path(@user_group) -%></p>

</div>
