<h1>Listing item_relationship_types</h1>

<table id="index">
  <tr>
    <th>Name</th>
    <th>Display name</th>
    <th>Note</th>
    <th>Position</th>
  </tr>

<% for item_relationship_type in @item_relationship_types %>
  <tr>
    <td><%=h item_relationship_type.name %></td>
    <td><%=h item_relationship_type.display_name %></td>
    <td><%=h item_relationship_type.note %></td>
    <td><%=h item_relationship_type.position %></td>
    <td><%= link_to t('page.show'), item_relationship_type %></td>
    <td><%= link_to t('page.edit'), edit_item_relationship_type_path(item_relationship_type) %></td>
    <td><%= link_to t('page.destroy'), item_relationship_type, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_relationship_type', new_item_relationship_type_path %>
