<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item_relationship_type')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.item_relationship_type.name') -%></th>
    <th><%= t('activerecord.attributes.item_relationship_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.item_relationship_type.note') -%></th>
    <th></th>
  </tr>

<%- @item_relationship_types.each do |item_relationship_type| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, item_relationship_type -%>
        <%= move_position(item_relationship_type) -%>
      <%- end -%>
    </td>
    <td><%= link_to item_relationship_type.name, item_relationship_type -%></td>
    <td><%= link_to item_relationship_type.display_name.localize, item_relationship_type -%></td>
    <td><%= item_relationship_type.note -%></td>
    <td>
      <%- if can? :destroy, item_relationship_type -%>
        <%= link_to t('page.edit'), edit_item_relationship_type_path(item_relationship_type) -%>
        <%= link_to t('page.destroy'), item_relationship_type, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.item_relationship_type')), new_item_relationship_type_path -%></li>
  </ul>
</div>
