<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.news_post')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.news_post.title') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th><%= t('page.date') -%></th>
    <th><%= t('role.required_role') -%></th>
  </tr>

<% for news_post in @news_posts -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(news_post.title), news_post -%></td>
    <td><%= link_to h(news_post.user.login), user_path(news_post.user.login) -%></td>
    <td>
      <%= l(news_post.start_date) -%>
      -
      <%= l(news_post.end_date) -%>
    </td>
    <td><%=h news_post.required_role.display_name.localize -%></td>
    <td><%= link_to t('page.edit'), edit_news_post_path(news_post) -%></td>
    <td><%= link_to t('page.destroy'), news_post, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@news_posts, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.news_post')), new_news_post_path -%></li>
  </ul>
</div>
