<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_news_post_path(@news_post) -%></li>
    <li><%= link_to t('page.back'), news_posts_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.news_post')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.news_post.title') -%>:</b>
  <%= @news_post.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.news_post.body') -%>:</b>
  <%= @news_post.body -%>
</p>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%= link_to h(@news_post.user.login), user_path(@news_post.user.login) -%>
</p>

<p>
  <b><%= t('role.required_role') -%>:</b>
  <%= @news_post.required_role.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.news_post.start_date') -%>:</b>
  <%= l(@news_post.start_date) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.news_post.end_date') -%>:</b>
  <%= l(@news_post.end_date) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.news_post.note') -%>:</b>
  <%= @news_post.note -%>
</p>

</div>
</div>
