<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.patron_type')), new_patron_type_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron_type')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.patron_type.name') -%></th>
    <th><%= t('activerecord.attributes.patron_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.patron_type.note') -%></th>
  </tr>

<%- for patron_type in @patron_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(patron_type.name), patron_type -%></td>
    <td><%= link_to h(patron_type.display_name), patron_type -%></td>
    <td><%=h patron_type.note -%></td>
    <td><%= link_to t('page.edit'), edit_patron_type_path(patron_type) -%></td>
    <td><%= link_to t('page.destroy'), patron_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
</div>
