<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.request_type')), new_request_type_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1><%= t('page.listing', :model => t('activerecord.models.request_type')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.request_type.name') -%></th>
    <th><%= t('activerecord.attributes.request_type.display_name') -%></th>
  </tr>

<%- for request_type in @request_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h request_type.name -%></td>
    <td><%=h request_type.display_name -%></td>
    <td><%= link_to t('page.show'), request_type -%></td>
    <td><%= link_to t('page.edit'), edit_request_type_path(request_type) -%></td>
    <td><%= link_to t('page.destroy'), request_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>
</div>
