<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.user_has_shelf')) -%></h1>
<div class="inner">
  
  <% form_for(@user_has_shelf) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.user') -%><br />
    <%= f.text_field :user_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.shelf') -%><br />
    <%= f.text_field :shelf_id -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<% end -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @user_has_shelf -%></li>
    <li><%= link_to t('page.back'), user_has_shelves_path -%></li>
  </ul>
</div>
