<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.user_has_shelf')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.user') -%></strong>
  <%= link_to h(@user_has_shelf.user.username), user_path(@user_has_shelf.user.username) -%>
</p>

<p>
  <strong><%= t('activerecord.models.shelf') -%></strong>
  <%= link_to h(@user_has_shelf.shelf), @user_has_shelf.shelf -%>
</p>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_has_shelf_path(@user_has_shelf) -%></li>
    <li><%= link_to t('page.back'), user_has_shelves_path -%></li>
  </ul>
</div>
