<div id="expression">
  <ul>
    <%- @work.expressions.each do |expression| -%>
      <li>
        [E]
        <%= link_to h(expression.original_title), expression -%>
        <%= content_type_icon(expression.content_type) -%>
        <%= raw patrons_list(expression.patrons, current_user) -%>
        <%= raw patrons_list(expression.work.patrons, current_user) -%>
        <%- unless expression.manifestations.blank? -%>
          <ul>
            <%- expression.manifestations.each do |manifestation| -%>
              <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation -%>
              <%= form_icon(manifestation.carrier_type) -%>
              <%- manifestation.expressions.each do |expression| -%>
                <%= content_type_icon(expression.content_type) -%>
              <%- end -%>
              <%= raw patrons_list(manifestation.creators, current_user) -%> 
              <%= raw patrons_list(manifestation.contributors, current_user) -%>
              <%= raw patrons_list(manifestation.publishers, current_user) -%>
              <%- if manifestation.date_of_publication -%>
                (<%= manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
</div>
