<div id="expression">
  <%= will_paginate(@expressions, :param_name => :expression_list_page, :class => 'content_pagination digg_pagination') -%>
  <ul>
    <%- @expressions.each do |expression| -%>
      <li>
        [E]
        <%= link_to expression.original_title, expression -%>
        <%= content_type_icon(expression.content_type) -%>
        <%= patrons_list(expression.patrons) -%>
        <%= patrons_list(expression.work.patrons) -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@expressions, :param_name => :expression_list_page, :class => 'content_pagination digg_pagination') -%>
</div>
