<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subscription')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to @subscription.full_name, @subscription -%>
  </h2>

<%= form_for :works, :url => subscription_works_path(@subscription), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), :class => 'search_form' -%>
    <%- if can? :update, @subscription -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), subscription_works_path(@subscription) -%>
  </p>
  <%= javascript_tag("$('#query').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to work.original_title, work -%>
        <%= raw patrons_list(work.patrons, current_user) -%>
      </td>
      <td><%= work.context -%></td>
      <td>
        <%- if can? :destroy, work -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_subscription_subscribe_path(@subscription, :work_id => work.id) -%>
          <%- else -%>
            <%= link_to t('page.destroy'), subscription_subscribe_path(@subscription, @subscription.subscribed(work)), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Work -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_subscription_work_path(@subscription) -%></li>
      <li><%= link_to t('activerecord.models.expression'), subscription_expressions_path(@subscription) -%></li>
      <li><%= link_to t('activerecord.models.manifestation'), subscription_manifestations_path(@subscription) -%></li>
    <%- end -%>
  </ul>
</div>
