<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work')) -%></h1>
<div id="content_list">
  <%= form_for :works, :url => works_path, :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.form_of_work') -%></th>
    <th><%= t('activerecord.models.series_statement') -%></th>
    <th></th>
  </tr>
  
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to work.original_title, work -%>
        <br />
        <%= patrons_list(work.patrons) -%>
      </td>
      <td><%= link_to work.form_of_work.display_name.localize, work.form_of_work -%></td>
      <td><%= link_to work.series_statement.original_title, work.series_statement if work.series_statement -%></td>
      <td>
        <%- if can? :update, work -%>
          <%= link_to image_tag('icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_work_path(work) -%>
          <%= link_to image_tag('icons/arrow_divide.png', :size => '16x16', :alt => t('page.add_derivation')), work_works_path(work) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Work -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%></li>
    <%- end -%>
  </ul>
</div>
