<div id="submenu">
  <ul>
    <li><%= link_to ('Back to merge list'), @work_merge_list -%>
  </ul>
</div>

<div id="content_detail">
<p>Patron(s) for <%= link_to h(@work_merge_list.title), work_merge_list_path(@work_merge_list) -%></p>

<%- form_for :works, :url => work_merge_list_works_path(@work_merge_list), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
  <%- if_authorized?(:destroy, @work_merge_list) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to ('Back to index'), work_merge_list_works_path(@work_merge_list) -%>
</p>
<%- end -%>

  <table style="width: 100%">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= ('Context') -%></th>
  </tr>
  
<%- @works.each do |work| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(work.original_title), work_merge_list_work_path(@work_merge_list, work) -%>
      <br />
      <%= patrons_list(work.patrons) -%>
    </td>
    <td><%=h work.context -%></td>
    <td>
      <%- if_authorized?(:destroy, work) do -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_work_merge_list_work_merge_path(@work_merge_list, :work_id => work.id) unless @work_merge_list.works.include?(work) -%>
        <%- else -%>
          <%- work_merge = @work_merge_list.work_merges.find_by_work_id(work) -%>
          <%= link_to t('page.destroy'), work_merge_list_work_merge_path(@work_merge_list, work_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@works) -%>
</div>
