<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Work) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.work')) -%></h1>

<%- form_for :works, :url => works_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :style => 'width: 350px' -%>
    <%= submit_tag t('page.search') -%>
   </p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  
  <%- for work in @works -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(work.original_title), work -%>
        <br />
        <%= patrons_list(work.patrons) -%>
      </td>
      <td><%=h work.context -%></td>
      <td>
        <%- if_authorized?(:destroy, work) do -%>
          <%= link_to t('page.edit'), edit_work_path(work) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
