<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.series_statement')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to @series_statement.original_title, @series_statement -%>
  </h2>

<%= form_for :works, :url => series_statement_works_path(@series_statement), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), :class => 'search_form' -%>
    <%- if can? :update, @series_statement -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), series_statement_works_path(@series_statement) -%>
  </p>
  <%= javascript_tag("$('#query').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to work.original_title, work -%>
        <br />
        <%= raw patrons_list(work.patrons, current_user) -%>
      </td>
      <td><%= work.context -%></td>
      <td>
        <%- if can? :destroy, work -%>
          <%= link_to t('page.select'), edit_series_statement_work_path(@series_statement, work) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Work -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_series_statement_work_path(@series_statement) -%></li>
    <%- end -%>
  </ul>
</div>
