<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Work) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_patron_work_path(@patron) -%></li>
      <li><%= link_to ('Expressions'), patron_expressions_path(@patron) -%></li>
      <li><%= link_to ('Manifestations'), patron_manifestations_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1>
    <%= link_to h(@patron.full_name), @patron -%>
  </h1>

<%- form_for :works, :url => patron_works_path(@patron), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
    <%- if_authorized?(:destroy, @patron) do -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), patron_works_path(@patron) -%>
   </p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  <%- for work in @works -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(work.original_title), work -%>
        <br />
        <%= patrons_list(work.patrons) -%>
      </td>
      <td><%=h work.context -%></td>
      <td>
        <%- if_authorized?(:destroy, work) do -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_patron_create_path(@patron, :work_id => work.id) -%>
          <%- else -%>
            <%- create = @patron.creates.find_by_work_id(work.id) -%>
            <%= link_to t('page.destroy'), patron_create_path(@patron, create), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
