<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.patron')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@patron.full_name), @patron -%>
  </h2>

  <%- form_for :works, :url => patron_works_path(@patron), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%- if @patron.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), patron_works_path(@patron) -%>
    </p>
    <%= javascript_tag("$('search_form_top').focus()") -%>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(work.original_title), work -%>
        <br />
        <%= raw patrons_list(work.patrons, current_user) -%>
      </td>
      <td><%= work.context -%></td>
      <td>
        <%- if work.is_deletable_by(current_user) -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_patron_create_path(@patron, :work_id => work.id) -%>
          <%- else -%>
            <%= link_to t('page.destroy'), patron_create_path(@patron, @patron.created(work)), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if Work.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_patron_work_path(@patron) -%></li>
      <li><%= link_to t('activerecord.models.expression'), patron_expressions_path(@patron) -%></li>
      <li><%= link_to t('activerecord.models.manifestation'), patron_manifestations_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>
