<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work')) -%></h1>
<div id="content_list">

<%= form_for :works, :url => work_merge_list_works_path(@work_merge_list), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @work_merge_list -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), work_merge_list_works_path(@work_merge_list) -%>
  </p>
<%- end -%>

  <table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
  </tr>
  
<%- @works.each do |work| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to work.original_title, work_merge_list_work_path(@work_merge_list, work) -%>
      <br />
      <%= raw patrons_list(work.patrons, current_user) -%>
    </td>
    <td><%= work.context -%></td>
    <td>
      <%- if can? :destroy, work -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_work_merge_list_work_merge_path(@work_merge_list, :work_id => work.id) unless @work_merge_list.works.include?(work) -%>
        <%- else -%>
          <%- work_merge = @work_merge_list.work_merges.find_by_work_id(work) -%>
          <%= link_to t('page.destroy'), work_merge_list_work_merge_path(@work_merge_list, work_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@works) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work_merge_list')), @work_merge_list -%></li>
  </ul>
</div>
