<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subscription')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@subscription.full_name), @subscription -%>
  </h2>

<%- form_for :works, :url => subscription_works_path(@subscription), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :class => 'search_form' -%>
    <%- if @subscription.is_deletable_by(current_user) -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), subscription_works_path(@subscription) -%>
  </p>
  <%= javascript_tag("$('query').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(work.original_title), work -%>
        <%= raw patrons_list(work.patrons, current_user) -%>
      </td>
      <td><%= work.context -%></td>
      <td>
        <%- if work.is_deletable_by(current_user) -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_subscription_subscribe_path(@subscription, :work_id => work.id) -%>
          <%- else -%>
            <%= link_to t('page.destroy'), subscription_subscribe_path(@subscription, @subscription.subscribed(work)), :confirm => t('page.are_you_sure'), :method => :delete -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if Work.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_subscription_work_path(@subscription) -%></li>
      <li><%= link_to t('activerecord.models.expression'), subscription_expressions_path(@subscription) -%></li>
      <li><%= link_to t('activerecord.models.manifestation'), subscription_manifestations_path(@subscription) -%></li>
    <%- end -%>
  </ul>
</div>
