<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [W]
    <%= link_to @work.original_title, @work -%>
  </h2>
  <%= form_for :works, :url => work_works_path(@work), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @work -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
   </p>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.work.context') -%></th>
    <th></th>
  </tr>
  
  <%- @works.each do |work| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to work.original_title, work -%>
        <br />
        <%= patrons_list(work.patrons) -%>
      </td>
      <td><%= work.context -%></td>
      <%- if can? :update, work -%>
        <td>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_work_work_relationship_path(@work, :child_id => work.id) unless @work.derived_works.include?(work) or @work == work -%>
          <%- else -%>
            <%- work_relationship = @work.childs.find_by_child_id(work.id) -%>
            <%= link_to t('page.destroy'), work_relationship, :confirm => t('page.are_you_sure'), :method => :delete if work_relationship -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@works) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Work -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%></li>
    <%- end -%>
  </ul>
</div>
