      <li title="active" class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
      <%- if @work.derived_works.first or @work.original_works.first -%>
        <li><a href="#work"><em><%= t('page.related') -%></em></a></li>
      <%- end -%>
      <%- if @work.patrons.first -%>
        <li><a href="#patron"><em><%= t('page.author') -%></em></a></li>
      <%- end -%>
      <%- if @work.expressions.first -%>
        <li><a href="#expression"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- end -%>
      <%- if @work.manifestations.first -%>
        <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%></em></a></li>
      <%- end -%>
