      <li title="active" class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
      <%- unless @work.derived_works.empty? and @work.original_works.empty? -%>
        <li><a href="#work"><em><%= t('page.related') -%></em></a></li>
      <%- end -%>
      <%- unless @work.patrons.empty? -%>
        <li><a href="#patron"><em><%= t('page.author') -%></em></a></li>
      <%- end -%>
      <!--
      <%- #unless @work.expressions.empty? -%>
        <li><a href="#expression"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- #end -%>
      -->
      <%- if @work.manifestations.first -%>
        <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%></em></a></li>
      <%- end -%>
