  <h2 class="resource_title">
    [W]
    <%= @work.original_title -%>
  </h2>

  <p>(<%= l(@work.versions.find(@version).created_at) -%>)</p>

  <p>
    <%= patrons_list(@work.patrons) -%>
  </p>

  <div id="tabs">
    <ul>
      <%= render 'show_menu' %>
      <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
    </ul>
    <%= render 'show_content' -%>
    <%= render 'history_list' -%>
  </div>
  <%= render 'page/tabview' -%>
