<div id="work">
  <ul>
    <%- @work.parents.each do |work_relationship| -%>
      <li>
        [W]
        (<%= work_relationship.work_relationship_type.display_name.localize -%>)
        <%= link_to work_relationship.parent.original_title, work_relationship.parent -%>
        <%= patrons_list(work_relationship.parent.patrons) -%>
        <%- unless work_relationship.parent.expressions.blank? -%>
          <ul>
            <%- work_relationship.parent.expressions.each do |expression| -%>
              <li>
              [E]
              <%= link_to expression.original_title, expression -%>
              <%= patrons_list(expression.creators) -%>
              <%= patrons_list(expression.patrons) -%>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
    <%- @work.children.each do |work_relationship| -%>
      <li>
        [W]
        (<%= work_relationship.work_relationship_type.display_name.localize -%>)
        <%= link_to work_relationship.child.original_title, work_relationship.child -%>
        <%= patrons_list(work_relationship.child.patrons) -%>
        <%- unless work_relationship.child.expressions.blank? -%>
          <ul>
            <%- work_relationship.child.expressions.each do |expression| -%>
              <li>
              [E]
              <%= link_to expression.original_title, expression -%>
              <%= patrons_list(expression.patrons) -%>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
</div>
