<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.work')) -%></h1>
<div id="content_list">

<%= form_for(@work) do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} -%>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @work -%></li>
    <li><%= link_to t('page.back'), works_path -%></li>
  </ul>
</div>
