<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), work_path(@work) -%></li>
    <li><%= link_to t('page.back'), works_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.editing', :model => t('activerecord.models.work')) -%></h1>

<%= error_messages_for :work -%>

<%- form_for(:work, :url => work_path(@work), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :original_title, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.work.title_transcription') -%></b><br />
    <%= f.text_field :title_transcription, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.work.context') -%></b><br />
    <%= f.text_area :context, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
