<%- if @patron -%>
  <%= render :partial => 'new_patron' -%>
<%- else -%>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), works_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.work')) -%></h1>
<div id="content_list">

<%= error_messages_for :work -%>

<%- form_for(@work) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :original_title, :class => 'resource_title' -%>
  </p>
  
  <p>
    <b><%= t('activerecord.attributes.work.title_transcription') -%></b><br />
    <%= f.text_field :title_transcription, :class => 'resource_title' -%>
  </p>
  
  <p>
    <b><%= t('activerecord.attributes.work.title_alternative') -%></b><br />
    <%= f.text_field :title_alternative, :class => 'resource_title' -%>
  </p>
  
  <p>
    <b><%= t('activerecord.attributes.work.context') -%></b><br />
    <%= f.text_area :context, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.models.form_of_work') -%></b><br />
    <%= f.select(:form_of_work_id, @form_of_works.collect{|w| [w.display_name.localize, w.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.work.parent_of_series') -%></b>
    <%= f.check_box :parent_of_series -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

<%- end -%>
</div>
</div>
