<div id="sidebar">  
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), works_path -%></li>
    <li><%= link_to t('page.add_derivation'), work_works_path(@work) -%></li>
    <%- if @work.is_deletable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%></li>
        <!--
          <li><%= link_to ('Add a child'), works_path(:parent_id => @work.id) -%></li>
        -->
      <li><%= link_to t('page.edit'), edit_work_path(@work) -%></li>
      <li><%= link_to t('page.destroy'), @work, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), work_patrons_path(@work) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), work_expressions_path(@work) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), work_subjects_path(@work) -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work')) -%></h1>
<div class="inner">

  <%-
    cache(:id => @work.id, :action => :show, :controller => :works, :editable => @work.is_updatable_by(current_user), :locale => @locale) do
  -%>
  <h2 id="resource_title">
    [W]
    <%=h @work.original_title -%>
  </h2>

  <p>
    <%= patrons_list(@work.patrons) -%>
  </p>
<div id="tabview">

  <div id="demo" class="yui-navset yui-navset-top">
    <ul class="yui-nav">
      <li title="active" class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
      <%- unless @work.patrons.empty? -%>
        <li><a href="#patron"><em><%= t('page.author') -%></em></a></li>
      <%- end -%>
      <%- unless @work.children.blank? -%>
        <li><a href="#work"><em><%= t('activerecord.models.work') -%></em></a></li>
      <%- end -%>
      <%- unless @work.expressions.empty? -%>
        <li><a href="#expression"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- end -%>
      <%- unless @work.manifestations.empty? -%>
        <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%></em></a></li>
      <%- end -%>
    </ul>
    <div class="yui-content">
      <div id="detail">
        <table class="index">
          <tr>
            <td style="width: 200px"><b><%= t('activerecord.attributes.work.title_transcription') -%>:</b></td>
            <td>
              <%=h @work.title_transcription -%>
            </td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.work.context') -%>:</b></td>
            <td>
              <%=h @work.context -%>
            </td>
          </tr>
          <tr>
            <td><b><%= t('page.created_at') -%>:</b></td>
            <td><%= l(@work.created_at) -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.updated_at') -%>:</b></td>
            <td><%= l(@work.updated_at) -%></td>
          </tr>
        </table>
        <%= render :partial => 'works/show_subject_list' -%>
      </div>
      <%- unless @work.patrons.empty? -%>
        <%= render :partial => 'works/patron_list' -%>
      <%- end -%>
      <%- unless @work.children.blank? -%>
      <div id="work">
        <%- if @work.parent -%>
          <h3><%= ('Parent') -%></h3>
          <ul>
            <li><%= link_to h(@work.parent.title), work_path(@work.parent) -%>
          </ul>
        <%- end -%>
        <%- unless @work.children.blank? -%>
          <h3><%= ('Children') -%></h3>
          <ul>
            <%- @work.children.each do |work| -%>
              <li><%= link_to h(work.original_title), work -%>
              <%= patrons_list(work.patrons) -%></li>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </div>
      <%- end -%>
      <%- unless @work.expressions.empty? -%>
        <%= render :partial => 'works/expression_list' -%>
      <%- end -%>
      <%- unless @work.manifestations.empty? -%>
        <%= render :partial => 'works/expression_list' -%>
      <%- end -%>
    </div>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>
<%- end -%>
</div>
</div>
