<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work')) -%></h1>
  <div id="content_list">
  <% if @version %>
    <%= render 'show_version' %>
  <% else %>
    <h2 class="resource_title">
      [W]
      <%= @work.original_title -%>
    </h2>

    <p>
      <%= patrons_list(@work.patrons) -%>
    </p>
    <div id="tabs">
      <ul>
        <%= render :partial => 'show_menu' -%>
        <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
      </ul>
      <%= render :partial => 'show_content' -%>
      <%= render :partial => 'history_list' -%>
    </div>
    <%= render :partial => 'page/tabview' -%>
    <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">  
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), works_path -%></li>
    <li><%= link_to t('page.add_derivation'), work_works_path(@work) -%></li>
    <%- if can? :destroy, @work -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%></li>
      <li><%= link_to t('page.edit'), edit_work_path(@work) -%></li>
      <li><%= link_to t('page.destroy'), @work, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- end -%>
  </ul>
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), work_patrons_path(@work) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), work_expressions_path(@work) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), work_subjects_path(@work) -%></li>
  </ul>
</div>
