<div id="submenu">  

<div>
  <%- if_authorized?(:destroy, @work) do -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.work')), new_work_path -%>
        <!--
        <ul>
          <li><%= link_to ('Add a child'), works_path(:parent_id => @work.id) -%></li>
        </ul>
        -->
     </li>
      <li><%= link_to t('page.edit'), edit_work_path(@work) -%></li>
      <li><%= link_to t('page.back'), works_path -%></li>
      <li><%= link_to t('page.destroy'), @work, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    </ul>
  <%- end -%>
      <ul>
        <li><%= link_to ('Add an author'), work_patrons_path(@work) -%></li>
      </ul>
      <ul>
        <li><%= link_to t('expression.add'), work_expressions_path(@work) -%></li>
      </ul>
</div>

</div>

<div id="content_detail">

  <%- cache(:id => @work.id) do -%>
  <h1 id="resource_title">
    [W]
    <%=h @work.original_title -%>
  </h1>

  <div>
    <%= patrons_list(@work.patrons) -%>
  </div>
<div id="tabview">

  <div id="demo" class="yui-navset yui-navset-top">
    <ul class="yui-nav">
      <li title="active" class="selected"><a href="#tab1"><em><%= t('page.detail') -%></em></a></li>
      <li><a href="#tab2"><em><%= t('page.author') -%></em></a></li>
      <%- unless @work.children.blank? -%>
        <li><a href="#tab3"><em><%= t('activerecord.models.work') -%></em></a></li>
      <%- end -%>
      <%- unless @work.expressions.blank? -%>
        <li><a href="#tab4"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- end -%>
      <li><a href="#tab5"><em><%= t('page.related_manifestation') -%></em></a></li>
    </ul>
    <div class="yui-content">
      <div id="tab1">
        <table id="index">
          <tr>
            <td><b><%= t('activerecord.attributes.work.title_transcription') -%>:</b></td>
            <td><%=h @work.title_transcription -%></td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.work.context') -%>:</b></td>
            <td><%=h @work.context -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.created_at') -%>:</b></td>
            <td><%=h @work.created_at -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.updated_at') -%>:</b></td>
            <td><%=h @work.updated_at -%></td>
          </tr>
        </table>
      </div>
      <div id="tab2">
        <ul>
          <%- @work.patrons.each do |patron| -%>
            <li>
              [P]
              <%= link_to h(patron.full_name), patron -%>
              (<%= link_to ('Wikipedia'), "http://ja.wikipedia.org/wiki/" + CGI.escape(h(patron.full_name_without_space)) -%>)
            </li>
          <%- end -%>
        </ul>
      </div>
      <%- unless @work.children.blank? -%>
      <div id="tab3">
        <%- if @work.parent -%>
          <h3><%= ('Parent') -%></h3>
          <ul>
            <li><%= link_to h(@work.parent.title), work_path(@work.parent) -%>
          </ul>
        <%- end -%>
        <%- unless @work.children.blank? -%>
          <h3><%= ('Children') -%></h3>
          <ul>
            <%- @work.children.each do |work| -%>
              <li><%= link_to h(work.original_title), work -%>
              <%= patrons_list(work.patrons) -%></li>
              </li>
            <%- end -%>
          </ul>
        <%- end -%>
      </div>
      <%- end -%>
      <%- unless @work.expressions.blank? -%>
      <div id="tab4">
        <ul>
          <%- @work.expressions.each do |expression| -%>
            <li>
              [E]
              <%= link_to h(expression.original_title), expression -%>
              <%= expression_form_icon(expression.expression_form) -%>
              <%= patrons_list(expression.patrons) -%>
              <%= patrons_list(expression.work.patrons) -%>
              <%- unless expression.manifestations.blank? -%>
                <ul>
                  <%- expression.manifestations.each do |manifestation| -%>
                    <li>
                    [M]
                    <%= link_to h(manifestation.original_title), manifestation -%>
                    <%= form_icon(manifestation.manifestation_form) -%>
                    <%- manifestation.expressions.each do |expression| -%>
                      <%= expression_form_icon(expression.expression_form) -%>
                    <%- end -%>
                    <%= patrons_list(manifestation.authors) -%> 
                    <%= patrons_list(manifestation.editors) -%>
                    <%= patrons_list(manifestation.publishers) -%>
                    <%- if manifestation.date_of_publication -%>
                      (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                    <%- end -%>
                    </li>
                  <%- end -%>
                </ul>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
      <div id="tab5">
        <ul>
          <%- @work.manifestations.each do |manifestation| -%>
            <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation -%>
              <%= form_icon(manifestation.manifestation_form) -%>
              <%- manifestation.expressions.each do |expression| -%>
                <%= expression_form_icon(expression.expression_form) -%>
              <%- end -%>
              <%= patrons_list(manifestation.authors) -%> 
              <%= patrons_list(manifestation.editors) -%>
              <%= patrons_list(manifestation.publishers) -%>
              <%- if manifestation.date_of_publication -%>
                (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
              <%- unless manifestation.works.blank? -%>
                <ul>
                  <%- manifestation.works.each do |work| -%>
                    <%- unless work.expressions.first.serial? -%>
                      <li>
                      [W]
                      <%= image_tag('/icons/bullet_go.png', :size => '16x16', :alt => ('Work that contains this manifestation')) if work == @work -%>
                      <%= link_to h(work.original_title), work -%>
                      <%= patrons_list(work.patrons) -%>
                      </li>
                    <%- end -%>
                  <%- end -%>
                </ul>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>
<%- end -%>
</div>
