<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @message_template -%></li>
    <li><%= link_to t('page.back'), message_templates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.editing', :model => t('activerecord.models.message_template')) -%></h1>

<%= error_messages_for :message_template -%>

<%- form_for(@message_template) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.message_template.status') -%></b><br />
    <%= f.text_field :status, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.message_template.title') -%></b><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.message_template.body') -%></b><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
