<h1><%= t('message_template.listing') -%></h1>

<table style="width:100%">
  <tr>
    <th><%= t('activerecord.attributes.message_template.status') -%></th>
    <th><%= t('activerecord.attributes.message_template.title') -%></th>
  </tr>

<%- for message_template in @message_templates -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(message_template.status), message_template -%></td>
    <td><%=h message_template.title -%></td>
    <%- if_authorized?(:desroy, message_template) do -%>
      <td><%= link_to t('page.edit'), edit_message_template_path(message_template) -%></td>
      <td><%= link_to t('page.destroy'), message_template, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= message_template.first? ? '' : link_to('▲', {:action => 'update', :position  => (message_template.position  > 1 ? message_template.position - 1 : 1), :id => message_template.id}, :method => :put) -%></td>
      <td><%= message_template.last? ? '' : link_to('▼', {:action => 'update', :position => (message_template.position + 1), :id => message_template.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to t('message_template.new'), new_message_template_path -%>
