<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_message_template_path(@message_template) -%></li>
    <li><%= link_to t('page.back'), message_templates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.message_template.status') -%>:</b>
  <%=h @message_template.status -%>
</p>

<p>
  <b><%= t('activerecord.attributes.message_template.title') -%>:</b>
  <%=h @message_template.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.message_template.body') -%>:</b><br />
  <%= h(@message_template.body).gsub("\n", '<br />') -%>
</p>
</div>
</div>
