<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.item_has_item')) -%></h1>

<% form_for(@item_has_item) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :from_item_id -%><br />
    <%= f.text_field :from_item_id -%>
  </p>
  <p>
    <%= f.label :to_item_id -%><br />
    <%= f.text_field :to_item_id -%>
  </p>
  <p>
    <%= f.label :type -%><br />
    <%= f.text_field :type -%>
  </p>
  <p>
    <%= f.label :position -%><br />
    <%= f.text_field :position -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<% end -%>

<%= link_to t('page.show'), @item_has_item -%> |
<%= link_to t('page.back'), item_has_items_path -%>
