<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.item_has_item')) -%></h1>
<div id="content_list">

<%- form_for(@item_has_item) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.item_has_item.from_item') -%><br />
    <%= f.text_field :from_item_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.item_has_item.to_item') -%><br />
    <%= f.text_field :to_item_id -%>
  </p>
  <p>
    <%= f.select(:item_relationship_type_id, @item_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @item_has_item -%></li>
    <li><%= link_to t('page.back'), item_has_items_path -%></li>
  </ul>
</div>
