<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item_has_item')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.item_has_item.from_item') -%></th>
    <th><%= t('activerecord.attributes.item_has_item.to_item') -%></th>
    <th><%= t('activerecord.models.item_relationship_type') -%></th>
  </tr>

<%- @item_has_items.each do |item_has_item| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(item_has_item.from_item.manifestation.original_title), item_has_item.from_item -%></td>
    <td><%= link_to h(item_has_item.to_item.manifestation.original_title), item_has_item.to_item -%></td>
    <td><%= item_has_item.item_relationship_type.display_name.localize -%></td>
    <td><%= link_to t('page.show'), item_has_item -%></td>
    <td><%= link_to t('page.edit'), edit_item_has_item_path(item_has_item) -%></td>
    <td><%= link_to t('page.destroy'), item_has_item, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@item_has_items) -%>
<br />

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.item_has_item')), new_item_has_item_path -%></li>
  </ul>
</div>
