<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.item_has_item')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.item_has_item.from_item') -%>:</b>
  <%= link_to h(@item_has_item.from_item.manifestation.original_title), @item_has_item.from_item -%>
</p>

<p>
  <b><%= t('activerecord.attributes.item_has_item.to_item') -%>:</b>
  <%= link_to h(@item_has_item.to_item.manifestation.original_title), @item_has_item.to_item -%>
</p>

<p>
  <b>Item Relationship type:</b>
  <%=h @item_has_item.type -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_item_has_item_path(@item_has_item) -%></li>
    <li><%= link_to t('page.back'), item_has_items_path -%></li>
  </ul>
</div>
