<div id="content_detail">
<div id="content_list">
<p>
  <b>From item:</b>
  <%= link_to h(@item_has_item.from_item.manifestation.original_title), @item_has_item.from_item -%>
</p>

<p>
  <b>To item:</b>
  <%= link_to h(@item_has_item.to_item.manifestation.original_title), @item_has_item.to_item -%>
</p>

<p>
  <b>Expression Relationship type:</b>
  <%=h @item_has_item.type -%>
</p>

<p>
  <b>Position:</b>
  <%=h @item_has_item.position -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_item_has_item_path(@item_has_item) -%></li>
    <li><%= link_to t('page.back'), item_has_items_path -%></li>
  </ul>
</div>
