<div id="submenu">
  <ul>
    <li><%= link_to ('Back to merge list'), @family_merge_list -%>
  </ul>
</div>

<div id="content_detail">
<p>Patron(s) for <%= link_to h(@family_merge_list.title), family_merge_list_path(@family_merge_list) -%></p>

<%- form_for :families, :url => family_merge_list_families_path(@family_merge_list), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
  <%- if_authorized?(:destroy, @family_merge_list) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), family_merge_list_families_path(@family_merge_list) -%>
</p>
<%- end -%>

  <table id="index">
  <tr>
    <th><%= ('Patron name') -%></th>
    <th><%= t('activerecord.models.family_type') -%></th>
    <th><%= t('activerecord.attributes.family.other_designation') -%></th>
    <th><%= ('Place') -%></th>
    <th><%= t('activerecord.attributes.family.date_of_birth') -%></th>
    <th><%= t('activerecord.attributes.family.date_of_death') -%></th>
  </tr>
  
<%- @families.each do |family| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(family.full_name), family_merge_list_family_path(@family_merge_list, family) -%></td>
    <td><%=h family.family_type.display_name -%></td>
    <td><%=h family.other_designation -%></td>
    <td><%=h family.place -%></td>
    <td><%=h family.date_of_birth -%></td>
    <td><%=h family.date_of_death -%></td>
    <td>
      <%- if_authorized?(:destroy, family) do -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_family_merge_list_family_merge_path(@family_merge_list, :family_id => family.id) unless @family_merge_list.families.include?(family) -%>
        <%- else -%>
          <%- family_merge = @family_merge_list.family_merges.find_by_family_id(family) -%>
          <%= link_to t('page.destroy'), family_merge_list_family_merge_path(@family_merge_list, family_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@families, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
