<div id="submenu">
  <%- if_authorized?(:destroy, @family) do -%>
    <ul>
      <%- if @family.user.blank? -%>
        <li><%= link_to ('Activate as an user'), new_user_path(:family_id => @family.id) -%></li>
      <%- else -%>
        <li><%= link_to ('Deactivate this user'), edit_user_path(@family.user.login) -%></li>
      <%- end -%>
      <li><%= link_to ('Add a picture'), new_family_attachment_file_path(@family) -%></li>
      <li><%= link_to t('page.edit'), edit_family_path(@family) -%></li>
      <li><%= link_to t('page.back'), back_to_family_index -%></li>
      <li><%= link_to t('page.new', :model => t('activerecord.models.family')), new_family_path -%></li>
      <li><%= link_to t('page.destroy'), family_path(@family), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    </ul>
  <%- end -%>
    <ul>
      <li><%= link_to ('Add a work'), family_works_path(@family) -%></li>
    </ul>
    <ul>
      <li><%= link_to ('Add an expression'), family_expressions_path(@family) -%></li>
    </ul>
    <ul>
      <li><%= link_to ('Add a manifestation'), family_manifestations_path(@family) -%></li>
    </ul>
</div>

<div id="content_detail">

  <%- cache(:id => @family.id) do -%>
  <h1 id="resource_title">
    [P]
    <%=h @family.full_name -%>
  </h1>

<p>(<%= link_to ('Wikipedia'), "http://ja.wikipedia.org/wiki/" + CGI.escape(h(@family.full_name_without_space)) -%>)</p>

<div id="tabview">

  <div id="demo" class="yui-navset yui-navset-top">
    <ul class="yui-nav">
      <li title="active" class="selected"><a href="#tab1"><em><%= t('page.detail') -%></em></a></li>
      <%- unless @family.works.blank? -%>
        <li><a href="#tab2"><em><%= t('activerecord.models.work') -%></em></a></li>
      <%- end -%>
      <%- unless @family.expressions.blank? -%>
        <li><a href="#tab3"><em><%= t('activerecord.models.expression') -%></em></a></li>
      <%- end -%>
      <%- unless @involved_manifestations.blank? -%>
        <li><a href="#tab4"><em><%= t('activerecord.models.manifestation') -%></em></a></li>
      <%- end -%>
      <%- unless @family.manifestations.blank? -%>
        <li><a href="#tab5"><em><%= ('Publication') -%></em></a></li>
      <%- end -%>
    </ul>
    <div class="yui-content">
      <div id="tab1">
        <table id="index">
          <tr>
            <td><b><%= ('Patron name') -%>:</b></td>
            <td><%=h @family.full_name -%></td>
          </tr>
          <tr>
            <td><b><%= ('Patron name transcription') -%>:</b></td>
            <td><%=h @family.full_name_transcription -%></td>
          </tr>
          <%- if @family.user -%>
            <tr>
              <td><b><%= ('User name') -%>:</b></td>
              <td><%= link_to h(@family.user.login), edit_user_path(@family.user.login) -%></td>
            </tr>
          <%- end -%>
          <tr>
            <td><b><%= t('activerecord.attributes.family.other_designation') -%>:</b></td>
            <td><%=h @family.other_designation -%></td>
          </tr>
          <tr>
            <td><b><%= t('activerecord.attributes.family.place') -%>:</b></td>
            <td><%=h @family.place -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.language') -%>:</b></td>
            <td><%=h @family.language.display_name -%></td>
          </tr>
          <%- if_authorized?(:destroy, @family) do -%>
            <tr>
              <td><b><%= t('activerecord.attributes.family.zip_code_1') -%>:</b></td>
              <td><%=h @family.zip_code_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.address_1') -%>:</b></td>
              <td><%=h @family.address_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.telephone_number_1') -%>:</b></td>
              <td><%=h @family.telephone_number_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.fax_number_1') -%>:</b></td>
              <td><%=h @family.fax_number_1 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.address_1_note') -%>:</b></td>
              <td><%=h @family.address_1_note -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.zip_code_2') -%>:</b></td>
              <td><%=h @family.zip_code_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.address_2') -%>:</b></td>
              <td><%=h @family.address_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.telephone_number_2') -%>:</b></td>
              <td><%=h @family.telephone_number_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.fax_number_2') -%>:</b></td>
              <td><%=h @family.fax_number_2 -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.address_2_note') -%>:</b></td>
              <td><%=h @family.address_2_note -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.date_of_birth') -%>:</b></td>
              <td><%=h @family.date_of_birth -%></td>
            </tr>
            <tr>
              <td><b><%= t('activerecord.attributes.family.date_of_death') -%>:</b></td>
              <td><%=h @family.date_of_death -%></td>
            </tr>
          <%- end -%>
          <tr>
            <td><b><%= t('activerecord.attributes.family.note') -%>:</b></td>
            <td><%=h @family.note -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.created_at') -%>:</b></td>
            <td><%=h @family.created_at -%></td>
          </tr>
          <tr>
            <td><b><%= t('page.updated_at') -%>:</b></td>
            <td><%=h @family.updated_at -%></td>
          </tr>
        </table>
      </div>
      <%- unless @family.works.blank? -%>
        <div id="tab2">
          <ul>
            <%- @family.works.each do |work| -%>
              <li>
                [W]
                <%= link_to h(work.original_title), work_path(work) -%>
                <%= families_list(work.families) -%>
                <%- unless work.manifestations.blank? -%>
                  <ul>
                    <%- work.manifestations.each do |manifestation| -%>
                      <li>
                      [M]
                      <%= link_to h(manifestation.original_title), manifestation_path(manifestation) -%>
                      <%= form_icon(manifestation.manifestation_form) -%>
                      <%- manifestation.expressions.each do |expression| -%>
                        <%= expression_form_icon(expression.expression_form) -%>
                      <%- end -%>
                      <%= families_list(manifestation.authors) -%>
                      <%= families_list(manifestation.families) -%>
                      <%- if manifestation.date_of_publication -%>
                        (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                      <%- end -%>
                      </li>
                    <%- end -%>
                  </ul>
                <%- end -%>
              </li>
            <%- end -%>
          </ul>
        </div>
    <%- end -%>
    <%- unless @family.expressions.blank? -%>
      <div id="tab3">
        <ul>
          <%- @family.expressions.each do |expression| -%>
            <li>
            [E]
            <%= link_to h(expression.original_title), expression_path(expression) -%>
            <%= expression_form_icon(expression.expression_form) -%>
            <%= families_list(expression.work.families) -%>
            <%= families_list(expression.families) -%>
              <ul>
                <%- expression.manifestations.each do |manifestation| -%>
                  <li>
                  [M]
                  <%= link_to h(manifestation.original_title), manifestation_path(manifestation) -%>
                  <%= form_icon(manifestation.manifestation_form) -%>
                  <%- manifestation.expressions.each do |expression| -%>
                    <%= expression_form_icon(expression.expression_form) -%>
                  <%- end -%>
                  <%= families_list(manifestation.authors) -%>
                  <%= families_list(manifestation.families) -%>
                  <%- if manifestation.date_of_publication -%>
                    (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                  <%- end -%>
                  </li>
                <%- end -%>
              </ul>
            </li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <%- unless @involved_manifestations.blank? -%>
      <div id="tab4">
        <ul>
          <%- @involved_manifestations.each do |manifestation| -%>
            <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation_path(manifestation) -%>
              <%= form_icon(manifestation.manifestation_form) -%>
              <%- manifestation.expressions.each do |expression| -%>
                <%= expression_form_icon(expression.expression_form) -%>
              <%- end -%>
              <%= families_list(manifestation.authors) -%>
              <%= families_list(manifestation.families) -%>
              <%- if manifestation.date_of_publication -%>
                (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
              <%- unless manifestation.works.blank? -%>
                <ul>
                  <%- manifestation.works.each do |work| -%>
                    <%- if work.families.include?(@family) -%>
                      <li>
                      [W]
                      <%= link_to h(work.original_title), work_path(work) -%>
                      <%= families_list(work.families) -%>
                      </li>
                    <%- end -%>
                  <%- end -%>
                  <%- manifestation.expressions.each do |expression| -%>
                    <%- if expression.families.include?(@family) -%>
                      <li>
                      [E]
                      <%= link_to h(expression.original_title), expression_path(expression) -%>
                      <%= expression_form_icon(expression.expression_form) -%>
                      <%= families_list(expression.work.families) -%>
                      <%= families_list(expression.families) -%>
                      </li>
                    <%- end -%>
                  <%- end -%>
                </ul>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <%- unless @publications.blank? -%>
      <div id="tab5">
        <h3><%= ('Recent publications') -%></h3>
        <ul>
          <%- @publications.each do |manifestation| -%>
            <li>
              [M]
              <%= link_to h(manifestation.original_title), manifestation_path(manifestation) -%>
              <%= form_icon(manifestation.manifestation_form) -%>
              <%= families_list(manifestation.authors) -%>
              <%= families_list(manifestation.families) -%>
              <%- if manifestation.date_of_publication -%>
                (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
        <p><%= link_to ('All publications'), manifestations_path(:publisher => @family.full_name) -%></p>
      </div>
    <%- end -%>
    </div>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>
<%- end -%>
</div>
