<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_work_relationship_type_path(@work_relationship_type) -%></li>
    <li><%= link_to t('page.back'), work_relationship_types_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_relationship_type')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.attributes.work_relationship_type.name') -%>:</b>
  <%=h @work_relationship_type.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work_relationship_type.display_name') -%>:</b>
  <%=h @work_relationship_type.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work_relationship_type.note') -%>:</b>
  <%=h @work_relationship_type.note -%>
</p>

</div>
</div>
