<div id="submenu">
  <ul>
    <%- if @expression_merge_list -%>
      <li><%= link_to ('Add an expression'), expression_merge_list_expressions_path(@expression_merge_list) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing expression_merges') -%></h1>

<%- if @expression_merge_list -%>
  <p><%= ('Expressions in %{expression_merge_list}') -%></p>
<%- end -%>

<table style="width: 100%">
  <tr>
    <td><%= t('page.expression') -%></td>
    <td><%= ('Expression merge list') -%></td>
  </tr>

<%- for expression_merge in @expression_merges -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(expression_merge.expression.original_title), expression_path(expression_merge.expression) -%></td>
    <td><%= link_to h(expression_merge.expression_merge_list.title), expression_merge_list_path(expression_merge.expression_merge_list) -%></td>
    <td><%= link_to t('page.show'), expression_merge -%></td>
    <td><%= link_to t('page.edit'), edit_expression_merge_path(expression_merge) -%></td>
    <td><%= link_to t('page.destroy'), expression_merge, :confirm => ('Are you sure?'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
