<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_merge')) -%></h1>
<div id="content_list">

<%= form_for(@expression_merge) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.expression') -%><br />
    <%- if @expression -%>
      <%= link_to @expression.original_title, expression_path(@expression) -%>
      <%= f.hidden_field :expression_id -%>
    <%- else -%>
      <%= f.text_field :expression_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.expression_merge_list') -%><br />
    <%- if @expression_merge_list -%>
      <%= link_to @expression_merge_list.title, expression_merge_list_path(@expression_merge_list) -%>
      <%= f.hidden_field :expression_merge_list_id, :value => @expression_merge_list.id -%>
    <%- else -%>
      <%= f.text_field :expression_merge_list_id, :value => params[:expression_merge_list_id] -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), expression_merges_path -%></li>
  </ul>
</div>
