<div id="submenu">
  <ul>
    <li><%= link_to t('page.add', :model => t('activerecord.models.expression')), expression_merge_list_expressions_path(@expression_merge.expression_merge_list_id) -%></li>
    <li><%= link_to t('page.edit'), edit_expression_merge_path(@expression_merge) -%></li>
    <li><%= link_to t('page.back'), expression_merges_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.expression_merge')) -%></h1>
<div id="content_list">
<p>
<b><%= t('activerecord.models.expression') -%>:</b>
<%= link_to h(@expression_merge.expression.original_title), expression_path(@expression_merge.expression) -%>
</p>

<p>
<b><%= t('activerecord.models.expression_merge_list') -%>:</b>
<%= link_to h(@expression_merge.expression_merge_list.title), expression_merge_list_path(@expression_merge.expression_merge_list_id) -%>
</p>

</div>
</div>
