<h1>Listing bookmark_stats</h1>

<table id="index">
  <tr>
    <th>From date</th>
    <th>To date</th>
    <th>Note</th>
  </tr>

<% for bookmark_stat in @bookmark_stats %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h bookmark_stat.from_date %></td>
    <td><%=h bookmark_stat.to_date %></td>
    <td><%=h bookmark_stat.note %></td>
    <td><%= link_to 'Show', bookmark_stat %></td>
    <td><%= link_to 'Edit', edit_bookmark_stat_path(bookmark_stat) %></td>
    <td><%= link_to 'Destroy', bookmark_stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bookmark_stat', new_bookmark_stat_path %>
