<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @patron_merge -%></li>
    <li><%= link_to t('page.back'), patron_merges_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.patron_merge')) -%></h1>

<%= error_messages_for :patron_merge -%>

<%- form_for(@patron_merge) do |f| -%>

  <p>
    <b><%= t('activerecord.models.patron') -%></b><br />
    <%= f.text_field :patron_id, :value => @patron_merge.patron_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.patron_merge_list') -%></b><br />
    <%= f.text_field :patron_merge_list_id, :value => @patron_merge.patron_merge_list_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
