<div id="submenu">
  <ul>
    <li><%= link_to ('Add a patron'), patron_merge_list_patrons_path(@patron_merge.patron_merge_list_id) -%></li>
    <li><%= link_to t('edit'), edit_patron_merge_path(@patron_merge) -%></li>
    <!--
    <li><%= link_to ('Back'), patron_merges_path -%></li>
    -->
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= ('Patron') -%>:</b>
<%= link_to h(@patron_merge.patron.full_name), patron_path(@patron_merge.patron) -%>
</p>

<p>
<b><%= ('Patron merge list') -%>:</b>
<%= link_to h(@patron_merge.patron_merge_list.title), patron_merge_list_path(@patron_merge.patron_merge_list_id) -%>
</p>

</div>
