<h1><%= ('Listing languages') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= t('page.name') -%></th>
    <th><%= t('page.display_name') -%></th>
    <th><%= ('Native name') -%></th>
    <th><%= ('Iso 639 1') -%></th>
    <th><%= ('Iso 639 2') -%></th>
    <th><%= ('Iso 639 3') -%></th>
  </tr>

<%- for language in @languages -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(language.name), language -%></td>
    <td><%= link_to h(language.display_name), language -%></td>
    <td><%=h language.native_name -%></td>
    <td><%=h language.iso_639_1 -%></td>
    <td><%=h language.iso_639_2 -%></td>
    <td><%=h language.iso_639_3 -%></td>
    <%- if_authorized?(:desroy, language) do -%>
      <td><%= link_to t('page.edit'), edit_language_path(language) -%></td>
      <td><%= language.first? ? '' : link_to('▲', {:action => 'update', :position  => (language.position  > 1 ? language.position - 1 : 1), :id => language.id}, :method => :put) -%></td>
      <td><%= language.last? ? '' : link_to('▼', {:action => 'update', :position => (language.position + 1), :id => language.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= link_to ('New language'), new_language_path -%>
