<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_language_path(@language) -%></li>
    <li><%= link_to t('page.back'), languages_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.language')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.language.native_name') -%>:</b>
  <%=h @language.native_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.language.name') -%>:</b>
  <%=h @language.native_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.language.display_name') -%>:</b>
  <%=h @language.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.language.note') -%>:</b>
  <%=h @language.note -%>
</p>

</div>
</div>
