<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_language_path(@language) -%></li>
    <li><%= link_to t('page.back'), languages_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('page.name') -%>:</b>
  <%=h @language.name -%>
</p>

<p>
<b><%= ('Native name') -%>:</b>
  <%=h @language.native_name -%>
</p>

<p>
<b><%= t('page.display_name') -%>:</b>
  <%=h @language.display_name -%>
</p>

<p>
<b><%= t('page.note') -%>:</b>
  <%=h @language.note -%>
</p>

</div>
