<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.expression_has_expression')) -%></h1>
<div class="inner">

<% form_for(@expression_has_expression) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.expression_has_expression.from_expression') -%><br />
    <%= f.text_field :from_expression_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.expression_has_expression.to_expression') -%><br />
    <%= f.text_field :to_expression_id -%>
  </p>
  <p>
    <%= f.select(:expression_relationship_type_id, @expression_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<% end -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @expression_has_expression -%></li>
    <li><%= link_to t('page.back'), expression_has_expressions_path -%></li>
  </ul>
</div>
