<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression_has_expression')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.expression_has_expression.from_expression') -%></th>
    <th><%= t('activerecord.attributes.expression_has_expression.to_expression') -%></th>
    <th><%= t('activerecord.models.expression_relationship_type') -%></th>
  </tr>

<% for expression_has_expression in @expression_has_expressions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(expression_has_expression.from_expression.original_title), expression_has_expression.from_expression -%></td>
    <td><%= link_to h(expression_has_expression.to_expression.original_title), expression_has_expression.to_expression -%></td>
    <td><%=h expression_has_expression.expression_relationship_type.display_name.localize -%></td>
    <td><%= link_to t('page.show'), expression_has_expression -%></td>
    <td><%= link_to t('page.edit'), edit_expression_has_expression_path(expression_has_expression) -%></td>
    <td><%= link_to t('page.destroy'), expression_has_expression, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@expression_has_expressions) -%>
<br />

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression_has_expression')), new_expression_has_expression_path -%></li>
  </ul>
</div>
