<h1>New expression_has_expression</h1>

<% form_for(@expression_has_expression) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_expression_id %><br />
    <%= f.text_field :from_expression_id %>
  </p>
  <p>
    <%= f.label :to_expression_id %><br />
    <%= f.text_field :to_expression_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', expression_has_expressions_path %>
