<div id="main">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_has_expression')) -%></h1>
<div class="inner">

<% form_for(@expression_has_expression) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.expression_has_expression.from_expression') -%><br />
    <%- if @expression_has_expression.from_expression -%>
      <%= link_to h(@expression_has_expression.from_expression.original_title), @expression_has_expression.from_expression -%>
      <%= f.hidden_field :from_expression_id -%>
    <%- else -%>
      <%= f.text_field :from_expression_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.expression_has_expression.to_expression') -%><br />
    <%- if @expression_has_expression.to_expression -%>
      <%= link_to h(@expression_has_expression.to_expression.original_title), @expression_has_expression.to_expression -%>
      <%= f.hidden_field :to_expression_id -%>
    <%- else -%>
      <%= f.text_field :to_expression_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.select(:expression_relationship_type_id, @expression_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<% end -%>

</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), expression_has_expressions_path -%></li>
  </ul>
</div>
