<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.expression_has_expression')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.expression_has_expression.from_expression') -%>:</b>
  <%= link_to h(@expression_has_expression.from_expression.original_title), @expression_has_expression.from_expression -%>
</p>

<p>
  <b><%= t('activerecord.attributes.expression_has_expression.to_expression') -%>:</b>
  <%= link_to h(@expression_has_expression.to_expression.original_title), @expression_has_expression.to_expression -%>
</p>

<p>
  <b>Expression Relationship type:</b>
  <%=h @expression_has_expression.type -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_expression_has_expression_path(@expression_has_expression) -%></li>
    <li><%= link_to t('page.back'), expression_has_expressions_path -%></li>
  </ul>
</div>
