<p>
  <b>Name:</b>
  <%=h @medium_of_performance.name %>
</p>

<p>
  <b>Display name:</b>
  <%=h @medium_of_performance.display_name %>
</p>

<p>
  <b>Note:</b>
  <%=h @medium_of_performance.note %>
</p>

<p>
  <b>Position:</b>
  <%=h @medium_of_performance.position %>
</p>


<%= link_to 'Edit', edit_medium_of_performance_path(@medium_of_performance) %> |
<%= link_to 'Back', medium_of_performances_path %>