<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), user_purchase_request_path(@purchase_request.user.login, @purchase_request) -%></li>
    <li><%= link_to t('page.back'), user_purchase_requests_path(@purchase_request.user.login, :page => flash[:page] ||= nil) -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.purchase_request')) -%></h1>
<div class="inner">

<%= error_messages_for :purchase_request -%>

<%- form_for(@purchase_request, :url => user_purchase_request_path(@purchase_request.user.login, @purchase_request)) do |f| -%>
  <p>
    <b><%= t('activerecord.models.user') -%></b><br />
    <%= link_to h(@purchase_request.user.login), user_path(@purchase_request.user.login) -%>
    <%= f.hidden_field :user_id -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.title') -%></b><br />
    <%= f.text_area :title, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.author') -%></b><br />
    <%= f.text_area :author, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.publisher') -%></b><br />
    <%= f.text_area :publisher, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.isbn') -%></b><br />
    <%= f.text_field :isbn, :class => 'resource_isbn_issn' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.date_of_publication') -%></b><br />
    <%= f.date_select :date_of_publication, :include_blank => true -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.price') -%></b><br />
    <%= f.text_field :price, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.url') -%></b><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.purchase_request.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>
