<h1>Editing checkout_stat_has_manifestation</h1>

<% form_for(@checkout_stat_has_manifestation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :checkout_stat_id %><br />
    <%= f.text_field :checkout_stat_id %>
  </p>
  <p>
    <%= f.label :manifestation_id %><br />
    <%= f.text_field :manifestation_id %>
  </p>
  <p>
    <%= f.label :checkouts_count %><br />
    <%= f.text_field :checkouts_count %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @checkout_stat_has_manifestation %> |
<%= link_to 'Back', checkout_stat_has_manifestations_path %>
