<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.checkout_stat_has_manifestation')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.models.manifestation_checkout_stat') -%>:</b>
  <%= @checkout_stat_has_manifestation.manifestation_checkout_stat_id -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= @checkout_stat_has_manifestation.manifestation_id -%>
</p>

<p>
  <b>Checkouts count:</b>
  <%= @checkout_stat_has_manifestation.checkouts_count -%>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_checkout_stat_has_manifestation_path(@checkout_stat_has_manifestation) -%></li>
    <li><%= link_to t('page.back'), checkout_stat_has_manifestations_path -%></li>
  </ul>
</div>
