<h1>Listing checkout_stats</h1>

<table id="index">
  <tr>
    <th>From date</th>
    <th>To date</th>
    <th>Note</th>
  </tr>

<% for checkout_stat in @checkout_stats %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h checkout_stat.from_date %></td>
    <td><%=h checkout_stat.to_date %></td>
    <td><%=h checkout_stat.note %></td>
    <td><%= link_to t('page.show'), checkout_stat %></td>
    <td><%= link_to t('page.edit'), edit_checkout_stat_path(checkout_stat) %></td>
    <td><%= link_to t('page.destroy'), checkout_stat, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New checkout_stat', new_checkout_stat_path %>
