<div id="submenu">
  <ul>
    <li><%= link_to 'Edit', edit_checkout_stat_path(@checkout_stat) %></li>
    <li><%= link_to 'Back', checkout_stats_path %></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b>From date:</b>
  <%=h @checkout_stat.from_date %>
</p>

<p>
  <b>To date:</b>
  <%=h @checkout_stat.to_date %>
</p>

<p>
  <b>Note:</b>
  <%=h @checkout_stat.note %>
</p>

<table id="index">
  <tr>
    <th><%= 'Manifestation' %></th>
    <th><%= 'Checkouts count' %></th>
  </tr>
  <%- @stats.each do |stat| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => stat.manifestation} -%>
      </td>
      <td><%=h stat.checkouts_count %></td>
    </tr>
  <% end -%>
</table>

</div>
