<div id="left_pane">
  <h1 class="title"><%= link_to h(@user.login), user_path(@user.login), :class => 'title' -%></h1>
  <div id="user_box">
    <%- if flash[:temporary_password] -%>
      <p><%= t('user.your_temporary_password_is') -%>: </p>
      <p style="font-size: 200%"><%=h flash[:temporary_password] -%></p>
    <%- end -%>
    <ul>
      <%- if_authorized?(:destroy, @user) do -%>
        <li><%= link_to t('user.edit_profile'), edit_user_path(@user.login) -%></li>
      <%- end -%>
      <li><%= link_to t('message.send'), new_user_message_path(current_user.login, :recipient => @user.login) -%></li>
    </ul>
  </div>
</div>

<div id="right_pane">
  <h3 class="title"><%= t('tag.user_tag', :login_name => @user.login) -%></h3>
  <div id="tag_cloud_box">
    <%- cache(:controller => 'tags', :action => 'index', :action_suffix => 'user_tag_cloud', :user_id => @user.login) do -%>
      <%= render :partial => 'bookmarked_resources/tag_cloud' -%>
    <%- end -%>
    <p>(<%= link_to t('page.listing', :model => t('activerecord.models.tag')), tags_path -%>)</p>
  </div>

</div>
