<div id="left_pane">

  <div id="user_search_form">  
    <h1><%=h t('page.user_title', :login_name => @user.login) -%></h1>

  <%- form_tag({:controller => 'manifestations'}, {:method => 'get', :name => 'searchform'}) do -%>
    <div>
      <%= t('page.search_term') -%>:
      <%= text_field_tag 'query', h(@query), {:style => 'width: 250px'} -%>
      <%= submit_tag t('page.search') -%><br />
      (<%= link_to h(t('page.advanced_search')), '/page/advanced_search' -%>)
    </div>
  <%- end -%>
  <%= javascript_tag("$('query').focus()") -%>

    <p><%=h t('page.number_of_manifestations', :numdocs => Manifestation.numdocs, :count => Manifestation.numdocs) -%></p>

  <h3><%= link_to t('page.new_resource'), :controller => 'manifestations', :mode => 'recent' -%></h3>

  </div>

  <div id="message_box">
    <h3><%= link_to t('page.listing', :model => t('activerecord.models.message')), user_messages_path(current_user.login) -%></h3>
    <%- if logged_in? -%>
      <%- if current_user.unread_messages.size > 0 -%>
        <%= link_to t('page.number_of_unread_messages', :numdocs => current_user.unread_messages.size, :count => current_user.unread_messages.size), user_messages_path(current_user.login) -%>
      <%- else -%>
        <%= t('message.no_new_message') -%>
      <%- end -%>
    <%- end -%>
  </div>

  <div id="news_feed_box">
    <%- cache(:controller => :news_feeds, :action => :index, :action_suffix => 'list') do -%>
      <%= render :partial => 'news_feeds/list', :locals => {:news_feeds => @news_feeds} -%>
    <%- end -%>
  </div>

</div>

<div id="right_pane">
  <div id="picked_up_box">
    <h3><%= t('manifestation.pickup') -%></h3>
    <%= render :partial => 'manifestations/pickup' -%>
  </div>

  <div id="tag_cloud_box">
    <h3><%= t('tag.my_tag') -%></h3>
    <%- cache(:controller => 'tags', :action => 'index', :action_suffix => 'user_tag_cloud', :user_id => current_user.login) do -%>
      <%= render :partial => 'bookmarked_resources/tag_cloud' -%>
    <%- end -%>
    <p>(<%= link_to t('page.listing', :model => t('activerecord.models.tag')), tags_path -%>)</p>
  </div>

</div>
