<div id="left_pane">
  <h1 class="title"><%= t('page.user_title', :login_name => @user.username) -%></h1>
  <div id="user_search_form">  
    <%= render :partial => 'page/search_form' -%>
    <p><%= t('page.number_of_manifestations', :numdocs => Manifestation.cached_numdocs, :count => Manifestation.cached_numdocs) -%></p>
    <h3><%= link_to t('page.new_resource'), :controller => 'manifestations', :mode => 'recent' -%></h3>
  </div>

  <h3 class="title"><%= t('page.news') -%></h3>
  <div id="news_feed_box">
    <%= render :partial => 'news_feeds/list', :locals => {:news_feeds => @news_feeds} -%>
  </div>

</div>

<div id="right_pane">
  <h3 class="title"><%= t('manifestation.pickup') -%></h3>
  <div id="picked_up_box">
    <%= render :partial => 'manifestations/pickup' -%>
  </div>

  <h3 class="title"><%= t('tag.my_tag') -%></h3>
  <div id="tag_cloud_box">
    <%- cache(:controller => 'tags', :action => 'index', :action_suffix => 'user_tag_cloud', :user_id => current_user.username, :locale => @locale) do -%>
      <%= render :partial => 'bookmarks/tag_cloud', :locals => {:tags => @tags} -%>
    <%- end -%>
    <p>(<%= link_to t('page.listing', :model => t('activerecord.models.tag')), tags_path -%>)</p>
  </div>

</div>
