<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.user')) -%></h1>
<div id="content_list">
  
<%- semantic_form_for(@user) do |f| -%>
  <p>
    <%= f.input :username, :as => :string, :input_html => {:class => 'resource_user'} -%>
  </p>
  <p>
    <%= f.input :email, :as => :string, :input_html => {:class => 'resource_email'} -%>
  </p>
  <p>
    <%= f.input :email_confirmation, :as => :string, :input_html => {:class => 'resource_email'} -%>
  </p>
  <p>
    <%= f.input :openid_identifier, :as => :string, :input_html => {:class => 'resource_url'} -%>
  </p>

  <p>
    <%= f.input :confirmed, :as => :boolean -%>
  </p>

  <p>
    <%= f.commit_button t('user.sign_up') -%>
  </p>
<%- end -%>
<%= javascript_tag("$('#user.username').focus()") -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), root_path %></li>
  </ul>
</div>
