<h1 class="title"><%= t('page.edit_user_profile', :login_name => @user.login) -%></h1>

<%= error_messages_for :user -%>

<p>
 <%= link_to t('user.patron_profile'), @user.patron -%>
</p>

<%- form_for(:user, :url => user_path(@user.login), :html => { :method => :put }) do |f| -%>
  
  <div id="left_pane">

  <p>
    <b><%= t('activerecord.attributes.user.email') -%></b><br />
    <%= f.text_field :email, :class => 'resource_email' -%>
  </p>

  <p>
    <b><%= t('page.password') -%></b><br />
    <%- if current_user == @user -%>
      <table>
        <tr>
          <td><%= t('user.current_password') -%>:</td>
          <td><%= password_field_tag "user[old_password]" -%></td>
        </tr>
        <tr>
          <td><%= t('user.new_password') -%>:</td>
          <td><%= password_field_tag "user[password]" -%></td>
        </tr>
        <tr>
          <td><%= t('user.repeat_new_password') -%>:</td>
          <td><%= password_field_tag "user[password_confirmation]" -%></td>
        </tr>
      </table>
    <%- end -%>
  </p>

  <p>
    <%= f.check_box :auto_generated_password -%> <%= t('user.set_auto_generated_password') -%>
  </p>

  <p><b><%= t('activerecord.attributes.user.expired_at') -%></b><br />
    <%= f.date_select :expired_at, :blank => true -%>
  </p>
  
  <p>
    <b><%= t('activerecord.attributes.user.suspended') -%></b>
    <%= f.check_box :suspended -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.user.share_bookmarks') -%></b>
    <%= f.check_box :share_bookmarks -%>
  </p>
  </div>

  <div id="right_pane">
  <%- if current_user.has_role?('Librarian') -%>
    <p>
      <b><%= t('activerecord.models.user_group') -%></b><br />
      <%= f.select(:user_group_id, @user_groups.collect{|u| [u.name, u.id]}) -%>
    </p>
  <%- end -%>

  <%- if current_user.has_role?('Administrator') -%>
    <p>
      <b><%= t('activerecord.models.role') -%></b><br />
      <select id="user_role_id" name="user[role_id]">
      <%= options_from_collection_for_select(@roles, "id", "display_name", @user_role_id) -%>
      </select>
    </p>
  <%- end -%>

    <p>
      <b><%= t('activerecord.attributes.user.user_number') -%></b><br />
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, :class => 'resource_user_number' -%>
      <%- else -%>
        <%=h @user.user_number -%>
      <%- end -%>
    </p>

  <%- if current_user.has_role?('Librarian') -%>
    <p>
      <b><%= t('page.library') -%></b><br />
      <%= f.select(:library_id, @libraries.collect{|l| [l.name, l.id]}) -%>
    </p>

    <p>
      <b><%= t('role.required_role') -%></b>
      <%= f.select(:required_role_id, @roles.collect{|r| [r.name, r.id]}) -%>
    </p>
  <%- end -%>

  </div>

<p style="clear: both">
  <p><b><%= t('activerecord.attributes.user.keyword_list') -%></b><br />
   <%= f.text_area :keyword_list, :class => 'resource_textarea' -%>
  </p>

  <p><b><%= t('activerecord.attributes.user.note') -%></b><br />
   <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <!--
  <h1 class="title"><%= t('page.history') -%></h1>
  <p>
    <%= f.check_box :save_search_history -%> <%= ('Save search history') -%>
  </p>

  <p>
    <%= f.check_box :save_checkout_history -%> <%= ('Save checkout history') -%>
  </p>
  -->

  <p>
  <%= f.submit t('page.update'), :confirm => t('page.are_you_sure') -%>
  </p>

<%- end -%>

<b><%= ('Reset Checkout iCalendar url') -%></b><br />
<%- form_for(:user, :url => user_path(@user.login), :html => { :method => :put }) do |f| -%>
  <!-- TODO: iCalendarファイルはhttpsで送信するべき -->
  <%= t('page.current_url') -%>:
  <%- if @user.checkout_icalendar_token -%>
    <%= link_to url_for("/icalendar/#{h(@user.checkout_icalendar_token)}.ics"), url_for("/icalendar/#{h(@user.checkout_icalendar_token)}.ics") -%>
  <%- end -%>
  <br />
  <%= hidden_field_tag 'user[reset_url]', 'checkout_icalendar' -%>
  <%= f.submit t('page.reset') -%>
<%- end -%>
<%- form_for(:user, :url => user_path(@user.login), :html => { :method => :put }) do |f| -%>
  <%= hidden_field_tag 'user[delete_url]', 'checkout_icalendar' -%>
  <%= f.submit t('page.delete') -%>
<%- end -%>
</p>

<%- if current_user.has_role?('Librarian') -%>
  <%- unless current_user == @user -%>
    <h3><%= t('user.delete_this_user') -%></h3>
    <p>
    <%= link_to t('page.destroy'), user_path(@user.login), :confirm => t('page.are_you_sure'), :method => :delete -%>
    </p>
  <%- end -%>
<%- end -%>
