<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), @patron -%></li>
  </ul>
</div>

<div id="content_detail">
<%= error_messages_for :user -%>

<%- form_for :user, :url => users_path do |f| -%>
<%- if @patron -%>
  <p><label for="patron"><%= t('activerecord.attributes.user.name') -%></label><br/>
  <%= link_to h(@patron.full_name), @patron -%>
  <%= f.hidden_field :patron_id, :value => @patron.id -%></p>
<%- end -%>

<p><label for="login"><%= t('activerecord.attributes.user.login') -%></label><br/>
<%= f.text_field :login, :value => "" -%></p>

<p><label for="email"><%= t('activerecord.attributes.user.email') -%></label><br/>
<%= f.text_field :email, :value => "" -%></p>

<p><label for="user_number"><%= t('activerecord.attributes.user.user_number') -%></label><br/>
<%= f.text_field :user_number, :value => "" -%></p>

<p><label for="expired_at"><%= t('activerecord.attributes.user.expired_at') -%></label><br/>
<%= f.date_select :expired_at, :include_blank => true -%>
</p>

<p><label for="user_group"><%= t('activerecord.models.user_group') -%></label><br/>
<%= f.select(:user_group_id, @user_groups.collect{|u| [u.name, u.id]}) -%>

<p><%= f.submit t('user.sign_up') -%></p>
<%- end -%>
</div>
