<table style="width: 100%">
  <tr>
    <th class="checked_item_title"><%= t('page.title') -%></th>
    <th><%= ('Item identifier') -%></th>
    <th><%= ('Due date') -%></th>
  </tr>
  
  <%- @basket.user.checkouts.not_returned.each_with_index do |checkout, i| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => checkout.item.manifestation} -%>
        <div class="holding" id="holding_<%=h checkout.item.manifestation.id -%>"></div>
      </td>
      <td><%= link_to h(checkout.item.item_identifier), item_path(checkout.item) -%></td>
      <td><%=h checkout.due_date.strftime("%Y-%m-%d") -%></td>
    </tr>
  <%- end -%>
</table>

