<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @message_queue -%></li>
    <li><%= link_to t('page.back'), message_queues_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.message_queue')) -%></h1>

<%- form_for(@message_queue) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('message.sender') -%><br />
    <%= link_to h(@message_queue.sender.login), user_path(@message_queue.sender.login) -%>
  </p>
  <p>
    <%= f.label t('message.receiver') -%><br />
    <%= link_to h(@message_queue.receiver.login), user_path(@message_queue.receiver.login) -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.message_template') -%><br />
    <%= f.select(:message_template_id, @message_templates.collect{|m| [m.title, m.id]}) -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.message.subject') -%><br />
    <%=h @message_queue.subject -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.message.body') -%><br />
    <%= textilize(h(@message_queue.body)) -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
