<h1><%= ('Listing message_queues') -%></h1>

<table id="index">
  <tr>
    <th>
      <%= t('page.sender') -%>
      /
      <%= ('Receiver') -%>
    </th>
    <th><%= ('Message template') -%></th>
    <th><%= ('Message subject') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= ('Sent at') -%></th>
  </tr>

<%- for message_queue in @message_queues -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(message_queue.sender.login), user_path(message_queue.sender.login) -%>
      <br />
      -&gt;
      <%= link_to h(message_queue.receiver.login), user_path(message_queue.receiver.login) -%>
    </td>
    <td><%= link_to h(message_queue.message_template.status), message_template_path(message_queue.message_template) -%></td>
    <td><%=h message_queue.subject -%></td>
    <td><%=h message_queue.created_at -%></td>
    <td><%=h message_queue.sent_at -%></td>
    <td><%= link_to t('page.show'), message_queue -%></td>
    <td><%= link_to t('page.edit'), edit_message_queue_path(message_queue) -%></td>
    <td><%= link_to t('page.destroy'), message_queue, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%- if_authorized?(:new, MessageQueue) do -%>
  <p><%= link_to ('New message_queue'), new_message_queue_path -%></p>
<%- end -%>

<%= will_paginate(@message_queues) -%>
