<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.message_queue')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th>
      <%= t('message.sender') -%>
      /
      <%= t('message.receiver') -%>
    </th>
    <th><%= t('activerecord.models.message_template') -%></th>
    <th><%= t('activerecord.attributes.message.subject') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('activerecord.attributes.message_queue.sent_at') -%></th>
  </tr>

<%- for message_queue in @message_queues -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(message_queue.sender.login), user_path(message_queue.sender.login) -%>
      <br />
      -&gt;
      <%= link_to h(message_queue.receiver.login), user_path(message_queue.receiver.login) -%>
    </td>
    <td><%= link_to h(message_queue.message_template.status), message_template_path(message_queue.message_template) -%></td>
    <td><%= message_queue.subject -%></td>
    <td><%= l(message_queue.created_at) -%></td>
    <td><%= l(message_queue.sent_at) if message_queue.sent_at -%></td>
    <td><%= link_to t('page.show'), message_queue -%></td>
    <td><%= link_to t('page.edit'), edit_message_queue_path(message_queue) -%></td>
    <td><%= link_to t('page.destroy'), message_queue, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@message_queues, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- case params[:mode] when 'sent' -%>
      <li><%= link_to t('message_queue.not_sent'), message_queues_path(:mode => 'not_sent') -%></li>
      <li><%= link_to t('message_queue.all'), message_queues_path(:mode => 'all') -%></li>
    <%- when 'all' -%>
      <li><%= link_to t('message_queue.not_sent'), message_queues_path(:mode => 'not_sent') -%></li>
      <li><%= link_to t('message_queue.sent'), message_queues_path(:mode => 'sent') -%></li>
    <%- else -%>
      <li><%= link_to t('message_queue.sent'), message_queues_path(:mode => 'sent') -%></li>
      <li><%= link_to t('message_queue.all'), message_queues_path(:mode => 'all') -%></li>
    <%- end -%>
  </ul>
</div>

