<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_message_queue_path(@message_queue) -%></li>
    <li><%= link_to t('page.back'), message_queues_path -%></li>
    <li><%= link_to t('message.send'), new_user_message_path(current_user.login, :message_queue_id => @message_queue.id) -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('message.sender') -%>:</b>
  <%= link_to h(@message_queue.sender.login), user_path(@message_queue.sender.login) -%>
</p>

<p>
  <b><%= t('message.receiver') -%>:</b>
  <%= link_to h(@message_queue.receiver.login), user_path(@message_queue.receiver.login) -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@message_queue.created_at) -%>
</p>

<p>
  <b><%= t('page.updated_at') -%>:</b>
  <%= l(@message_queue.updated_at) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.message_queue.sent_at') -%>:</b>
  <%= l(@message_queue.sent_at) if @message_queue.sent_at -%>
</p>

<p>
  <b><%= t('activerecord.models.message_template') -%>:</b>
  <%= link_to h(@message_queue.message_template.status), message_template_path( @message_queue.message_template) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.message.subject') -%>:</b>
  <%=h @message_queue.subject -%>
</p>

<div>
  <b><%= t('activerecord.attributes.message.body') -%>:</b>
  <%= auto_link(textilize(h(@message_queue.body))) -%>
</div>

</div>
</div>
