<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_message_queue_path(@message_queue) -%></li>
    <li><%= link_to t('page.back'), message_queues_path -%></li>
    <li><%= link_to ('Send message'), new_user_message_path(current_user.login, :message_queue_id => @message_queue.id) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.sender') -%>:</b>
  <%= link_to h(@message_queue.sender.login), user_path(@message_queue.sender.login) -%>
</p>

<p>
  <b><%= ('Receiver') -%>:</b>
  <%= link_to h(@message_queue.receiver.login), user_path(@message_queue.receiver.login) -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= @message_queue.created_at -%>
</p>

<p>
  <b><%= t('page.updated_at') -%>:</b>
  <%= @message_queue.updated_at -%>
</p>

<p>
  <b><%= ('Sent at') -%>:</b>
  <%= @message_queue.sent_at -%>
</p>

<p>
  <b><%= ('Message template') -%>:</b>
  <%= link_to h(@message_queue.message_template.status), message_template_path( @message_queue.message_template) -%>
</p>

<p>
  <b><%= t('page.subject') -%>:</b>
  <%=h @message_queue.subject -%>
</p>

<p>
  <b><%= ('Body') -%>:</b>
  <%= auto_link(textilize(@message_queue.body)) -%>
</p>

</div>
