<%= form_for(@create) do |f| %>
  <% if @create.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@create.errors.count, "error") %> prohibited this create from being saved:</h2>

      <ul>
      <% @create.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work %><br />
    <%= link_to @create.work.original_title, @create.work %>
    <br />
    <%= f.hidden_field :work_id %>
  </div>
  <div class="field">
    <%= f.label :person %><br />
    <%= link_to @create.person.full_name, @create.person %>
    <br />
    <%= f.hidden_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
