<div id="content_detail">
<div id="content_list">
<p>Creation for <%= link_to h(@patron.full_name), @patron -%></p>

<table>
  <tr>
    <th><%= t('activerecord.models.work') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for create in @creates -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(create.work.original_title), create.work -%></td>
    <td><%= l(create.created_at) -%></td>
    <td><%= l(create.updated_at) -%></td>
    <%- if create.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.show'), patron_create_path(@patron, create) -%></td>
      <td><%= link_to t('page.destroy'), patron_create_path(@patron, create), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= create.first? ? '' : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position => (create.position > 1 ? create.position - 1 : 1), :id => create.id, :patron_id => @patron.id}, :method => :put) -%></td>
      <td><%= create.last? ? '' : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (create.position + 1), :id => create.id, :patron_id => @patron.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@creates, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if Create.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.create')), new_patron_create_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>
