<h1><%= ('Listing creates') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= t('page.patron') -%></th>
    <th><%= t('page.work') -%></th>
  </tr>

<%- for create in @creates -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(create.patron.full_name), patron_path(create.patron) -%></td>
    <td><%= link_to h(create.work.original_title), work_path(create.work) -%></td>
    <%- if_authorized?(:destroy, create) do -%>
      <td><%= link_to t('page.show'), create -%></td>
      <td><%= link_to t('page.destroy'), create, :confirm => ('Are you sure?'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%- if_authorized?(:new, Create) do -%>
  <p><%= link_to ('New create'), new_create_path -%></p>
<%- end -%>

<%= will_paginate(@creates) -%>
