<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.create')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.work') -%></th>
  </tr>

<%- for create in @creates -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(create.patron.full_name), create.patron -%></td>
    <td><%= link_to h(create.work.original_title), create.work -%></td>
    <%- if create.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.show'), create -%></td>
      <td><%= link_to t('page.destroy'), create, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@creates, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <%- if Create.is_creatable_by(current_user) -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.create')), new_create_path -%></li>
    </ul>
  <%- end -%>
</div>
