<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), create_path(@create) -%></li>
    <li><%= link_to t('page.back'), creates_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.create')) -%></h1>

<%= error_messages_for :create -%>

<%- form_for(@create, :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('activerecord.models.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
  <b><%= t('activerecord.models.work') -%></b><br />
    <%= f.text_field :work_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
