<div id="sidebar">
  <ul>
    <%- if @create.patron -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), patron_works_path(@create.patron) -%></li>
    <%- end -%>
    <%- if @create.work -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), work_patrons_path(@create.work) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.create')) -%></h1>
<div class="inner">

<%= error_messages_for :create -%>

<%- form_for(@create) do |f| -%>
  <p>
  <b><%= t('activerecord.models.patron') -%></b><br />
    <%- if @create.patron -%>
		  <%= link_to h(@create.patron.full_name), @create.patron -%>
      <%= f.hidden_field :patron_id -%>
    <%- else -%>
      <%= f.text_field :patron_id -%>
    <%- end -%>
  </p>

  <p>
  <b><%= t('activerecord.models.work') -%></b><br />
    <%- if @create.work -%>
		  <%= link_to h(@create.work.original_title), @create.work -%>
      <%= f.hidden_field :work_id -%>
    <%- else -%>
      <%= f.text_field :work_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
