<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.patron')), work_patrons_path(@create.work) -%></li>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.work')), patron_works_path(@create.patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@create.patron.full_name), @create.patron -%>
</p>

<p>
  <b><%= t('activerecord.models.work') -%>:</b>
  <%= link_to h(@create.work.original_title), @create.work -%>
</p>

</div>
</div>
