<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), library_path(@library.name) -%></li>
    <li><%= link_to t('page.back'), libraries_path -%></li>
  </ul>
</div>


<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.library')) -%></h1>
<div class="inner">

<%= error_messages_for :library -%>

<%- form_for(@library, :url => library_path(@library.name), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.library.name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.display_name') -%></b><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <%- unless @library.web? -%>
  <p>
    <b><%= t('activerecord.attributes.library.postal_code') -%></b><br />
    <%= f.text_field :postal_code -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.region') -%></b><br />
    <%= f.text_field :region -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.locality') -%></b><br />
    <%= f.text_field :locality -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.street') -%></b><br />
    <%= f.text_area :street, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('page.telephone_number') -%> 1</b><br />
    <%= f.text_field :telephone_number_1 -%>
  </p>

  <p>
    <b><%= t('page.telephone_number') -%> 2</b><br />
    <%= f.text_field :telephone_number_2 -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.fax_number') -%></b><br />
    <%= f.text_field :fax_number -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.call_number_rows') -%></b><br />
    <%= f.text_field :call_number_rows, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.call_number_delimiter') -%></b><br />
    <%= f.text_field :call_number_delimiter, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <%- end -%>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
