<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Library) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.library')), new_library_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.library')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.library.name') -%></th>
    <th>
      <%= t('activerecord.attributes.library.telephone_number_1') -%>
      /
      <%= t('activerecord.attributes.library.telephone_number_2') -%>
    </th>
    <th>
      <%= t('activerecord.attributes.library.fax_number') -%>
    </th>
  </tr>
  
<%- @libraries.each_with_index do |library, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(library.name), library_path(library.short_name) -%>
      <br />
      <%=h library.postal_code -%>
      <%=h library.address -%>
    </td>
    <td>
      <%=h library.telephone_number_1 -%>
      <br />
      <%=h library.telephone_number_2 -%>
    </td>
    <td><%=h library.fax_number -%></td>
    <%- if_authorized?(:destroy, library) do -%>
      <td><%= link_to t('page.edit'), edit_library_path(library.short_name) -%></td>
      <td><%= link_to t('page.destroy'), library_path(library.short_name), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= library.first? ? '' : link_to('▲', {:action => 'update', :position => (library.position  > 1 ? library.position - 1 : 1), :id => library.short_name}, :method => :put) -%></td>
      <td><%= library.last? ? '' : link_to('▼', {:action => 'update', :position => (library.position + 1), :id => library.short_name}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
