<div id="sidebar">
  <ul>
    <%- if Library.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.library')), new_library_path -%></li>
    <%- end -%>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.library')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.library.name') -%></th>
    <th>
      <%= t('activerecord.attributes.library.telephone_number_1') -%>
      /
      <%= t('activerecord.attributes.library.telephone_number_2') -%>
    </th>
    <th>
      <%= t('activerecord.attributes.library.fax_number') -%>
    </th>
  </tr>
  
<%- @libraries.each_with_index do |library, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if library.is_deletable_by(current_user) -%>
        <%= library.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (library.position  > 1 ? library.position - 1 : 1), :id => library.id}, :method => :put) -%>
        <%= library.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (library.position + 1), :id => library.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(library.display_name.localize), library_path(library.name) -%>
      <br />
      <%=h library.postal_code -%>
      <%=h library.address -%>
    </td>
    <td>
      <%=h library.telephone_number_1 -%>
      <br />
      <%=h library.telephone_number_2 -%>
    </td>
    <td><%=h library.fax_number -%></td>
    <%- if library.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_library_path(library.name) -%></td>
      <td><%= link_to t('page.destroy'), library_path(library.name), :confirm => t('page.are_you_sure'), :method => :delete unless library.web? -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
