<div id="sidebar">
  <ul>
    <%- if Frequency.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.frequency')), new_frequency_path -%></li>
    <%- end -%>
 </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.frequency')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.frequency.display_name') -%></th>
  </tr>

<%- for frequency in @frequencies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if frequency.is_deletable_by(current_user) -%>
        <%= frequency.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (frequency.position  > 1 ? frequency.position - 1 : 1), :id => frequency.id}, :method => :put) -%>
        <%= frequency.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (frequency.position + 1), :id => frequency.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(frequency.display_name.localize), frequency -%></td>
    <%- if frequency.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_frequency_path(frequency) -%></td>
      <td><%= link_to t('page.destroy'), frequency, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
