<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.expression_merge_list')) -%></h1>
<div id="content_list">

<%= form_for(@expression_merge_list) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.expression_merge_list.title') -%><br />
    <%= f.text_field :title -%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @expression_merge_list -%></li>
    <li><%= link_to t('page.back'), expression_merge_lists_path -%></li>
  </ul>
</div>
