<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression_merge_list')) -%></h1>
<div id="content_list">

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.attributes.expression_merge_list.title') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- @expression_merge_lists.each do |expression_merge_list| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to expression_merge_list.title, expression_merge_list -%></td>
    <td><%= l(expression_merge_list.created_at) -%></td>
    <td><%= link_to t('page.show'), expression_merge_list -%></td>
    <td><%= link_to t('page.edit'), edit_expression_merge_list_path(expression_merge_list) -%></td>
    <td><%= link_to t('page.destroy'), expression_merge_list, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= paginate(@expression_merge_lists) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression_merge_list')), new_expression_merge_list_path -%></li>
  </ul>
</div>
