<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_merge_list')) -%></h1>
<div class="inner">

<%= error_messages_for :expression_merge_list -%>

<%- form_for(@expression_merge_list) do |f| -%>
  <p>
  <b><%= t('page.title') -%></b><br />
    <%= f.text_field :title -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
