<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), expression_merge_lists_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_merge_list')) -%></h1>
<div id="content_list">

<%= error_messages_for :expression_merge_list -%>

<%- form_for(@expression_merge_list) do |f| -%>
  <p>
  <b><%= t('page.title') -%></b><br />
    <%= f.text_field :title -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
