<div id="submenu">
  <ul>
    <li><%= link_to ('Back'), expression_merge_lists_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New expression_merge_list') -%></h1>

<%= error_messages_for :expression_merge_list -%>

<%- form_for(@expression_merge_list) do |f| -%>
  <p>
  <b><%= ('Title') -%></b><br />
    <%= f.text_field :title -%>
  </p>

  <p>
    <%= f.submit t('create') -%>
  </p>
<%- end -%>

</div>
