<div id="submenu">
  <ul>
    <li><%= link_to t('show'), @advertisement -%></li>
    <li><%= link_to ('Back'), advertisements_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing advertisement') -%></h1>

<%- form_for(@advertisement) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :title -%><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>
  <p>
    <%= f.label :url -%><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>
  <p>
    <%= f.label :body -%><br />
    <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.label :started_at -%><br />
    <%= f.date_select :started_at, :blank => true -%>
  </p>
  <p>
    <%= f.label :ended_at -%><br />
    <%= f.date_select :ended_at, :blank => true -%>
  </p>
  <p>
    <%= f.label :note -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit t('update') -%>
  </p>
<%- end -%>

</div>
