div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.advertisement')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.advertisement.title') -%>:</strong>
  <%= @advertisement.title -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.advertisement.url') -%>:</strong>
  <%= link_to h(@advertisement.url), @advertisement.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.advertisement.body') -%>:</strong>
  <%= @advertisement.body -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.advertisement.started_at') -%>:</strong>
  <%= l(@advertisement.started_at) if @advertisement.started_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.advertisement.ended_at') -%>:</strong>
  <%= l(@advertisement.ended_at) if @advertisement.ended_at -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.advertisement.note') -%>:</strong>
  <%= @advertisement.note -%>
</p>

</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_advertisement_path(@advertisement) -%></li>
    <li><%= link_to t('page.back'), advertisements_path -%></li>
  </ul>
</div>
