<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_advertisement_path(@advertisement) -%></li>
    <li><%= link_to t('page.back'), advertisements_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.advertisement.title') -%>:</b>
  <%=h @advertisement.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.advertisement.url') -%>:</b>
  <%=h @advertisement.url -%>
</p>

<p>
  <b><%= t('activerecord.attributes.advertisement.body') -%>:</b>
  <%=h @advertisement.body -%>
</p>

<p>
  <b><%= t('activerecord.attributes.advertisement.started_at') -%>:</b>
  <%=h @advertisement.started_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.advertisement.ended_at') -%>:</b>
  <%=h @advertisement.ended_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.advertisement.note') -%>:</b>
  <%=h @advertisement.note -%>
</p>

</div>
