<h1 class="title">Listing carrier_types</h1>

<table class="index">
  <tr class="line<%= cycle("0", "1") -%>">
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carrier_types.each do |carrier_type| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= carrier_type.name %></td>
    <td><%= link_to t('enju.show'), carrier_type %></td>
    <td><%= link_to t('enju.edit'), edit_carrier_type_path(carrier_type) %></td>
    <td><%= link_to t('enju.destroy'), carrier_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carrier type', new_carrier_type_path %>
