<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_carrier_type_path(@carrier_type) -%></li>
    <li><%= link_to t('page.back'), carrier_types_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.carrier_type')) -%></h1>
<div id="content_list">

<p>
  <b><%= t('activerecord.attributes.carrier_type.display_name') -%>:</b>
  <%= @carrier_type.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.carrier_type.note') -%>:</b>
  <%= @carrier_type.note -%>
</p>

</div>
</div>
