<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.subject_has_classification')) -%></h1>
<div id="content_list">

<%= error_messages_for :subject_has_classification -%>

<%- form_for(@subject_has_classification) do |f| -%>
  <p>
    <b><%= t('activerecord.models.subject') -%></b><br />
    <%= f.text_field :subject_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.classification') -%></b><br />
    <%= f.text_field :classification_id -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), subject_has_classifications_path -%></li>
  </ul>
</div>
