<div id="submenu">
  <ul>
    <li><%= link_to t('edit'), edit_subject_has_classification_path(@subject_has_classification) -%></li>
    <li><%= link_to ('Back'), subject_has_classifications_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= ('Subject') -%>:</b>
  <%= link_to h(@subject_has_classification.subject.term), @subject_has_classification.subject -%>
</p>

<p>
  <b><%= ('Classification') -%>:</b>
  <%= link_to h(@subject_has_classification.classification.name), @subject_has_classification.classification -%>
</p>

</div>
