<div id="submenu">
  <ul>
    <%- if logged_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <%- if @library -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_library_event_path(@library.name) -%></li>
        <%- else -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_event_path(:date => params[:date]) -%></li>
        <%- end -%>
        <li><%= link_to t('event.import_event'), imported_event_files_path -%></li>
      <%- end -%>
    <%- end -%>
    <li><%= link_to t('event.all_libraries'), events_path -%></li>
    <%- case params[:mode] when 'all' -%>
      <%- if @library -%>
        <li><%= link_to t('event.past'), library_events_path(@library.name, :mode => 'past') -%></li>
        <li><%= link_to t('event.upcoming'), library_events_path(@library.name, :mode => 'upcoming') -%></li>
      <%- else -%>
        <li><%= link_to t('event.past'), events_path(:mode => 'past') -%>
        <li><%= link_to t('event.upcoming'), events_path(:mode => 'upcoming') -%></li>
      <%- end -%>
    <%- when 'past' -%>
      <%- if @library -%>
        <li><%= link_to t('event.upcoming'), library_events_path(@library, :mode => 'upcoming') -%></li>
      <%- else -%>
        <li><%= link_to t('event.upcoming'), events_path(:mode => 'upcoming') -%></li>
      <%- end -%>
    <%- else -%>
      <%- if @library -%>
        <li><%= link_to t('event.past'), library_events_path(@library, :mode => 'past') -%></li>
      <%- else -%>
        <li><%= link_to t('event.past'), events_path(:mode => 'past') -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
  <p>
    <%- if @library -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), library_events_path(@library.name, :format => :rss) -%>
      (<%= link_to ('RSS'), library_events_path(@library.name, :format => :rss) -%>)
      (<%= link_to ('CSV'), library_events_path(@library.name, :format => :csv, :locale => @locale) -%>)
    <%- else -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), events_path(:format => :rss) -%>
      (<%= link_to ('RSS'), events_path(:format => :rss) -%>)
      (<%= link_to ('CSV'), events_path(:format => :csv, :locale => @locale) -%>)
    <%- end -%>
  </p>
  <%= render :partial => 'page/login' unless logged_in? -%>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.event')) -%></h1>
<div id="content_list">

<%- if @library -%>
  <h2><%= link_to h(@library.display_name.localize), library_path(@library.name) -%></h2>
<%- else -%>
  <h2><%= t('event.all_libraries') -%></h2>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.event_category') -%></th>
    <th><%= t('activerecord.attributes.event.title') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('page.date') -%></th>
  </tr>

<%- @events.each_with_index do |event, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h event.event_category.display_name.localize -%></td>
    <td><%= link_to h(event.title.localize), event -%></td>
    <td><%= link_to h(event.library.display_name.localize), library_path(event.library.name) -%></td>
    <td>
      <%=h l(event.started_at, :format => :short) -%>
      -
      <%=h l(event.ended_at, :format => :short) -%>
    </td>
    <%- if logged_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <td><%= link_to t('page.edit'), edit_event_path(event) -%></td>
        <td><%= link_to t('page.destroy'), event, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@events, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
