<div id="submenu">
  <ul>
    <%- if logged_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <%- if @library -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_library_event_path(@library.short_name) -%></li>
        <%- else -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.event')), new_event_path(:date => params[:date]) -%></li>
        <%- end -%>
        <li><%= link_to ('Import events'), imported_event_files_path -%></li>
      <%- end -%>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.event')) -%></h1>

<p>
  <%- if @library -%>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), formatted_library_events_path(@library.short_name, :rss) -%>
    (<%= link_to ('RSS'), formatted_library_events_path(@library.short_name, :rss) -%>)
    (<%= link_to ('CSV'), formatted_library_events_path(@library.short_name, :csv, :lang => 'ja') -%>)
  <%- else -%>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), formatted_events_path(:rss) -%>
    (<%= link_to ('RSS'), formatted_events_path(:rss) -%>)
    (<%= link_to ('CSV'), formatted_events_path(:csv, :lang => 'ja') -%>)
  <%- end -%>
  <%= link_to t('event.all_libraries'), events_path -%>
</p>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.event_category') -%></th>
    <th><%= t('activerecord.attributes.event.title') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('page.date') -%></th>
  </tr>

<%- @events.each_with_index do |event, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h event.event_category.display_name -%></td>
    <td><%= link_to h(event.title), event -%></td>
    <td><%= link_to h(event.library.name), library_path(event.library.short_name) -%></td>
    <td>
      <%=h l(event.started_at, :format => :short) -%>
      -
      <%=h l(event.ended_at, :format => :short) -%>
    </td>
    <%- if logged_in? -%>
      <%- if current_user.has_role?('Librarian') -%>
        <td><%= link_to t('page.edit'), edit_event_path(event) -%></td>
        <td><%= link_to t('page.destroy'), event, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@events, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
