<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_event_path(@event) -%></li>
    <li><%= link_to t('page.back'), events_path(:page => flash[:page] ||= nil) -%></li>
  </ul>
<%- if logged_in? -%>
  <ul>
    <li><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.login, :url => request.url) -%></li>
  </ul>
<%- end -%>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.event')) -%></h1>
<div id="content_list">
<h2 id="resource_title">
  <%=h @event.title.localize -%>
</h2>

<p>
  <b><%= t('activerecord.models.event_category') -%>:</b>
  <%=h @event.event_category.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.models.library') -%>:</b>
  <%= link_to h(@event.library.display_name.localize), library_path(@event.library.name) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.started_at') -%>:</b>
  <%=h l(@event.started_at, :format => :short) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.ended_at') -%>:</b>
  <%=h l(@event.ended_at, :format => :short) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.note') -%>:</b>
  <%=h @event.note -%>
</p>

</div>
</div>
