<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_event_path(@event) -%></li>
    <li><%= link_to t('page.back'), events_path(:page => flash[:page]) -%></li>
  </ul>
<%- if logged_in? -%>
  <ul>
    <li><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.login, :url => request.url) -%></li>
  </ul>
<%- end -%>
</div>

<div id="content_detail">
<h1 id="resource_title">
  <%=h @event.title -%>
</h1>

<p>
  <b><%= t('activerecord.models.event_category') -%>:</b>
  <%=h @event.event_category.display_name -%>
</p>

<p>
  <b><%= t('activerecord.models.library') -%>:</b>
  <%= link_to h(@event.library.name), library_path(@event.library.short_name) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.started_at') -%>:</b>
  <%=h l(@event.started_at, :format => :short) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.ended_at') -%>:</b>
  <%=h l(@event.ended_at, :format => :short) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.event.note') -%>:</b>
  <%=h @event.note -%>
</p>

<!--
<p>
<b><%= t('page.tag') -%>:</b>
  <%- @event.tags.collect {|tag| -%>
    <%= link_to h(tag.name), events_path(:tag => tag.name) -%>
  <%- } -%>
</p>
-->

</div>
