<div id="header_and_footer">
  <div id="header_left">
    <h2><a href="/" title="<%=h @library_group.display_name -%>"><%=h @library_group.display_name -%></a></h2>
  </div>

  <div id="header_advertisement">
    <%= advertisement_pickup -%>
  </div>
  <div id="header_right">
    <%- if logged_in? -%>
      <%= t('page.logged_in_as', :login_name => current_user.login) -%>
      <br />
      <%= link_to t('page.account'), edit_user_path(current_user.login) -%>
      <%= link_to t('page.logout'), user_session_path, :method => :delete, :confirm => t('page.are_you_sure') %>
    <%- else -%>
      <%= link_to t('page.login'), new_user_session_path unless controller_name == 'user_sessions' -%>
    <%- end -%>
  </div>
</div>
