<div id="header">
  <div id="header_left">
    <h2><a href="/" title="<%=h @library_group.display_name -%>"><%=h @library_group.display_name -%></a></h2>
  </div>

  <div id="header_advertisement">
    <%= advertisement_pickup -%>
  </div>
  <div id="header_right">
    <%- if logged_in? -%>
      <%= t('page.logged_in_as', :login_name => current_user.login) -%>
      <br />
      <%= link_to t('account'), edit_user_path(current_user.login) -%>
      <%= link_to t('logout'), '/logout' -%>
    <%- else -%>
      <%= link_to t('login'), {:action => "new", :controller => "sessions"} -%>
    <%- end -%>
  </div>
</div>

<%- cache(:controller => :page, :role_name => @role.name) do -%>
  <div id="navibar">
    <div id="bd">
    <!-- start: primary column from outer template -->
      <div id="yui-main">
        <div class="yui-b">
          <!-- start: stack grids here -->
          <div id="services" class="yuimenubar yuimenubarnav">
            <div class="bd">
              <ul class="first-of-type">
                <li class="yuimenubaritem first-of-type"><%= link_to t('page.search'), '/', :class => 'yuimenubaritemlabel' -%>
                  <div id="search" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to ('Search resources'), manifestations_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- if_authorized?(:destroy, Bookmark) do -%>
                          <li class="yuimenuitem"><%= link_to ('Search bookmarks'), user_bookmarked_resources_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                        <li class="yuimenuitem"><%= link_to ('Search questions'), questions_path, :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to ('Search patrons'), patrons_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- if_authorized?(:destroy, User) do -%>
                          <li class="yuimenuitem"><%= link_to ('Search users'), users_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                      </ul>
                    </div>
                  </div>                    
                </li>
                <%- if logged_in? -%>
                  <li class="yuimenubaritem"><%= link_to t('message'), user_messages_path(current_user.login), :class => 'yuimenubaritemlabel' -%>
                    <div id="message" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to ('Message queue'), message_queues_path, :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                <%- else -%>
                  <li class="yuimenubaritem"><%= link_to t('message'), '/page/message', :class => 'yuimenubaritemlabel' -%>
                  </li>
                <%- end -%>
                <li class="yuimenubaritem"><%= link_to t('circulation'), '/page/circulation', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <div id="circulation" class="yuimenu">
                      <div class="bd">
                        <ul>
                          <%- if_authorized?(:destroy, Checkout) do -%>
                            <li class="yuimenuitem"><%= link_to ('Checkout'), new_basket_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <%- if_authorized?(:destroy, Checkin) do -%>
                            <li class="yuimenuitem">
                              <%- if @checkins and @basket -%>
                                <%= link_to ('Checkin'), user_basket_checkins_path(@basket.user.login, @basket), :class => 'yuimenuitemlabel' -%>
                              <%- else -%>
                                <%= link_to ('Checkin'), checkins_path, :class => 'yuimenuitemlabel' -%>
                              <%- end -%>
                            </li>
                          <%- end -%>
                          <%- if_authorized?(:destroy, InterLibraryLoan) do -%>
                            <li class="yuimenuitem"><%= link_to ('Inter library loan'), inter_library_loans_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('NACSIS ILL'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <li class="yuimenuitem"><%= link_to ('Checkout history'), user_checkouts_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>
                  <%- end -%>
                </li>
                <li class="yuimenubaritem">
                  <%- if logged_in? -%>
                    <%- if current_user.has_role?('Librarian') -%>
                      <%= link_to t('acquisition'), '/page/acquisition', :class => 'yuimenuitemlabel' -%>
                    <%- else -%>
                      <%= link_to t('bookmark'), user_bookmarked_resources_path(current_user.login), :class => 'yuimenubaritemlabel' -%>
                    <%- end -%>
                  <%- else -%>
                    <%= link_to t('bookmark'), bookmarked_resources_path, :class => 'yuimenubaritemlabel' -%>
                  <%- end -%>
                  <%- if logged_in? -%>
                    <div id="bookmark" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to ('Add to bookmark'), new_user_bookmark_path(current_user.login, :url => request.url), :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to ('Add a new resource'), works_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to ('Add a file'), attachment_files_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to ('Import from networks'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('request'), '/page/request', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <div id="request" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem">
                          <%- if current_user.has_role?('Librarian') -%>
                            <%= link_to ('Reservation'), reserves_path, :class => 'yuimenuitemlabel' -%>
                          <%- else -%>
                            <%= link_to ('Reservation'), user_reserves_path(current_user.login), :class => 'yuimenuitemlabel' -%>
                          <%- end -%>
                          </li>
                          <li class="yuimenuitem"><%= link_to ('Purchase request'), user_purchase_requests_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to ('Question'), user_questions_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('event'), '/events', :class => 'yuimenubaritemlabel' -%>
                <%- if @library_group -%>
                    <div id="event" class="yuimenu">
                      <%- unless @library_group.physical_libraries.blank? -%>
                      <div class="bd">
                        <ul>
                          <%- @library_group.physical_libraries.each do |library| -%>
                            <li class="yuimenuitem"><%= link_to h(library.name), library_events_path(library.short_name), :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <%- if_authorized?(:destroy, Event) do -%>
                            <li class="yuimenuitem"><%= link_to ('Import from file'), new_imported_event_file_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                        </ul>
                      </div>
                      <%- end -%>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('management'), '/page/management', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <%- if current_user.has_role?('Librarian') -%>
                      <div id="management" class="yuimenu">
                        <div class="bd">                    
                          <ul>
                            <li class="yuimenuitem"><%= link_to ('Patron management'), new_patron_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Import'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Export'), '/page/export', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Order list'), order_lists_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Statistics'), '/statistic', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Search history'), search_histories_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Recommendation'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Send questions and answers to CRD'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('Configuration'), '/page/configuration', :class => 'yuimenuitemlabel' -%></li>
                          </ul>
                        </div>
                      </div>                    
                    <%- end -%>
                  <%- end -%>
                </li>
              </ul>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- end -%>
