<div id="header">
  <div id="header_left">
    <h2><a href="/" title="<%=h @library_group.display_name -%>"><%=h @library_group.display_name -%></a></h2>
  </div>

  <div id="header_advertisement">
    <%= advertisement_pickup -%>
  </div>
  <div id="header_right">
    <%- if logged_in? -%>
      <%= t('page.logged_in_as', :login_name => current_user.login) -%>
      <br />
      <%= link_to t('page.account'), edit_user_path(current_user.login) -%>
      <%= link_to t('page.logout'), '/logout' -%>
    <%- else -%>
      <%= link_to t('page.login'), new_session_path -%>
    <%- end -%>
  </div>
</div>

  <div id="navibar">
    <div id="bd">
    <!-- start: primary column from outer template -->
      <div id="yui-main">
        <div class="yui-b">
          <!-- start: stack grids here -->
          <div id="services" class="yuimenubar yuimenubarnav">
            <div class="bd">
              <ul class="first-of-type">
                <li class="yuimenubaritem first-of-type"><%= link_to t('page.search'), "#", :class => 'yuimenuitemlabel' -%>
                  <div id="search" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('page.resource')), manifestations_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- if Bookmark.is_indexable_by(current_user) -%>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.bookmark')), user_bookmarked_resources_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.question')), questions_path, :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.patron')), patrons_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- if User.is_indexable_by(current_user) -%>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.user')), users_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>

                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.subject')), subjects_path, :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>                    
                </li>
                <%- if logged_in? -%>
                  <li class="yuimenubaritem"><%= link_to t('activerecord.models.message'), '#', :class => 'yuimenubaritemlabel' -%>
                    <div id="message" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('message.inbox'), user_messages_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                          <%- if current_user.has_role?('Librarian') -%>
                            <li class="yuimenuitem"><%= link_to t('activerecord.models.message_queue'), message_queues_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                        </ul>
                      </div>
                    </div>
                  </li>
                <%- else -%>
                  <li class="yuimenubaritem"><%= link_to t('activerecord.models.message'), '/page/message', :class => 'yuimenubaritemlabel' -%>
                  </li>
                <%- end -%>
                <li class="yuimenubaritem"><%= link_to t('page.circulation'), '#', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <div id="circulation" class="yuimenu">
                      <div class="bd">
                        <ul>
                          <%- if current_user.has_role?('Librarian') -%>
                            <li class="yuimenuitem"><%= link_to t('page.checkout'), new_basket_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem">
                              <%- if @checkins and @basket -%>
                                <%= link_to t('page.checkin'), user_basket_checkins_path(@basket.user.login, @basket), :class => 'yuimenuitemlabel' -%>
                              <%- else -%>
                                <%= link_to t('page.checkin'), checkins_path, :class => 'yuimenuitemlabel' -%>
                              <%- end -%>
                            </li>
                            <li class="yuimenuitem"><%= link_to t('activerecord.models.inter_library_loan'), inter_library_loans_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to ('NACSIS ILL'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <li class="yuimenuitem"><%= link_to t('page.checkout_history'), user_checkouts_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>
                  <%- end -%>
                </li>
                <li class="yuimenubaritem">
                  <%- if logged_in? -%>
                    <%- if current_user.has_role?('Librarian') -%>
                      <%= link_to t('page.acquisition'), '#', :class => 'yuimenuitemlabel' -%>
                    <%- else -%>
                      <%= link_to t('activerecord.models.bookmark'), '#', :class => 'yuimenubaritemlabel' -%>
                    <%- end -%>
                  <%- else -%>
                    <%= link_to t('activerecord.models.bookmark'), bookmarked_resources_path, :class => 'yuimenubaritemlabel' -%>
                  <%- end -%>
                  <%- if logged_in? -%>
                    <div id="bookmark" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <%- if current_user.has_role?('Librarian') -%>
                            <li class="yuimenuitem"><%= link_to t('page.add_manually'), new_manifestation_path(:mode => 'import_isbn'), :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.import'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.add_file'), attachment_files_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <li class="yuimenuitem"><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.login, :url => request.url), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('page.request'), '#', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <div id="request" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem">
                          <%- if current_user.has_role?('Librarian') -%>
                            <%= link_to t('activerecord.models.reserve'), reserves_path, :class => 'yuimenuitemlabel' -%>
                          <%- else -%>
                            <%= link_to t('activerecord.models.reserve'), user_reserves_path(current_user.login), :class => 'yuimenuitemlabel' -%>
                          <%- end -%>
                          </li>
                          <li class="yuimenuitem"><%= link_to t('activerecord.models.purchase_request'), user_purchase_requests_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('activerecord.models.question'), user_questions_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('activerecord.models.event'), "#", :class => 'yuimenubaritemlabel' -%>
                <%- if @library_group -%>
                    <div id="event" class="yuimenu">
                      <%- unless @library_group.physical_libraries.blank? -%>
                      <div class="bd">
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('event.all'), events_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- @library_group.physical_libraries.each do |library| -%>
                            <li class="yuimenuitem"><%= link_to h(library.name), library_events_path(library.short_name), :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                          <%- if Event.is_creatable_by(current_user) -%>
                            <li class="yuimenuitem"><%= link_to t('page.import'), new_imported_event_file_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                        </ul>
                      </div>
                      <%- end -%>
                    </div>                    
                  <%- end -%>
                </li>
                <li class="yuimenubaritem"><%= link_to t('page.management'), '#', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <%- if current_user.has_role?('Librarian') -%>
                      <div id="management" class="yuimenu">
                        <div class="bd">                    
                          <ul>
                            <li class="yuimenuitem"><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.patron_management'), patrons_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.import'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.export'), '/page/export', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('activerecord.models.order_list'), order_lists_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.statistics'), '/page/statistics', :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('activerecord.models.search_history'), search_histories_path, :class => 'yuimenuitemlabel' -%></li>
                            <li class="yuimenuitem"><%= link_to t('page.recommendation'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                            <!--
                            <li class="yuimenuitem"><%= link_to ('Send questions and answers to CRD'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                            -->
                            <li class="yuimenuitem"><%= link_to t('page.configuration'), '/page/configuration', :class => 'yuimenuitemlabel' -%></li>
                          </ul>
                        </div>
                      </div>                    
                    <%- end -%>
                  <%- end -%>
                </li>
              </ul>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
