<div class="header_and_footer">
  <%- cache(:controller => 'library_groups', :id => LibraryGroup.site_config.id, :action_suffix => 'header', :locale => @locale, :role => current_user_role_name) do -%>
    <div id="header_left">
      <h2><a href="/" title="<%= LibraryGroup.site_config.display_name.localize -%>"><%= LibraryGroup.site_config.display_name.localize -%></a></h2>
    </div>
  <%- end -%>

  <%= render :partial => 'advertisements/header' -%>
  <%= render :partial => 'page/select_locale' -%>

  <div id="header_right">
    <%- if user_signed_in? -%>
      <%- cache :controller => 'users', :action => 'show', :id => current_user.username, :action_suffix => 'header', :locale => @locale do -%>
        <%= t('page.logged_in_as', :login_name => current_user.username) -%>
        <br />
        <%= link_to image_tag('/icons/email.png', :size => '16x16', :alt => t('activerecord.models.message')), user_messages_path(current_user.username) %>
        <% if current_user.received_messages.unread.size > 0 %>
          <%= link_to "(#{h(current_user.received_messages.unread.size)})", user_messages_path(current_user.username) %>
        <% else %>
          (<%= current_user.received_messages.unread.size %>)
        <% end %>
        <%= link_to t('page.account'), edit_user_path(current_user.username) -%>
        <%= link_to t('page.logout'), destroy_user_session_path -%>
      <%- end -%>
    <%- else -%>
      <%= link_to t('page.login'), new_user_session_path -%>
      <%- unless controller.controller_name == 'users' and controller.action_name == 'new' -%>
        (<%= link_to t('user.sign_up'), new_user_registration_path -%>)
      <%- end -%>
    <%- end -%>
  </div>
</div>
