<div style="margin-left: 5px; clear: left">
  <%= link_to 'Work', works_path %>
  <%= link_to 'Expression', expressions_path %>
  <%= link_to 'Manifestation', manifestations_path %>
  <%= link_to 'People/CorporateBody', people_path %>
  <%= link_to 'Content type', content_types_path %>
  <%= link_to 'Work relationship type', work_relationship_types_path %>
  <%= link_to 'Expression relationship type', expression_relationship_types_path %>
</div>
