<div id="navibar">
  <div id="bd">
  <!-- start: primary column from outer template -->
    <div id="yui-main">
      <div class="yui-b">
        <!-- start: stack grids here -->
        <div id="services" class="yuimenubar yuimenubarnav">
          <div class="bd">
            <ul class="first-of-type">
              <%- cache(:controller => 'page', :user => current_user.try(:login), :menu => 'search', :locale => @locale) do -%>
              <li class="yuimenubaritem first-of-type"><%= link_to t('page.search'), "#search", :class => 'yuimenuitemlabel' -%>
                <div id="search" class="yuimenu">
                  <div class="bd">                    
                    <ul>
                      <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('page.resource')), manifestations_path, :class => 'yuimenuitemlabel' -%></li>
                      <%- if Bookmark.is_indexable_by(current_user) -%>
                      <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.bookmark')), user_bookmarks_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                      <%- end -%>
                      <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.question')), questions_path, :class => 'yuimenuitemlabel' -%></li>
                      <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.patron')), patrons_path, :class => 'yuimenuitemlabel' -%></li>
                      <%- if User.is_indexable_by(current_user) -%>
                        <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.user')), users_path, :class => 'yuimenuitemlabel' -%></li>
                      <%- end -%>

                      <li class="yuimenuitem"><%= link_to t('page.search_resource', :model => t('activerecord.models.subject')), subjects_path, :class => 'yuimenuitemlabel' -%></li>
                    </ul>
                  </div>
                </div>                    
              </li>
              <%- end -%>
              <%- cache(:controller => 'page', :user => current_user.try(:login), :menu => 'message', :locale => @locale) do -%>
                <li class="yuimenubaritem"><%= link_to t('activerecord.models.message'), '#message', :class => 'yuimenubaritemlabel' -%>
                  <%- if logged_in? -%>
                    <div id="message" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('message.inbox'), user_messages_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                          <%- if current_user.has_role?('Librarian') -%>
                            <li class="yuimenuitem"><%= link_to t('activerecord.models.message_request'), message_requests_path, :class => 'yuimenuitemlabel' -%></li>
                          <%- end -%>
                        </ul>
                      </div>
                    </div>
                  <%- else -%>
                    <div id="message" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('message.inbox'), '/page/message', :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>
                  <%- end -%>
                </li>
              <%- end -%>
              <li class="yuimenubaritem"><%= link_to t('page.circulation'), '#circulation', :class => 'yuimenubaritemlabel' -%>
                <%- if logged_in? -%>
                  <div id="circulation" class="yuimenu">
                    <div class="bd">
                      <ul>
                        <%- if current_user.has_role?('Librarian') -%>
                          <li class="yuimenuitem"><%= link_to t('page.checkout'), new_basket_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem">
                            <%- if @checkins and @basket -%>
                              <%= link_to t('page.checkin'), user_basket_checkins_path(@basket.user.login, @basket), :class => 'yuimenuitemlabel' -%>
                            <%- else -%>
                              <%= link_to t('page.checkin'), checkins_path, :class => 'yuimenuitemlabel' -%>
                            <%- end -%>
                          </li>
                          <li class="yuimenuitem"><%= link_to t('activerecord.models.inter_library_loan'), inter_library_loans_path, :class => 'yuimenuitemlabel' -%></li>
                          <!--
                          <li class="yuimenuitem"><%= link_to 'NACSIS ILL', '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                          -->
                        <%- end -%>
                        <li class="yuimenuitem"><%= link_to t('page.checkout_history'), user_checkouts_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- else -%>
                  <div id="circulation" class="yuimenu">
                    <div class="bd">
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.checkout_history'), checkouts_path, :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- end -%>
              </li>
              <li class="yuimenubaritem">
                <%- if logged_in? -%>
                  <%- if current_user.has_role?('Librarian') -%>
                    <%= link_to t('page.acquisition'), '#acquisition', :class => 'yuimenuitemlabel' -%>
                  <%- else -%>
                    <%= link_to t('activerecord.models.bookmark'), '#bookmark', :class => 'yuimenubaritemlabel' -%>
                  <%- end -%>
                <%- else -%>
                  <%= link_to t('activerecord.models.bookmark'), '#bookmark', :class => 'yuimenubaritemlabel' -%>
                <%- end -%>
                <%- if logged_in? -%>
                  <div id="bookmark" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.add_manually'), new_import_request_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- if current_user.has_role?('Librarian') -%>
                          <li class="yuimenuitem"><%= link_to t('page.import_from_file'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('page.upload_file'), new_manifestation_path(:mode => 'attachment'), :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                        <li class="yuimenuitem"><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.login, :url => request.url), :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- else -%>
                  <div id="bookmark" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.listing', :model => t('activerecord.models.bookmark')), bookmarks_path, :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- end -%>
              </li>
              <%- cache(:controller => 'page', :user => current_user.try(:login), :menu => 'request', :locale => @locale) do -%>
              <li class="yuimenubaritem"><%= link_to t('page.request'), '#request', :class => 'yuimenubaritemlabel' -%>
                <%- if logged_in? -%>
                  <div id="request" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem">
                        <%- if current_user.has_role?('Librarian') -%>
                          <%= link_to t('activerecord.models.reserve'), reserves_path, :class => 'yuimenuitemlabel' -%>
                        <%- else -%>
                          <%= link_to t('activerecord.models.reserve'), user_reserves_path(current_user.login), :class => 'yuimenuitemlabel' -%>
                        <%- end -%>
                        </li>
                        <li class="yuimenuitem"><%= link_to t('activerecord.models.purchase_request'), user_purchase_requests_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to t('activerecord.models.question'), user_questions_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- else -%>
                  <div id="request" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('activerecord.models.reserve'), reserves_path, :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to t('activerecord.models.purchase_request'), purchase_requests_path, :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to t('activerecord.models.question'), questions_path, :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- end -%>
              </li>
              <%- end -%>
              <li class="yuimenubaritem"><%= link_to t('activerecord.models.event'), "#event", :class => 'yuimenubaritemlabel' -%>
              <%- if @library_group -%>
                  <div id="event" class="yuimenu">
                    <%- unless @library_group.physical_libraries.blank? -%>
                    <div class="bd">
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.calendar'), '/calendar', :class => 'yuimenuitemlabel' -%></li>
                        <li class="yuimenuitem"><%= link_to t('event.all'), events_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- @library_group.physical_libraries.each do |library| -%>
                          <li class="yuimenuitem"><%= link_to h(library.display_name.localize), library_events_path(library.name), :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                        <%- if Event.is_creatable_by(current_user) -%>
                          <li class="yuimenuitem"><%= link_to t('page.import'), new_event_import_file_path, :class => 'yuimenuitemlabel' -%></li>
                        <%- end -%>
                      </ul>
                    </div>
                    <%- end -%>
                  </div>
                <%- end -%>
              </li>
              <%- cache(:controller => 'page', :user => current_user.try(:login), :menu => 'configuration', :locale => @locale) do -%>
              <li class="yuimenubaritem"><%= link_to t('page.management'), '#management', :class => 'yuimenubaritemlabel' -%>
                <%- if logged_in? -%>
                  <%- if current_user.has_role?('Librarian') -%>
                    <div id="management" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('page.patron_management'), patrons_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('page.import'), '/page/import', :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('page.export'), '/page/export', :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('activerecord.models.order_list'), order_lists_path, :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('page.statistics'), '/page/statistics', :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to t('activerecord.models.search_history'), search_histories_path, :class => 'yuimenuitemlabel' -%></li>
                          <!--
                          <li class="yuimenuitem"><%= link_to t('page.recommendation'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                          <li class="yuimenuitem"><%= link_to ('Send questions and answers to CRD'), '/page/under_construction', :class => 'yuimenuitemlabel' -%></li>
                          -->
                          <li class="yuimenuitem"><%= link_to t('page.configuration'), '/page/configuration', :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>                    
                  <%- else -%>
                    <div id="management" class="yuimenu">
                      <div class="bd">                    
                        <ul>
                          <li class="yuimenuitem"><%= link_to t('user.account_management'), edit_user_path(current_user.login), :class => 'yuimenuitemlabel' -%></li>
                        </ul>
                      </div>
                    </div>
                  <%- end -%>
                <%- else -%>
                  <div id="management" class="yuimenu">
                    <div class="bd">                    
                      <ul>
                        <li class="yuimenuitem"><%= link_to t('page.login'), new_user_session_path, :class => 'yuimenuitemlabel' -%></li>
                      </ul>
                    </div>
                  </div>
                <%- end -%>
              </li>
              <%- end -%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
