<div id="submenu">
  <ul>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Acquisition') -%></h1>

<ul>
  <li><%= link_to ('Add a new resource'), works_path -%></li>
  <!--
  <li><%= link_to ('Patron'), patrons_path -%></li>
  <li><%= link_to ('Work'), works_path -%></li>
  <li><%= link_to ('Expression'), expressions_path -%>
  単行本や雑誌に収録されている、論文や記事を1本追加します。また、新しい逐次刊行物を追加します。</li>
  <li><%= link_to ('Manifestation'), manifestations_path -%>
  単行本や雑誌を1冊追加します。また、すでに書誌が登録されている資料について、図書館の所蔵を1冊追加します。</li>
  <li><%= link_to ('Item'), items_path -%></li>
  -->
</ul>

<h3><%= ('Import') -%></h3>

<ul>
  <!--
  <li><%= link_to ('MARC'), :controller => 'import', :action => 'marc' -%></li
  -->
  <li><%= link_to ('ISBN'), new_manifestation_path(:mode => 'import_isbn') -%></li>
</ul>
</div>
