div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.acquisition') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('page.add', :model => t('activerecord.models.work')), works_path -%></li>
</ul>

<h3><%= t('page.import') -%></h3>

<ul>
  <!--
  <li><%= link_to 'MARC', :controller => 'import', :action => 'marc' -%></li
  -->
  <li><%= link_to 'ISBN', new_import_request_path -%></li>
</ul>
</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
