<div id="submenu">
  <ul>
  </ul>
</div>


<div id="content_detail">
<h1><%= ('Circulation') -%></h1>

<ul>
  <li><%= link_to t('page.checkout'), new_basket_path -%>
  <li><%= link_to t('page.checkin'), checkins_path -%>
</ul>

<ul>
  <li><%= link_to ('Checkout index'), checkouts_path -%>
  <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%>
</ul>

</div>
