<div id="submenu">
  <ul>
  </ul>
</div>


<div id="content_detail">
<h1 class="title"><%= t('page.circulation') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('page.checkout'), new_basket_path -%>
  <li><%= link_to t('page.checkin'), checkins_path -%>
</ul>

<ul>
  <li><%= link_to t('activerecord.models.checkout'), checkouts_path -%>
  <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%>
</ul>

</div>
</div>
