<div id="submenu">
  <ul>
    <li><%= link_to t('page.add_manually'), new_import_queue_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.import_from_file') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('activerecord.models.patron'), imported_patron_files_path -%>
  (<%= t('activerecord.models.user') -%>)</li>

  <li><%= link_to t('activerecord.models.event'), imported_event_files_path -%></li>
  <li><%= t('page.resource') -%>
  <ul>
    <li><%= link_to t('import.from_isbn'), new_manifestation_path(:mode => 'import_isbn') -%></li>
    <li><%= link_to t('import.from_file'), new_imported_resource_file_path -%> (MARC, TSV)</li>
  </ul>
  </li>
</ul>
</div>
</div>
