<div id="left_pane">
  <h1 class="title"><%= t('page.catalog_search') -%></h1>
  <div id="user_search_form">
    <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <div>
        <%= t('page.search_term') -%>:
        <%= text_field_tag 'query', nil, :class => 'search_form_short' -%>
        <%= submit_tag t('page.search') -%><br />
        (<%= link_to t('page.advanced_search'), '/page/advanced_search' -%>)
      </div>
    <%- end -%>
    <%= javascript_tag("$('query').focus()") -%>

      <p><%= t('page.number_of_manifestations', :numdocs => Manifestation.cached_numdocs, :count => Manifestation.cached_numdocs) -%></p>

    <h3><%= link_to t('page.new_resource'), :controller => 'manifestations', :mode => 'recent' -%></h3>
  </div>

  <h3 class="title"><%= t('page.news') -%></h3>
  <div id="news_feed_box">
    <%= render :partial => 'news_feeds/list', :locals => {:news_feeds => @news_feeds} -%>
  </div>

</div>

<div id="right_pane">
  <h3 class="title"><%= t('manifestation.pickup') -%></h3>
  <div id="picked_up_box">
    <%= render :partial => 'manifestations/pickup', :locals => {:picked_up => @picked_up} -%>
  </div>

  <h3 class="title"><%= t('tag.popular_tag') -%></h3>
  <div id="tag_cloud_box">
    <%- cache(:controller => 'tags', :action => 'index', :action_suffix => 'public_tag_cloud', :locale => @locale) do -%>
      <%= render :partial => 'bookmarks/tag_cloud', :locals => {:tags => @tags} -%>
    <%- end -%>
  </div>
</div>
