<div id="submenu">
  <ul>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.management') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('activerecord.models.patron'), patrons_path -%></li>
  <li><%= link_to t('page.import'), '/page/import' -%></li>
  <li><%= link_to t('activerecord.models.attachment_file'), attachment_files_path -%></li>
  <li><%= link_to t('activerecord.models.bookmarked_resource'), bookmarked_resources_path -%></li>
  <li><%= link_to t('activerecord.models.order_list'), order_lists_path -%></li>
  <li><%= link_to t('activerecord.models.subscription'), subscriptions_path -%></li>
  <li><%= link_to t('page.statistics'), '/page/statistics' -%></li>
  <li><%= link_to t('page.configuration'), '/page/configuration' -%></li>
</ul>
</div>
</div>
