<div id="submenu">
  <ul>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Management') -%></h1>

<ul>
  <li><%= link_to ('Import'), '/page/import' -%></li>
  <li><%= link_to ('Attachment files'), attachment_files_path -%></li>
  <li><%= link_to ('Bookmarked resources'), bookmarked_resources_path -%></li>
  <li><%= link_to ('Order list'), order_lists_path -%></li>
  <li><%= link_to ('Subscription'), subscriptions_path -%></li>
  <li><%= link_to ('Statistics'), '/statistic' -%></li>
  <li><%= link_to ('Configuration'), '/page/configuration' -%></li>
</ul>
</div>
