<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.patron_management') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('page.search_patron'), patrons_path -%></li>
  <li><%= link_to t('page.new', :model => t('activerecord.models.patron')), new_patron_path -%></li>
  <li><%= link_to t('page.new', :model => t('activerecord.models.user')), new_user_path -%></li>
  <li><%= link_to t('page.merge_resource', :model => t('activerecord.models.patron')), new_patron_merge_list_path -%></li>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
