<h1><%= ('Patron management') -%></h1>

<ul>
  <li><%= link_to ('Search patrons'), patrons_path -%></li>
  <li><%= link_to ('New patron'), new_patron_path -%></li>
  <li><%= link_to ('New user'), new_user_path -%></li>
  <li><%= link_to ('Merge patrons'), new_patron_merge_list_path -%></li>
</ul>

