<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.statistics') -%></h1>
<div id="content_list">
  <table class="index">
    <tr>
      <th><%= t('page.model') -%></th>
      <th><%= t('page.number_of_record') -%></th>
      <th><%= t('page.note') -%></th>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.patron'), patrons_path -%></td>
      <td><%= Patron.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.user'), users_path -%></td>
      <td><%= User.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.work'), works_path -%></td>
      <td><%= Work.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.expression'), expressions_path -%></td>
      <td><%= Expression.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.manifestation'), manifestations_path -%></td>
      <td><%= Manifestation.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.item'), items_path -%></td>
      <td><%= Item.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.search_history'), search_histories_path -%></td>
      <td><%= SearchHistory.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.bookmark'), bookmarks_path -%></td>
      <td>
        <%= Bookmark.count -%>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.subject'), subjects_path -%></td>
      <td><%= Subject.count -%></td>
      <td></td>
    <tr>
      <td><%= link_to t('activerecord.models.tag'), tags_path -%></td>
      <td><%= Tag.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.question'), questions_path -%></td>
      <td><%= Question.count -%></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to t('activerecord.models.answer'), answers_path -%></td>
      <td><%= Answer.count -%></td>
      <td></td>
    </tr>
  </table>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
