<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @form_of_work -%></li>
    <li><%= link_to t('page.back'), form_of_works_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.form_of_work')) -%></h1>
<div class="inner">

<%= error_messages_for :form_of_work -%>

<%- form_for(@form_of_work) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.form_of_work.display_name') -%></b><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.form_of_work.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
