<h1><%= ('Editing imported_patron_file') %></h1>

<%- form_for(@imported_patron_file) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :filename -%><br />
    <%= f.text_field :filename -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

<%= link_to t('page.show'), @imported_patron_file -%> |
<%= link_to t('page.back'), imported_patron_files_path -%>
