<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.imported_patron_file')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.models.db_file') -%></th>
    <th><%= t('activerecord.attributes.imported_patron_file.filename') -%></th>
    <th><%= t('activerecord.attributes.imported_patron_file.content_type') -%></th>
    <th><%= t('activerecord.attributes.imported_patron_file.size') -%></th>
    <th><%= t('page.user') -%></th>
  </tr>

<%- for imported_patron_file in @imported_patron_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h imported_patron_file.db_file_id -%></td>
    <td><%=h imported_patron_file.filename -%></td>
    <td><%=h imported_patron_file.content_type -%></td>
    <td><%=h imported_patron_file.size -%></td>
    <td><%= link_to h(imported_patron_file.user.login), user_path(imported_patron_file.user.login) -%></td>
    <td><%= link_to t('page.show'), imported_patron_file -%></td>
    <td><%= link_to t('page.edit'), edit_imported_patron_file_path(imported_patron_file) -%></td>
    <td><%= link_to t('page.destroy'), imported_patron_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@imported_patron_files, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.imported_patron_file')), new_imported_patron_file_path -%></li>
  </ul>
</div>
