<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), imported_patron_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.imported_patron_file')) -%></h1>
<div id="content_list">

<%- form_for(@imported_patron_file, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
