<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_imported_patron_file_path(@imported_patron_file) -%></li>
    <li><%= link_to t('page.back'), imported_patron_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.imported_patron_file')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.imported_patron_file.filename') -%>:</b>
  <%= link_to h(@imported_patron_file.filename), imported_patron_file_path(@imported_patron_file, :format => :download) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_patron_file.content_type') -%>:</b>
  <%=h @imported_patron_file.content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_patron_file.size') -%>:</b>
  <%=h @imported_patron_file.size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_patron_file.file_hash') -%>:</b>
  <%=h @imported_patron_file.file_hash -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@imported_patron_file.created_at) if @imported_patron_file.created_at -%>
</p>

<p>
  <b><%= t('activerecord.attributes.imported_patron_file.imported_at') -%>:</b>
  <%= l(@imported_patron_file.imported_at) if @imported_patron_file.imported_at -%>
</p>

<p>
  <b><%= t('page.user') -%>:</b>
  <%= link_to h(@imported_patron_file.user.login), user_path(@imported_patron_file.user.login) -%>
</p>

<table id="index">
  <%- @imported_patron_file.imported_objects.each do |object| -%>
    <tr>
      <td><%= link_to h(object.importable.full_name), object.importable -%></td>
      <td><%= l(object.created_at) -%></td>
    </tr>
  <%- end -%>
</table>

</div>
</div>
