<h1 class="title">Listing reserve_stat_has_users</h1>

<table>
  <tr>
    <th>User reserve</th>
    <th><%= t('activerecord.models.user') -%></th>
    <th>Reserves count</th>
  </tr>

<% for reserve_stat_has_user in @reserve_stat_has_users -%>
  <tr>
    <td><%=h reserve_stat_has_user.user_reserve_stat_id -%></td>
    <td><%=h reserve_stat_has_user.user_id -%></td>
    <td><%=h reserve_stat_has_user.reserves_count -%></td>
    <td><%= link_to t('page.show'), reserve_stat_has_user -%></td>
    <td><%= link_to t('page.edit'), edit_reserve_stat_has_user_path(reserve_stat_has_user) -%></td>
    <td><%= link_to t('page.destroy'), reserve_stat_has_user, :confirm => 'Are you sure?', :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@reserve_stat_has_users, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
<br />

<%= link_to t('page.new', :model => t('activerecord.models.reserve_stat_has_user')), new_reserve_stat_has_user_path -%>
