<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.reserve_stat_has_user')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.models.user_reserve_stat') -%></b>
  <%= link_to h(@reserve_stat_has_user.user_reserve_stat.id), @reserve_stat_has_user.user_reserve_stat -%>
</p>

<p>
  <b><%= t('activerecord.models.user') -%></b>
  <%= link_to h(@reserve_stat_has_user.user.login), user_path(@reserve_stat_has_user.user.login) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.reserve_stat_has_user.reserves_count') -%></b>
  <%= @reserve_stat_has_user.reserves_count -%>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_reserve_stat_has_user_path(@reserve_stat_has_user) -%></li>
    <li><%= link_to t('page.back'), reserve_stat_has_users_path -%></li>
  </ul>
</div>
