<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.request_status_type')), new_request_status_type_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.request_status_type')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.request_status_type.name') -%></th>
    <th><%= t('activerecord.attributes.request_status_type.display_name') -%></th>
  </tr>

<%- for request_status_type in @request_status_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(request_status_type.name), request_status_type -%></td>
    <td><%= link_to h(request_status_type.display_name.localize), request_status_type -%></td>
    <td><%= link_to t('page.edit'), edit_request_status_type_path(request_status_type) -%></td>
    <td><%= link_to t('page.destroy'), request_status_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>
</div>
</div>
