<h1><%= ('Listing request_status_types') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Name') -%></th>
    <th><%= ('Display name') -%></th>
    <th><%= ('Note') -%></th>
  </tr>

<%- for request_status_type in @request_status_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h request_status_type.name -%></td>
    <td><%=h request_status_type.display_name -%></td>
    <td><%=h request_status_type.note -%></td>
    <td><%= link_to t('show'), request_status_type -%></td>
    <td><%= link_to t('edit'), edit_request_status_type_path(request_status_type) -%></td>
    <td><%= link_to t('destroy'), request_status_type, :confirm => ('Are you sure?'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New request_status_type'), new_request_status_type_path -%>
