<div id="submenu">
  <ul>
    <%- if @answer.question -%>
      <li><%= link_to t('page.back'), user_question_answers_path(@answer.question.user.login, @answer.question) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.new', :model => t('activerecord.models.answer')) -%></h1>

<%= error_messages_for :answer -%>

<%- form_for(:answer, :url => user_question_answers_path(@answer.question.user.login, @answer.question)) do |f| -%>

  <p>
    <b><%= t('activerecord.models.question') -%></b><br />
    <%=h @answer.question.body -%>
    <%= f.hidden_field :question_id, :value => @answer.question.id -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.answer.body') -%></b><br />
  <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
