<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), user_question_answers_path(@user.login, @question) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New answer') -%></h1>

<%= error_messages_for :answer -%>

<%- form_for(:answer, :url => user_question_answers_path(@user.login, @question)) do |f| -%>

  <p>
  <b><%= ('Question') -%></b><br />
    <%=h @question.body -%>
    <%= f.hidden_field :question_id, :value => @question.id -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.answer.body') -%></b><br />
  <%= f.text_area :body, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>
</div>
