<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.answer')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.models.user') -%>:</strong>
  <%= link_to h(@answer.user.login), user_path(@answer.user.login) -%>
</p>

<p>
  <strong><%= t('activerecord.models.question') -%>:</strong>
  <%= @answer.question.body -%>
</p>

<p>
<strong><%= t('activerecord.attributes.answer.body') -%>:</strong>
  <%= @answer.body -%>
</p>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@answer.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@answer.updated_at) -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if @answer.is_updatable_by(current_user) -%>
      <li><%= link_to t('page.edit'), edit_user_question_answer_path(@answer.question.user.login, @answer.question, @answer) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), user_question_answers_path(@answer.question.user.login, @answer.question) -%></li>
  </ul>
</div>
