<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_question_answer_path(@answer.user.login, @answer.question, @answer) -%></li>
    <li><%= link_to t('page.back'), user_question_answers_path(@answer.user.login, @answer.question) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('page.user') -%>:</b>
  <%= link_to h(@answer.user.login), user_path(@answer.user.login) -%>
</p>

<p>
<b><%= t('activerecord.models.question') -%>:</b>
  <%=h @answer.question.body -%>
</p>

<p>
<b><%= t('activerecord.attributes.answer.body') -%>:</b>
  <%=h @answer.body -%>
</p>

<p>
<b><%= t('page.created_at') -%>:</b>
  <%=h @answer.created_at -%>
</p>

<p>
<b><%= t('page.updated_at') -%>:</b>
  <%=h @answer.updated_at -%>
</p>

</div>
