<h1>Listing manifestation_relationship_types</h1>

<table id="index">
  <tr>
    <th>Name</th>
    <th>Display name</th>
    <th>Note</th>
    <th>Position</th>
  </tr>

<% for manifestation_relationship_type in @manifestation_relationship_types %>
  <tr>
    <td><%=h manifestation_relationship_type.name %></td>
    <td><%=h manifestation_relationship_type.display_name %></td>
    <td><%=h manifestation_relationship_type.note %></td>
    <td><%=h manifestation_relationship_type.position %></td>
    <td><%= link_to t('page.show'), manifestation_relationship_type %></td>
    <td><%= link_to t('page.edit'), edit_manifestation_relationship_type_path(manifestation_relationship_type) %></td>
    <td><%= link_to t('page.destroy'), manifestation_relationship_type, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New manifestation_relationship_type', new_manifestation_relationship_type_path %>
