<h1>Listing manifestation_checkout_stat_has_manifestations</h1>

<table>
  <tr>
    <th>Checkout stat</th>
    <th>Manifestation</th>
    <th>Checkouts count</th>
  </tr>

<% for manifestation_checkout_stat_has_manifestation in @manifestation_checkout_stat_has_manifestations %>
  <tr>
    <td><%=h manifestation_checkout_stat_has_manifestation.manifestation_checkout_stat_id %></td>
    <td><%=h manifestation_checkout_stat_has_manifestation.manifestation_id %></td>
    <td><%=h manifestation_checkout_stat_has_manifestation.checkouts_count %></td>
    <td><%= link_to t('page.show'), manifestation_checkout_stat_has_manifestation %></td>
    <td><%= link_to t('page.edit'), edit_manifestation_checkout_stat_has_manifestation_path(manifestation_checkout_stat_has_manifestation) %></td>
    <td><%= link_to t('page.destroy'), manifestation_checkout_stat_has_manifestation, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New manifestation_checkout_stat_has_manifestation', new_manifestation_checkout_stat_has_manifestation_path %>
