<p>
  <b>Reserve stat:</b>
  <%= @reserve_stat_has_manifestation.manifestation_reserve_stat_id -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= @reserve_stat_has_manifestation.manifestation_id -%>
</p>

<p>
  <b>Reserves count:</b>
  <%= @reserve_stat_has_manifestation.reserves_count -%>
</p>


<%= link_to t('page.edit'), edit_reserve_stat_has_manifestation_path(@reserve_stat_has_manifestation) -%> |
<%= link_to t('page.back'), reserve_stat_has_manifestations_path -%>
