<div class="expression">
  <ul>
    <%- @expression.from_expressions.each do |expression_has_expression| -%>
      <li>
        [E]
        (<%= h(expression_has_expression.expression_relationship_type.display_name.localize) -%>)
        <%= link_to h(expression_has_expression.from_expression.original_title), expression_has_expression.from_expression -%>
        <%= raw patrons_list(expression_has_expression.from_expression.patrons) -%>
      </li>
    <%- end -%>
    <%- @expression.to_expressions.each do |expression_has_expression| -%>
      <li>
        [E]
        (<%= h(expression_has_expression.expression_relationship_type.display_name.localize) -%>)
        <%= link_to h(expression_has_expression.to_expression.original_title), expression_has_expression.to_expression -%>
        <%= raw patrons_list(expression_has_expression.to_expression.patrons) -%>
      </li>
    <%- end -%>
  </ul>
</div>
