<div id="expression">
  <ul>
    <%- @expression.parents.each do |expression_relationship| -%>
      <li>
        [E]
        (<%= expression_relationship.expression_relationship_type.display_name.localize -%>)
        <%= link_to expression_relationship.parent.original_title, expression_relationship.parent -%>
        <%= patrons_list(expression_relationship.parent.creators) -%>
        <%= patrons_list(expression_relationship.parent.patrons) -%>
      </li>
    <%- end -%>
    <%- @expression.children.each do |expression_relationship| -%>
      <li>
        [E]
        (<%= expression_relationship.expression_relationship_type.display_name.localize -%>)
        <%= link_to expression_relationship.child.original_title, expression_relationship.child -%>
        <%= patrons_list(expression_relationship.child.creators) -%>
        <%= patrons_list(expression_relationship.child.patrons) -%>
      </li>
    <%- end -%>
  </ul>
</div>
