  <p>
    <%= f.label t('page.title') -%><br />
    <%- if @work -%>
      <%= f.text_field :original_title, :value => @work.original_title, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :original_title, :value => @manifestation.original_title, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :original_title, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.expression.title_transcription') -%><br />
    <%- if @work -%>
      <%= f.text_field :title_transcription, :value => @work.title_transcription, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :title_transcription, :value => @manifestation.title_transcription, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_transcription, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.expression.title_alternative') -%><br />
    <%- if @work -%>
      <%= f.text_field :title_alternative, :value => @work.title_alternative, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :title_alternative, :value => @manifestation.title_alternative, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_alternative, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <!--
  <p>
    <%= f.label t('activerecord.attributes.expression.summarization') -%><br />
    <%= f.text_area :summarization, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.expression.context') -%><br />
    <%= f.text_area :context, :class => 'resource_textarea' -%>
  </p>
  -->

  <p>
    <%= f.label t('activerecord.models.language') -%>
    <%= f.select(:language_id, @languages.collect{|l| [l.display_name.localize, l.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.content_type') -%>
    <%= f.select(:content_type_id, @content_types.collect{|e| [e.display_name.localize, e.id]}) -%>
  </p>

  <p>
    <%= f.label t('role.required_role') -%>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>

  <p>
    <%= f.label t('activerecord.attributes.expression.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <%= javascript_tag("$('expression_original_title').focus()") -%>
