<div id="submenu">
  <ul>
    <li><%= link_to t('work.add'), works_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression')), new_work_expression_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1 class="title">
    [W]
    <%= link_to h(@work.original_title), @work -%>
  </h1>
  <p>
    <%= patrons_list(@work.patrons) -%>
  </p>

  <%- form_for :expressions, :url => work_expressions_path(@work), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :style => 'width: 350px' -%>
      <%- if_authorized?(:destroy, @work) do -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), work_expressions_path(@work) -%>
    </p>
  <%- end -%>

<table style="width:100%">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('page.language') -%></th>
  </tr>
  
<%- for expression in @expressions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [E]
      <%= link_to h(expression.original_title), work_expression_path(@work, expression) -%>
      <%= expression_form_icon(expression.expression_form) -%><br />
      <%= patrons_list(expression.authors) -%>
      <%= patrons_list(expression.patrons) -%>
    </td>
    <td><%=h expression.language.display_name -%></td>
    <td>
      <%- if_authorized?(:destroy, expression) do -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_work_reify_path(@work, :expression_id => expression.id, :mode => 'add') unless @work.expressions.include?(expression) -%>
        <%- else -%>
          <%- reify = @work.reifies.find_by_expression_id(expression.id) -%>
          <%= link_to t('page.destroy'), work_reify_path(@work, reify), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
