<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [W]
    <%= link_to @work.original_title, @work -%>
    <%- if @work.series_statement -%>
      (<%= link_to @work.series_statement.original_title, @work.series_statement -%>)
    <%- end -%>
  </h2>
  <p>
    <%= patrons_list(@work.patrons) -%>
  </p>

  <div class="search_form">
  <%= form_for :expressions, :url => work_expressions_path(@work), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%- if can? :update, @work -%>
        <%= render 'page/add' %>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), work_expressions_path(@work) -%>
    </p>
  <%- end -%>
  </div>

<table style="width:100%">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
    <th></th>
  </tr>
  
<%- @expressions.each do |expression| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [E]
      <%= link_to expression.original_title, work_expression_path(@work, expression) -%>
      <%= content_type_icon(expression.content_type) -%><br />
      <%= patrons_list(expression.patrons) -%>
    </td>
    <td><%= expression.language.display_name.localize -%></td>
    <td>
      <%- if can? :update, expression -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_work_reify_path(@work, :expression_id => expression.id) unless @work.expressions.include?(expression) -%>
        <%- else -%>
          <%= link_to t('page.destroy'), work_reify_path(@work, @work.reified(expression)), :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@expressions) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('work.add'), works_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression')), new_work_expression_path -%></li>
  </ul>
</div>
