<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression_merge_list')), @expression_merge_list -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">

<%- form_for :expressions, :url => expression_merge_list_expressions_path(@expression_merge_list), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:class => 'search_form'} -%>
  <%- if @expression_merge_list.is_deletable_by(current_user) -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), expression_merge_list_expressions_path(@expression_merge_list) -%>
</p>
    <%= javascript_tag("$('query').focus()") -%>
<%- end -%>

  <table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
  </tr>
  
<%- @expressions.each do |expression| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(expression.original_title), expression_merge_list_expression_path(@expression_merge_list, expression) -%>
      <%= content_type_icon(expression.content_type) -%>
      <br />
      <%= patrons_list(expression.patrons) -%>
    </td>
    <td><%=h expression.language.display_name.localize -%></td>
    <td>
      <%- if expression.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_expression_merge_list_expression_merge_path(@expression_merge_list, :expression_id => expression.id) unless @expression_merge_list.expressions.include?(expression) -%>
        <%- else -%>
          <%- expression_merge = @expression_merge_list.expression_merges.find_by_expression_id(expression) -%>
          <%= link_to t('page.destroy'), expression_merge_list_expression_merge_path(@expression_merge_list, expression_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
