<div id="submenu">
  <ul>
    <li><%= link_to t('activerecord.models.work'), patron_works_path(@patron) -%></li>
    <li><%= link_to t('activerecord.models.manifestation'), patron_manifestations_path(@patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <h2>
    <%= link_to h(@patron.full_name), @patron -%>
  </h2>

  <%- form_for :expressions, :url => patron_expressions_path(@patron), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :class => 'search_form' -%>
      <%- if @patron.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), patron_expressions_path(@patron) -%>
    </p>
  <%- end -%>

<table style="width:100%">
  <tr>
    <th><%=t('page.title') -%></th>
    <th><%= t('page.language') -%></th>
    <th></th>
  </tr>
  
<%- for expression in @expressions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(expression.original_title), expression -%>
      <%= expression_form_icon(expression.expression_form) -%>
    </td>
    <td><%=h expression.language.display_name -%></td>
    <td>
      <%- if expression.is_deletable_by(current_user) -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_patron_realize_path(@patron, :expression_id => expression.id) -%>
        <%- else -%>
          <%- perform = @patron.performs.find_by_expression_id(expression.id) -%>
          <%= link_to t('page.destroy'), patron_perform_path(@patron, perform), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
