<div id="submenu">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.subscription')), subscriptions_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression')), new_subscription_expression_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <h2>
    <%= link_to h(@subscription.title), @subscription -%>
  </h2>

  <%- form_for :expressions, :url => subscription_expressions_path(@subscription), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :class => 'search_form' -%>
      <%- if @subscription.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), subscription_expressions_path(@subscription) -%>
    </p>
    <%= javascript_tag("$('query').focus()") -%>
  <%- end -%>

<table style="width:100%">
  <tr>
    <th><%=t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
  </tr>
  
<%- for expression in @expressions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [E]
      <%= link_to h(expression.original_title), subscription_expression_path(@subscription, expression) -%>
      <%= content_type_icon(expression.content_type) -%><br />
      <%= patrons_list(expression.authors) -%>
      <%= patrons_list(expression.patrons) -%>
    </td>
    <td><%=h expression.language.display_name.localize -%></td>
    <td>
      <%- if expression.is_deletable_by(current_user) -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_subscription_subscribe_path(@subscription, :expression_id => expression.id, :mode => 'add') -%>
        <%- else -%>
          <%- subscribe = @subscription.subscribes.find_by_expression_id(expression.id) -%>
          <%= link_to t('page.destroy'), subscription_subscribe_path(@subscription, subscribe), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
