<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <%- cache(:controller => :manifestations, :action => :show, :id => @manifestation.id, :page => 'title', :role => current_user_role_name, :locale => @locale) do -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>
  <%- end -%>
  
  <%= form_for :expressions, :url => manifestation_expressions_path(@manifestation), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%- if can? :update, @manifestation -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), manifestation_expressions_path(@manifestation) -%>
    </p>
    <%= javascript_tag("$('#search_form_top').focus()") -%>
  <%- end -%>

<table style="width:100%">
  <tr>
    <th><%=t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
    <th></th>
  </tr>

<%- @expressions.each do |expression| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [E]
      <%= link_to expression.original_title, expression -%>
      <%= content_type_icon(expression.content_type) -%><br />
      <%= raw patrons_list(expression.creators, current_user) -%>
      <%= raw patrons_list(expression.patrons, current_user) -%>
    </td>
    <td><%= expression.language.display_name.localize -%></td>
    <td>
      <%- if can? :update, expression -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_manifestation_embody_path(@manifestation, :expression_id => expression.id) -%>
        <%- else -%>
          <%= link_to t('page.destroy'), manifestation_embody_path(@manifestation, @manifestation.embodied(expression)), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('expression.add'), expressions_path -%></li>
  </ul>
</div>
