<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
<%- form_for :expressions, :url => expressions_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%- if params[:view] == 'serial' -%>
      <%= check_box_tag 'view', 'serial', :checked => true -%>
    <%- else -%>
      <%= check_box_tag 'view', 'serial' -%>
    <%- end -%>
    <%= t('page.serial') -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
    <th></th>
  </tr>
  
  <%- @expressions.each do |expression| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(expression.original_title), expression -%>
        <%= content_type_icon(expression.content_type) -%>
        <br />
        <%= raw patrons_list(expression.patrons, current_user) -%>
      </td>
      <td><%= expression.language.display_name.localize -%></td>
      <td>
        <%- if can? :destroy, expression -%>
          <%= link_to image_tag('/icons/page_white_edit.png', :size => '16x16', :alt => t('page.edit')), edit_expression_path(expression) -%>
          <%= link_to image_tag('/icons/arrow_divide.png', :size => '16x16', :alt => t('page.add_derivation')), expression_expressions_path(expression) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@expressions) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :create, Expression -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.expression')), new_expression_path -%></li>
    <%- end -%>
  </ul>
</div>
