<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [E]
    <%= link_to @expression.original_title, @expression -%>
  </h2>
<%= form_for :expressions, :url => expression_expressions_path(@expression), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @expression -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
    <th></th>
  </tr>
  
  <%- @expressions.each do |expression| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        [E]
        <%= link_to expression.original_title, expression -%>
        <%= content_type_icon(expression.content_type) -%><br />
        <%= patrons_list(expression.creators) -%>
        <%= patrons_list(expression.patrons) -%>
      </td>
      <td><%= expression.language.display_name.localize -%></td>
      <td>
        <%- if can? :update, expression -%>
          <%= link_to t('page.edit'), edit_expression_path(expression) -%>
          <%= link_to t('page.add'), new_expression_expression_relationship_path(@expression, :child_id => expression.id) unless @expression.derived_expressions.include?(expression) or @expression == expression -%>
        <% end %>
        <%- if can? :destroy, expression -%>
          <%- expression_relationship = @expression.children.find_by_child_id(expression.id) -%>
          <%= link_to t('page.destroy'), expression_relationship, :confirm => t('page.are_you_sure'), :method => :delete if expression_relationship -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@expressions) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
