<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [E]
    <%= link_to h(@expression.original_title), @expression -%>
  </h2>
<%- form_for :expressions, :url => expression_expressions_path(@expression), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%- if can? :destroy, @expression -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
  </tr>
  
  <%- @expressions.each do |expression| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        [E]
        <%= link_to h(expression.original_title), expression -%>
        <%= content_type_icon(expression.content_type) -%><br />
        <%= raw patrons_list(manifestation.creators, current_user) -%>
        <%= raw patrons_list(expression.patrons, current_user) -%>
      </td>
      <td><%= expression.language.display_name.localize -%></td>
      <%- if can? :destroy, expression -%>
        <td><%= link_to t('page.edit'), edit_expression_path(expression) -%></td>
        <td>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_expression_expression_has_expression_path(@expression, :to_expression_id => expression.id) unless @expression.derived_expressions.include?(expression) or @expression == expression -%>
          <%- else -%>
            <%- expression_has_expression = @expression.to_expressions.find_by_to_expression_id(expression.id) -%>
            <%= link_to t('page.destroy'), expression_has_expression, :confirm => t('page.are_you_sure'), :method => :delete if expression_has_expression -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@expressions) -%>

</div>
</div>

<div id="submenu">
</div>
