<div id="submenu">
  <ul>
    <li><%= link_to t('expression.add'), expressions_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">
  <%- cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'title', :editable => false, :locale => @locale) do -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>
  <%- end -%>
  
  <%- form_for :expressions, :url => manifestation_expressions_path(@manifestation), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :class => 'search_form' -%>
      <%- if @manifestation.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), manifestation_expressions_path(@manifestation) -%>
    </p>
    <%= javascript_tag("$('query').focus()") -%>
  <%- end -%>

<table style="width:100%">
  <tr>
    <th><%=t('page.title') -%></th>
    <th><%= t('page.language') -%></th>
    <th></th>
  </tr>
  
<%- for expression in @expressions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(expression.original_title), expression -%>
    <%= expression_form_icon(expression.expression_form) -%></td>
    <td><%=h expression.language.display_name.localize -%></td>
    <td>
      <%- if expression.is_deletable_by(current_user) -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_manifestation_embody_path(@manifestation, :expression_id => expression.id) unless @manifestation.expressions.include?(expression) -%>
        <%- else -%>
          <%- embody = @manifestation.embodies.find_by_expression_id(expression.id) -%>
          <%= link_to t('page.destroy'), manifestation_embody_path(@manifestation, embody), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
