<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">

  <div class="search_form">
  <%= form_for :expressions, :url => expression_merge_list_expressions_path(@expression_merge_list), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%- if can? :update, @expression_merge_list -%>
        <%= render 'page/add' %>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), expression_merge_list_expressions_path(@expression_merge_list) -%>
    </p>
  <%- end -%>
  </div>

  <table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.models.language') -%></th>
    <th></th>
  </tr>
  
<%- @expressions.each do |expression| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to expression.original_title, expression_merge_list_expression_path(@expression_merge_list, expression) -%>
      <%= content_type_icon(expression.content_type) -%>
      <br />
      <%= patrons_list(expression.patrons) -%>
    </td>
    <td><%= expression.language.display_name.localize -%></td>
    <td>
      <%- if can? :update, expression -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_expression_merge_list_expression_merge_path(@expression_merge_list, :expression_id => expression.id) unless @expression_merge_list.expressions.include?(expression) -%>
        <%- end -%>
      <%- end -%>
      <%- if can? :destroy, expression -%>
        <%- expression_merge = @expression_merge_list.expression_merges.find_by_expression_id(expression) -%>
        <%= link_to t('page.destroy'), expression_merge_list_expression_merge_path(@expression_merge_list, expression_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expressions) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression_merge_list')), @expression_merge_list -%></li>
  </ul>
</div>
