<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Expression) do -%>
      <li><%= link_to t('expression.new'), new_expression_path -%></li>
    <%- end -%>
  </ul>
</div>
  
<div id="content_detail">
<h1><%= t('expression.listing') -%></h1>

<%- form_for :expressions, :url => expressions_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
    <%- if params[:view] == 'serial' -%>
      <%= check_box_tag 'view', 'serial', :checked => true -%>
    <%- else -%>
      <%= check_box_tag 'view', 'serial' -%>
    <%- end -%>
    <%= t('page.serial') -%>

    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('page.language') -%></th>
  </tr>
  
  <%- for expression in @expressions -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= link_to h(expression.original_title), expression -%>
        <%= expression_form_icon(expression.expression_form) -%>
        <br />
        <%= patrons_list(expression.authors, :link => true) -%>
      </td>
      <td><%=h expression.language.display_name -%></td>
      <%- if_authorized?(:destroy, expression) do -%>
        <td><%= link_to t('page.edit'), edit_expression_path(expression) -%></td>
        <td><%= link_to t('page.destroy'), expression, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@expressions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
