<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">

<%= form_for(:expression, :url => manifestation_expressions_path(@manifestation)) do |f| -%>
  <%= f.error_messages -%>

  <%= render :partial => 'form', :locals => {:f => f} -%>
  <p>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), manifestation_expressions_path(@manifestation) -%></li>
  </ul>
</div>
