  <p>
    <b><%= t('page.title') -%></b><br />
    <%- if @work -%>
      <%= f.text_field :original_title, :value => @work.original_title, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :original_title, :value => @manifestation.original_title, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :original_title, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.title_transcription') -%></b><br />
    <%- if @work -%>
      <%= f.text_field :title_transcription, :value => @work.title_transcription, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :title_transcription, :value => @manifestation.title_transcription, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_transcription, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.title_alternative') -%></b><br />
    <%- if @work -%>
      <%= f.text_field :title_alternative, :value => @work.title_alternative, :class => 'resource_title' -%>
    <%- elsif @manifestation -%>
      <%= f.text_field :title_alternative, :value => @manifestation.title_alternative, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_alternative, :class => 'resource_title' -%>
    <%- end -%>
  </p>

  <%- unless @patron.blank? -%>
    <p>
      <b><%= t('page.author') -%></b><br />
      <%=h @patron.full_name -%>
    </p>
  <%- end -%>

  <p>
    <b><%= t('activerecord.attributes.expression.summarization') -%></b><br />
    <%= f.text_area :summarization, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.context') -%></b><br />
    <%= f.text_area :context, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.models.language') -%></b><br />
    <%= f.select(:language_id, @languages.collect{|l| [l.display_name.localize, l.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.models.content_type') -%></b><br />
    <%= f.select(:content_type_id, @content_types.collect{|e| [e.display_name.localize, e.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.feed_url') -%></b><br />
    <%= f.text_field :feed_url, :class => 'resource_url' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.create') -%>
  </p>
