        <li title="active" class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
        <%- if @expression.patrons.first -%>
        <li><a href="#patron"><em><%= t('activerecord.models.patron') -%></em></a></li>
        <%- end -%>
        <%- if @expression.work -%>
          <li><a href="#work"><em><%= t('page.related_work') -%></em></a></li>
        <%- end -%>
        <%- if @expression.derived_expressions.first or @expression.original_expressions.first -%>
          <li><a href="#expression"><em><%= t('page.related') -%></em></a></li>
        <%- end -%>
        <%- if @expression.manifestations.first -%>
          <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%></em></a></li>
        <%- end -%>
