      <div id="detail">
        <table class="index">
          <tr>
            <td><strong><%= t('activerecord.attributes.expression.title_transcription') -%>:</strong></td>
            <td><%= @expression.title_transcription -%></td>
          </tr>
          <tr>
            <td><strong><%= t('activerecord.attributes.expression.summarization') -%>:</strong></td>
            <td><%= @expression.summarization -%></td>
          </tr>
          <tr>
            <td><strong><%= t('activerecord.attributes.expression.context') -%>:</strong></td>
            <td><%= @expression.context -%></td>
          </tr>
          <tr>
            <td><strong><%= t('activerecord.models.language') -%>:</strong></td>
            <td><%= @expression.language.display_name.localize -%></td>
          </tr>
          <tr>
            <td><strong><%= t('activerecord.models.content_type') -%>:</strong></td>
            <td>
              <%= content_type_icon(@expression.content_type) -%>
              <%= @expression.content_type.display_name.localize -%>
            </td>
          </tr>
          <tr>
            <td><strong><%= t('activerecord.attributes.expression.note') -%>:</strong></td>
            <td><%= @expression.note -%></td>
          </tr>
          <tr>
            <td><strong><%= t('page.created_at') -%>:</strong></td>
            <td><%= l(@expression.created_at) -%></td>
          </tr>
          <tr>
            <td><strong><%= t('page.updated_at') -%>:</strong></td>
            <td><%= l(@expression.updated_at) -%></td>
          </tr>
        </table>
      </div>
      <%- if @expression.patrons.first -%>
        <%= render :partial => 'expressions/patron_list' -%>
      <%- end -%>
      <%- if @expression.work -%>
        <%= render :partial => 'expressions/work_list' -%>
      <%- end -%>
      <%- if @expression.derived_expressions.first or @expression.original_expressions.first -%>
        <%= render :partial => 'expressions/expression_list' -%>
      <%- end -%>
      <%- if @expression.manifestations.first -%>
        <%= render :partial => 'expressions/manifestation_list' -%>
      <%- end -%>
