<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), expression_path(@expression) -%></li>
    <li><%= link_to t('page.back'), expressions_path -%></li>
  </ul>
</div>
          
<div id="content_detail">
<h1><%= ('Editing expression') -%></h1>

<%= error_messages_for :expression -%>

<%- form_for(:expression, :url => expression_path(@expression), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :original_title, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.expression.title_transcription') -%></b><br />
    <%= f.text_field :title_transcription, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= ('Title alternative') -%></b><br />
    <%= f.text_field :title_alternative, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= ('Summarization') -%></b><br />
    <%= f.text_area :summarization, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= ('Context') -%></b><br />
    <%= f.text_area :context, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('page.language') -%></b><br />
    <%= f.select(:language_id, @languages.collect{|l| [l.display_name, l.id]}) -%>
  </p>

  <p>
    <b><%= ('Expression form') -%></b><br />
    <%= f.select(:expression_form_id, @expression_forms.collect{|e| [e.display_name, e.id]}) -%>
  </p>

  <!--
  <p>
  <b><%= ('Parent') -%></b></br />
  <%- if @expression.parent.blank? -%>
    <%= f.hidden_field :parent_id, :value => @expression.parent_id -%>
  <%- elsif @parent -%>
      <%= f.hidden_field :parent_id, :value => @parent.id -%>
      <%=h @parent.title if @parent -%>
  <%- end -%>
  </p>
  -->

  <p>
    <b>ISSN</b><br />
    <%= f.text_field :issn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
  </p>

  <p>
    <b><%= ('Frequency of issue') -%></b><br />
    <%= f.select(:frequency_of_issue_id, @frequency_of_issues.collect{|i| [i.name, i.id]}) -%>
  </p>

  <p>
  <b><%= t('page.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
