<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.expression')) -%></h1>
  <div id="content_list">

  <% if @version %>
    <%= render 'show_version' %>
  <% else %>
    <%-
      cache(:controller => :expressions, :action => :show, :id => @expression.id, :page => 'detail', :role => current_user_role_name, :locale => @locale) do
    -%>
    <h2 class="resource_title">
      [E]
      <%= @expression.original_title -%>
      <%= content_type_icon(@expression.content_type) -%>
    </h2>

    <p>
      <%= patrons_list(@expression.work.patrons) if @expression.work -%>
      <%= patrons_list(@expression.patrons) -%>
    </p>
    <div id="tabs">
      <ul>
        <%= render :partial => 'show_menu' %>
        <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
      </ul>
      <%= render :partial => 'show_content' -%>
      <%= render :partial => 'history_list' -%>
    </div>
    <%= render :partial => 'page/tabview' -%>
    <%- end -%>
  <%- end -%>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- case when @work -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), work_expressions_path(@work) -%></li>
    <%- when @patron -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), patron_expressions_path(@patron) -%></li>
    <%- else -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), expressions_path -%></li>
    <%- end -%>
    <li><%= link_to t('page.add_derivation'), expression_expressions_path(@expression) -%></li>
  </ul>
  <%- if can? :destroy, @expression -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.expression')), new_expression_path -%></li>
      <li><%= link_to t('page.edit'), edit_expression_path(@expression) -%></li>
      <li><%= link_to t('page.destroy'), @expression, :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    </ul>
  <%- end -%>
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), expression_patrons_path(@expression) -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), expression_manifestations_path(@expression) -%></li>
  </ul>
</div>
