<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), order_path(@order) -%></li>
    <li><%= link_to t('page.back'), orders_path -%></li>
  </ul>
</div>

<div id="submenu">
<h1><%= t('page.editing', :model => t('activerecord.models.order')) -%></h1>

<%= error_messages_for :order -%>

<%- form_for(:order, :url => order_path(@order), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('activerecord.models.order_list') -%></b><br />
    <%= f.text_field :order_list_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.purchase_request') -%></b><br />
    <%= f.text_field :purchase_request_id -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
