<div id="submenu">
  <ul>
    <li><%= link_to t('page.back_to', :model => t('activerecord.models.purchase_request')), order_list_purchase_requests_path(@order.order_list) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('activerecord.models.order_list') -%>:</b>
  <%= link_to h(@order.order_list.title), order_list_purchase_requests_path(@order.order_list) -%>
</p>

<p>
<b><%= t('activerecord.models.purchase_request') -%>:</b>
  <%= link_to h(@order.purchase_request.title), purchase_request_path(@order.purchase_request) -%>
</p>

</div>
