<%= form_for(@manifestation_relationship) do |f| -%>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label t('activerecord.attributes.manifestation_relationship.parent_id') -%><br />
    <%- if @manifestation_relationship.parent -%>
      <%= link_to @manifestation_relationship.parent.original_title, @manifestation_relationship.parent -%>
      <%= f.hidden_field :parent_id -%>
    <%- else -%>
      <%= f.text_field :parent_id -%>
    <%- end -%>
  </div>
  <div class="field">
    <%= f.label t('activerecord.attributes.manifestation_relationship.child_id') -%><br />
    <%- if @manifestation_relationship.child -%>
      <%= link_to @manifestation_relationship.child.original_title, @manifestation_relationship.child -%>
      <%= f.hidden_field :child_id -%>
    <%- else -%>
      <%= f.text_field :child_id -%>
    <%- end -%>
  </div>
  <div class="field">
    <%= f.label t('activerecord.models.manifestation_relationship_type') -%><br />
    <%= f.select(:manifestation_relationship_type_id, @manifestation_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%- end -%>
