<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_checkout_type_path(@checkout_type) -%></li>
    <li><%= link_to t('page.back'), checkout_types_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.user_group_has_checkout_type')), new_checkout_type_user_group_has_checkout_type_path(@checkout_type) -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_form_has_checkout_type')), new_checkout_type_manifestation_form_has_checkout_type_path(@checkout_type) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.checkout_type')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.checkout_type.name') -%>:</b>
  <%=h @checkout_type.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.checkout_type.display_name') -%>:</b>
  <%=h @checkout_type.display_name.localize -%>
</p>

<p>
<b><%= t('activerecord.models.user_group') -%></b>
<ul>
  <%- @checkout_type.user_group_has_checkout_types.each do |available_user_group| -%>
    <li><%= link_to h(available_user_group.user_group.display_name.localize), available_user_group.user_group -%></li>
  <%- end -%>
</ul>

<p>
<b><%= t('activerecord.models.manifestation_form') -%></b>
<ul>
  <%- @checkout_type.manifestation_form_has_checkout_types.each do |available_manifestation_form| -%>
    <li><%= link_to h(available_manifestation_form.manifestation_form.display_name.localize), available_manifestation_form.manifestation_form -%></li>
  <%- end -%>
</ul>

<p>
  <b><%= t('activerecord.attributes.checkout_type.note') -%>:</b>
  <%=h @checkout_type.note -%>
</p>

</div>
</div>
