<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout_stat_has_user')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.user_checkout_stat') -%></th>
    <th><%= t('activerecord.models.user') -%></th>
    <th>Checkouts count</th>
  </tr>

<% for checkout_stat_has_user in @checkout_stat_has_users -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h checkout_stat_has_user.user_checkout_stat_id -%></td>
    <td><%=h checkout_stat_has_user.user_id -%></td>
    <td><%=h checkout_stat_has_user.checkouts_count -%></td>
    <td><%= link_to t('page.show'), checkout_stat_has_user -%></td>
    <td><%= link_to t('page.edit'), edit_checkout_stat_has_user_path(checkout_stat_has_user) -%></td>
    <td><%= link_to t('page.destroy'), checkout_stat_has_user, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@checkout_stat_has_users, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.checkout_stat_has_user')), new_checkout_stat_has_user_path -%></li>
  </ul>
</div>
