<h1>Listing checkout_stat_has_users</h1>

<table>
  <tr>
    <th>User stat</th>
    <th>User</th>
    <th>Checkouts count</th>
  </tr>

<% for checkout_stat_has_user in @checkout_stat_has_users %>
  <tr>
    <td><%=h checkout_stat_has_user.user_checkout_stat_id %></td>
    <td><%=h checkout_stat_has_user.user_id %></td>
    <td><%=h checkout_stat_has_user.checkouts_count %></td>
    <td><%= link_to t('page.show'), checkout_stat_has_user %></td>
    <td><%= link_to t('page.edit'), edit_checkout_stat_has_user_path(checkout_stat_has_user) %></td>
    <td><%= link_to t('page.destroy'), checkout_stat_has_user, :confirm => t('page.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New checkout_stat_has_user', new_checkout_stat_has_user_path %>
