<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.checkout_stat_has_user')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.user_checkout_stat') -%>:</b>
  <%=h @checkout_stat_has_user.user_checkout_stat_id -%>
</p>

<p>
  <b><%= t('activerecord.models.user') -%>:</b>
  <%=h @checkout_stat_has_user.user_id -%>
</p>

<p>
  <b>Checkouts count:</b>
  <%=h @checkout_stat_has_user.checkouts_count -%>
</p>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_checkout_stat_has_user_path(@checkout_stat_has_user) -%></li>
    <li><%= link_to t('page.back'), checkout_stat_has_users_path -%></li>
  </ul>
</div>
