<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.participate')) -%></h1>
<div class="inner">
  
<p>
  <b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@participate.patron.full_name), @participate.patron %>
</p>

<p>
  <b><%= t('activerecord.models.event') -%>:</b>
  <%= link_to h(@participate.event.title), @participate.event %>
</p>

</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_participate_path(@participate) %></li>
    <li><%= link_to t('page.back'), participates_path %></li>
  </ul>
</div>
