<%= form_for(@realize) do |f| %>
  <% if @realize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realize.errors.count, "error") %> prohibited this realize from being saved:</h2>

      <ul>
      <% @realize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expression %><br />
    <%= link_to @realize.expression.original_title, @realize.expression %>
    <br />
    <%= f.hidden_field :expression_id %>
  </div>
  <div class="field">
    <%= f.label :person %><br />
    <%= link_to @realize.person.full_name, @realize.person %>
    <br />
    <%= f.hidden_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
