<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @realize -%></li>
    <li><%= link_to t('page.back'), realizes_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.realize')) -%></h1>
<div class="inner">

<%= error_messages_for :realize -%>

<%- form_for(@realize, :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('activerecord.models.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
  <b><%= t('activerecord.models.expression') -%></b><br />
    <%= f.text_field :expression_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
