<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), realize_path(@realize) -%></li>
    <li><%= link_to t('page.back'), realizes_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing realize') -%></h1>

<%= error_messages_for :realize -%>

<%- form_for(:realize, :url => realize_path(@realize), :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('page.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
  <b><%= t('page.expression') -%></b><br />
    <%= f.text_field :expression_id -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
