<div id="submenu">
  <ul>
    <li><%= link_to ('Back to patrons'), expression_patrons_path(@expression) -%>
    <li><%= link_to ('Back to expressions'), patron_expressions_path(@patron) -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New realize') -%></h1>

<%= error_messages_for :realize -%>

<%- form_for(:realize, :url => realizes_path) do |f| -%>
  <p>
    <b><%= ('Patron') -%></b><br />
    <%- if @patron -%>
		  <%= link_to h(@patron.full_name), patron_path(@patron) -%>
      <%= f.hidden_field :patron_id, :value => @patron.id -%>
    <%- else -%>
      <%= f.text_field :patron_id, :value => params[:patron_id] -%>
    <%- end -%>
  </p>

  <p>
    <b><%= t('page.expression') -%></b><br />
    <%- if @expression -%>
		  <%= link_to h(@expression.original_title), expression_path(@expression) -%>
      <%= f.hidden_field :expression_id, :value => @expression.id -%>
    <%- else -%>
      <%= f.text_field :expression_id, :value => params[:expression_id] -%>
    <%- end -%>
  </p>

  <p>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>

</div>
