<div id="sidebar">
  <ul>
    <%- if @realize.patron -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), patron_expressions_path(@realize.patron) -%></li>
    <%- end -%>
    <%- if @realize.expression -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), expression_patrons_path(@realize.expression) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.realize')) -%></h1>
<div class="inner">

<%= error_messages_for :realize -%>

<%- form_for(@realize) do |f| -%>
  <p>
    <b><%= t('activerecord.models.patron') -%></b><br />
    <%- if @realize.patron -%>
		  <%= link_to h(@realize.patron.full_name), @realize.patron -%>
      <%= f.hidden_field :patron_id -%>
    <%- else -%>
      <%= f.text_field :patron_id -%>
    <%- end -%>
  </p>

  <p>
    <b><%= t('activerecord.models.expression') -%></b><br />
    <%- if @realize.expression -%>
		  <%= link_to h(@realize.expression.original_title), @realize.expression -%>
      <%= f.hidden_field :expression_id -%>
    <%- else -%>
      <%= f.text_field :expression_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
