<div id="content_detail" class="ui-corner-all">
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <b>Expression:</b>
  <%= link_to @realize.expression.original_title, @realize.expression %>
</p>

<p>
  <b>Person:</b>
  <%= link_to @realize.person.full_name, @realize.person %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('enju.edit'), edit_realize_path(@realize) %></li>
    <li><%= link_to t('enju.back'), realizes_path %></li>
  </ul>
</div>
