<div id="submenu">
  <ul>
    <li><%= link_to ('Back to patrons'), expression_patrons_path(@realize.expression) -%></li>
    <li><%= link_to ('Back to expressions'), patron_expressions_path(@realize.patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('activerecord.models.patron') -%>:</b>
  <%= link_to h(@realize.patron.full_name), @realize.patron -%>
</p>

<p>
<b><%= t('activerecord.models.expression') -%>:</b>
  <%= link_to h(@realize.expression.original_title), @realize.expression -%>
</p>

</div>
