<div id="submenu">
  <ul>
    <li><%= link_to ('Back'), attachment_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New attachment_file') -%></h1>

<%= error_messages_for :attachment_file -%>

<%- form_for(:attachment_file, :url => attachment_files_path, :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= ('File') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <b><%= ('Title') -%></b><br />
    <%= f.text_field :title -%>
  </p>

  <%= f.hidden_field :attachable_id -%>

  <%= f.hidden_field :attachable_type -%>

  <p>
    <%= f.submit t('create') -%>
  </p>

<%- end -%>
</div>
