<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), attachment_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.new', :model => t('activerecord.models.attachment_file')) -%></h1>
<div id="content_list">

<%= error_messages_for :attachment_file -%>

<%- form_for(@attachment_file, :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :title -%>
  </p>

  <%= f.hidden_field :attachable_id -%>

  <%= f.hidden_field :attachable_type -%>

  <p>
    <%= f.submit t('page.create') -%>
  </p>

<%- end -%>
</div>
</div>
