<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), event_attachment_files_path(@event) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New attachment_file') -%></h1>

<%= error_messages_for :attachment_file -%>

<%- form_for(:attachment_file, :url => event_attachment_files_path(@event), :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= ('Attachable') -%></b><br />
    <%= link_to h(@event.title), @event -%>
    <%= f.hidden_field :attachable_id, :value => h(@event.id) -%>
    <%= f.hidden_field :attachable_type, :value => h(@event.class) -%>
  </p>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
