<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), patron_attachment_files_path(@patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.new', :model => t('activerecord.models.attachment_file')) -%></h1>

<%= error_messages_for :attachment_file -%>

<%- form_for(:attachment_file, :url => patron_attachment_files_path(@patron), :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= ('Attachable') -%></b><br />
    <%= link_to h(@patron.full_name), @patron -%>
    <%= f.hidden_field :attachable_id, :value => h(@patron.id) -%>
    <%= f.hidden_field :attachable_type, :value => h(@patron.class) -%>
  </p>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
