<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_attachment_file_path(@attachment_file) -%></li>
    <li><%= link_to t('page.back'), attachment_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('page.attachable') -%>:</b>
  <%= link_to h("#{@attachment_file.attachable_type}/#{@attachment_file.attachable_id}"), @attachment_file.attachable -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.size') -%>:</b>
  <%=h @attachment_file.size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.content_type') -%>:</b>
  <%=h @attachment_file.content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.filename') -%>:</b>
  <%=h @attachment_file.filename -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.height') -%>:</b>
  <%=h @attachment_file.height -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.width') -%>:</b>
  <%=h @attachment_file.width -%>
</p>

<p>
  <b><%= ('Parent') -%>:</b>
  <%=h @attachment_file.parent_id -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.thumbnail') -%>:</b>
  <%=h @attachment_file.thumbnail -%>
</p>

<p>
  <b><%= t('activerecord.models.db_file') -%>:</b>
  <%= link_to h(@attachment_file.filename), formatted_attachment_file_path(@attachment_file, :download) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.file_hash') -%>:</b>
  <%=h @attachment_file.file_hash -%>
</p>

<p>
  <b><%= t('activerecord.attributes.attachment_file.fulltext') -%>:</b>
  <%=h @attachment_file.fulltext -%>
</p>

</div>
</div>
