<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [E]
    <%= link_to @expression.original_title, @expression -%>
  </h2>
  <p>
    <%= patrons_list(@expression.creators) -%>
    <%= patrons_list(@expression.patrons) -%>
  </p>

  <div class="search_form">
  <%= form_for :manifestations, :url => expression_manifestations_path(@expression), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
      <%- if can? :update, @expression -%>
        <%= render 'page/add' %>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <!--
      <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
      -->
      <%= link_to t('page.back_to_index'), expression_manifestations_path(@expression) -%>
    </p>
  <%- end -%>
  </div>

<table class="table table-striped index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th></th>
  </tr>
  
<%- @manifestations.each do |manifestation| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
      <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
    </td>
    <td>
      <%- if can? :update, manifestation -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_expression_embody_path(@expression, :manifestation_id => manifestation.id) unless @expression.manifestations.include?(manifestation) -%>
        <%- else -%>
          <%= link_to t('page.destroy'), expression_embody_path(@expression, @expression.embodied(manifestation)), :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
</table>

<%= will_paginate(@manifestations) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_expression_manifestation_path(@expression) -%></li>
  </ul>
</div>
