<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    [M]
    <%= link_to h(@manifestation.original_title), @manifestation -%>
  </h2>
  <p>
    <%= raw patrons_list(@manifestation.creators, current_user) -%>
    <%= raw patrons_list(@manifestation.contributors, current_user) -%>
    <%= raw patrons_list(@manifestation.patrons, current_user) -%>
  </p>

  <%= form_for :manifestations, :url => manifestation_manifestations_path(@manifestation), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>:
      <%= search_field_tag 'search_form_top', h(@query), {:id => 'query', :class => 'search_form_short'} -%>
      <%- if can? :update, @manifestation -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
        <!--
        <%= check_box_tag 'subscription_master', true, @subscription_master -%> <%= t('activerecord.attributes.manifestation.subscription_master') -%>
        -->
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <!--
      <%= link_to h(t('page.advanced_search')), page_advanced_search_path -%>
      -->
      <%= link_to t('page.back_to_index'), manifestation_manifestations_path(@manifestation) -%>
    </p>
    <%= javascript_tag("$('#search_form_top').focus()") -%>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th></th>
  </tr>
  <%- @manifestations.each do |manifestation| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
        <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
      </td>
      <td>
        <%- if can? :update, manifestation -%>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_manifestation_manifestation_relationship_path(@manifestation, :child_id => manifestation.id) unless @manifestation.derived_manifestations.include?(manifestation) or @manifestation == manifestation -%>
          <%- else -%>
            <%- manifestation_relationship = @manifestation.children.find_by_child_id(manifestation.id) -%>
            <%= link_to t('page.destroy'), manifestation_relationship, :confirm => t('page.are_you_sure'), :method => :delete if manifestation_relationship -%>
          <%- end -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@manifestations) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
