<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@patron.full_name), @patron -%>
  </h2>

  <%- form_for :manifestations, :url => patron_manifestations_path(@patron), :html => {:method => 'get'} do -%>

    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <!--
      <%= link_to h(t('page.advanced_search')), :controller => :page, :action => :advanced_search, :patron_id => h(@patron.id) -%>
      -->
      <%- if can? :destroy, @patron -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.back_to_index'), patron_manifestations_path(@patron) -%>
    </p>
    <%= javascript_tag("$('#search_form_top').focus()") -%>
  <%- end -%>

<!--
<p>for <%= @patron.full_name -%></p>
-->

<table class="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th></th>
  </tr>
  
<%- @manifestations.each do |manifestation| -%>
  <tr class="line<%= cycle("0", "1") -%>">

    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
      <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
    </td>
    <td>
      <%- if can? :destroy, manifestation -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_patron_produce_path(@patron, :manifestation_id => manifestation.id) -%>
        <%- else -%>
          <%= link_to t('page.destroy'), patron_produce_path(@patron, @patron.produced(manifestation)), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@manifestations) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('activerecord.models.work'), patron_works_path(@patron) -%></li>
    <li><%= link_to t('activerecord.models.expression'), patron_expressions_path(@patron) -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_patron_manifestation_path(@patron) -%></li>
  </ul>
</div>
