<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@series_statement.original_title), @series_statement -%>
  </h2>

  <%- form_for :manifestations, :url => series_statement_manifestations_path(@series_statement), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%- if @series_statement.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <!--
      <%= link_to h(t('page.advanced_search')), '/page/advanced_search' -%>
      -->
      <%= link_to t('page.back_to_index'), series_statement_manifestations_path(@series_statement) -%>
    </p>
    <%= javascript_tag("$('search_form_top').focus()") -%>
  <%- end -%>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th></th>
  </tr>
  
<%- for manifestation in @manifestations -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
      <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
    </td>
    <td>
      <%- if manifestation.is_deletable_by(current_user) -%>
        <%= link_to t('page.edit'), edit_series_statement_manifestation_path(@series_statement, manifestation) -%>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
</table>

<%= will_paginate(@manifestations) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_series_statement_manifestation_path(@series_statement) -%></li>
  </ul>
</div>
