<div id="content_detail">
<h1 class="title"><%= t('page.search_resource', :model => t('page.resource')) -%></h1>
<div id="content_list">
  <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>:
      <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%= hidden_field_tag 'reservable', h(@reservable) -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to t('page.advanced_search'), '/page/advanced_search' -%>
    </p>
    <%= javascript_tag("$('search_form_top').focus()") -%>
  <%- end -%>

<%- unless @query.blank? -%>
  <%- if @count[:query_result].to_i > 0 -%>
    <p>
      <%= t('page.number_of_search_results', :count => @count[:query_result], :numdocs => Manifestation.cached_numdocs, :seconds => sprintf("%.3f", @seconds)) -%>
      <%- if @reservable -%>
        <br />
        <%= t('manifestation.showing_reservable_record') -%>
        (<%= link_to t('manifestation.all_result'), params.merge(:reservable => nil) -%>)
      <%- end -%>
    </p>
    <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <p>
        <%= t('page.sort_by') -%>:
        <%- if params[:sort_by].blank? -%>
          <strong><%= t('manifestation.date_of_acquisition') -%></strong>
        <%- else -%>
          <%= link_to t('manifestation.date_of_acquisition'), params.merge(:sort_by => nil) -%>
        <%- end -%>
        <%- if params[:sort_by] == 'date' -%>
          <strong><%= t('activerecord.attributes.manifestation.date_of_publication') -%></strong>
        <%- else -%>
          <%= link_to t('activerecord.attributes.manifestation.date_of_publication'), params.merge(:sort_by => 'date') -%>
        <%- end -%>
        <%- if params[:sort_by] == 'title' -%>
          <strong><%= t('page.title') -%></strong>
        <%- else -%>
          <%= link_to t('page.title'), params.merge(:sort_by => 'title') -%>
        <%- end -%>
      </p>
    <%- end -%>

    <div class="autopagerize_page_element" id="list">
      <%= render :partial => 'list', :locals => {:manifestations => @manifestations} -%>
    </div>

    <%- cache :controller => 'manifestations', :action => 'index', :action_suffix => 'tag_cloud', :locale => @locale do -%>
    <div id="tag_cloud">
      <h3><%= t('activerecord.models.tag') -%></h3>
      <div id="tag_cloud_list"></div>
      <%= image_tag 'spinner.gif', :id => 'spinner_tag_cloud',
        :style => 'padding-bottom: 15px; padding-left: 40px;' -%>
    </div>
    <%- end -%>
  <%- else -%>
    <!-- TODO: 検索結果が少ない場合にも表示させる -->
    <%- if @suggested_tag -%>
      <p><%= t('page.did_you_mean') -%>: <%= link_to h(@suggested_tag.name), manifestations_path(:tag => @suggested_tag.name) -%></p>
    <%- end -%>
    <%= render :partial => 'not_found', :locals => {:manifestations => @manifestations} -%>
  <%- end -%>
<%- else -%>
  <p><%= t('page.enter_search_term') -%></p>
  <%= javascript_tag("$('search_form_top').focus()") -%>
<%- end -%>

    <div class="autopagerize_insert_before"></div>

  </div>
</div>

<div id="submenu">
  <%- unless @query.blank? -%>
    <h3><%= link_to t('page.total') + ": #{@count[:total]}", :controller => 'manifestations', :params => params.merge(:view => nil, :formtype => nil, :library => nil, :language => nil, :subject => nil) -%></h3>
    <%- if @count[:query_result] > 0 -%>
      <%- cache :controller => 'manifestations', :action => 'index', :action_suffix => 'all_facet', :locale => @locale do -%>
      <div id="all_facet_box">
        <h3><%= t('page.facet') -%></h3>
        <div id="all_facet_list"></div>
        <%= image_tag 'spinner.gif', :id => 'spinner_all_facet',
          :style => 'margin-top: 10px; margin-left: 40px;' -%>
      </div>
      <%- end -%>
    <%- end -%>
  <%- end -%>
  <div>
    <%- if params[:library_id].blank? -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), url_for(:controller => 'manifestations', :params => params.merge(:format => 'rss', :page => nil, :library_id => nil)) -%> <%= link_to t('page.search_result_feed'), url_for(:controller => 'manifestations', :params => params.merge(:format => 'rss', :page => nil, :library_id => nil, :commit => nil)) -%>
    <%- else -%>
      <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), url_for(:controller => 'manifestations', :params => params.merge(:format => 'rss', :page => nil)) -%> <%= link_to t('page.search_result_feed'), url_for(:controller => 'manifestations', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)) -%>
    <%- end -%>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>

<script type="text/javascript">
  window.onload = function() {
    jQuery("#all_facet_list").load('<%= url_for(:params => params.merge(:view => "all_facet")) -%>', hideFacetSpinner);
    jQuery("#tag_cloud_list").load('<%= url_for(:params => params.merge(:view => "tag_cloud")) -%>', null, hideTagCloudSpinner);
  }

  function hideFacetSpinner(){
    jQuery("#spinner_all_facet").hide();
  }

  function hideTagCloudSpinner(){
    jQuery("#spinner_tag_cloud").hide();
  }

  jQuery('td').highlight('<%= @query -%>');
</script>
