<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_subject_manifestation_path(@subject) -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1 class="title">
    <%= link_to h(@subject.term), @subject -%>
  </h1>

  <%- form_for :manifestations, :url => subject_manifestations_path(@subject), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>:
      <%= text_field_tag 'query', h(@query), :id => 'searchform_top', :size => 40 -%>
      <%- if @subject.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <!--
      <%= link_to h(t('page.advanced_search')), '/page/advanced_search' -%>
      -->
      <%= link_to t('page.back_to_index'), subject_manifestations_path(@subject) -%>
    </p>
  <%- end -%>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th></th>
  </tr>
  
<%- if @manifestations -%>
  <%- for manifestation in @manifestations -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(manifestation.original_title), manifestation -%>
      <%= form_icon(manifestation.manifestation_form) -%><br />
      <%= patrons_list(manifestation.authors) -%>
      <%= patrons_list(manifestation.editors) -%>
      <%= patrons_list(manifestation.patrons) -%>
    </td>
    <td>
      <%- if manifestation.is_deletable_by(current_user) -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_subject_resource_has_subject_path(@subject, :manifestation_id => manifestation.id) -%>
        <%- else -%>
          <%- has_subject = @subject.resource_has_subjects.find_by_subjectable_id_and_subjectable_type(manifestation.id, 'Manifestation') -%>
          <%= link_to t('page.destroy'), subject_resource_has_subject_path(@subject, has_subject), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
<%- end -%>
</table>

<%= will_paginate(@manifestations, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
