<div id="submenu">
  <ul>
    <li><%= link_to ('Works'), patron_works_path(@patron) -%></li>
    <li><%= link_to ('Expressions'), patron_expressions_path(@patron) -%></li>
    <li><%= link_to ('New manifestation'), new_patron_manifestation_path(@patron) -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1>
    <%= link_to h(@patron.full_name), @patron -%>
  </h1>

  <%- form_for :manifestations, :url => patron_manifestations_path(@patron), :html => {:method => 'get'} do -%>

    <p>
      <%= t('page.search_term') -%>:
      <%= text_field_tag 'query', h(@query), :id => 'searchform_top', :size => 40 -%>
      <!--
      <%= link_to h(t('page.advanced_search')), :controller => :page, :action => :advanced_search, :patron_id => h(@patron.id) -%>
      -->
      <%- if_authorized?(:destroy, @patron) do -%>
        <%- if params[:mode] == 'add' -%>
          <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
        <%- else -%>
          <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
          <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
        <%- end -%>
      <%- end -%>
      <%= submit_tag t('page.search') -%>
      <%= link_to ('Back to index'), patron_manifestations_path(@patron) -%>
    </p>
  <%- end -%>

<!--
<p>for <%=h @patron.full_name -%></p>
-->

<table style="width: 100%">
  <tr>
    <th><%= t('page.manifestation') -%></th>
    <th></th>
  </tr>
  
<%- for manifestation in @manifestations -%>
  <tr class="line<%= cycle("0", "1") -%>">

    <td>
      [M]
      <%= link_to h(manifestation.original_title), manifestation -%>
      <%= form_icon(manifestation.manifestation_form) -%><br />
    
      <%= patrons_list(manifestation.authors) -%>
      <%= patrons_list(manifestation.editors) -%>
      <%= patrons_list(manifestation.patrons) -%>
    </td>
    <td>
      <%- if_authorized?(:destroy, manifestation) do -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_patron_produce_path(@patron, :manifestation_id => manifestation.id) -%>
        <%- else -%>
          <%- produce = @patron.produces.find_by_manifestation_id(manifestation.id) -%>
          <%= link_to t('page.destroy'), patron_produce_path(@patron, produce), :confirm => ('Are you sure?'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@manifestations) -%>
</div>
