  <table id="manifestation_list">
    <%- @manifestations.each_with_index do |manifestation, i| -%>
      <tr class="line<%= cycle("0", "1") -%>">
        <td><%= itemnum = @manifestations.offset + 1 + i -%></td>
        <td>
          <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
          <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
        </td>
      </tr>
    <%- end -%>
  </table>

<%=
  will_paginate(@manifestations, :previous_label => "&#171; " + t('page.previous'), :next_label => t('page.next') + " &#187;")
-%>
<br />

  <div>
    <%- if @manifestations and @manifestations.size > Manifestation.per_page / 2 -%>
      <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
        <p>
          <%= t('page.search_term') -%>: <%= text_field_tag 'query', h("#{@query} #{@tag}"), {:id => 'searchform_bottom', :class => 'search_form'} -%>
          <%= submit_tag t('page.search') -%>
          <%= link_to t('page.advanced_search'), '/page/advanced_search' -%>
        </p>
      <%- end -%>
    <%- end -%>
  </div>
