        <table id="manifestation_list">
          <%- @manifestations.each_with_index do |manifestation, i| -%>
            <tr class="line<%= cycle("0", "1") -%>">
              <td><%= itemnum = @manifestations.offset + 1 + i -%></td>
              <td style="70%">
                <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
                <div id="access_address">
                  <%= link_to h(manifestation.access_address), manifestation.access_address if manifestation.access_address.present? -%>
                </div>
                <%- if manifestation.items.on_shelf.first -%>
                  (<%= link_to_function t('page.holding'), "jQuery('#holding_#{manifestation.id}').toggle()" -%>)
                <%- end -%>
                <%- if manifestation.tags.first -%>
                  (<%= link_to_function t('activerecord.models.tag'), "jQuery('#tag_#{manifestation.id}').toggle()" -%>)
                <%- end -%>
                <%# 当該ManifestationにWorkがある場合、グループ表示へのリンクを表示する %>
                <%- if manifestation.works.size > 0 -%>
                  <%- unless manifestation.works.size == 1 and  manifestation.works.first.original_title == manifestation.original_title -%>
                    (<%= link_to_function t('page.related_work'), "jQuery('#group_#{manifestation.id}').toggle()" -%>)
                  <%- end -%>
                <%- end -%>
                <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
                <%= render :partial => 'manifestations/show_tag', :locals => {:manifestation => manifestation} -%>
                <%# グループ表示の部分テンプレート %>
                <%= render :partial => 'manifestations/show_group', :locals => {:manifestation => manifestation} -%>
              </td>
              <td>
                <%- if current_user -%>
                  <%- if reserve = manifestation.is_reserved_by(current_user) -%>
                    <%= link_to t('page.cancel'), user_reserve_path(reserve.user.login, reserve) -%>
                  <%- else -%>
                    <%= link_to t('activerecord.models.reserve'), new_user_reserve_path(current_user.login, :manifestation_id => manifestation.id) -%>
                  <%- end -%>
                <%- end -%>
              </td>
              <%- if manifestation.is_deletable_by(current_user) -%>
                <td><%= link_to t('page.edit'), edit_manifestation_path(manifestation) -%></td>
                <td>
                  <%= link_to t('page.add_derivation'), manifestation_manifestations_path(manifestation) -%>
                </td>
              <%- end -%>
            </tr>
          <%- end -%>
        </table>

<%= will_paginate(@manifestations) -%>
<br />

<div>
  <%- if @manifestations and @manifestations.size > Manifestation.per_page.div(2) -%>
    <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <p>
        <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_bottom', :class => 'search_form'} -%>
        <%= submit_tag t('page.search') -%>
        <%= link_to t('page.advanced_search'), '/page/advanced_search' -%>
      </p>
    <%- end -%>
  <%- end -%>
</div>
