        <table id="manifestation_list">
          <%- @manifestations.each_with_index do |manifestation, i| -%>
            <tr class="line<%= cycle("0", "1") -%>">
              <td style="width: 30px"><%= itemnum = @manifestations.offset + 1 + i -%></td>
              <% cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'index_list', :role => current_user_role_name, :locale => @locale) do %>
              <td style="480px">
                <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => manifestation} -%>
                <div class="access_address">
                  <%= link_to manifestation.access_address, manifestation.access_address if manifestation.access_address.present? -%>
                </div>
                <%- if manifestation.items.on_shelf.first -%>
                  (<%= link_to_function t('page.holding'), "$('#holding_#{manifestation.id}').toggle()" -%>)
                <%- end -%>
                <%# 当該ManifestationにWorkがある場合、グループ表示へのリンクを表示する %>
                <%- if manifestation.works.size > 0 -%>
                  <%- unless manifestation.works.size == 1 and  manifestation.works.first.original_title == manifestation.original_title -%>
                    (<%= link_to_function t('page.related_work'), "$('#group_#{manifestation.id}').toggle()" -%>)
                  <%- end -%>
                <%- end -%>
                <%= render :partial => 'manifestations/holding', :locals => {:manifestation => manifestation} -%>
                <%# グループ表示の部分テンプレート %>
                <%= render :partial => 'manifestations/show_group', :locals => {:manifestation => manifestation} -%>
              </td>
              <% end %>
              <td id="edit_icons">
                <%- if can? :update, manifestation -%>
                  <%= link_to image_tag('icons/book_edit.png', :size => '16x16', :alt => t('page.edit')), edit_manifestation_path(manifestation) -%>
                  <%= link_to image_tag('icons/arrow_divide.png', :size => '16x16', :alt => t('page.add_derivation')), manifestation_manifestations_path(manifestation) -%>
                <%- end -%>
              </td>
            </tr>
          <%- end -%>
        </table>

<%= will_paginate(@manifestations) -%>
<br />

<div>
  <%- if @manifestations and @manifestations.size > Manifestation.per_page.div(2) -%>
    <%= form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <p>
        <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_bottom', :class => 'search_form', :placeholder => t('page.search_term')} -%>
        <%= submit_tag t('page.search') -%>
        <%= link_to t('page.advanced_search'), page_advanced_search_path -%>
      </p>
    <%- end -%>
  <%- end -%>
</div>
