<div id="related_manifestation">
  <%- if @manifestation.parents.first or @manifestation.derived_manifestations.first -%>
    <ul>
      <%- @manifestation.parents.each do |manifestation_relationship| -%>
        <%- manifestation =  manifestation_relationship.parent -%>
        <%- unless manifestation == @manifestation -%>
          <li>
            [M]
            (<%= manifestation_relationship.manifestation_relationship_type.display_name.localize -%>)
            <%= link_to manifestation.original_title, manifestation -%>
            <%= form_icon(manifestation.carrier_type) -%>
            <%- manifestation.expressions.each do |expression| -%>
              <%= link_to content_type_icon(expression.content_type), expression -%>
            <%- end -%>
            <%= link_to image_tag('icons/world_go.png', :size => '16x16', :alt => ('Web')), manifestation.access_address unless manifestation.access_address.blank? -%>
            <%= patrons_list(manifestation.creators) -%>
            <%= patrons_list(manifestation.contributors) -%>
            <%= patrons_list(manifestation.publishers) -%>
            <%- if manifestation.date_of_publication -%>
              (<%= manifestation.date_of_publication.strftime('%Y') -%>)
            <%- end -%>
          </li>
        <%- end -%>
      <%- end -%>
      <%- @manifestation.children.each do |manifestation_relationship| -%>
        <%- manifestation = manifestation_relationship.child -%>
        <%- unless manifestation == @manifestation -%>
          <li>
            [M]
            (<%= manifestation_relationship.manifestation_relationship_type.display_name.localize -%>)
            <%= link_to manifestation.original_title, manifestation -%>
            <%= form_icon(manifestation.carrier_type) -%>
            <%- manifestation.expressions.each do |expression| -%>
              <%= link_to content_type_icon(expression.content_type), expression -%>
            <%- end -%>
            <%= link_to image_tag('icons/world_go.png', :size => '16x16', :alt => ('Web')), manifestation.access_address unless manifestation.access_address.blank? -%>
            <%= patrons_list(manifestation.creators) -%>
            <%= patrons_list(manifestation.contributors) -%>
            <%= patrons_list(manifestation.publishers) -%>
            <%- if manifestation.date_of_publication -%>
              (<%= manifestation.date_of_publication.strftime('%Y') -%>)
            <%- end -%>
          </li>
        <%- end -%>
      <%- end -%>
    </ul>
  <%- end -%>
</div>
