<div id="submenu">
  <ul>
    <%- case when @expression -%>
      <li><%= link_to t('page.back'), expression_manifestations_path(@expression) -%></li>
    <%- when @patron -%>
      <li><%= link_to t('page.back'), patron_manifestations_path(@patron) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), manifestations_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.manifestation')) -%></h1>
<div id="content_list">
  <%- if @expression -%>
    <p>
      <b><%= t('activerecord.models.expression') -%></b><br />
      <%= link_to h(@expression.original_title), @expression -%>
    </p>
  <%- end -%>

<%= error_messages_for :manifestation -%>

<%- form_for(@manifestation) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :original_title, :class => 'resource_title' -%>
  </p>
  <p>
    <b><%= t('activerecord.attributes.manifestation.title_transcription') -%></b><br />
    <%- if @expression -%>
      <%= f.text_field :title_transcription, :value => @expression.title_transcription, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_transcription, :class => 'resource_title' -%>
    <%- end -%>
  </p>
  <p>
    <b><%= t('activerecord.attributes.manifestation.title_alternative') -%></b><br />
    <%- if @expression -%>
      <%= f.text_field :title_alternative, :value => @expression.title_alternative, :class => 'resource_title' -%>
    <%- else -%>
      <%= f.text_field :title_alternative, :class => 'resource_title' -%>
    <%- end -%>
  </p>
  
  <p>
    <b><%= t('activerecord.models.carrier_type') -%></b>
    <%= f.select(:carrier_type_id, @carrier_types.collect{|m| [m.display_name.localize, m.id]}) -%>
    <!-- TODO: Formの切り替え時に入力項目をAjaxで書き換える -->
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.date_of_publication') -%></b>
    <%= f.date_select :date_of_publication, :include_blank => true -%>
  </p>

  <%- if @expression -%>
    <p>
      <b><%= t('activerecord.attributes.manifestation.edition') -%></b>
      <%= f.text_field :edition, :class => 'resource_integer' -%>
      <b><%= t('activerecord.attributes.manifestation.volume_number_list') -%></b>
      <%= f.text_field :volume_number_list, :class => 'resource_integer' -%>
    </p>
      <p>
        <b><%= t('activerecord.attributes.manifestation.isbn') -%></b>
        <%= f.text_field :isbn, :class => 'resource_isbn_issn' -%>
      </p>
      <p>
        <b><%= t('activerecord.attributes.manifestation.wrong_isbn') -%></b>
        <%= f.text_field :wrong_isbn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
      </p>
      <p>
        <b><%= t('activerecord.attributes.manifestation.lccn') -%></b>
        <%= f.text_field :lccn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
      </p>
  <%- end -%>

  <p>
    <b><%= t('activerecord.attributes.manifestation.start_page') -%></b>
    <%= f.text_field :start_page, :class => 'resource_integer' -%>
    <b><%= t('activerecord.attributes.manifestation.end_page') -%></b>
    <%= f.text_field :end_page, :class => 'resource_integer' -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.manifestation.height') -%>(cm)</b>
    <%= f.text_field :height, :class => 'resource_integer' -%>
  <b><%= t('activerecord.attributes.manifestation.width') -%>(cm)</b>
    <%= f.text_field :width, :class => 'resource_integer' -%>
  <b><%= t('activerecord.attributes.manifestation.depth') -%>(cm)</b>
    <%= f.text_field :depth, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.price') -%></b>
    <%= f.text_field :price, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.access_address') -%></b><br />
    <%= f.text_field :access_address, :class => 'resource_url' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.repository_content') -%></b>
    <%= f.check_box :repository_content -%>
  </p>
  
  <p>
    <b><%= t('role.required_role') -%></b>
    <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= hidden_field_tag :expression_id, @expression.id if @expression -%>
    <%= hidden_field_tag :patron_id, @patron.id if @patron -%>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>
</div>
</div>
