<%- cache(:id => manifestation.id, :action => :show, :action_suffix => 'show_index') do -%>
  <strong><%= link_to h(manifestation.original_title), manifestation -%></strong>
  <%- if manifestation.serial? -%>
    <%=h manifestation.volume_number_list -%>
    <%- unless manifestation.issue_number_list.blank? -%>
      (<%=h manifestation.issue_number_list -%>)
    <%- end -%>
    <%=h manifestation.serial_number_list -%>
  <%- end -%>
  <%= form_icon(manifestation.manifestation_form) -%>
  <%= image_tag('/icons/newspaper.png', :size => '16x16', :alt => ('Serial')) if manifestation.serial -%>
  <%= link_to image_tag('/icons/world_go.png', :size => '16x16', :alt => ('Web')), manifestation.access_address unless manifestation.access_address.blank? -%>
  <%- manifestation.expressions.each do |e| -%>
    <%= link_to expression_form_icon(e.expression_form), expression_path(e) -%>
  <%- end -%>
  <%- unless manifestation.items.blank? -%>
    <%- unless manifestation.manifestation_form.name == 'file' -%>
      (<%= link_to_remote t('page.holding'), :update => "holding_#{manifestation.id}", :url => {:controller => :manifestations, :action => :show, :id => manifestation.id, :mode => 'holding'}, :method => :get -%>)
    <%- end -%>
  <%- end -%>
  <br />
  <div id="author_list_<%=h manifestation.id -%>">
    <%= render :partial => 'manifestations/show_authors', :locals => {:manifestation => manifestation} -%>
  </div>
  <div class="holding" id="holding_<%=h manifestation.id -%>"></div>
<%- end -%>
