<div id="holding">
<table style="width: 100%">
  <tr>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
  </tr>
  <%- manifestation.items.on_shelf.each do |item| -%>
    <tr>
      <td>
        <%= link_to item.shelf.library.display_name.localize, item.shelf.library %>
      </td>
      <td>
        <%= link_to item.shelf.display_name.localize, item.shelf -%>
        <%= render :partial => 'items/shelf_picture', :locals => {:item => item} -%>
      </td>
      <td>
        <%= item.call_number -%>
      </td>
      <td>
        <%- unless item.item_identifier.blank? -%>
          <%= link_to item.item_identifier, item -%>
        <%- else -%>
          (<%= link_to t('item.no_number'), item -%>)
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>
</div>
