<%- cache(:action => :show, :id => @manifestation.id, :action_suffix => 'show_holding') do -%>
  <table id="index">
    <tr>
      <th><%=h t('page.library') -%></th>
      <th><%=h t('activerecord.models.shelf') -%></th>
      <th><%=h t('activerecord.attributes.item.call_number') -%></th>
      <th><%=h t('activerecord.attributes.item.item_identifier') -%></th>
      <th><%=h t('activerecord.models.circulation_status') -%></th>
    </tr>
    <%- for item in @manifestation.items -%>
      <%- unless (item.shelf.blank? or item.shelf.web_shelf?) -%>
        <tr>
          <td>
            <%= link_to h(item.shelf.library.name), library_path(item.shelf.library.short_name)%>
          </td>
          <td><%= link_to h(item.shelf.name), shelf_path(item.shelf) -%></td>
          <td>
            <%=h item.call_number -%>
          </td>
          <td>
            <%- unless item.item_identifier.blank? -%>
              <%= link_to h(item.item_identifier), item -%>
            <%- else -%>
              (<%= link_to ('no number'), item -%>)
            <%- end -%>
          </td>
          <td>
            <%=h item.circulation_status.display_name if item.circulation_status -%>
            <%- if item.rent? -%>
              (
                <%= t('activerecord.attributes.checkout.due_date') -%>:
                <%=h item.checkouts.first.due_date.strftime('%Y-%m-%d') -%>
              )
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    <%- end -%>
  </table>
<%- end -%>
