<div id="xisbn_list">
  <ul>
    <%- @xisbn_manifestations.each do |xisbn| -%>
      <li><%= link_to h(xisbn[:title]), "http://www.worldcat.org/isbn/#{xisbn[:isbn]}" -%>
      <%= xisbn[:author] -%>
      <%= xisbn[:publisher] -%>
      (<%= xisbn[:year] -%>)
      <%- if manifestation = Manifestation.find_by_isbn(xisbn[:isbn]) -%>
        (<%= link_to t('page.local_record'), manifestation -%>)
      <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@xisbn_manifestations, :param_name => :xisbn_page, :class => 'content_pagination digg_pagination') -%>
</div>    
