<ul>
  <li class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
  <%- unless @manifestation.has_single_work? -%>
    <li><a href="#work"><em><%= t('page.related_work') -%> (<%= @manifestation.works.size -%>)</em></a></li>
  <%- end -%>
  <%- if @manifestation.original_manifestations.present? or @manifestation.derived_manifestations.present? -%>
    <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%> (<%= @manifestation.original_manifestations.size + @manifestation.derived_manifestations.size -%>)</em></a></li>
  <%- end -%>
  <%- unless @manifestation.amazon_customer_reviews.blank? -%>
    <li><a href="#amazon"><em><%= t('page.amazon_review') -%></em></a></li>
  <%- end -%>
  <%- unless @xisbn_manifestations.blank? -%>
    <li><a href="#worldcat"><em><%= 'WorldCat' -%></em></a></li>
  <%- end -%>
</ul>
