<%- if logged_in? -%>
  <%- unless @bookmark.blank? -%>
    <!-- bookmarked_by_me -->
    <%- form_for(:bookmark, :url => user_bookmark_path(current_user.login, @bookmark, :tag_edit => 'manifestation'), :html => { :method => :put }) do |f| -%>
      <div>
        <%= f.text_field :tag_list, :class => 'resource_title' -%>
        <%= submit_tag t('update') -%>
        <br />
        <%= link_to_remote image_tag('/icons/cancel.png', :alt => ('Cancel')), :update => 'tag_list', :url => {:controller => 'manifestations', :action => 'show', :id => @manifestation.id, :mode => 'tag_list'}, :method => :get -%>
        (<%= link_to_remote ('Cancel'), :update => 'tag_list', :url => {:controller => 'manifestations', :action => 'show', :id => @manifestation.id, :mode => 'tag_list'}, :method => :get -%>)
        <br />
        半角スペースで区切ってください。
      </div>
    <%- end -%>
    <%= javascript_tag("$('bookmark_tag_list').focus()") -%>
  <%- else -%>
    <!-- bookmarked_by_other_patron_or_not_bookmarked -->
    <%- form_for(:bookmark, :url => user_bookmarks_path(current_user.login, :tag_edit => 'manifestation'), :html => { :method => :post }) do |f| -%>
      <div>
        <%= f.text_field :tag_list, :class => 'resource_title' -%>
        <%= f.hidden_field :title, :value => h(@manifestation.original_title) -%>
        <%= f.hidden_field :url, :value => manifestation_url(@manifestation) -%>
        <%= submit_tag t('create') -%>
        <%= link_to_remote image_tag('/icons/cancel.png', :alt => ('Cancel')), :update => 'tag_list', :url => {:controller => 'manifestations', :action => 'show', :id => @manifestation.id, :mode => 'tag_list'}, :method => :get -%>
        <%= link_to_remote ('Cancel'), :update => 'tag_list', :url => {:controller => 'manifestations', :action => 'show', :id => @manifestation.id, :mode => 'tag_list'}, :method => :get -%>
        <br />
        半角スペースで区切ってください。
      </div>
    <%- end -%>
    <%= javascript_tag("$('bookmark_tag_list').focus()") -%>
  <%- end -%>
<%- end -%>

