<%- cache(:id => manifestation.id, :controller => :manifestations, :action => :show, :action_suffix => 'title', :locale => @locale) do -%>
  <h2 class="resource_title">
    [M]
    <%= link_to h(manifestation.original_title), manifestation -%>
    <%= form_icon(manifestation.carrier_type) -%>
    <%- manifestation.expressions.each do |expression| -%>
      <%= link_to content_type_icon(expression.content_type), expression -%>
    <%- end -%>
  </h2>
  <p>
    <%- unless manifestation.authors.blank? -%>
      <%= t('page.author') -%>: <%= raw patrons_list(manifestation.authors) -%>
    <%- end -%>
    <%- unless manifestation.editors.blank? -%>
      <%= t('page.editor') -%>: <%= raw patrons_list(manifestation.editors) -%>
    <%- end -%>
    <%- unless manifestation.publishers.blank? -%>
      <%= t('page.publisher') -%>: <%= raw patrons_list(manifestation.publishers) -%>
      <%- if manifestation.date_of_publication -%>
        (<%= manifestation.date_of_publication.strftime('%Y') -%>)
      <%- end -%>
    <%- end -%>
    <%- unless manifestation.access_address.blank? -%>
      <br />
      <%= link_to h(manifestation.access_address), h(manifestation.access_address) -%>
      <%= link_to image_tag('/icons/world_go.png', :size => '16x16', :alt => ('Web')), h(manifestation.access_address) -%>
    <%- end -%>
  </p>
<%- end -%>
