<div id="work">
<%- unless @manifestation.works.blank? -%>
  <ul>
    <%- @manifestation.works.each do |work| -%>
        <li>[W] <%= link_to h(work.original_title), work -%>
          <%- work.expressions.each do |expression| -%>
            <%= link_to content_type_icon(expression.content_type), expression -%>
          <%- end -%>
          <%= raw patrons_list(work.patrons) -%>
          <%- unless work.manifestations.empty? -%>
            <ul>
              <%- work.manifestations.each do |manifestation| -%>
                <%- unless @manifestation == manifestation -%>
                  <%- unless work.original_title == manifestation.original_title and work.expressions.size == 1 -%>
                    <li>[M]
                    <%= link_to h(manifestation.original_title), manifestation -%>
                    <%= form_icon(manifestation.carrier_type) -%>
                    <%- manifestation.expressions.each do |expression| -%>
                      <%= link_to content_type_icon(expression.content_type), expression -%>
                    <%- end -%>
                    <%= raw patrons_list(manifestation.authors) -%>
                    <%= raw patrons_list(manifestation.editors) -%>
                    <%= raw patrons_list(manifestation.patrons) -%>
                    <%- if manifestation.date_of_publication -%>
                      (<%= manifestation.date_of_publication.strftime('%Y') -%>)
                    <%- end -%>
                    </li>
                  <%- end -%>
                <%- end -%>
              <%- end -%>
            </ul>
          <%- else -%>
            <li></li>
          <%- end -%>
        </li>
    <%- end -%>
  </ul>
<%- end -%>
</div>
