<div id="work">
<%- unless @works.blank? -%>
  <%= will_paginate(@works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
  <ul>
    <%- @works.each do |work| -%>
        <li>[W] <%= link_to work.original_title, work -%>
          <%- work.manifestations.each do |manifestation| -%>
            <%= link_to form_icon(manifestation.carrier_type), manifestation -%>
          <%- end -%>
          <%= patrons_list(work.patrons) -%>
        </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
<%- end -%>
</div>
