<div id="submenu">
  <div id="manifestation_book_jacket">
    <%- cache(:controller => :manifestations, :action => :show, :id => @manifestation.id, :action_suffix => 'book_jacket') do -%>
      <%= book_jacket(@manifestation) -%>
    <%- end -%>
  </div>
  <ul>
    <li><%= link_to t('page.show'), manifestation_path(@manifestation) -%></li>
    <li><%= link_to t('page.destroy'), manifestation_path(@manifestation), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- case when @expression -%>
    <li><%= link_to t('page.back'), expression_manifestations_path(@expression) -%></li>
    <%- when @patron -%>
      <li><%= link_to t('page.back'), patron_manifestations_path(@patron) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), manifestations_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1><%= t('page.editing', :model => t('activerecord.models.manifestation')) -%></h1>

<%= error_messages_for :manifestation -%>

<%- form_for(:manifestation, :url => manifestation_path(@manifestation), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :original_title, :class => 'resource_title', :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.title_transcription') -%></b><br />
    <%= f.text_field :title_transcription, :class => 'resource_title', :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.title_alternative') -%></b><br />
    <%= f.text_field :title_alternative, :class => 'resource_title', :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.models.manifestation_form') -%></b>
    <%= f.select(:manifestation_form_id, @manifestation_forms.collect{|m| [m.display_name, m.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.date_of_publication') -%></b>
    <%= f.date_select :date_of_publication, :blank => true -%>
  </p>

  <p>
    <%- if @manifestation.serial -%>
      <%= render :partial => 'edit_serial', :locals => {:f => f} -%>
    <%- else -%>
      <b><%= t('activerecord.attributes.manifestation.edition') -%></b>
      <%= f.text_field :edition, :class => 'resource_integer' -%>
      <b><%= t('activerecord.attributes.manifestation.volume_number_list') -%></b>
      <%= f.text_field :volume_number_list, :class => 'resource_integer' -%>
    <%- end -%>
  </p>

  <%- unless @manifestation.serial -%>
    <p>
      <b><%= t('activerecord.attributes.manifestation.isbn') -%></b>
      <%= f.text_field :isbn, :class => 'resource_isbn_issn', :style => 'ime-mode: disabled' -%>
    </p>
  <%- end -%>

  <p>
    <b><%= t('activerecord.attributes.manifestation.start_page') -%></b>
    <%= f.text_field :start_page, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>

    <b><%= t('activerecord.attributes.manifestation.end_page') -%></b>
    <%= f.text_field :end_page, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.height') -%>(cm)</b>
    <%= f.text_field :height, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
    <b><%= t('activerecord.attributes.manifestation.width') -%>(cm)</b>
    <%= f.text_field :width, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
    <b><%= t('activerecord.attributes.manifestation.depth') -%>(cm)</b>
    <%= f.text_field :depth, :class => 'resource_integer', :style => 'ime-mode: disabled' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.price') -%></b>
    <%= f.text_field :price, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.access_address') -%></b><br />
    <%= f.text_field :access_address, :class => 'resource_url' -%>
  </p>

  <!--
  <p>
    <b><%= ('Classification number') -%></b><br />
    <%= f.text_field :classification_number -%>
  </p>
  -->

  <p>
    <b><%= t('activerecord.attributes.manifestation.repository_content') -%></b>
    <%= f.check_box :repository_content -%>
  </p>

  <p>
    <b><%= ('Access role') -%></b><br />
    <%= f.select(:access_role_id, @roles.collect{|r| [r.name, r.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>

</div>
