<div id="submenu">
  <div id="manifestation_book_jacket">
    <%- cache(:controller => :manifestations, :action => :show, :id => @manifestation.id, :action_suffix => 'book_jacket') do -%>
      <%= book_jacket(@manifestation) -%>
    <%- end -%>
  </div>

  <%- if logged_in? -%>
    <div id="call_number_content">
      <%- for item in @manifestation.items -%>
        <%- if item.hold?(current_user.library) -%>
          <%= call_number_label(item) -%>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>

  <div id="manifestation_bookmark_buttons">
    <%- if logged_in? -%>
      <ul>
        <%- if @manifestation.bookmarked_resource -%>
          <%- if @manifestation.bookmarked_resource.bookmarked?(current_user) -%>
            <li><%= link_to t('bookmark.remove_from_my_bookmark'), bookmark_path(Bookmark.find_by_bookmarked_resource_id(@manifestation.bookmarked_resource)), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
          <%- end -%>
        <%- else -%>
          <li><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.login, :url => URI::Generic.build(:scheme => 'http', :host => request.host, :path => url_for)) -%></li>
        <%- end -%>

      <%- unless @manifestation.manifestation_form.name == 'file' -%>
        <li>
          <%- if current_user.has_role?('Librarian') -%>
            <%= link_to ('Reserve this manifestation'), new_reserve_path(:manifestation_id => @manifestation.id) -%>
          <%- else -%>
            <%- if @manifestation.reserved?(current_user) -%>
              <%= link_to ('Cancel reservation'), user_reserve_path(@reserve.user.login, @reserve) -%>
            <%- else -%>
              <%= link_to ('Reserve this manifestation'), new_user_reserve_path(current_user.login, :manifestation_id => @manifestation.id) -%>
            <%- end -%>
          <%- end -%>
          <br />
          (<%= t('page.number_of_reservations', :count => @reserved_count) -%>)
        </li>
      <%- end -%>
      </ul>

      <%- if current_user.has_role?('Librarian') -%>
        <ul>
          <%- case when @expression -%>
            <li><%= link_to t('manifestation.edit'), edit_expression_manifestation_path(@expression, @manifestation) -%></li>
          <%- when @patron -%>
            <li><%= link_to t('manifestation.edit'), edit_patron_manifestation_path(@patron, @manifestation) -%></li>
          <%- else -%>
            <li><%= link_to t('manifestation.edit'), edit_manifestation_path(@manifestation) -%></li>
          <%- end -%>
          <ul>
            <li><%= link_to t('manifestation.edit_publisher'), manifestation_patrons_path(@manifestation) -%></li>
            <%- if @manifestation.serial? -%>
              <li><%= link_to t('manifestation.add_next_issue'), new_expression_manifestation_path(@manifestation.serial) -%></li>
            <%- end -%>
          </ul>
          <li><%= link_to t('manifestation.edit_expression'), manifestation_expressions_path(@manifestation) -%></li>
          <li><%= link_to t('manifestation.edit_item'), manifestation_items_path(@manifestation) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
    </div>
  </div>

  <div id="content_detail">
    <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <div>
        <%= paginate_id_link(@manifestation, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
        <%= link_to t('page.back_to_search_results'), back_to_manifestation_index -%>
        <!--
        <%= t('page.search_term') -%>:
        <%= text_field_tag 'query', h(@query), {:id => 'searchform_top', :style => 'width: 20em'} -%>
        <%= submit_tag t('page.search') -%>
        <%= link_to h(t('page.advanced_search')), '/page/advanced_search' -%>
        -->
    </div>
  <%- end -%>

<!-- cache start -->
<%
  cache(:id => @manifestation.id, :action_suffix => 'detail') do
%>
    <%= render :partial => 'manifestation_patrons_list' -%>

  <div id="tabview">

<div id="demo" class="yui-navset yui-navset-top">
  <ul class="yui-nav">
    <li title="nctive" class="selected"><a href="#tab1"><em><%= t('page.detail') -%></em></a></li>
    <%- if @manifestation.related_works.size > 0 -%>
      <li><a href="#tab3"><em><%= t('page.related_work') -%> (<%= @manifestation.related_works.size -%>)</em></a></li>
    <%- end -%>
    <%- if @manifestation.related_manifestations.size > 0 -%>
      <li><a href="#tab4"><em><%= t('page.related_manifestation') -%> (<%= @manifestation.related_manifestations.size -%>)</em></a></li>
    <%- end -%>
    <%- unless @amazon_reviews.blank? -%>
      <li><a href="#tab6"><em><%= t('page.amazon_review') -%></em></a></li>
    <%- end -%>
  </ul>            
  <div class="yui-content">
    <div id="tab1">
    <%- if @manifestation.isbn -%>
      <%= render :partial => 'google_book_search' -%>
    <%- end -%>

    <table id="manifestation_detail">
    <%- if @manifestation.youtube_id or @manifestation.nicovideo_id -%>
      <tr>
        <td style="width: 200px"><%=h t('page.video') -%>:</td>
        <td>
          <%- if @manifestation.youtube_id -%>
            <%= render :partial => 'youtube' -%>
          <%- elsif @manifestation.nicovideo_id -%>
            <%= render :partial => 'nicovideo' -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    <%- if @manifestation.serial -%>
      <tr>
        <td style="width: 200px"><%=h ('Serial') -%>:</td>
        <td><%= serial_title_link(@manifestation) -%>
          <%- if @manifestation.serial.issn? -%>
            (ISSN: <%=h @manifestation.serial.issn -%>)
          <%- end -%>
        </td>
      </tr>
      <tr>
        <td><%= t('page.number') -%>:</td>
        <td>
          <%- unless @manifestation.volume_number.blank? -%>
            <%= t('activerecord.attributes.manifestation.volume_number_list') -%>: <%=h @manifestation.volume_number.join("/") -%>
          <%- end -%>
          <%- unless @manifestation.issue_number_list.blank? -%>
            <%= ('Issue number') -%>: <%=h @manifestation.issue_number.join("/") -%>
          <%- end -%>
          <%- unless @manifestation.serial_number_list.blank? -%>
            <%= ('Serial number') -%>: <%=h @manifestation.serial_number.join("/") -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    <tr>
      <td style="width: 200px"><%=h t('page.form') -%>:</td>
      <td>
        <%= form_icon(@manifestation.manifestation_form) -%> <%=h @manifestation.manifestation_form.display_name -%>
      </td>
    </tr>
    <tr>
      <td><%= t('page.language') -%>:</td>
      <td><%= language_list(@manifestation.languages) -%></td>
    </tr>
    <tr>
      <td><%=h t('manifestation.physical_description') -%>:</td>
      <td>
        <%- if @manifestation.number_of_pages -%>
          <%=h @manifestation.number_of_pages -%> p. 
          (<%=h @manifestation.start_page -%> - <%=h @manifestation.end_page -%>)
        <%- end -%>
        <!-- TODO: センチメートル以外の単位 -->
        <%- if @manifestation.height -%>
          <%=h @manifestation.height -%> cm.
        <%- end -%>
      </td>
    </tr>
    <tr>
      <td><%= t('page.price') -%></td>
      <td><%= @manifestation.price -%></td>
    </tr>
    <tr>
      <td><%= t('page.subject') -%>:</td>
      <td>
        <%- for subject in @manifestation.subjects -%>
          <%= link_to h(subject.term), subject -%>
          <%= link_to image_tag('/icons/page_edit.png', :alt => t('page.edit')), subject -%>
        <%- end -%>
        <%- if logged_in? and current_user.has_role?('Librarian') -%>
          (<%= link_to t('page.edit'), manifestation_subjects_path(@manifestation) -%>)
        <%- end -%>
      </td>
    </tr>
    <tr>
      <td><%= t('page.tag') -%>:
      </td>
      <td>
        <%= render :partial => 'tag_list' -%>
      </td>
    </tr>
    <%- unless @manifestation.serial? -%>
      <tr>
        <td>ISBN:</td>
        <td>
          <%- if @manifestation.isbn -%>
            <%=h @manifestation.isbn -%>
            <%- if @manifestation.isbn10 -%>
              ( <%=h @manifestation.isbn10 -%> )
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    <%- unless @manifestation.attachment_files.blank? -%>
      <tr>
        <td><%= t('activerecord.models.attachment_file') -%>:</td>
        <td><%= render :partial => 'attachment_files' -%></td>
      </tr>
    <%- end -%>
    <tr>
      <td><%= t('activerecord.attributes.manifestation.note') -%>:</td>
      <td><%= textilize_without_paragraph(h(@manifestation.note)) -%></td>
    </tr>
    </table>

    <%- unless @manifestation.items_on_shelves.blank? -%>
      <%= render :partial => 'manifestations/show_holding', :locals => {:manifestation => @manifestation} -%>
    <%- end -%>
      <%- if @manifestation.bookmarks -%>
        <h4><%= t('page.patron_who_bookmark_this_resource') -%></h4>
        <%= render :partial => 'bookmarks_for_this_manifestation' -%>
      <%- end -%>
    </div>
    <%- if @manifestation.related_works.size > 0 -%>
      <div id="tab3">
      <%- unless @manifestation.related_works.blank? -%>
        <ul>
          <%- @manifestation.related_works.each do |work| -%>
            <li>
              <%- if work.serials.blank? -%>
                [W] <%= link_to h(work.original_title), work -%>
                <%- work.expressions.each do |expression| -%>
                  <%= link_to expression_form_icon(expression.expression_form), expression -%>
                <%- end -%>
                <%= patrons_list(work.patrons) -%>
                <ul>
                  <%- work.manifestations.each do |manifestation| -%>
                    <%- unless @manifestation == manifestation -%>
                      <%- unless work.original_title == manifestation.original_title and work.expressions.size == 1 -%>
                        <li>
                          [M]
                          <%= link_to h(manifestation.original_title), manifestation -%>
                          <%= form_icon(manifestation.manifestation_form) -%>
                          <%- manifestation.expressions.each do |expression| -%>
                            <%= link_to expression_form_icon(expression.expression_form), expression -%>
                          <%- end -%>
                          <%= patrons_list(manifestation.authors) -%>
                          <%= patrons_list(manifestation.editors) -%>
                          <%= patrons_list(manifestation.patrons) -%>
                          <%- if manifestation.date_of_publication -%>
                            (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                          <%- end -%>
                        </li>
                      <%- end -%>
                    <%- end -%>
                  <%- end -%>
                </ul>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
    <%- end -%>
    <%- unless @manifestation.related_manifestations.blank? -%>
    <div id="tab4">
      <%- unless @manifestation.related_manifestations.blank? -%>
        <ul>
          <%- @manifestation.related_manifestations.each do |manifestation| -%>
            <%- unless manifestation == @manifestation -%>
              <li>
                [M] <%= link_to h(manifestation.original_title), manifestation -%>
                <%= form_icon(manifestation.manifestation_form) -%>
                <%- manifestation.expressions.each do |expression| -%>
                  <%= link_to expression_form_icon(expression.expression_form), expression -%>
                <%- end -%>
                <%= link_to image_tag('/icons/world_go.png', :size => '16x16', :alt => ('Web')), h(manifestation.access_address) unless manifestation.access_address.blank? -%>
                <%= patrons_list(manifestation.authors) -%>
                <%= patrons_list(manifestation.editors) -%>
                <%= patrons_list(manifestation.patrons) -%>
                <%- if manifestation.date_of_publication -%>
                  (<%=h manifestation.date_of_publication.strftime('%Y') -%>)
                <%- end -%>
                <%- unless manifestation.works.blank? -%>
                  <ul>
                    <%- manifestation.works.each do |work| -%>
                      <%- unless work.original_title == manifestation.original_title -%>
                        <li>
                          [W]
                          <%= image_tag('/icons/bullet_go.png', :size => '16x16', :alt => ('Work that contains this manifestation')) if @manifestation.works.include?(work) -%>
                          <%= link_to h(work.original_title), work -%>
                          <%- work.expressions.each do |expression| -%>
                            <%= link_to expression_form_icon(expression.expression_form), expression -%>
                          <%- end -%>
                          <%= patrons_list(work.patrons) -%>
                        </li>
                      <%- end -%>
                    <%- end -%>
                  </ul>
                <%- end -%>
              </li>
            <%- end -%>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
    <%- end -%>
    <!--
    <div id="tab5">
    </div>
    -->
    <%- if @amazon_reviews.size > 0 -%>
      <div id="tab6">
        <p><%= link_to t('page.these_reviews_are_from_amazon'), "http://www.amazon.co.jp/dp/#{@manifestation.amazon_book_jacket['asin']}" -%></p>
        <%- @amazon_reviews.each do |comment| -%>
          <div class="amazon_summary"><strong><%=h comment[:summary] -%></strong> (<%=h comment[:date] -%>)</div>
          <p><%= h(comment[:content]).gsub('&amp;lt;', '<').gsub('&amp;gt;', '>') -%></p>
        <%- end -%>
      </div>
    <%- end -%>
  </div>
</div>
<%= render :partial => 'page/tabview' -%>
<!-- cache end -->
    <%
      end
    -%>
</div>

</div>
