  <div id="content_detail">
  <h1 class="title"><%= t('page.showing', :model => t('activerecord.models.manifestation')) -%></h1>
  <div id="content_list">
    <%- form_for :manifestations, :url => manifestations_path, :html => {:method => 'get'} do -%>
      <div>
        <%= raw paginate_id_link(@manifestation) -%>
        <%= back_to_manifestation_index -%>
        <%= t('page.search_term') -%>:
        <%= text_field_tag 'query', session[:query], {:id => 'search_form_top', :class => 'search_form_short'} -%>
        <%= submit_tag t('page.search') -%>
        <%= link_to t('page.advanced_search'), '/page/advanced_search' -%>
      </div>
    <%- end -%>
    <%= javascript_tag("$('search_form_top').focus()") -%>

  <%= render :partial => 'title', :locals => {:manifestation => @manifestation} -%>
  <%- if @version -%>
    <p>(<%= l(@manifestation.versions.find(@version).created_at) -%>)</p>
  <%- end -%>
<!-- cache start -->
<%
  cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'detail_1', :editable => @manifestation.is_updatable_by(current_user), :locale => @locale, :version => @version) do
%>
  <%= render :partial => 'page/tabview' -%>
  <div id="tabs">
    <ul>
      <li class="selected"><a href="#detail"><em><%= t('page.detail') -%></em></a></li>
      <%- unless @manifestation.has_single_work? -%>
        <li><a href="#work"><em><%= t('page.related_work') -%> (<%= @manifestation.works.size -%>)</em></a></li>
      <%- end -%>
      <%- if @manifestation.original_manifestations.present? or @manifestation.derived_manifestations.present? -%>
        <li><a href="#manifestation"><em><%= t('page.related_manifestation') -%> (<%= @manifestation.original_manifestations.size + @manifestation.derived_manifestations.size -%>)</em></a></li>
      <%- end -%>
      <%- unless @manifestation.amazon_customer_reviews.blank? -%>
        <li><a href="#amazon"><em><%= t('page.amazon_review') -%></em></a></li>
      <%- end -%>
      <%- unless @xisbn_manifestations.blank? -%>
        <li><a href="#worldcat"><em><%= 'WorldCat' -%></em></a></li>
      <%- end -%>
      <%- if current_user.try(:has_role?, 'Librarian') -%>
        <li><a href="#history"><em><%= t('page.history') -%></em></a></li>
      <%- end -%>
    </ul>            
    <div id="detail">
      <%- if @manifestation.isbn -%>
        <%= google_book_search_preview(@manifestation.isbn) -%>
      <%- end -%>
      <table id="manifestation_detail">
        <%= embed_content(@manifestation) -%>
<%-
  #end
-%>
<%-
  #cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'detail_2', :editable => @manifestation.is_updatable_by(current_user), :locale => @locale, :version => @version) do
%>
        <%- if @manifestation.serial? -%>
          <tr>
          <td style="width: 200px"><%= t('manifestation.serial') -%>:</td>
          <td style="width: 490px"><%= link_to h(@manifestation.series_statement.original_title), @manifestation.series_statement -%>
            <%- if @manifestation.issn.present? -%>
              (<%= t('activerecord.attributes.manifestation.issn') -%>: <%= @manifestation.issn -%>)
            <%- end -%>
          </td>
        </tr>
        <tr>
          <td><%= t('page.number') -%>:</td>
          <td>
            <%- unless @manifestation.volume_number.blank? -%>
              <%= t('activerecord.attributes.manifestation.volume_number_list') -%>: <%= @manifestation.volume_number.join("/") -%>
            <%- end -%>
            <%- unless @manifestation.issue_number_list.blank? -%>
              <%= t('manifestation.issue_number') -%>: <%= @manifestation.issue_number.join("/") -%>
            <%- end -%>
            <%- unless @manifestation.serial_number_list.blank? -%>
              <%= t('manifestation.serial_number') -%>: <%= @manifestation.serial_number.join("/") -%>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
      <tr>
        <td style="width: 200px"><%= t('page.form') -%>:</td>
        <td style="width: 500px">
          <%= form_icon(@manifestation.carrier_type) -%> <%= @manifestation.carrier_type.display_name.localize -%>
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.models.language') -%>:</td>
        <td><%= language_list(@manifestation.languages) -%></td>
      </tr>
      <tr>
        <td><%= t('manifestation.physical_description') -%>:</td>
        <td>
          <%- if @manifestation.number_of_pages -%>
            <%= @manifestation.number_of_pages -%> p. 
            (<%= @manifestation.start_page -%> - <%= @manifestation.end_page -%>)
          <%- end -%>
          <!-- TODO: センチメートル以外の単位 -->
          <%- if @manifestation.height -%>
            <%= @manifestation.height -%> cm.
          <%- end -%>
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.manifestation.price') -%></td>
        <td><%= @manifestation.price -%></td>
      </tr>
<%-
  end
-%>
    <!-- TODO: タグ表示のフラグメントキャッシュ -->
      <tr>
        <td><%= t('activerecord.models.subject') -%>:</td>
        <td>
          <%- unless @manifestation.subjects.empty? -%>
            <ul>
              <%- @manifestation.subjects.each do |subject| -%>
                <li>
                  <%= link_to h(subject.term), subject -%>
                  <%- if subject.is_updatable_by(current_user) -%>
                    <%= link_to image_tag('/icons/page_edit.png', :alt => t('page.edit')), subject -%>
                  <%- end -%>
                  (
                  <%- subject.classifications.each do |classification| -%>
                    <%= classification.classification_type.name -%>: <%= link_to h(classification.category), classification -%>
                  <%- end -%>
                  )
                </li>
              <%- end -%>
            </ul>
          <%- end -%>
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.models.tag') -%>:</td>
        <td>
          <%= render :partial => 'tag_list' -%>
        </td>
      </tr>
<%
  cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'detail_3', :editable => @manifestation.is_updatable_by(current_user), :locale => @locale, :version => @version) do
%>
      <%- unless @manifestation.serial? -%>
        <tr>
          <td><%= t('page.identifier') -%>:</td>
          <td>
            <%- if @manifestation.isbn.present? -%>
              ISBN: <%= @manifestation.isbn -%>
              <%- if @manifestation.isbn10.present? -%>
                ( <%= @manifestation.isbn10 -%> )
              <%- end -%>
            <%- end -%>
            <%- if @manifestation.nbn.present? -%>
              NBN: <%= @manifestation.nbn -%>
            <%- end -%>
            <%- if @manifestation.lccn.present? -%>
              <br />
              LCCN: <%= @manifestation.lccn -%>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
      <%- unless @manifestation.attachment_file_name.blank? -%>
        <%= render :partial => 'attachment_file' -%>
      <%- end -%>
      <tr>
        <td><%= t('page.created_at') -%>:</td>
        <td><%=l @manifestation.created_at if @manifestation.created_at -%></td>
      </tr>
      <tr>
        <td><%= t('page.updated_at') -%>:</td>
        <td><%=l @manifestation.updated_at if @manifestation.updated_at -%></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.manifestation.description') -%>:</td>
        <td>
          <%= raw simple_format(h(@manifestation.description)) -%>
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.manifestation.note') -%>:</td>
        <td>
          <!--
            <%= editable_content_tag(:div, @manifestation, 'note', true, nil, {:style => 'border: 1px solid grey;'}, {:clickToEditText => t('page.click_to_edit'), :okText => t('page.update'), :cancelText => t('page.cancel'), :emptyText => t('page.click_to_edit'), :savingText => t('page.saving'), :rows => 2, :cols => 40}) %>
          -->
          <%= raw simple_format(h(@manifestation.note)) -%>
        </td>
      </tr>
      <%= render :partial => 'show_worldcat_record' if @worldcat_record.present? -%>
    </table>
  <%- end -%>
  <%- if @manifestation.items.on_shelf.first -%>
    <%= render :partial => 'manifestations/show_holding', :locals => {:manifestation => @manifestation} -%>
  <%- end -%>
<%
  cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'detail_4', :editable => @manifestation.is_updatable_by(current_user), :locale => @locale, :version => @version) do
%>
      <h4><%= t('manifestation.patron_who_bookmark_this_resource') -%></h4>
      <%= render :partial => 'bookmarks_for_this_manifestation' -%>

    </div>
    <%- unless @manifestation.has_single_work? -%>
      <%= render :partial => 'manifestations/work_list' -%>
    <%- end -%>
    <%- if @manifestation.original_manifestations.present? or @manifestation.derived_manifestations.present? -%>
      <%= render :partial => 'manifestations/manifestation_list' -%>
    <%- end -%>
    <%- if @manifestation.amazon_customer_reviews.size > 0 -%>
      <%= render :partial => 'manifestations/amazon_review', :locals => {:manifestation => @manifestation, :amazon_reviews => @amazon_reviews} -%>
    <%- end -%>
    <%- unless @xisbn_manifestations.blank? -%>
      <%= render :partial => 'manifestations/show_xisbn' -%>
    <%- end -%>
    <%- if current_user.try(:has_role?, 'Librarian') -%>
      <%= render :partial => 'history_list' -%>
    <%- end -%>
  </div>
</div>
<!-- cache end -->
  <%
    end
  -%>
      <%- if @manifestation.is_updatable_by(current_user) -%>
        <%- if @manifestation.respond_to?(:post_to_twitter) -%>
          <%= render :partial => 'manifestations/twitter_comment' -%>
        <%- end -%>
      <%- end -%>

<%- if params[:mode] == 'generate_cache' -%>
  <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => @manifestation} -%>
  <%= render :partial => 'manifestations/show_authors', :locals => {:manifestation => @manifestation} -%>
  <%= render :partial => 'manifestations/pickup', :locals => {:manifestation => @manifestation} -%>
<%- end -%>

</div>

<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @manifestation} -%>
  <%- cache(:id => @manifestation.id, :action => :show, :controller => :manifestations, :action_suffix => 'picture_file', :editable => @manifestation.is_updatable_by(current_user), :locale => @locale, :version => @version) do -%>
    <%- unless @manifestation.picture_files.empty? -%>
      <ul>
        <%- @manifestation.picture_files.each_with_index do |picture_file, i| -%>
          <%- if @manifestation.amazon -%>
            <%- if i == 0 -%>
              <li><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- else -%>
              <li style="display: none"><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- end -%>
          <%- else -%>
            <%- next if i == 0 -%>
            <%- if i == 1 -%>
              <li><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- else -%>
              <li style="display: none"><%= link_to_custom_book_jacket(@manifestation, picture_file) -%></li>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        <li><%= link_to t('page.listing', :model => t('activerecord.models.picture_file')), manifestation_picture_files_path(@manifestation) -%></li>
        <%- if current_user.try(:has_role?, 'Librarian') -%>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_manifestation_picture_file_path(@manifestation) -%></li>
        <%- end -%>
      </ul>
      <script type="text/javascript">
        jQuery(document).ready(function(){
          jQuery("a[rel='manifestation_<%= @manifestation.id -%>']").colorbox({transition:"none"});
        })
      </script>
    <%- else -%>
      <%- if current_user.try(:has_role?, 'Librarian') -%>
        <ul>
          <li><%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_manifestation_picture_file_path(@manifestation) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
  <%- end -%>
  <%- if user_signed_in? -%>
    <div id="call_number_content">
      <%- for item in @manifestation.items.on_shelf -%>
        <%- if item.hold?(current_user.library) -%>
          <%= call_number_label(item) -%>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>

  <div id="manifestation_bookmark_buttons">
    <%- if user_signed_in? -%>
      <ul>
        <%- if current_user.email.present? -%>
          <li><%= link_to t('manifestation.send_email'), manifestation_path(:mode => 'send_email'), :confirm => t('page.are_you_sure') -%></li>
        <%- end -%>
        <%- if @manifestation.bookmarked?(current_user) -%>
          <li><%= link_to t('bookmark.remove_from_my_bookmark'), bookmark_path(Bookmark.first(:conditions => {:user_id => current_user.id, :manifestation_id => @manifestation.id})), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
        <%- else -%>
          <li><%= link_to t('bookmark.add_to_my_bookmark'), new_user_bookmark_path(current_user.username, :url => manifestation_url(@manifestation)) -%></li>
        <%- end -%>

      <%- unless @manifestation.carrier_type.name == 'file' -%>
        <li>
          <%- if current_user.has_role?('Librarian') -%>
            <%= link_to t('manifestation.reserve_this'), new_reserve_path(:manifestation_id => @manifestation.id) -%>
          <%- else -%>
            <%- if @manifestation.is_reserved_by(current_user) -%>
              <%= link_to t('manifestation.cancel_reservation'), user_reserve_path(@reserve.user.username, @reserve) -%>
            <%- else -%>
              <%= link_to t('manifestation.reserve_this'), new_user_reserve_path(current_user.username, :manifestation_id => @manifestation.id) -%>
            <%- end -%>
          <%- end -%>
          <br />
          (<%= t('page.number_of_reservations', :count => @reserved_count) -%>)
        </li>
      <%- end -%>
      </ul>

      <%- if current_user.has_role?('Librarian') -%>
        <ul>
          <li><%= link_to t('page.add_derivation'), manifestation_manifestations_path(@manifestation) -%></li>
          <%- case when @expression -%>
            <li><%= link_to t('page.edit'), edit_expression_manifestation_path(@expression, @manifestation) -%></li>
          <%- when @patron -%>
            <li><%= link_to t('page.edit'), edit_patron_manifestation_path(@patron, @manifestation) -%></li>
          <%- else -%>
            <li><%= link_to t('page.edit'), edit_manifestation_path(@manifestation) -%></li>
          <%- end -%>
          <ul>
            <li><%= link_to t('manifestation.edit_publisher'), manifestation_patrons_path(@manifestation) -%></li>
            <%- if @manifestation.serial? -%>
              <li><%= link_to t('manifestation.add_next_issue'), new_series_statement_manifestation_path(@manifestation.series_statement) if @manifestation.series_statement -%></li>
            <%- end -%>
          </ul>
          <li><%= link_to t('manifestation.edit_expression'), manifestation_expressions_path(@manifestation) -%></li>
          <li><%= link_to t('manifestation.edit_item'), manifestation_items_path(@manifestation) -%></li>
        </ul>
      <%- end -%>
    <%- end -%>
  </div>
</div>
