<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_extent_path(@extent) -%></li>
    <li><%= link_to t('page.back'), extents_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.extent')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.extent.name') -%>:</b>
  <%= @extent.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.extent.display_name') -%>:</b>
  <%= @extent.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.extent.note') -%>:</b>
  <%= @extent.note -%>
</p>

</div>
</div>
