<div id="submenu">
  <ul>
    <li><%= link_to t('show'), manifestation_form_path(@manifestation_form) -%></li>
    <li><%= link_to ('Back'), manifestation_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing manifestation_form') -%></h1>

<%= error_messages_for :manifestation_form -%>

<%- form_for(:manifestation_form, :url => manifestation_form_path(@manifestation_form), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= ('Name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= ('Display name') -%></b><br />
    <%= f.text_field :display_name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= ('Note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= submit_tag t('update') -%>
  </p>
<%- end -%>

</div>
