<div id="submenu">
  <ul>
    <%- if ManifestationForm.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_form')), new_manifestation_form_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation_form')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_form.display_name') -%></th>
    <th><%= t('activerecord.attributes.manifestation_form.note') -%></th>
  </tr>
  
<%- for manifestation_form in @manifestation_forms -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(manifestation_form.display_name), manifestation_form -%></td>
    <td><%=h manifestation_form.note -%></td>
    <%- if manifestation_form.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_manifestation_form_path(manifestation_form) -%></td>
      <td><%= link_to t('page.destroy'), manifestation_form_path(manifestation_form), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
