<div id="submenu">
  <ul>
    <%- if_authorized?(:new, ManifestationForm) do -%>
      <li><%= link_to ('New manifestation_form'), new_manifestation_form_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing manifestation_forms') -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_form.name') -%></th>
    <th><%= t('activerecord.attributes.manifestation_form.display_name') -%></th>
    <th><%= t('activerecord.attributes.manifestation_form.note') -%></th>
  </tr>
  
<%- for manifestation_form in @manifestation_forms -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(manifestation_form.name), manifestation_form -%></td>
    <td><%= link_to h(manifestation_form.display_name), manifestation_form -%></td>
    <td><%=h manifestation_form.note -%></td>
    <%- if_authorized?(:destroy, manifestation_form) do -%>
      <td><%= link_to t('page.edit'), edit_manifestation_form_path(manifestation_form) -%></td>
      <td><%= link_to t('page.destroy'), manifestation_form_path(manifestation_form), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
