<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), manifestation_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.manifestation_form')) -%></h1>
<div id="content_list">

<%= error_messages_for :manifestation_form -%>

<%- form_for(:manifestation_form, :url => manifestation_forms_path) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.manifestation_form.name') -%></b><br />
    <%= f.text_field :name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation_form.display_name') -%></b><br />
    <%= f.text_field :display_name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.manifestation_form.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
