<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_manifestation_form_path(@manifestation_form) -%></li>
    <li><%= link_to t('page.back'), manifestation_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= t('page.name') -%>:</b>
  <%=h @manifestation_form.name -%>
</p>

<p>
<b><%= t('page.display_name') -%>:</b>
  <%=h @manifestation_form.display_name -%>
</p>

<p>
<b><%= ('Checkout type') -%></b>
<ul>
  <%- @manifestation_form.manifestation_form_has_checkout_types.each do |available_checkout_type| -%>
    <li><%= link_to h(available_checkout_type.checkout_type.display_name), available_checkout_type.checkout_type -%></li>
  <%- end -%>
</ul>

<p><%= link_to ('Add a user group'), new_checkout_type_user_group_has_checkout_type_path(@checkout_type) -%></p>
<p>
<b><%= t('page.note') -%>:</b>
  <%=h @manifestation_form.note -%>
</p>

<p>
<b><%= t('page.created_at') -%>:</b>
  <%=h @manifestation_form.created_at -%>
</p>

<p>
<b><%= t('page.updated_at') -%>:</b>
  <%=h @manifestation_form.updated_at -%>
</p>

</div>
