<div id="submenu">
  <ul>
    <li><%= link_to t('edit'), edit_circulation_status_path(@circulation_status) -%></li>
    <li><%= link_to ('Back'), circulation_statuses_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
<b><%= ('Name') -%>:</b>
  <%=h @circulation_status.name -%>
</p>

<p>
<b><%= ('Display name') -%>:</b>
  <%=h @circulation_status.display_name -%>
</p>

<p>
<b><%= ('Note') -%>:</b>
  <%=h @circulation_status.note -%>
</p>

</div>
