<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_circulation_status_path(@circulation_status) -%></li>
    <li><%= link_to t('page.back'), circulation_statuses_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.circulation_status')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.circulation_status.name') -%>:</b>
  <%= @circulation_status.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.circulation_status.display_name') -%>:</b>
  <%= @circulation_status.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.circulation_status.note') -%>:</b>
  <%= @circulation_status.note -%>
</p>

</div>
</div>
