<h1>Editing work_has_work</h1>

<% form_for(@work_has_work) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_work_id %><br />
    <%= f.text_field :from_work_id %>
  </p>
  <p>
    <%= f.label :to_work_id %><br />
    <%= f.text_field :to_work_id %>
  </p>
  <p>
    <%= f.label :work_relationship_type_id %><br />
    <%= f.text_field :work_relationship_type_id %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to t('page.show'), @work_has_work %> |
<%= link_to 'Back', work_has_works_path %>
