<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.work_has_work')) -%></h1>
<div id="content_list">

<%- form_for(@work_has_work) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.work_has_work.from_work') -%><br />
    <%- if @work_has_work.from_work -%>
      <%= link_to h(@work_has_work.from_work.original_title), @work_has_work.from_work -%>
      <%= f.hidden_field :from_work_id -%>
    <%- else -%>
      <%= f.text_field :from_work_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.work_has_work.to_work') -%><br />
    <%- if @work_has_work.to_work -%>
      <%= link_to h(@work_has_work.to_work.original_title), @work_has_work.to_work -%>
      <%= f.hidden_field :to_work_id -%>
    <%- else -%>
      <%= f.text_field :to_work_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.select(:work_relationship_type_id, @work_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), work_has_works_path -%></li>
  </ul>
</div>
