<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_has_work')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.work_has_work.from_work') -%>:</b>
  <%= link_to h(@work_has_work.from_work.original_title), @work_has_work.from_work -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work_has_work.to_work') -%>:</b>
  <%= link_to h(@work_has_work.to_work.original_title), @work_has_work.to_work -%>
</p>

<p>
  <b><%= t('activerecord.models.work_relationship_type') -%>:</b>
  <%= @work_has_work.work_relationship_type.display_name.localize -%>
</p>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_work_has_work_path(@work_has_work) -%></li>
    <li><%= link_to t('page.back'), work_has_works_path -%></li>
  </ul>
</div>
