<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.work.from_work') -%>:</b>
  <%= link_to h(@work_has_work.from_work.original_title), @work_has_work.from_work -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work.to_work') -%>:</b>
  <%= link_to h(@work_has_work.to_work.original_title), @work_has_work.to_work -%>
</p>

<p>
  <b>Work Relationship type:</b>
  <%=h @work_has_work.type -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_work_has_work_path(@work_has_work) -%></li>
    <li><%= link_to t('page.back'), work_has_works_path -%></li>
  </ul>
</div>
