<p>
  <b>From work:</b>
  <%=h @work_has_work.from_work_id -%>
</p>

<p>
  <b>To work:</b>
  <%=h @work_has_work.to_work_id -%>
</p>

<p>
  <b>Type:</b>
  <%=h @work_has_work.type -%>
</p>

<p>
  <b>Position:</b>
  <%=h @work_has_work.position -%>
</p>


<%= link_to t('page.edit'), edit_work_has_work_path(@work_has_work) -%> |
<%= link_to 'Back', work_has_works_path -%>
