<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.barcode.barcode_type') -%>:</b>
  <%= @barcode.barcode_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.barcode.barcodable') -%>:</b>
  <%= link_to h("#{@barcode.barcodable_type} / #{@barcode.barcodable_id}"), @barcode.barcodable if @barcode.barcodable -%>
</p>

<p>
  <b><%= t('activerecord.attributes.barcode.data') -%>:</b>
  <%= image_tag(barcode_path(@barcode) + '.png') -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_barcode_path(@barcode) -%></li>
    <li><%= link_to t('page.back'), barcodes_path -%></li>
  </ul>
</div>
