<div id="content_detail">
<div id="content_list">
<p>
  <b>Barcode type:</b>
  <%=h @barcode.barcode_type -%>
</p>

<p>
  <b>Barcodable:</b>
  <%=h @barcode.barcodable_id -%>
</p>

<p>
  <b>Barcodable type:</b>
  <%=h @barcode.barcodable_type -%>
</p>

<p>
  <b>Data:</b>
  <%= image_tag(barcode_path(@barcode) + '.png') -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_barcode_path(@barcode) -%></li>
    <li><%= link_to t('page.back'), barcodes_path -%></li>
  </ul>
</div>
