<h1><%= ('Listing user_group_has_checkout_types') -%></h1>

<table id="index">
  <tr>
    <th><%= ('User group') -%></th>
    <th><%= ('Checkout type') -%></th>
    <th><%= t('page.note') -%></th>
  </tr>

<%- for user_group_has_checkout_type in @user_group_has_checkout_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(user_group_has_checkout_type.user_group.display_name), user_group_has_checkout_type.user_group -%></td>
    <td><%= link_to h(user_group_has_checkout_type.checkout_type.display_name), user_group_has_checkout_type.checkout_type -%></td>
    <td><%=h user_group_has_checkout_type.note -%></td>
    <td><%= link_to t('page.show'), user_group_has_checkout_type -%></td>
    <td><%= link_to t('page.edit'), edit_user_group_has_checkout_type_path(user_group_has_checkout_type) -%></td>
    <td><%= link_to t('page.destroy'), user_group_has_checkout_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New user_group_has_checkout_type'), new_user_group_has_checkout_type_path -%>
