<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), tag_path(@tag.name) -%></li>
    <li><%= link_to t('page.back'), tags_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.tag')) -%></h1>
<div class="inner">

<%= error_messages_for :tag -%>

<%- form_for(@tag, :url => tag_path(@tag.name)) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.tag.name') -%></b><br />
    <%= f.text_field :name, :value => @tag.name -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>
