<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), tag_path(@tag.name) -%></li>
    <li><%= link_to t('page.back'), tags_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing tag') -%></h1>

<%= error_messages_for :tag -%>

<%- form_for(:tag, :url => tag_path(@tag.name), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('page.name') -%></b><br />
    <%= f.text_field :name, :value => @tag.name -%>
  </p>

  <p>
    <b><%= ('Synonym') -%></b><br />
    <%= f.text_area :synonym, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
