<div id="submenu">
  <ul>
  </ul>
</div>

<div id="content_detail">
  <h1><%= t('page.listing', :model => t('activerecord.models.tag')) -%></h1>

<p><%= t('page.sort_by') -%>:
  <%= link_to t('activerecord.attributes.tag.name'), tags_path(:order => 'name') -%>
  <%= link_to ('taggings_count'), tags_path(:order => 'taggings_count') -%>
  <%= link_to t('page.created_at'), tags_path(:order => 'created_at') -%>
</p>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.tag.name') -%></th>
    <!--
    <th><%= ('Link') -%></th>
    -->
    <th><%= ('Taggings count') -%></th>
    <th><%= t('page.created_at') -%></th>
  </tr>
<%- for tag in @tags -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(tag.name), tag_path(tag.name) -%>
    </td>
    <!--
    <td>
      <%= link_to ('Wikipedia'), "http://ja.wikipedia.org/wiki/" + CGI.escape(tag.name) -%>
    </td>
    -->
    <td><%=h tag.taggings_count -%></td>
    <td><%=h tag.created_at -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@tags, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
