<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), back_to_tag_index -%></li>
    <li><%= link_to t('page.edit'), edit_tag_path(@tag.name) -%></li>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.manifestation')), manifestations_path(:tag => h(@tag.name)) -%></li>
    <%- if logged_in? -%>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.bookmark')), user_bookmarked_resources_path(current_user.login, :tag => h(@tag.name)) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.tag')) -%></h1>
<div id="content_list">
  <h2 id="resource_title">
    [T]
    <%=h @tag.name -%>
  </h2>

  (<%= link_to_wikipedia(@tag.name) -%>)

<p>
  <b><%= t('activerecord.attributes.tag.taggings_count') -%>:</b>
    <%= link_to h(@tag.taggings_count), manifestations_path(:tag => h(@tag.name)) -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@tag.created_at) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.tag.synonym') -%>:</b>
  <%- @tag.synonym.to_s.split.each do |word| -%>
    <%= link_to h(word), :controller => :tags, :action => :show, :id => h(word) -%>
  <%- end -%>
</p>

<p>
  <b><%= t('activerecord.models.subject') -%>:</b>
  <%- @tag.subjects.each do |subject| -%>
    <%= link_to h(subject.term), subject -%>
  <%- end -%>
</p>

</div>
</div>
