<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
    <li><%= link_to t('page.edit'), edit_tag_path(@tag.name) -%></li>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.manifestation')), manifestations_path(:tag => h(@tag.name)) -%></li>
    <%- if logged_in? -%>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.bookmark')), user_bookmarked_resources_path(current_user.login, :tag => h(@tag.name)) -%></li>
    <%- end -%>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.tag')) -%></h1>
<div class="inner">
  <h2 id="resource_title">
    [T]
    <%=h @tag.name -%>
  </h2>

  <p>
    (<%= link_to_wikipedia(@tag.name) -%>)
  </p>

<p>
  <b><%= t('activerecord.attributes.tag.taggings_count') -%>:</b>
    <%= link_to h(@tag.taggings_count), manifestations_path(:tag => h(@tag.name)) -%>
</p>

<p>
  <b><%= t('page.created_at') -%>:</b>
  <%= l(@tag.created_at) -%>
</p>

</div>
</div>
