<%= form_for(@identifier) do |f| %>
  <% if @identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identifier.errors.count, "error") %> prohibited this identifier from being saved:</h2>

      <ul>
      <% @identifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_identifier %><br />
    <%= f.text_field :type_of_identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
