<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :subject_heading_id %><br />
    <%= f.number_field :subject_heading_id %>
  </div>
  <div class="field">
    <%= f.label :subject_type_id %><br />
    <%= f.number_field :subject_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
