<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Subject) do -%>
      <li><%= link_to ('New subject'), new_subject_path if current_user.has_role?('Administrator') -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing subjects') -%></h1>

<%- form_for :subjects, :url => subjects_path, :html => {:method => 'get'} do -%>
  <p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', @query -%>
  <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.term_transcription') -%></th>
    <th><%= ('Subject type') -%></th>
    <th><%= ('Count') -%></th>
  </tr>
  
<%- for subject in @subjects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subject.term), subject -%></td>
    <td><%=h subject.term_transcription -%></td>
    <td><%=h subject.subject_type.display_name -%></td>
    <td><%=h subject.resource_has_subjects_count -%></td>
    <%- if_authorized?(:destroy, subject) do -%>
      <td><%= link_to t('page.edit'), edit_subject_path(subject) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subjects) -%>
</div>
