<div id="submenu">
  <ul>
    <%- if Subject.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_subject_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h1>
<div id="content_list">
<%- form_for :subjects, :url => subjects_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.note') -%></th>
    <th></th>
  </tr>
  <%- subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(subject.term), subject -%></td>
      <td><%= subject.note -%></td>
      <td>
        <%- if subject.is_deletable_by(current_user) -%>
          <%= link_to t('page.edit'), edit_subject_path(subject) -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(subjects, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
