<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Subject) do -%>
      <li><%= link_to ('New subject'), new_subject_path -%></li>
    <%- end -%>
  </ul>
</div>
                    
<div id="content_detail">
  <%= render :partial => 'manifestations/manifestation_patrons_list' -%>

<%- form_for :subjects, :url => manifestation_subjects_path(@manifestation), :html => {:method => 'get'} do -%>
  <p>
  <%= ('Search term') -%>: <%= text_field_tag 'query', @query -%>
  <%- if_authorized?(:destroy, @manifestation) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= ('Add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= ('Add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag ('Search') -%>
  <%= link_to ('Back to index'), manifestation_subjects_path(@manifestation) -%></p>
  </p>
<%- end -%>

<table style="width: 100%">
  <tr>
    <th><%= ('Term') -%></th>
    <th><%= ('Term transcription') -%></th>
    <th><%= ('Subject type') -%></th>
    <th><%= ('Count') -%></th>
    <th></th>
  </tr>
  
<%- for subject in @subjects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subject.term), manifestation_subject_path(@manifestation, subject) -%></td>
    <td><%=h subject.term_transcription -%></td>
    <td><%=h subject.subject_type.display_name -%></td>
    <td><%=h subject.resource_has_subjects_count -%></td>
    <td>
      <%- if_authorized?(:destroy, subject) do -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to ('Add'), new_manifestation_resource_has_subject_path(@manifestation, :subject_id => subject.id) -%>
        <%- else -%>
          <%- has_subject = @manifestation.resource_has_subjects.find_by_subject_id(subject.id) -%>
          <%= link_to t('destroy'), manifestation_resource_has_subject_path(@manifestation, has_subject), :confirm => ('Are you sure?'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subjects) -%>
</div>
