<div id="submenu">
  <ul>
    <%- if Subject.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.subject')), new_subject_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h1>
<%- form_for :subjects, :url => classification_subjects_path(@classification), :html => {:method => 'get'} do -%>
<div id="content_list">
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:class => 'search_form'} -%>
    <%= submit_tag t('page.search') -%>
    <%- if ResourceHasSubject.is_creatable_by(current_user) -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
  </p>
  <%= javascript_tag("$('query').focus()") -%>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.note') -%></th>
    <th></th>
  </tr>
  <%- subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(subject.term), subject -%></td>
      <td><%= subject.note -%></td>
      <%- if subject.is_deletable_by(current_user) -%>
        <td>
          <%= link_to t('page.edit'), edit_subject_path(subject) -%>
        </td>
        <td>
          <%- if params[:mode] == 'add' -%>
            <%= link_to t('page.add'), new_classification_subject_has_classification_path(@classification, :subject_id => subject.id) unless @classification.subjects.include?(subject) -%>
          <%- else -%>
            <%- has_classification = @classification.subject_has_classifications.find_by_subject_id(subject) -%>
            <%= link_to t('page.destroy'), classification_subject_has_classification_path(@classification, has_classification), :confirm => t('page.are_you_sure'), :method => :delete if has_classification -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(subjects, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
