<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Subject) do -%>
      <li><%= link_to ('New subject'), new_subject_path -%></li>
    <%- end -%>
  </ul>
</div>
                    
<div id="content_detail">
  <%= render :partial => 'manifestations/manifestation_patrons_list' -%>

<%- form_for :subjects, :url => manifestation_subjects_path(@manifestation), :html => {:method => 'get'} do -%>
  <p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', @query -%>
  <%- if_authorized?(:destroy, @manifestation) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), manifestation_subjects_path(@manifestation) -%></p>
  </p>
<%- end -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.term_transcription') -%></th>
    <th><%= ('Subject type') -%></th>
    <th><%= ('Count') -%></th>
    <th></th>
  </tr>
  
<%- for subject in @subjects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subject.term), manifestation_subject_path(@manifestation, subject) -%></td>
    <td><%=h subject.term_transcription -%></td>
    <td><%=h subject.subject_type.display_name -%></td>
    <td><%=h subject.resource_has_subjects_count -%></td>
    <td>
      <%- if_authorized?(:destroy, subject) do -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_manifestation_resource_has_subject_path(@manifestation, :subject_id => subject.id) -%>
        <%- else -%>
          <%- has_subject = @manifestation.resource_has_subjects.find_by_subject_id(subject.id) -%>
          <%= link_to t('page.destroy'), manifestation_resource_has_subject_path(@manifestation, has_subject), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subjects, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
