<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Subject) do -%>
      <li><%= link_to ('New subject'), new_subject_path -%></li>
    <%- end -%>
  </ul>
</div>
                    
<div id="content_detail">
  <h1>
    <%= link_to h(@classification.category), @classification -%>
  </h1>

<%- form_for :subjects, :url => classification_subjects_path(@classification), :html => {:method => 'get'} do -%>
  <p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', @query -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to ('Back to index'), classification_subjects_path(@classification) -%></p>
  </p>
<%- end -%>

<table style="width: 100%">
  <tr>
    <th><%= ('Term') -%></th>
    <th><%= ('Term transcription') -%></th>
    <th><%= ('Subject type') -%></th>
    <th><%= ('Count') -%></th>
  </tr>
  
<%- for subject in @subjects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subject.term), classification_subject_path(@classification, subject.term) -%></td>
    <td><%=h subject.term_transcription -%></td>
    <td><%=h subject.subject_type.display_name -%></td>
    <td><%=h subject.resource_has_subjects_count -%></td>
    <td>
      <%- if_authorized?(:destroy, subject) do -%>
        <%- if params[:mode] == "add" -%>
          <%= link_to t('page.add'), new_classification_subject_has_classification_path(@classification, :subject_id => subject.id) -%>
        <%- else -%>
          <%- has_subject = @classification.subject_has_classifications.find_by_subject_id(subject.id) -%>
          <%= link_to t('page.destroy'), classification_subject_has_classification_path(@classification, has_subject), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subjects) -%>
</div>
