<div id="work_list">
<h2><%= t('page.listing', :model => t('activerecord.models.work')) -%></h2>
<table class="index">
<%- @works.each do |work| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [W]
      <%= link_to h(work.original_title), work -%><br />
      <%= raw patrons_list(work.patrons) -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@works, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next'), :param_name => :work_page, :class => 'content_pagination') -%>
</div>
