<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), subjects_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New subject') -%></h1>

<%= error_messages_for :subject -%>

<%- form_for(:subject, :url => subjects_path) do |f| -%>
  <p>
  <b><%= ('Term') -%></b><br />
    <%= f.text_field :term -%>
  </p>

  <p>
  <b><%= ('Term transcription') -%></b><br />
    <%= f.text_field :term_transcription -%>
  </p>

  <p>
  <b><%= ('Subject type') -%></b><br />
    <%= f.text_field :subject_type_id -%>
  </p>

  <p>
    <%= submit_tag t('page.create') -%>
  </p>
<%- end -%>

</div>
