<div id="sidebar">
  <ul>
    <%- if @manifestation -%>
      <li><%= link_to t('page.add', :model => t('activerecord.models.manifestation')), subscriptions_path -%></li>
    <%- else -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.subscription')), new_subscription_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.subscription')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.subscription.subscribes_count') -%></th>
  </tr>

<%- for subscription in @subscriptions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(subscription.title), subscription -%></td>
    <td><%= subscription.manifestations.size -%></td>
    <td><%= link_to t('page.edit'), edit_subscription_path(subscription) -%></td>
    <td><%= link_to t('page.destroy'), subscription, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subscrpitions, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
</div>
