<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_subscription_path(@subscription) -%></li>
    <li><%= link_to ('Add an expression'), subscription_expressions_path(@subscription) -%></li>
    <li><%= link_to t('page.back'), subscriptions_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.title') -%>:</b>
  <%=h @subscription.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscription.note') -%>:</b>
  <%=h @subscription.note -%>
</p>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
  </tr>
  <%- @subscription.expressions.each do |expression| -%>
    <tr>
      <td>
        <strong><%= link_to h(expression.original_title), expression -%></strong>
        <br />
        <%= patrons_list(expression.work.patrons)%>
        <%= patrons_list(expression.patrons) -%>
      </td>
    </tr>
  <%- end -%>
</table>

</div>
