<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_subscription_path(@subscription) -%></li>
    <li><%= link_to t('manifestation.add'), subscription_manifestations_path(@subscription) -%></li>
    <li><%= link_to t('page.back'), subscriptions_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('page.title') -%>:</b>
  <%=h @subscription.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscription.note') -%>:</b>
  <%=h @subscription.note -%>
</p>

<table class="index">
  <tr>
    <th><%= t('page.title') -%></th>
  </tr>
  <%- @subscription.manifestations.each do |manifestation| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <strong><%= link_to h(manifestation.original_title), manifestation -%></strong>
        <br />
        <%= raw patrons_list(manifestation.patrons) -%>
      </td>
    </tr>
  <%- end -%>
</table>

</div>
</div>
