<h1>Listing work_relationships</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Child</th>
    <th>Work relationship type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_relationships.each do |work_relationship| %>
  <tr>
    <td><%= work_relationship.parent_id %></td>
    <td><%= work_relationship.child_id %></td>
    <td><%= work_relationship.work_relationship_type_id %></td>
    <td><%= link_to 'Show', work_relationship %></td>
    <td><%= link_to 'Edit', edit_work_relationship_path(work_relationship) %></td>
    <td><%= link_to 'Destroy', work_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work relationship', new_work_relationship_path %>
