<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.work_relationship')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.work_relationship.parent') -%></th>
    <th><%= t('activerecord.attributes.work_relationship.child') -%></th>
    <th><%= t('activerecord.models.work_relationship_type') -%></th>
  </tr>

<%- @work_relationships.each do |work_relationship| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(work_relationship.parent.original_title), work_relationship.parent -%></td>
    <td><%= link_to h(work_relationship.child.original_title), work_relationship.child -%></td>
    <td><%= work_relationship.work_relationship_type.display_name.localize -%></td>
    <td><%= link_to t('page.show'), work_relationship -%></td>
    <td><%= link_to t('page.edit'), edit_work_relationship_path(work_relationship) -%></td>
    <td><%= link_to t('page.destroy'), work_relationship, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@work_relationships) -%>
<br />

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.work_relationship')), new_work_relationship_path -%></li>
  </ul>
</div>
