<div id="content_detail" class="ui-corner-all">
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= link_to @work_relationship.parent.original_title, @work_relationship.parent %>
</p>

<p>
  <b>Child:</b>
  <%= link_to @work_relationship.child.original_title, @work_relationship.child %>
</p>

<p>
  <b>Work relationship type:</b>
  <%= @work_relationship.work_relationship_type_id %>
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.edit'), edit_work_relationship_path(@work_relationship) %></li>
    <li><%= link_to t('page.back'), work_relationships_path %></li>
  </ul>
</div>
