  <p>
    <%= f.label t('activerecord.attributes.resource.iss_token') -%><br />
    <%= @resource.iss_token %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.resource.manifestation_id') -%><br />
    <%= @resource.manifestation_id %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.resource.dcndl_xml') -%><br />
    <%= @resource.dcndl_xml %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.resource.work_token') -%><br />
    <%= @resource.work_token %>
  </p>
