<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.resource')) -%></h1>
<div id="content_list">

  <!--
  <%- form_for :resources, :url => resources_path, :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%= submit_tag t('page.search') -%>
    </p>
    <%= javascript_tag("$('search_form_top').focus()") -%>
  <%- end -%>
  -->

<%- form_for :resource, :url => approve_selected_resources_path do |f| -%>
<table class="index">
  <tr>
    <th></th>
    <th><%= t('activerecord.attributes.resource.iss_token') -%></th>
    <th><%= t('activerecord.attributes.resource.manifestation_id') -%></th>
    <th><%= t('activerecord.attributes.resource.work_token') -%></th>
    <th><%= t('activerecord.attributes.resource.state') -%></th>
    <%- if current_user.try(:has_role?, 'Administrator') -%>
      <th></th>
      <th></th>
    <%- end -%>
  </tr>

<% @resources.each do |resource| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
    </td>
    <td><%= link_to h(resource.iss_token), resource %></td>
    <td><%= link_to h(resource.manifestation.try(:original_title)), resource.manifestation %></td>
    <td><%=h resource.work_token %></td>
    <td><%=h i18n_state(resource.state) %></td>
    <%- if current_user.try(:has_role?, 'Administrator') -%>
      <td><%= link_to t('page.edit'), edit_resource_path(resource) %></td>
      <td><%= link_to t('page.destroy'), resource, :confirm => t('page.are_you_sure'), :method => :delete %></td>
    <%- end -%>
  </tr>
<% end %>
</table>

<% end %>

<%= will_paginate(@resources) -%>

</div>
</div>

<div id="submenu">
  <%- if current_user.try(:has_role?, 'Administrator') -%>
    <ul>
      <li><%= link_to t('resource.approved'), resources_path(:approved => 'true') %></li>
      <li><%= link_to t('resource.not_approved'), resources_path(:approved => 'false') %></li>
      <li><%= link_to t('page.new', :model => t('activerecord.models.resource')), new_resource_path %></li>
    </ul>
  <% end %>
</div>
