<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.resource')) -%></h1>
<div id="content_list">

<% form_for(@resource) do |f| %>
  <%= f.error_messages %>

  <%- if @resource.editable? -%>
    <%= render :partial => 'form', :locals => {:f => f, :resource => @resource} -%>
  <%- else -%>
    <%= render :partial => 'detail', :locals => {:f => f} -%>
  <%- end -%>
  <p>
    <b><%= t('activerecord.attributes.resource.state') -%>:</b>
    <%= i18n_state(@resource.state) %>
  </p>

  <%- case @resource.state when 'not_approved' -%>
    <p>
      <%= f.submit t('resource.approve') %>
      <%= f.submit t('page.update') %>
    </p>
  <%- when 'approved' -%>
    <p>
      <%= f.submit t('resource.publish') %>
      <%= f.submit t('resource.reject') %>
    </p>
  <%- when 'published' -%>
    <p>
      <%= f.submit t('resource.withdraw') %>
    </p>
  <%- else -%>
    <p>
      <%= f.submit t('page.update') %>
    </p>
  <% end %>
<% end %>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @resource %></li>
    <li><%= link_to t('page.destroy'), @resource, :confirm => t('page.are_you_sure'), :method => :delete %></li>
    <li><%= link_to t('page.back'), resources_path %></li>
  </ul>
</div>
