<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Classification) do -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.classification')), new_classification_path -%></li>
    <%- end -%>
  </ul>
</div>
                     
<div id="content_detail">
  <h1 title="class">
    <%= link_to h(@subject.term), @subject -%>
  </h1>
<div id="content_list">

  <%- form_for :classifications, :url => subject_classifications_path(@subject), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', @query -%>
      <%= submit_tag t('page.search') -%>
    </p>
  <%- end -%>
        
<table id="index">
  <tr>
    <th><%= t('activerecord.models.classification') -%></th>
    <th><%= t('activerecord.attributes.classification.note') -%></th>
    <th><%= t('activerecord.models.classification_type') -%></th>
  </tr>

<%- for classification in @classifications -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(classification.category), subject_classification_path(@subject, classification) -%></td>
    <td><%=h classification.note -%></td>
    <td><%=h classification.classification_type.display_name -%></td>
    <td><%= link_to t('page.edit'), edit_subject_classification_path(@subject, classification) -%></td>
    <td><%= link_to t('page.destroy'), subject_classification_path(@subject, classification), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@classifications, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
