<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Classification) do -%>
      <li><%= link_to ('New classification'), new_classification_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing classifications') -%></h1>

<%- form_for :classifications, :url => classifications_path, :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', @query -%>
    <%= submit_tag t('page.search') -%>
  </p>
<%- end -%>
        
<table id="index">
  <tr>
    <th><%= ('Category') -%></th>
    <!-- <th><%= t('activerecord.attributes.classification.name') -%></th> -->
    <th><%= t('activerecord.attributes.classification.note') -%></th>
    <th><%= t('activerecord.models.classification_type') -%></th>
  </tr>

<%- for classification in @classifications -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(classification.category), classification -%></td>
    <!-- <td><%= link_to h(classification.name), classification -%></td> -->
    <td><%=h classification.note -%></td>
    <td><%=h classification.classification_type.display_name -%></td>
    <%- if_authorized?(:destroy, classification) do -%>
      <td><%= link_to t('page.edit'), edit_classification_path(classification) -%></td>
      <td><%= link_to t('page.destroy'), classification, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@classifications, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
