<div id="submenu">
  <ul>
    <%- if_authorized?(:destroy, @classification) do -%>
      <li><%= link_to t('page.edit'), edit_classification_path(@classification) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), back_to_classification_index -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.classification.category') -%>:</b>
  <%=h @classification.category -%>
</p>

<p>
  <b><%= t('activerecord.attributes.classification.note') -%>:</b>
  <%=h @classification.note -%>
</p>

<p>
  <b><%= t('activerecord.models.classification_type') -%>:</b>
  <%=h @classification.classification_type.name -%>
</p>

<p>
  <b><%= t('activerecord.models.subject') -%>:</b>
</p>
<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
    <th><%= t('activerecord.attributes.subject.term_transcription') -%></th>
    <th><%= t('activerecord.models.subject_type') -%></th>
  </tr>
  <%- @classification.subjects.each do |subject| -%>
    <tr>
      <td><%= link_to h(subject.term), subject -%></td>
      <td><%= link_to h(subject.term_transcription), subject -%></td>
      <td><%=h subject.subject_type.name -%></td>
    </tr>
  <%- end -%>
</table>

</div>
