<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.classification')) -%></h1>
<div id="content_list">
<p>
  <strong><%= t('activerecord.attributes.classification.category') -%>:</strong>
  <%= @classification.category -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.classification.note') -%>:</strong>
  <%= @classification.note -%>
</p>

<p>
  <strong><%= t('activerecord.models.classification_type') -%>:</strong>
  <%= link_to h(@classification.classification_type.name), @classification.classification_type -%>
</p>

<p>
  <strong><%= t('activerecord.models.subject') -%>:</strong>
</p>
<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.subject.term') -%></th>
  </tr>
  <%- @classification.subjects.each do |subject| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td><%= link_to h(subject.term), subject -%></td>
    </tr>
  <%- end -%>
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
    <%- if can? :destroy, @classification -%>
      <li><%= link_to t('page.edit'), edit_classification_path(@classification) -%></li>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.subject')), classification_subjects_path(@classification) -%></li>
    <%- end -%>
  </ul>
</div>
