<div id="submenu">
  <ul>
    <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>

<div id="content_list">
  <div>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => 'RSS', :border => 0), formatted_checkouts_path(:rss, :view => 'overdue') -%>
    (<%= link_to ('RSS'), formatted_checkouts_path(:rss) -%>)
    (<%= link_to ('CSV'), formatted_checkouts_path(:csv, :lang => 'ja') -%>)
  </div>

<%= render :partial => 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

</div>
</div>
