<div id="submenu">
  <ul>
    <li><%= link_to ('Back to checkout index'), checkouts_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing overdue items') -%></h1>

  <%- form_for(:checkouts, :url => checkouts_path, :html => {:method => 'get'}) do -%>
    <div>
      <%= ('Number of days overdue') -%>:
      <%= text_field_tag 'days_overdue', h(@days_overdue), :class => 'resource_integer' -%>
      <%= hidden_field_tag 'view', 'overdue' -%>
      <%= submit_tag ('Submit') -%>
    </div>
  <%- end -%>

  <div>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => 'RSS', :border => 0), formatted_checkouts_path(:rss, :view => 'overdue') -%>
    (<%= link_to ('RSS'), formatted_checkouts_path(:rss, :view => 'overdue') -%>)
    (<%= link_to ('CSV'), formatted_checkouts_path(:csv, :view => 'overdue', :lang => 'ja') -%>)
  </div>

<%= render :partial => 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= ('No checkouts.') -%></p>
<%- end -%>

</div>
