<table id="index">
  <tr>
    <th class="checked_item_title"><%= t('page.title') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.checkout.due_date') -%></th>
    <th></th>
    <th></th>
  </tr>
  
<%- if @checkouts -%>
  <%- @checkouts.each_with_index do |checkout, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => checkout.item.manifestation} -%>
      <div class="holding" id="holding_<%=h checkout.item.manifestation.id -%>"></div>
    </td>
    <td><%= link_to h(checkout.item.item_identifier), item_path(checkout.item) -%></td>
    <td><%=h l(checkout.due_date, :format => :only_date) -%></td>
    <td><%= link_to t('page.show'), user_checkout_path(checkout.user.login, checkout) -%>
    <td>
      <%- if checkout.is_updatable_by(current_user) -%>
        <%= link_to t('checkout.extend'), edit_user_checkout_path(checkout.user.login, checkout) -%>
      <%- end -%>
    </td>
    <!--
    <td>
      <%- if checkout.is_deletable_by(current_user) -%>
        <%= link_to t('page.destroy'), user_checkout_path(checkout.user.login, checkout), :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
    -->
  </tr>
  <%- end -%>
<%- end -%>
</table>
