<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), user_checkout_path(@checkout.user.login, @checkout) -%></li>
    <li><%= link_to t('page.back'), user_checkouts_path(@checkout.user.login) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing checkout') -%></h1>

<h1><%= ('Renewal') -%></h1>
<%- if @checkout.checkout_renewable? -%>
  <%- form_for :checkout, :url => user_checkout_path(@checkout.user.login, @checkout), :html => { :method => :put } do |f| -%>
    <%= ('New due date') -%>: <%=h @renew_due_date -%>
    <%= f.hidden_field :due_date, :value => @renew_due_date -%>
    <br />
    <%= submit_tag t('page.update') -%>
  <%- end -%>
<%- else -%>
  <p><%= ('This item can\'t be renewed.') -%></p>
<%- end -%>

<h1><%= t('page.edit') -%></h1>

<%= error_messages_for :checkout -%>

<%- form_for(:checkout, :url => user_checkout_path(@checkout.user.login, @checkout), :html => { :method => :put }) do |f| -%>
  <p><label for="checkout_due_date"><%= t('activerecord.attributes.checkout.due_date') -%></label>
    <%= f.hidden_field :user_id -%>
    <%= f.hidden_field :item_id -%>
    <%= f.date_select :due_date, :value => @renew_due_date  -%>
    <br />
    <%= ('Loan renewal count') -%>: <%= f.text_field :checkout_renewal_count, :class => 'resource_integer' -%>
    <br />
    <%= submit_tag t('page.update') -%>
  </p>
<%- end -%>
</div>
