<h1><%= ('New checkout') -%></h1>

<%= error_messages_for :checkout -%>

<%- form_for(:checkout, :url => checkins_path) do |f| -%>
  <p>
    <b><%= t('page.user') -%></b><br />
    <%= f.text_field :user_id -%>
  </p>
  <p>
    <b><%= t('page.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <%= submit_tag t('page.create') -%>
<%- end -%>

<%= link_to t('page.back'), user_checkouts_path(@user.login) -%>
