<h1 class="title"><%= t('page.new', :model => t('activerecord.models.checkouts')) -%></h1>

<%= error_messages_for :checkout -%>

<%- form_for(@checkout) do |f| -%>
  <p>
    <b><%= t('activerecord.models.user') -%></b><br />
    <%= f.text_field :user_id -%>
  </p>
  <p>
    <b><%= t('activerecord.models.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <%= f.submit t('page.create') -%>
<%- end -%>

<%= link_to t('page.back'), user_checkouts_path(@user.login) -%>
