<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_checkout_path(@checkout.user.login, @checkout) -%></li>
    <li><%= link_to t('page.back'), user_checkouts_path(@checkout.user.login) -%></li>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to ('Back to checkout index'), checkouts_path -%></li>
    <%- end -%>
  </ul>
</div>


<div id="content_detail">
  <table id="index">
    <tr>
      <td><%= t('page.title') -%></td>
      <td><%= link_to h(@checkout.item.manifestation.original_title), @checkout.item.manifestation -%></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.item.item_identifier') -%></td>
      <td><%= link_to h(@checkout.item.item_identifier), @checkout.item -%></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.checkout.due_date') -%></td>
      <td><%=h l(@checkout.due_date, :format => :short) -%></td>
    </tr>
    <%- if_authorized?(:destroy, @checkout) do -%>
      <tr>
        <td><%= ('Checked out by') -%></td>
        <td><%=h @checkout.user.login -%></td>
      </tr>
    <%- end -%>
  </table>
</div>
