<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.reify')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@expression.original_title), @expression -%>
  </h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- @reifies.each do |reify| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, reify -%>
        <%= reify.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position => (reify.position > 1 ? reify.position - 1 : 1), :id => reify.id, :expression_id => @expression.id}, :method => :put) -%>
        <%= reify.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (reify.position + 1), :id => reify.id, :expression_id => @expression.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(reify.expression.original_title), reify.expression -%>
      <%= content_type_icon(reify.expression.content_type) -%>
      <br />
      <%= raw patrons_list(reify.expression.patrons, current_user) -%>
    </td>
    <%- if can? :destroy, reify -%>
      <td><%= link_to t('page.destroy'), expression_reify_path(reify.expression, reify), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reifies) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('activerecord.models.work'), expression_work_path(@expression.work) -%></li>
    <%- if can? :create, Reify -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.reify')), new_expression_reify_path(@expression) -%></li>
    <%- end -%>
  </ul>
</div>
