div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">
  <h2 class="resource_title">
    <%= link_to h(@work.original_title), @work -%>
  </h2>
<table>
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- @reifies.each do |reify| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
    </td>
    <td><%= link_to h(reify.expression.original_title), reify.expression -%></td>
    <%- if can? :destroy, reify -%>
      <td><%= link_to t('page.destroy'), work_reify_path(reify.work, reify), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reifies) -%>
</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Reify -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.reify')), new_work_reify_path(@work) -%></li>
    <%- end -%>
  </ul>
</div>
