<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.reify')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.work') -%></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- @reifies.each do |reify| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(reify.work.original_title), reify.work -%></td>
    <td><%= link_to h(reify.expression.original_title), reify.expression -%></td>
    <%- if reify.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.show'), reify -%></td>
      <td><%= link_to t('page.destroy'), reify, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reifies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if Reify.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.reify')), new_reify_path -%></li>
    <%- end -%>
  </ul>
</div>
