<div id="sidebar">
  <ul>
    <%- if Reify.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.reify')), new_work_reify_path(@work) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div class="inner">
  <h2>
    <%= link_to h(@work.original_title), @work -%>
  </h2>
<table>
  <tr>
    <th><%= t('activerecord.models.expression') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>

<%- for reify in @reifies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(reify.expression.original_title), reify.expression -%></td>
    <td><%= l(reify.created_at) -%></td>
    <td><%= l(reify.updated_at) -%></td>
    <%- if reify.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.destroy'), work_reify_path(@work, reify), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reifies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
