<div id="sidebar">
  <ul>
    <li><%= link_to t('activerecord.models.work'), expression_work_path(@expression.work) -%></li>
    <%- if Reify.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.reify')), new_expression_reify_path(@expression) -%></li>
    <%- end -%>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.reify')) -%></h1>
<div class="inner">
  <h2>
    <%= link_to h(@expression.original_title), @expression -%>
  </h2>

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.expression') -%></th>
  </tr>

<%- for reify in @reifies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if reify.is_deletable_by(current_user) -%>
        <%= reify.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position => (reify.position > 1 ? reify.position - 1 : 1), :id => reify.id, :expression_id => @expression.id}, :method => :put) -%>
        <%= reify.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (reify.position + 1), :id => reify.id, :expression_id => @expression.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(reify.expression.original_title), reify.expression -%>
      <%= expression_form_icon(@expression.expression_form) -%>
      <br />
      <%= patrons_list(@expression.authors) -%>
      <%= patrons_list(@expression.patrons) -%>
    </td>
    <%- if reify.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.destroy'), expression_reify_path(@expression, reify), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@reifies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
</div>
