<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @reify -%></li>
    <li><%= link_to t('page.back'), reifies_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.reify')) -%></h1>
<div class="inner">

<%= error_messages_for :reify -%>

<%- form_for(@reify, :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('activerecord.models.work') -%></b><br />
    <%= f.text_field :work_id -%>
  </p>

  <p>
  <b><%= t('activerecord.models.expression') -%></b><br />
    <%= f.text_field :expression_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
