<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.reify')) -%></h1>
<div id="content_list">

<%= form_for(@reify) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.work') -%><br />
    <%- if @reify.work -%>
		  <%= link_to @reify.work.original_title, @reify.work -%>
      <%= f.hidden_field :work_id -%>
    <%- else -%>
      <%= f.text_field :work_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.expression') -%><br />
    <%- if @reify.expression -%>
		  <%= link_to @reify.expression.original_title, @reify.expression -%>
      <%= f.hidden_field :expression_id -%>
    <%- else -%>
      <%= f.text_field :expression_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.work_to_expression_rel_type') -%><br />
    <%= f.select(:relationship_type_id, @work_to_expression_rel_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @reify.expression -%>
    <li><%= link_to t('activerecord.models.expression'), expression_path(@reify.expression) -%></li>
    <%- end -%>
    <%- if @reify.work -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.expression')), work_expressions_path(@reify.work) -%></li>
    <%- end -%>
  </ul>
</div>
