<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_reify_path(@reify) -%></li>
    <li><%= link_to t('page.back'), reifies_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.reify')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.models.work') -%>:</b>
  <%= link_to h(@reify.work.original_title), @reify.work -%>
</p>

<p>
  <b><%= t('activerecord.models.expression') -%>:</b>
  <%= link_to h(@reify.expression.original_title), @reify.expression -%>
</p>

</div>
</div>
