<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_reify_path(@reify) -%></li>
    <li><%= link_to t('page.back'), reifies_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.work') -%>:</b>
  <%= link_to h(@reify.work.original_title), work_path(@reify.work) -%>
</p>

<p>
  <b><%= t('page.expression') -%>:</b>
  <%= link_to h(@reify.expression.original_title), expression_path(@reify.expression) -%>
</p>

</div>
