<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.bookstore')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.bookstore.name') -%></th>
    <th><%= t('activerecord.attributes.bookstore.address') -%></th>
    <th><%= t('activerecord.attributes.bookstore.telephone_number') -%></th>
    <th><%= t('activerecord.attributes.bookstore.fax_number') -%></th>
  </tr>

<%- @bookstores.each_with_index do |bookstore, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if bookstore.is_deletable_by(current_user) -%>
        <%= bookstore.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (bookstore.position  > 1 ? bookstore.position - 1 : 1), :id => bookstore.id}, :method => :put) -%>
        <%= bookstore.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (bookstore.position + 1), :id => bookstore.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td>
      <%= link_to h(bookstore.name), bookstore -%><br />
      <%= link_to h(bookstore.url), bookstore.url -%>
    </td>
    <td>
      <%=h bookstore.zip_code -%>
      <%=h bookstore.address -%>
    </td>
    <td><%=h bookstore.telephone_number -%></td>
    <td><%=h bookstore.fax_number -%></td>
    <%- if bookstore.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_bookstore_path(bookstore) -%></td>
      <td><%= link_to t('page.destroy'), bookstore, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@bookstores, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <%- if Bookstore.is_creatable_by(current_user) -%>
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.bookstore')), new_bookstore_path -%></li>
    </ul>
  <%- end -%>
</div>
