<h1><%= t('page.listing', :model => t('activerecord.models.bookstore')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.bookstore.name') -%></th>
    <th><%= t('activerecord.attributes.bookstore.address') -%></th>
    <th><%= t('activerecord.attributes.bookstore.telephone_number') -%></th>
    <th><%= t('activerecord.attributes.bookstore.fax_number') -%></th>
    <th><%= t('activerecord.attributes.bookstore.url') -%></th>
  </tr>

<%- @bookstores.each_with_index do |bookstore, i| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(bookstore.name), bookstore -%></td>
    <td>
      <%=h bookstore.zip_code -%>
      <%=h bookstore.address -%>
    </td>
    <td><%=h bookstore.telephone_number -%></td>
    <td><%=h bookstore.fax_number -%></td>
    <td><%= link_to h(bookstore.url), bookstore.url -%></td>
    <%- if_authorized?(:destroy, bookstore) do -%>
      <td><%= link_to t('page.edit'), edit_bookstore_path(bookstore) -%></td>
      <td><%= link_to t('page.destroy'), bookstore, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= bookstore.first? ? '' : link_to('▲', {:action => 'update', :position => (bookstore.position  > 1 ? bookstore.position - 1 : 1), :id => bookstore.id}, :method => :put) -%></td>
      <td><%= bookstore.last? ? '' : link_to('▼', {:action => 'update', :position => (bookstore.position + 1), :id => bookstore.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%- if_authorized?(:new, Bookstore) do -%>
  <%= link_to t('page.new', :model => t('activerecord.models.bookstore')), new_bookstore_path -%>
<%- end -%>
