<h1><%= t('page.editing', :model => t('activerecord.models.concept')) -%></h1>

<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_area :term %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :required_score %><br />
    <%= f.text_field :required_score %>
  </p>
  <p>
    <%= f.submit t('page.update') %>
  </p>
<% end %>

<%= link_to t('page.show'), @concept %> |
<%= link_to t('page.back'), concepts_path %>
