<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), concepts_path %></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.concept')) -%></h1>

<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('activerecord.attributes.concept.term') %><br />
    <%= f.text_area :term %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.concept.note') %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit t('page.create') %>
  </p>
<% end %>
</div>
