<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_concept_path(@concept) -%></li>
    <li><%= link_to t('page.destroy'), concept_path(@concept), :confirm => t('page.are_you_sure'), :method => :delete -%></li>
    <%- if flash[:query] -%>
      <li><%= link_to t('page.back'), concepts_path(:query => flash[:query]) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), concepts_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.concept.term') -%>:</b>
  <%=h @concept.term %>
</p>

<p>
  <b><%= t('activerecord.attributes.concept.note') -%>:</b>
  <%=h @concept.note %>
</p>
</div>
