<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation_form_has_checkout_type')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.models.manifestation_form') -%></th>
    <th><%= t('activerecord.models.checkout_type') -%></th>
    <th><%= t('activerecord.attributes.manifestation_form_has_checkout_type.note') -%></th>
  </tr>

<%- for manifestation_form_has_checkout_type in @manifestation_form_has_checkout_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(manifestation_form_has_checkout_type.manifestation_form.display_name.localize), manifestation_form_has_checkout_type.manifestation_form -%></td>
    <td><%= link_to h(manifestation_form_has_checkout_type.checkout_type.display_name.localize), manifestation_form_has_checkout_type.checkout_type -%></td>
    <td><%=h manifestation_form_has_checkout_type.note -%></td>
    <td><%= link_to t('page.show'), manifestation_form_has_checkout_type -%></td>
    <td><%= link_to t('page.edit'), edit_manifestation_form_has_checkout_type_path(manifestation_form_has_checkout_type) -%></td>
    <td><%= link_to t('page.destroy'), manifestation_form_has_checkout_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_form_has_checkout_type')), new_manifestation_form_has_checkout_type_path -%></li>
  </ul>
</div>
