<h1><%= ('Listing roles') -%></h1>

<table style="width: 100%">
  <tr>
<<<<<<< HEAD:app/views/roles/index.html.erb
    <th><%= t('page.name') -%></th>
    <th><%= t('page.display_name') -%></th>
    <th><%= t('page.note') -%></th>
=======
    <th><%= ('Name') -%></th>
    <th><%= ('Display name') -%></th>
    <th><%= ('Note') -%></th>
>>>>>>> 591cc9f71f2d9220e978c2c274fc370eea38768e:app/views/roles/index.html.erb
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>
  
<%- for role in @roles -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(role.name), role_path(role) -%></td>
    <td><%= link_to h(role.display_name), role_path(role) -%></td>
    <td><%=h role.note -%></td>
    <td><%=h role.created_at -%></td>
    <td><%=h role.updated_at -%></td>
    <td><%= link_to t('page.show'), role_path(role) -%></td>
    <td><%= link_to t('page.edit'), edit_role_path(role) -%></td>
    <td><%= link_to t('page.destroy'), role_path(role), :confirm => ('Are you sure?'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New role'), new_role_path -%>
