<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_role_path(@role) -%></li>
    <li><%= link_to t('page.back'), roles_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.role')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.role.name') -%>:</b>
  <%=h @role.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.role.display_name') -%>:</b>
  <%=h @role.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.role.score') -%>:</b>
  <%=h @role.score -%>
</p>

<p>
  <b><%= t('activerecord.attributes.role.note') -%>:</b>
  <%=h @role.note -%>
</p>

<p>
<b><%= t('page.created_at') -%>:</b>
  <%= l(@role.created_at) if @role.created_at -%>
</p>

<p>
<b><%= t('page.updated_at') -%>:</b>
  <%= l(@role.updated_at) if @role.created_at -%>
</p>

</div>
</div>
