<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">
<%- case params[:inventory] when 'not_on_shelf' -%>
  <h2><%= t('inventory_file.not_on_shelf') -%></h2>
<%- when 'not_in catalog' -%>
  <h2><%= t('inventory_file.not_in_catalog') -%></h2>
<%- else -%>
  <h2><%= t('item.all_item') -%></h2>
<%- end -%>
</div>

<table class="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
  </tr>
  
<%- for item in @items -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => item.manifestation} -%>
    </td>
    <td><%= link_to h(item.item_identifier), item -%></td>
    <td><%=h item.call_number -%></td>
    <td><%= link_to h(item.shelf.library.display_name.localize), library_path(item.shelf.library.name) -%></td>
    <td><%= link_to h(item.shelf.display_name.localize), item.shelf -%></td>
    <td><%=h item.circulation_status.display_name.localize -%></td>
    <%- if item.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_item_path(item) -%></td>
      <td><%= link_to t('page.destroy'), item, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@items, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="submenu">
<%- case params[:inventory] when 'not_on_shelf' -%>
  <p>
    <%= link_to t('activerecord.models.inventory_file'), @inventory_file -%>
    <%= link_to t('item.all_item'), inventory_file_items_path(@inventory_file) -%>
    <%= link_to t('inventory_file.not_in_catalog'), inventory_file_items_path(@inventory_file, :inventory => 'not_in_catalog') -%>
    (<%= link_to ('CSV'), inventory_file_items_path(@inventory_file, :format => :csv, :inventory => 'not_on_shelf', :locale => @locale) -%>)
  </p>
<%- when 'not_in catalog' -%>
  <p>
    <%= link_to t('activerecord.models.inventory_file'), @inventory_file -%>
    <%= link_to t('item.all_item'), inventory_file_items_path(@inventory_file) -%>
    <%= link_to t('inventory_file.not_on_shelf'), inventory_file_items_path(@inventory_file, :inventory => 'not_on_shelf') -%>
    (<%= link_to ('CSV'), inventory_file_items_path(@inventory_file, :format => :csv, :inventory => 'not_in_catalog', :locale => @locale) -%>)
  </p>
<%- else -%>
  <p>
    <%= link_to t('activerecord.models.inventory_file'), @inventory_file -%>
    <%= link_to t('inventory_file.not_on_shelf'), inventory_file_items_path(@inventory_file, :inventory => 'not_on_shelf') -%>
    <%= link_to t('inventory_file.not_in_catalog'), inventory_file_items_path(@inventory_file, :inventory => 'not_in_catalog') -%>
    (<%= link_to ('CSV'), inventory_file_items_path(@inventory_file, :format => :csv, :locale => @locale) -%>)
  </p>
<%- end -%>
</div>
