<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">

  <h2 class="resource_title">
    [P]
    <%= @patron.full_name -%>
  </h2>

<%= form_for :items, :url => patron_items_path(@patron), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form', :placeholder => t('page.search_term')} -%>
    <%- if can? :update, @patron -%>
      <%= render 'page/add' %>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), patron_items_path(@patron) -%>
  </p>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
    <th></th>
  </tr>
  
<%- @items.each do |item| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- unless item.item_identifier.blank? -%>
        <%= link_to item.item_identifier, item -%>
      <%- else -%>
        (<%= link_to t('item.no_number'), item -%>)
      <%- end -%>
    </td>
    <td><%= item.call_number -%></td>
    <td><%= link_to item.shelf.library.display_name.localize, item.shelf.library -%></td>
    <td><%= link_to item.shelf.display_name.localize, item.shelf -%></td>
    <td><%= item.circulation_status.display_name.localize -%></td>
    <td>
      <%- if can? :update, item -%>
        <%= link_to t('page.edit'), edit_item_path(item) -%>
      <% end %>
      <%- if can? :destroy, item -%>
        <%= link_to t('page.destroy'), item, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@items) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if can? :create, Item -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.item')), :controller => 'items', :action => 'new', :patron_id => @patron.id -%></li>
    <%- end -%>
  </ul>
</div>
