<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">

<%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} if @manifestation -%>

<%= form_for :items, :url => manifestation_items_path(@manifestation), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= search_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%- if can? :update, @manifestation -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), manifestation_items_path(@manifestation) -%>
  </p>
  <%= javascript_tag("$('#search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
    <th></th>
  </tr>
  
<%- @items.each do |item| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- unless item.item_identifier.blank? -%>
        <%= link_to h(item.item_identifier), item -%>
      <%- else -%>
        (<%= link_to t('item.no_number'), item -%>)
      <%- end -%>
    </td>
    <td><%= item.call_number -%></td>
    <td><%= link_to h(item.shelf.library.display_name.localize), library_path(item.shelf.library.name) -%></td>
    <td><%= link_to h(item.shelf.display_name.localize), item.shelf -%></td>
    <td><%= item.circulation_status.display_name.localize -%></td>
    <td>
      <%- if can? :update, item -%>
        <%= link_to t('page.edit'), edit_item_path(item) -%>
      <% end %>
      <%- if can? :destroy, item -%>
        <%= link_to t('page.destroy'), item, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@items) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @manifestation} -%>
  <ul>
    <%- if can? :create, Item -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.item')), new_manifestation_item_path(@manifestation) -%></li>
    <%- end -%>
  </ul>
</div>
