<div id="content_detail">
  <%- if @manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>
  <%- else -%>
    <h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item')) -%></h1>
  <%- end -%>
<div id="content_list">
  <h2 class="resource_title">
    [I]
    <%= link_to h(@item.manifestation.original_title), @item -%>
  </h2>

<%- form_for :items, :url => item_items_path(@item), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), :class => 'search_form' -%>
    <%- if @item.is_deletable_by(current_user) -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
  </p>
  <%= javascript_tag("$('query').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
    <th></th>
    <th></th>
  </tr>
  
  <%- for item in @items -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%- if item.item_identifier.blank? -%>
          (<%= link_to ('no number'), item -%>)
        <%- else -%>
          <%= link_to h(item.item_identifier), item -%>
        <%- end -%>
      </td>
      <td><%= item.call_number -%></td>
      <td>
        <%- if item.manifestation -%>
          <%= render :partial => "manifestations/show_index", :locals => {:manifestation => item.manifestation} -%>
        <%- else -%>
          (<%= link_to ('No manifestation'), item_exemplify_path(item) -%>)
        <%- end -%>
      </td>
      <td><%= link_to h(item.shelf.library.display_name.localize), library_path(item.shelf.library.name) -%></td>
      <td><%= link_to h(item.shelf.display_name.localize), item.shelf -%></td>
      <td><%= item.circulation_status.display_name.localize -%></td>
      <%- if item.is_deletable_by(current_user) -%>
        <td><%= link_to t('page.edit'), edit_item_path(item) -%></td>
        <td>
          <%- if params[:mode] == "add" -%>
            <%= link_to t('page.add'), new_item_item_has_item_path(@item, :to_item_id => item.id) unless @item.derived_items.include?(item) or @item == item -%>
          <%- else -%>
            <%- item_has_item = @item.to_items.find_by_to_item_id(item.id) -%>
            <%= link_to t('page.destroy'), item_has_item, :confirm => t('page.are_you_sure'), :method => :delete if item_has_item -%>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>

<%= will_paginate(@items) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if Item.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.item')), :controller => 'items', :action => 'new', :manifestation_id => params[:manifestation_id] -%></li>
    <%- end -%>
  </ul>
</div>
