<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">

  <h2 class="resource_title">
    [P]
    <%= @patron.full_name -%>
  </h2>

<%- form_for :items, :url => patron_items_path(@patron), :html => {:method => 'get'} do -%>
  <p>
    <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
    <%- if can? :destroy, @patron -%>
      <%- if params[:mode] == 'add' -%>
        <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
      <%- else -%>
        <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
        <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
      <%- end -%>
    <%- end -%>
    <%= submit_tag t('page.search') -%>
    <%= link_to t('page.back_to_index'), patron_items_path(@patron) -%>
  </p>
  <%= javascript_tag("$('search_form_top').focus()") -%>
<%- end -%>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('activerecord.models.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
  </tr>
  
<%- for item in @items -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- unless item.item_identifier.blank? -%>
        <%= link_to h(item.item_identifier), item -%>
      <%- else -%>
        (<%= link_to t('item.no_number'), item -%>)
      <%- end -%>
    </td>
    <td><%= item.call_number -%></td>
    <td><%= link_to h(item.shelf.library.display_name.localize), library_path(item.shelf.library.name) -%></td>
    <td><%= link_to h(item.shelf.display_name.localize), item.shelf -%></td>
    <td><%= item.circulation_status.display_name.localize -%></td>
    <%- if can? :destroy, item -%>
      <td><%= link_to t('page.edit'), edit_item_path(item) -%></td>
      <td><%= link_to t('page.destroy'), item, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@items) -%>
</div>
</div>

<div id="submenu">
  <ul>
    <%- if can? :create, Item -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.item')), :controller => 'items', :action => 'new', :patron_id => @patron.id -%></li>
    <%- end -%>
  </ul>
</div>
