<div id="submenu">
  <div id="manifestation_book_jacket">
    <%= book_jacket(@manifestation) -%>
  </div>
  <ul>
    <%- if_authorized?(:new, Item) do -%>
      <li><%= link_to ('New item'), :controller => 'items', :action => 'new', :manifestation_id => params[:manifestation_id] -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">

  <%- if @manifestation -%>
    <%= render :partial => 'manifestations/manifestation_patrons_list' -%>
  <%- else -%>
    <h1><%= ('Listing items') -%></h1>
  <%- end -%>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.item.item_identifier') -%></th>
    <th><%= t('activerecord.attributes.item.call_number') -%></th>
    <th><%= t('page.library') -%></th>
    <th><%= t('activerecord.models.shelf') -%></th>
    <th><%= t('activerecord.models.circulation_status') -%></th>
  </tr>
  
<%- for item in @items -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(item.item_identifier), item -%></td>
    <td><%=h item.call_number -%></td>
    <td><%= link_to h(item.shelf.library.name), library_path(item.shelf.library.short_name) -%></td>
    <td><%= link_to h(item.shelf.name), item.shelf -%></td>
    <td><%=h item.circulation_status.display_name -%></td>
    <%- if_authorized?(:destroy, item) do -%>
      <td><%= link_to t('page.edit'), edit_item_path(item) -%></td>
      <td><%= link_to t('page.destroy'), item_path(item), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@items) -%>
</div>
