<p>
  <strong><%= t('activerecord.models.shelf') -%>:</strong>
  <%= link_to h(@item.shelf.display_name.localize), shelf_path(@item.shelf_id) -%>
  <%= render :partial => 'items/shelf_picture', :locals => {:item => @item} -%>
  (<%= link_to h(@item.shelf.library.display_name.localize), @item.shelf.library -%>)
</p>

<p>
  <strong><%= t('activerecord.models.circulation_status') -%>:</strong>
  <%= link_to h(@item.circulation_status.display_name.localize), @item.circulation_status -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.call_number') -%>:</strong>
  <%= @item.call_number -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.item_identifier') -%>:</strong>
  <%= @item.item_identifier -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.price') -%>:</strong>
  <%= @item.price -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.url') -%>:</strong>
  <%= @item.url -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.include_supplements') -%>:</strong>
  <%= localized_boolean(@item.include_supplements) -%>
</p>

<!--
<p>
  <strong><%= t('activerecord.models.use_restriction') -%>:</strong>
  <ul>
    <%- @item.use_restrictions.each do |use_restriction| -%>
      <li><%= link_to h(use_restriction.display_name.localize), use_restriction_path(use_restriction) -%></li>
    <%- end -%>
  </ul>
</p>
-->

<%- if can? :update, @item -%>
  <p>
    <strong><%= t('item.donor') -%>:</strong>
    <%- @item.donors.each do |patron| -%>
      <%= link_to patron.full_name, patron -%>
    <%- end -%>
  </p>
<%- end -%>

<p>
  <strong><%= t('page.created_at') -%>:</strong>
  <%= l(@item.created_at) -%>
</p>

<p>
  <strong><%= t('page.updated_at') -%>:</strong>
  <%= l(@item.updated_at) -%>
</p>
