<div id="submenu">
  <%= render :partial => 'manifestations/book_jacket', :locals => {:manifestation => @item.manifestation} -%>
  <ul>
    <li><%= link_to t('page.show'), @item -%></li>
    <li><%= link_to t('page.back'), manifestation_items_path(@item.manifestation) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.item')) -%></h1>
<div id="content_list">

<%= error_messages_for :item -%>

<%- form_for(@item, :html => { :method => :put }) do |f| -%>
  <%- if @item.manifestation -%>
    <%= render :partial => 'manifestations/title', :locals => {:manifestation => @item.manifestation} -%>
  <%- end -%>

  <p>
    <b><%= t('activerecord.models.library') -%> / <%= t('activerecord.models.shelf') -%></b><br />
    <select id="library_id" name="library_id">
      <%- @libraries.each do |library| -%>
        <option value="<%=h library.name -%>"><%=h library.display_name.localize -%></option>
      <%- end -%>
    </select>
    <span id="item1">
      <%= f.select(:shelf_id, @item.shelf.library.shelves.collect{|s| [s.name, s.id]}) -%>
    </span>
    <%= observe_field("library_id", :update => "item1", :url => {:controller => 'shelves', :action => 'index', :item_id => @item, :select => true}, :method => :get, :with => "'library_id='+value") -%>
  </p>

  <p>
    <b><%= t('activerecord.models.checkout_type') -%></b><br />
    <%= f.select(:checkout_type_id, @checkout_types.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.models.circulation_status') -%></b><br />
    <%= f.select(:circulation_status_id, @circulation_statuses.collect{|c| [c.display_name.localize, c.id]}) -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.item.call_number') -%></b><br />
    <%= f.text_field :call_number -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.item.price') -%></b><br />
    <%= f.text_field :price -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.item.url') -%></b><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>
 
  <p>
    <b><%= t('activerecord.attributes.item.include_supplements') -%></b>
    <%= f.check_box :include_supplements -%>
  </p>
 
  <!--
  <p>
  <b><%= t('activerecord.models.use_restriction') -%>:</b><br />
  <%- @use_restrictions.each do |use_restriction| -%>
    <%= check_box_tag "use_restriction_id[]", use_restriction.id, @item.use_restrictions.include?(use_restriction), :id => "use_restriction_id_#{use_restriction.id}" -%>
    <%=h use_restriction.display_name.localize -%><br />
  <%- end -%>
  </p>
  -->

  <p>
    <b><%= t('activerecord.attributes.item.item_identifier') -%></b><br />
    <%= f.text_field :item_identifier, :class => 'resource_item_identifier' -%>
  </p>
 
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>
