<div id="submenu">
  <ul>
    <li<%= link_to t('page.edit'), edit_work_form_path(@work_form) -%></li>
    <li><%= link_to t('page.back'), work_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_form')) -%></h1>
<div id="content_list">

<p>
  <b><%= t('activerecord.attributes.work_form.name') -%>:</b>
  <%=h @work_form.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work_form.display_name') -%>:</b>
  <%=h @work_form.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.work_form.note') -%>:</b>
  <%=h @work_form.note -%>
</p>

</div>
</div>
