<div id="submenu">
  <ul>
    <li<%= link_to t('edit'), edit_work_form_path(@work_form) -%></li>
    <li><%= link_to ('Back'), work_forms_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= ('Name') -%>:</b>
  <%=h @work_form.name -%>
</p>

<p>
  <b><%= ('Display name') -%>:</b>
  <%=h @work_form.name -%>
</p>

<p>
  <b><%= ('Note') -%>:</b>
  <%=h @work_form.note -%>
</p>

</div>
