<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_manifestation_checkout_stat_path(@manifestation_checkout_stat) %></li>
    <li><%= link_to t('page.back'), manifestation_checkout_stats_path %></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b>From date:</b>
  <%=h @manifestation_checkout_stat.from_date %>
</p>

<p>
  <b>To date:</b>
  <%=h @manifestation_checkout_stat.to_date %>
</p>

<p>
  <b><%= t('activerecord.attributes.manifestation_checkout_stat.note') -%>:</b>
  <%=h @manifestation_checkout_stat.note %>
</p>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') %></th>
    <th><%= 'Checkouts count' %></th>
  </tr>
  <%- @stats.each do |stat| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => stat.manifestation} -%>
      </td>
      <td><%=h stat.checkouts_count %></td>
    </tr>
  <% end -%>
</table>

<%= will_paginate(@stats) -%>

</div>
