<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @resource_has_subject -%></li>
    <li><%= link_to t('page.back'), resource_has_subjects_path -%></li>
  </ul>
</div>

<div id="content_detail">
  <h1><%= t('page.editing', :model => t('activerecord.models.resource_has_subject')) -%></h1>

<%- form_for(@resource_has_subject) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :work_id -%><br />
    <%= f.text_field :work_id -%>
  </p>
  <p>
    <%= f.label :subject_id -%><br />
    <%= f.text_field :subject_id -%>
  </p>
  <p>
    <%= f.label :subject_type -%><br />
    <%= f.text_field :subject_type -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
