<h1><%= t('page.listing', :model => t('activerecord.models.resource_has_subject')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.subject') -%></th>
    <th><%= t('activerecord.models.subject_type') -%></th>
  </tr>

<%- for resource_has_subject in @resource_has_subjects -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(resource_has_subject.subject.term), resource_has_subject.subject -%></td>
    <td><%= h(resource_has_subject.subject.class.to_s) -%></td>
    <td><%= link_to t('page.show'), resource_has_subject -%></td>
    <td><%= link_to t('page.edit'), edit_resource_has_subject_path(resource_has_subject) -%></td>
    <td><%= link_to t('page.destroy'), resource_has_subject, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@resource_has_subjects, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
<br />

<%= link_to t('page.new', :model => t('activerecord.models.resource_has_subject')), new_resource_has_subject_path -%>
