<div id="submenu">
  <ul>
    <li><%= link_to ('Back to work index'), works_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.models.work') -%>:</b>
  <%= link_to h(@resource_has_subject.work.original_title), @resource_has_subject.work if @resource_has_subject.work -%>
</p>

<p>
  <b><%= t('page.subject') -%>:</b>
  <%= link_to h(@resource_has_subject.subject.term), @resource_has_subject.subject -%>
</p>

</div>
