<div id="submenu">
  <ul>
    <li><%= link_to ('Back to subject index'), subjects_path -%></li>
</div>

<div id="content_detail">
<p>
  <b><%= t('page.subject') -%>:</b>
  <%= link_to h(@resource_has_subject.subject.term), @resource_has_subject.subject -%>
</p>

<p>
  <b><%= ('Subjectable') -%>:</b>
  <%- if @resource_has_subject.subjectable_type == 'Manifestation' -%>
    <%= link_to h(@resource_has_subject.subjectable.original_title), @resource_has_subject.subjectable -%>
  <%- else -%>
    <%= link_to h(@resource_has_subject.subjectable.title), @resource_has_subject.subjectable -%>
  <%- end -%>
</p>

</div>
