<h1><%= ('Listing countries') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Name') -%></th>
    <th><%= ('Display name') -%></th>
    <th><%= ('Alpha 2') -%></th>
    <th><%= ('Alpha 3') -%></th>
    <th><%= ('Numeric 3') -%></th>
  </tr>

<%- for country in @countries -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(country.name), country -%></td>
    <td><%= link_to h(country.display_name), country -%></td>
    <td><%=h country.alpha_2 -%></td>
    <td><%=h country.alpha_3 -%></td>
    <td><%=h country.numeric_3 -%></td>
    <%- if_authorized?(:desroy, country) do -%>
      <td><%= link_to t('edit'), edit_country_path(country) -%></td>
      <td><%= country.first? ? '' : link_to('▲', {:action => 'update', :position  => (country.position  > 1 ? country.position - 1 : 1), :id => country.id}, :method => :put) -%></td>
      <td><%= country.last? ? '' : link_to('▼', {:action => 'update', :position => (country.position + 1), :id => country.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= link_to ('New country'), new_country_path -%>
