<h1><%= t('page.listing', :model => t('activerecord.models.country')) -%></h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.country.name') -%></th>
    <th><%= t('activerecord.attributes.country.display_name') -%></th>
    <th><%= t('activerecord.attributes.country.alpha_2') -%></th>
    <th><%= t('activerecord.attributes.country.alpha_3') -%></th>
    <th><%= t('activerecord.attributes.country.numeric_3') -%></th>
  </tr>

<%- for country in @countries -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(country.name), country -%></td>
    <td><%= link_to h(country.display_name), country -%></td>
    <td><%=h country.alpha_2 -%></td>
    <td><%=h country.alpha_3 -%></td>
    <td><%=h country.numeric_3 -%></td>
    <%- if_authorized?(:desroy, country) do -%>
      <td><%= link_to t('page.edit'), edit_country_path(country) -%></td>
      <td><%= country.first? ? '' : link_to('▲', {:action => 'update', :position  => (country.position  > 1 ? country.position - 1 : 1), :id => country.id}, :method => :put) -%></td>
      <td><%= country.last? ? '' : link_to('▼', {:action => 'update', :position => (country.position + 1), :id => country.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= link_to t('page.new', :model => t('activerecord.models.country')), new_country_path -%>
