<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.country')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.country.display_name') -%></th>
    <th><%= t('activerecord.attributes.country.alpha_2') -%></th>
    <th><%= t('activerecord.attributes.country.alpha_3') -%></th>
    <th><%= t('activerecord.attributes.country.numeric_3') -%></th>
  </tr>

<%- for country in @countries -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <%- if country.is_deletable_by(current_user) -%>
      <td>
        <%= country.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (country.position  > 1 ? country.position - 1 : 1), :id => country.id}, :method => :put) -%>
        <%= country.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (country.position + 1), :id => country.id}, :method => :put) -%>
      </td>
    <%- end -%>
    <td><%= link_to h(country.display_name.localize), country -%></td>
    <td><%=h country.alpha_2 -%></td>
    <td><%=h country.alpha_3 -%></td>
    <td><%=h country.numeric_3 -%></td>
    <%- if country.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_country_path(country) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@countries, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.country')), new_country_path -%></li>
  </ul>
</div>
