<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_country_path(@country) -%></li>
    <li><%= link_to t('page.back'), countries_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.country')) -%></h1>
<div id="content_list">

<p>
  <b><%= t('activerecord.attributes.country.display_name') -%>:</b>
  <%= @country.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.country.alpha_2') -%>:</b>
  <%= @country.alpha_2 -%>
</p>

<p>
  <b><%= t('activerecord.attributes.country.alpha_3') -%>:</b>
  <%= @country.alpha_3 -%>
</p>

<p>
  <b><%= t('activerecord.attributes.country.numeric_3') -%>:</b>
  <%= @country.numeric_3 -%>
</p>

<p>
  <b><%= t('activerecord.attributes.country.note') -%>:</b>
  <%= @country.note -%>
</p>

</div>
</div>
