<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.expression_relationship')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.expression_relationship.parent') -%></th>
    <th><%= t('activerecord.attributes.expression_relationship.child') -%></th>
    <th><%= t('activerecord.models.expression_relationship_type') -%></th>
  </tr>

<%- @expression_relationships.each do |expression_relationship| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to expression_relationship.parent.original_title, expression_relationship.parent -%></td>
    <td><%= link_to expression_relationship.child.original_title, expression_relationship.child -%></td>
    <td><%= expression_relationship.expression_relationship_type.display_name.localize -%></td>
    <td><%= link_to t('page.show'), expression_relationship -%></td>
    <td><%= link_to t('page.edit'), edit_expression_relationship_path(expression_relationship) -%></td>
    <td><%= link_to t('page.destroy'), expression_relationship, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@expression_relationships) -%>
<br />

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.expression_relationship')), new_expression_relationship_path -%></li>
  </ul>
</div>
