<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_relationship')) -%></h1>
<div id="content_list">

<%= form_for(@expression_relationship) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.expression_relationship.parent') -%><br />
    <%- if @expression_relationship.parent -%>
      <%= link_to @expression_relationship.parent.original_title, @expression_relationship.parent -%>
      <%= f.hidden_field :parent_id -%>
    <%- else -%>
      <%= f.text_field :parent_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.expression_relationship.child') -%><br />
    <%- if @expression_relationship.child -%>
      <%= link_to @expression_relationship.child.original_title, @expression_relationship.child -%>
      <%= f.hidden_field :child_id -%>
    <%- else -%>
      <%= f.text_field :child_id -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.expression_relationship_type') -%><br />
    <%= f.select(:expression_relationship_type_id, @expression_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), expression_relationships_path -%></li>
  </ul>
</div>
