<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @frequency_of_issue -%></li>
    <li><%= link_to t('page.back'), frequency_of_issues_path -%></li>
  </ul>
</div>
  
<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.frequency_of_issue')) -%></h1>
<div id="content_list">

<%= error_messages_for :frequency_of_issue -%>

<%- form_for(@frequency_of_issue) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.name') -%></b><br />
    <%= f.text_field :name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.display_name') -%></b><br />
    <%= f.text_field :display_name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.note') -%></b><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
