<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @frequency_of_issue -%></li>
    <li><%= link_to t('page.back'), frequency_of_issues_path -%></li>
  </ul>
</div>
  
<div id="content_detail">
<h1><%= ('Editing frequency_of_issue') -%></h1>

<%= error_messages_for :frequency_of_issue -%>

<%- form_for(@frequency_of_issue) do |f| -%>
  <p>
    <b><%= t('page.name') -%></b><br />
    <%= f.text_field :name -%>
  </p>

  <p>
    <b><%= t('page.display_name') -%></b><br />
    <%= f.text_field :display_name -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
