<div id="submenu">
  <ul>
    <%- if_authorized?(:new, FrequencyOfIssue) do -%>
      <li><%= link_to ('New frequency_of_issue'), new_frequency_of_issue_path -%></li>
    <%- end -%>
 </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing frequency_of_issues') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Name') -%></th>
    <th><%= ('Display name') -%></th>
  </tr>

<%- for frequency_of_issue in @frequency_of_issues -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(frequency_of_issue.name), frequency_of_issue -%></td>
    <td><%= link_to h(frequency_of_issue.display_name), frequency_of_issue -%></td>
    <%- if_authorized?(:destroy, frequency_of_issue) do -%>
      <td><%= link_to t('edit'), edit_frequency_of_issue_path(frequency_of_issue) -%></td>
      <td><%= link_to t('destroy'), frequency_of_issue, :confirm => ('Are you sure?'), :method => :delete -%></td>
      <td><%= frequency_of_issue.first? ? '' : link_to('▲', {:action => 'update', :position  => (frequency_of_issue.position  > 1 ? frequency_of_issue.position - 1 : 1), :id => frequency_of_issue.id}, :method => :put) -%></td>
      <td><%= frequency_of_issue.last? ? '' : link_to('▼', {:action => 'update', :position => (frequency_of_issue.position + 1), :id => frequency_of_issue.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>
</div>
