<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), frequency_of_issues_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.frequency_of_issue')) -%></h1>
<div id="content_list">

<%= error_messages_for :frequency_of_issue -%>

<%- form_for(@frequency_of_issue) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.display_name') -%></b><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.frequency_of_issue.note') -%></b><br />
    <%= f.text_field :note -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
