<div id="submenu">
  <ul>
    <li><%= link_to ('Back to manifestation statistics index'), :action => 'manifestation' -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Most checked out') -%></h1>

<%= render :partial => 'statistic/date_form', :locals => {:value => 'most_checked_out'} -%>

<table>
  <tr>
    <th><%= ('Title')%></th>
    <th><%= ('Checkouts count') -%></th>
  </tr>
  <%- @manifestations.each do |manifestation| -%>
    <tr>
      <td><%= link_to h(manifestation.title), manifestation -%></td>
      <td><%=h manifestation.item_checkouts_count -%></td>
    </tr>
  <%- end -%>
</table>

<table>
  <tr>
    <td><%= ('Total') -%></td>
    <td><%= Manifestation.item_checkouts_count -%></td>
  </tr>
</table>

<%= will_paginate(@manifestations) -%>
</div>
