<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.user_reserve_stat.start_date') -%>:</b>
  <%=h @user_reserve_stat.start_date -%>
</p>

<p>
  <b><%= t('activerecord.attributes.user_reserve_stat.end_date') -%>:</b>
  <%=h @user_reserve_stat.end_date -%>
</p>

<p>
  <b><%= t('activerecord.attributes.user_reserve_stat.note') -%>:</b>
  <%=h @user_reserve_stat.note -%>
</p>

<p>
  <b>State:</b>
  <%=h @user_reserve_stat.state -%>
</p>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_user_reserve_stat_path(@user_reserve_stat) -%></li>
    <li><%= link_to t('page,back'), user_reserve_stats_path -%></li>
  </ul>
</div>
