<p>
  <b>From date:</b>
  <%=h @user_reserve_stat.from_date %>
</p>

<p>
  <b>To date:</b>
  <%=h @user_reserve_stat.to_date %>
</p>

<p>
  <b>Note:</b>
  <%=h @user_reserve_stat.note %>
</p>

<p>
  <b>State:</b>
  <%=h @user_reserve_stat.state %>
</p>


<%= link_to 'Edit', edit_user_reserve_stat_path(@user_reserve_stat) %> |
<%= link_to 'Back', user_reserve_stats_path %>
