<div id="submenu">
  <ul>
    <li><%= link_to ('Back to merge list'), @corporate_body_merge_list -%>
  </ul>
</div>

<div id="content_detail">
<p>Patron(s) for <%= link_to h(@corporate_body_merge_list.title), corporate_body_merge_list_path(@corporate_body_merge_list) -%></p>

<%- form_for :corporate_bodies, :url => corporate_body_merge_list_corporate_bodies_path(@corporate_body_merge_list), :html => {:method => 'get'} do -%>
<p>
  <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query) -%>
  <%- if_authorized?(:destroy, @corporate_body_merge_list) do -%>
    <%- if params[:mode] == 'add' -%>
      <%= radio_button_tag 'mode', 'show' -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add', :checked => true -%> <%= t('page.add') -%>
    <%- else -%>
      <%= radio_button_tag 'mode', 'show', :checked => true -%> <%= t('page.show') -%>
      <%= radio_button_tag 'mode', 'add' -%> <%= t('page.add') -%>
    <%- end -%>
  <%- end -%>
  <%= submit_tag t('page.search') -%>
  <%= link_to t('page.back_to_index'), corporate_body_merge_list_corporate_bodies_path(@corporate_body_merge_list) -%>
</p>
<%- end -%>

  <table id="index">
  <tr>
    <th><%= ('Patron name') -%></th>
    <th><%= t('activerecord.models.corporate_body_type') -%></th>
    <th><%= t('activerecord.attributes.corporate_body.other_designation') -%></th>
    <th><%= ('Place') -%></th>
    <th><%= t('activerecord.attributes.corporate_body.date_of_birth') -%></th>
    <th><%= t('activerecord.attributes.corporate_body.date_of_death') -%></th>
  </tr>
  
<%- @corporate_bodies.each do |corporate_body| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(corporate_body.full_name), corporate_body_merge_list_corporate_body_path(@corporate_body_merge_list, corporate_body) -%></td>
    <td><%=h corporate_body.corporate_body_type.display_name -%></td>
    <td><%=h corporate_body.other_designation -%></td>
    <td><%=h corporate_body.place -%></td>
    <td><%=h corporate_body.date_of_birth -%></td>
    <td><%=h corporate_body.date_of_death -%></td>
    <td>
      <%- if_authorized?(:destroy, corporate_body) do -%>
        <%- if params[:mode] == 'add' -%>
          <%= link_to t('page.add'), new_corporate_body_merge_list_corporate_body_merge_path(@corporate_body_merge_list, :corporate_body_id => corporate_body.id) unless @corporate_body_merge_list.corporate_bodies.include?(corporate_body) -%>
        <%- else -%>
          <%- corporate_body_merge = @corporate_body_merge_list.corporate_body_merges.find_by_corporate_body_id(corporate_body) -%>
          <%= link_to t('page.destroy'), corporate_body_merge_list_corporate_body_merge_path(@corporate_body_merge_list, corporate_body_merge), :confirm => t('page.are_you_sure'), :method => :delete -%>
        <%- end -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@corporate_bodies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
