<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @work_merge -%></li>
    <li><%= link_to t('page.back'), work_merges_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing work_merge') -%></h1>

<%= error_messages_for :work_merge -%>

<%- form_for(@work_merge) do |f| -%>

  <p>
  <b><%= t('activerecord.models.work') -%></b><br />
  <%= f.text_field :work_id, :value => @work_merge.work_id -%>
  </p>

  <p>
  <b><%= ('Work merge list') -%></b><br />
  <%= f.text_field :work_merge_list_id, :value => @work_merge.work_merge_list_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
