<div id="submenu">
  <ul>
    <%- if @work_merge_list -%>
      <li><%= link_to ('Add a work'), work_merge_list_works_path(@work_merge_list) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.listing', :model => t('activerecord.models.work_merge')) -%></h1>

<%- if @work_merge_list -%>
  <p><%= ('Works in %{work_merge_list}') -%></p>
<%- end -%>

<table id="index">
  <tr>
    <td><%= t('activerecord.models.work') -%></td>
    <td><%= ('Work merge list') -%></td>
  </tr>

<%- for work_merge in @work_merges -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(work_merge.work.original_title), work_path(work_merge.work) -%></td>
    <td><%= link_to h(work_merge.work_merge_list.title), work_merge_list_path(work_merge.work_merge_list) -%></td>
    <td><%= link_to t('page.show'), work_merge -%></td>
    <td><%= link_to t('page.edit'), edit_work_merge_path(work_merge) -%></td>
    <td><%= link_to t('page.destroy'), work_merge, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

</div>
