<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), work_merges_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.work_merge')) -%></h1>
<div id="content_list">

<%- form_for(@work_merge) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.models.work') -%><br />
    <%- if @work -%>
      <%= link_to h(@work.original_title), @work -%>
      <%= f.hidden_field :work_id -%>
    <%- else -%>
      <%= f.text_field :work_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.label t('activerecord.models.work_merge_list') -%><br />
    <%- if @work_merge_list -%>
      <%= link_to h(@work_merge_list.title), @work_merge_list -%>
      <%= f.hidden_field :work_merge_list_id, :value => @work_merge_list.id -%>
    <%- else -%>
      <%= f.text_field :work_merge_list_id, :value => params[:work_merge_list_id] -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
