<div id="submenu">
  <ul>
    <li><%= link_to ('Back'), work_merges_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New work_merge') -%></h1>

<%= error_messages_for :work_merge -%>

<%- form_for(@work_merge) do |f| -%>
  <p>
  <b><%= ('Work') -%></b><br />
  <%- if @work -%>
    <%= link_to h(@work.original_title), work_path(@work) -%>
    <%= f.hidden_field :work_id, :value => @work.id -%>
  <%- else -%>
    <%= f.text_field :work_id, :value => params[:work_id] -%>
  <%- end -%>
  </p>

  <p>
  <b><%= ('Work merge list') -%></b><br />
  <%- if @work_merge_list -%>
    <%= link_to h(@work_merge_list.title), work_merge_list_path(@work_merge_list) -%>
    <%= f.hidden_field :work_merge_list_id, :value => @work_merge_list.id -%>
  <%- else -%>
    <%= f.text_field :work_merge_list_id, :value => params[:work_merge_list_id] -%>
  <%- end -%>
  </p>

  <p>
    <%= f.submit t('create') -%>
  </p>
<%- end -%>

</div>
