<div id="submenu">
  <ul>
    <li><%= link_to t('page.add', :model => t('activerecord.models.work')), work_merge_list_works_path(@work_merge.work_merge_list_id) -%></li>
    <li><%= link_to t('page.edit'), edit_work_merge_path(@work_merge) -%></li>
    <li><%= link_to t('page.back'), work_merges_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.work_merge')) -%></h1>
<div id="content_list">
<p>
<b><%= t('activerecord.models.work') -%>:</b>
<%= link_to h(@work_merge.work.original_title), work_path(@work_merge.work) -%>
</p>

<p>
<b><%= t('activerecord.models.work_merge_list') -%>:</b>
<%= link_to h(@work_merge.work_merge_list.title), work_merge_list_path(@work_merge.work_merge_list_id) -%>
</p>

</div>
</div>
