<div id="submenu">
  <ul>
    <%- if UseRestriction.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.use_restriction')), new_use_restriction_path -%></li >
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.use_restriction')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.use_restriction.name') -%></th>
    <th><%= t('activerecord.attributes.use_restriction.display_name') -%></th>
  </tr>

<%- for use_restriction in @use_restrictions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(use_restriction.name), use_restriction -%></td>
    <td><%= link_to h(use_restriction.display_name.localize), use_restriction -%></td>
    <%- if use_restriction.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_use_restriction_path(use_restriction) -%></td>
      <td><%= link_to t('page.destroy'), use_restriction, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
