<div id="submenu">
  <ul>
    <%- if_authorized?(:new, UseRestriction) do -%>
      <li><%= link_to ('New use_restriction'), new_use_restriction_path -%></li >
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing use_restrictions') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= t('page.name') -%></th>
    <th><%= t('page.display_name') -%></th>
    <th><%= t('page.note') -%></th>
  </tr>

<%- for use_restriction in @use_restrictions -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(use_restriction.name), use_restriction -%></td>
    <td><%= link_to h(use_restriction.display_name), use_restriction -%></td>
    <td><%=h use_restriction.note -%></td>
    <%- if_authorized?(:destroy, use_restriction) do -%>
      <td><%= link_to t('page.edit'), edit_use_restriction_path(use_restriction) -%></td>
      <td><%= link_to t('page.destroy'), use_restriction, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
