<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_use_restriction_path(@use_restriction) -%></li>
    <li><%= link_to t('page.back'), use_restrictions_path -%></li>
  </ul>
</div>

<div class="inner">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.use_restriction')) -%></h1>
<div class="inner">

<p>
  <b><%= t('activerecord.attributes.use_restriction.name') -%></b>
  <%=h @use_restriction.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.use_restriction.display_name') -%></b>
  <%=h @use_restriction.display_name.localize -%>
</p>

<p>
  <b><%= t('activerecord.attributes.use_restriction.note') -%></b>
  <%=h @use_restriction.note -%>
</p>

</div>
</div>
