<div id="main">
<h1 class="title"><%= t('bookmark.user_bookmark', :login_name => @user.login) -%></h1>
<div class="inner">
  <%- form_for :works, :url => user_bookmarked_resources_path(@user.login), :html => {:method => 'get'} do -%>
    <p>
      <%= t('page.search_term') -%>: <%= text_field_tag 'query', h(@query), {:id => 'search_form_top', :class => 'search_form'} -%>
      <%= submit_tag t('page.search') -%>
    </p>
    <%= javascript_tag("$('search_form_top').focus()") -%>
  <%- end -%>

  </p>

  <%= render :partial => 'bookmarked_resources/list', :locals => {:manifestations => @bookmarked_resources} -%>
</div>
</div>

<div id="sidebar">
  <p>
    <%= link_to (image_tag 'feed-icon-14x14.png', :size => '14x14', :alt => t('page.feed'), :border => 0), user_bookmarked_resources_path(@user.login, :format => :rss) -%>
    (<%= link_to ('RSS'), user_bookmarked_resources_path(@user.login, :format => :rss) -%>)
    (<%= link_to ('CSV'), user_bookmarked_resources_path(@user.login, :format => :csv, :locale => @locale) -%>)
  </p>
  <%- if logged_in? -%>
    <h4><%= t('page.bookmarklet') -%></h4>
    <ul>
      <li><a href="javascript:window.location.href='<%=h new_user_bookmark_url(current_user.login) -%>?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title);"><%= t('bookmarked_resource.add_to_library_bookmark') -%></a></li>
    </ul>
  <%- end -%>
</div>
