<div id="submenu">
  <ul>
    <%- if @user -%>
      <li><%= link_to t('page.show'), user_bookmarked_resource_path(@user.login, @bookmarked_resource) -%></li>
      <li><%= link_to t('page.back'), user_bookmarked_resources_path(@user.login) -%></li>
    <%- else -%>
      <li><%= link_to t('page.show'), @bookmarked_resource -%></li>
      <li><%= link_to t('page.back'), bookmarked_resources_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Editing bookmarked_resource') -%></h1>

<%= error_messages_for :bookmarked_resource -%>

<%- form_for(@bookmarked_resource) do |f| -%>
  <p>
  <b><%= t('page.title') -%></b><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>

  <p>
  <b><%= ('Url') -%></b><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>

  <p>
  <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%= link_to h(@bookmarked_resource.manifestation.original_title), @bookmarked_resource.manifestation -%>
    <%= f.hidden_field :manifestation_id -%>
  </p>

  <p>
    <%= hidden_field_tag 'user_id', @user.login if @user -%>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
