<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), bookmarked_resources_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.bookmarked_resource')) -%></h1>

<%= error_messages_for :bookmarked_resource -%>

<%- form_for(@bookmarked_resource) do |f| -%>
  <p>
    <b><%= t('page.title') -%></b><br />
    <%= f.text_field :title, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.bookmarked_resource.url') -%></b><br />
    <%= f.text_field :url, :class => 'resource_url' -%>
  </p>

  <p>
    <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%- if @manifestation -%>
      <%= link_to h(@manifestation.original_title),  @manifestation -%>
      <%= f.hidden_field :manifestation_id, @manifestation_id -%>
    <%- else -%>
      <%= f.text_field :manifestation_id -%>
    <%- end -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
