<%= form_for(@exemplify) do |f| %>
  <% if @exemplify.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemplify.errors.count, "error") %> prohibited this exemplify from being saved:</h2>

      <ul>
      <% @exemplify.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manifestation %><br />
    <%= f.text_field :manifestation %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
