<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.exemplify')) -%></h1>
<div class="inner">

<table class="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.models.item') -%></th>
  </tr>

<%- for exemplify in @exemplifies -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(exemplify.manifestation.original_title), exemplify.manifestation -%></td>
    <td><%= link_to h(exemplify.item.item_identifier), exemplify.item -%></td>
    <%- if exemplify.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.show'), exemplify -%></td>
      <td><%= link_to t('page.destroy'), exemplify, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@exemplifies, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>

<div id="sidebar">
  <ul>
    <%- if Exemplify.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.exemplify')), new_exemplify_path -%></li>
    <%- end -%>
  </ul>
</div>
