<h1 class="title">Listing exemplifies</h1>

<table class="index">
  <tr class="line<%= cycle("0", "1") -%>">
    <th>Manifestation</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exemplifies.each do |exemplify| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= exemplify.manifestation %></td>
    <td><%= exemplify.item %></td>
    <td><%= link_to t('enju.show'), exemplify %></td>
    <td><%= link_to t('enju.edit'), edit_exemplify_path(exemplify) %></td>
    <td><%= link_to t('enju.destroy'), exemplify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exemplify', new_exemplify_path %>
