<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), exemplifies_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.exemplify')) -%></h1>

<%- form_for(@exemplify) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label :manifestation_id -%><br />
    <%= f.text_field :manifestation_id -%>
  </p>
  <p>
    <%= f.label :item_id -%><br />
    <%= f.text_field :item_id -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
