<div id="submenu">
  <ul>
    <li><%= link_to t('edit'), edit_exemplify_path(@exemplify) -%></li>
    <li><%= link_to ('Back'), exemplifies_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= ('Manifestation') -%>:</b>
  <%= link_to h(@exemplify.manifestation.original_title), @exemplify.manifestation -%>
</p>

<p>
  <b><%= ('Item') -%>:</b>
  <%= link_to h(@exemplify.item.item_identifier), @exemplify.item -%>
</p>

</div>
