<p id="notice"><%= notice %></p>

<p>
  <b>Manifestation:</b>
  <%= @exemplify.manifestation %>
</p>

<p>
  <b>Item:</b>
  <%= @exemplify.item %>
</p>


<%= link_to t('enju.edit'), edit_exemplify_path(@exemplify) %> |
<%= link_to t('enju.back'), exemplifies_path %>
