<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Produce) do -%>
      <li><%= link_to ('New produce'), new_manifestation_produce_path(@manifestation) -%></li>
      <li><%= link_to t('page.back'), manifestation_patrons_path(@manifestation) -%></li>
      <li><%= link_to ('Show manifestation'), @manifestation -%></li>
    <%- end -%>
  </ul>
</div>
  
<div id="content_detail">
  <%= render :partial => 'manifestations/manifestation_patrons_list' -%>
<table style="width: 100%">
  <tr>
    <th><%= t('page.patron') -%></th>
  </tr>
  
<%- for produce in @produces -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(produce.patron.full_name), patron_path(produce.patron) -%></td>
    <%- if_authorized?(:destroy, produce) do -%>
      <td><%= link_to t('page.destroy'), manifestation_produce_path(produce.manifestation, produce), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
      <td><%= produce.first? ? '' : link_to('▲', {:action => 'update', :position => (produce.position  > 1 ? produce.position - 1 : 1), :id => produce.id, :manifestation_id => @manifestation.id}, :method => :put) -%></td>
      <td><%= produce.last? ? '' : link_to('▼', {:action => 'update', :position => (produce.position + 1), :id => produce.id, :manifestation_id => @manifestation.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%= will_paginate(@produces) -%>
</div>
