<div id="submenu">
  <ul>
    <%- if_authorized?(:new, Produce) do -%>
      <li><%= link_to ('New produce'), new_patron_produce_path(@patron) -%></li>
      <li><%= link_to t('page.back'), patron_manifestations_path(@patron) -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
  <h1>
    <%= link_to h(@patron.full_name), @patron -%>
  </h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
  </tr>
  
<%- for produce in @produces -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(produce.manifestation.original_title), produce.manifestation -%>
      <%= form_icon(produce.manifestation.manifestation_form) -%><br />
      <%= patrons_list(produce.manifestation.authors) -%>
      <%= patrons_list(produce.manifestation.editors) -%>
      <%= patrons_list(produce.manifestation.patrons) -%>
    </td>
    <%- if_authorized?(:destroy, produce) do -%>
      <td><%= link_to t('page.destroy'), patron_produce_path(produce.patron, produce), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%= will_paginate(@produces, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
