<div id="sidebar">
  <ul>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), manifestation_patrons_path(@manifestation) -%></li>
    <li><%= link_to t('activerecord.models.manifestation'), @manifestation -%></li>
    <%- if Produce.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.produce')), new_manifestation_produce_path(@manifestation) -%></li>
    <%- end -%>
  </ul>
</div>
  
<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.produce')) -%></h1>
<div class="inner">
  <%= render :partial => 'manifestations/title', :locals => {:manifestation => @manifestation} -%>
<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.models.patron') -%></th>
  </tr>
  
<%- for produce in @produces -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if produce.is_deletable_by(current_user) -%>
        <%= produce.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position => (produce.position  > 1 ? produce.position - 1 : 1), :id => produce.id, :manifestation_id => @manifestation.id}, :method => :put) -%>
        <%= produce.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (produce.position + 1), :id => produce.id, :manifestation_id => @manifestation.id}, :method => :put) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(produce.patron.full_name), produce.patron -%></td>
    <%- if produce.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.destroy'), manifestation_produce_path(produce.manifestation, produce), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@produces, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>
</div>
</div>
