<%- form_for(:produce, :url => produces_path) do |f| -%>
  <p>
  <b><%= ('Patron') -%></b><br />
    <%- if @patron -%>
      <%=h @patron.full_name -%>
    <%- else -%>
      <%= f.text_field :patron_id, :value => params[:patron_id] -%>
    <%- end -%>
  </p>

  <p>
  <b><%= ('Manifestation') -%></b><br />
    <%- if @manifestation -%>
      <%=h @manifestation.original_title -%>
    <%- else -%>
      <%= f.text_field :manifestation_id, :value => params[:manifestation_id] -%>
    <%- end -%>
  </p>

  <p>
    <%= submit_tag t('create') -%>
  </p>
<%- end -%>

<%= link_to ('Back'), produces_path -%>
