<table>
  <tr>
    <th><%= t('activerecord.models.patron') -%></th>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('page.created_at') -%></th>
    <th><%= t('page.updated_at') -%></th>
  </tr>
  
<%- for produce in @produces -%>
  <tr>
    <td><%=h produce.patron_id -%></td>
    <td><%= link_to h(produce.manifestation.original_title), produce.manifestation -%></td>
    <td><%=h produce.created_at -%></td>
    <td><%=h produce.updated_at -%></td>
    <td><%= link_to t('page.show'), produce_path(produce) -%></td>
    <td><%= link_to t('page.edit'), edit_produce_path(produce) -%></td>
    <td><%= link_to t('page.destroy'), produce_path(produce), :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<br />

<%= will_paginate(@produces, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

<%= link_to ('New produce'), new_produce_path -%>
