<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @produce -%></li>
    <li><%= link_to t('page.back'), produces_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.produce')) -%></h1>
<div class="inner">

<%= error_messages_for :produce -%>

<%- form_for(@produce) do |f| -%>
  <p>
    <b><%= t('activerecord.models.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%= f.text_field :manifestation_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>

<%- end -%>

</div>
</div>
