<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.produce')) -%></h1>

<%= error_messages_for :produce -%>

<%- form_for(:produce, :url => produce_path(@produce), :html => { :method => :put }) do |f| -%>
  <p>
    <b><%= t('activerecord.models.patron') -%></b><br />
    <%= f.text_field :patron_id -%>
  </p>

  <p>
    <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%= f.text_field :manifestation_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>

<%- end -%>

<%= link_to t('page.show'), produce_path(@produce) -%> |
<%= link_to t('page.back'), produces_path -%>
