<div id="submenu">
  <ul>
    <%- if @produce.patron -%>
      <li><%= link_to ('Back to patrons'), patron_manifestations_path(@produce.patron) -%></li>
    <%- end -%>
    <%- if @produce.manifestation -%>
      <li><%= link_to ('Back to manifestations'), manifestation_patrons_path(@produce.manifestation) -%></li>
    <%- end -%>
    <li><%= link_to t('page.back'), produces_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.produce')) -%></h1>
<div id="content_list">

<%= error_messages_for :produce -%>

<%- form_for(@produce) do |f| -%>
  <p>
  <b><%= t('activerecord.models.patron') -%></b><br />
  <%- if @produce.patron -%>
    <%= link_to h(@produce.patron.full_name), @produce.patron -%>
    <%= f.hidden_field :patron_id -%>
  <%- else -%>
    <%= f.text_field :patron_id -%>
  <%- end -%>
  </p>

  <p>
  <b><%= t('activerecord.models.manifestation') -%></b><br />
  <%- if @produce.manifestation -%>
    <%= link_to h(@produce.manifestation.original_title), @produce.manifestation -%>
    <%= f.hidden_field :manifestation_id -%>
  <%- else -%>
    <%= f.text_field :manifestation_id -%>
  <%- end -%>
  </p>

  <p>
  <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
</div>
</div>
