<div id="submenu">
  <ul>
    <li><%= link_to ('Back to patrons'), manifestation_patrons_path(@produce.manifestation) -%></li>
    <li><%= link_to ('Back to manifestations'), patron_manifestations_path(@produce.patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.models.patron') -%>:</b>
  <%=link_to h(@produce.patron.full_name), patron_path(@produce.patron) -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= link_to h(@produce.manifestation.original_title), manifestation_path(@produce.manifestation) -%>
</p>

</div>
