<h1>Listing manifestation_reserve_stats</h1>

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.start_date') -%></th>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.end_date') -%></th>
    <th><%= t('activerecord.attributes.manifestation_reserve_stat.note') -%></th>
    <th>State</th>
  </tr>

<% for manifestation_reserve_stat in @manifestation_reserve_stats -%>
  <tr>
    <td><%=h manifestation_reserve_stat.start_date -%></td>
    <td><%=h manifestation_reserve_stat.end_date -%></td>
    <td><%=h manifestation_reserve_stat.note -%></td>
    <td><%=h manifestation_reserve_stat.state -%></td>
    <td><%= link_to t('page.show'), manifestation_reserve_stat -%></td>
    <td><%= link_to t('page.edit'), edit_manifestation_reserve_stat_path(manifestation_reserve_stat) -%></td>
    <td><%= link_to t('page.destroy'), manifestation_reserve_stat, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New manifestation_reserve_stat', new_manifestation_reserve_stat_path -%>
