<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_manifestation_reserve_stat_path(@manifestation_reserve_stat) -%></li>
    <li><%= link_to t('page.back'), manifestation_reserve_stats_path -%></li>
  </ul>
  <h4><%= t('page.export') -%></h4>
  <ul>
    <li><%= link_to ('CSV'), manifestation_reserve_stat_path(@manifestation_reserve_stat, :format => :csv, :lang => I18n.default_locale) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.manifestation_reserve_stat')) -%></h1>
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.manifestation_reserve_stat.start_date') -%>:</b>
  <%= l(@manifestation_reserve_stat.start_date) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.manifestation_reserve_stat.end_date') -%>:</b>
  <%= l(@manifestation_reserve_stat.end_date) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.manifestation_reserve_stat.note') -%>:</b>
  <%=h @manifestation_reserve_stat.note -%>
</p>

<table id="index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.attributes.reserve_stat_has_manifestation.reserves_count') -%></th>
  </tr>
  <%- @stats.each do |stat| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <%= render :partial => 'manifestations/show_index', :locals => {:manifestation => stat.manifestation} -%>
      </td>
      <td><%=h stat.reserves_count -%></td>
    </tr>
  <% end -%>
</table>

<%= will_paginate(@stats, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
</div>
