<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.manifestation_has_manifestation')) -%></h1>
<div id="content_list">

<%- form_for(@manifestation_has_manifestation) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.attributes.manifestation_has_manifestation.from_manifestation') -%><br />
    <%= f.text_field :from_manifestation_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.manifestation_has_manifestation.to_manifestation') -%><br />
    <%= f.text_field :to_manifestation_id -%>
  </p>
  <p>
    <%= f.select(:manifestation_relationship_type_id, @manifestation_relationship_types.collect{|r| [r.display_name.localize, r.id]}) -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>
</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @manifestation_has_manifestation -%></li>
    <li><%= link_to t('page.back'), manifestation_has_manifestations_path -%></li>
  </ul>
</div>
