<h1 class="title">Listing manifestation_has_manifestations</h1>

<table>
  <tr>
    <th>From manifestation</th>
    <th>To manifestation</th>
    <th>Type</th>
    <th>Position</th>
  </tr>

<% for manifestation_has_manifestation in @manifestation_has_manifestations -%>
  <tr>
    <td><%=h manifestation_has_manifestation.from_manifestation_id -%></td>
    <td><%=h manifestation_has_manifestation.to_manifestation_id -%></td>
    <td><%=h manifestation_has_manifestation.type -%></td>
    <td><%=h manifestation_has_manifestation.position -%></td>
    <td><%= link_to t('page.show'), manifestation_has_manifestation -%></td>
    <td><%= link_to t('page.edit'), edit_manifestation_has_manifestation_path(manifestation_has_manifestation) -%></td>
    <td><%= link_to t('page.destroy'), manifestation_has_manifestation, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New manifestation_has_manifestation', new_manifestation_has_manifestation_path -%>
