<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.manifestation_has_manifestation')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.manifestation_has_manifestation.from_manifestation') -%></th>
    <th><%= t('activerecord.attributes.manifestation_has_manifestation.to_manifestation') -%></th>
    <th><%= t('activerecord.models.manifestation_relationship_type') -%></th>
  </tr>

<%- @manifestation_has_manifestations.each do |manifestation_has_manifestation| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(manifestation_has_manifestation.from_manifestation.original_title), manifestation_has_manifestation.from_manifestation -%></td>
    <td><%= link_to h(manifestation_has_manifestation.to_manifestation.original_title), manifestation_has_manifestation.to_manifestation -%></td>
    <td><%= manifestation_has_manifestation.manifestation_relationship_type.display_name.localize -%></td>
    <td><%= link_to t('page.show'), manifestation_has_manifestation -%></td>
    <td><%= link_to t('page.edit'), edit_manifestation_has_manifestation_path(manifestation_has_manifestation) -%></td>
    <td><%= link_to t('page.destroy'), manifestation_has_manifestation, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@manifestation_has_manifestations) -%>
<br />

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation_has_manifestation')), new_manifestation_has_manifestation_path -%></li>
  </ul>
</div>
