<div id="main">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.manifestation_has_manifestation')) -%></h1>
<div class="inner">
<p>
  <b><%= t('activerecord.attributes.manifestation_has_manifestation.from_manifestation') -%>:</b>
  <%= link_to h(@manifestation_has_manifestation.from_manifestation.original_title), @manifestation_has_manifestation.from_manifestation -%>
</p>

<p>
  <b><%= t('activerecord.attributes.manifestation_has_manifestation.to_manifestation') -%>:</b>
  <%= link_to h(@manifestation_has_manifestation.to_manifestation.original_title), @manifestation_has_manifestation.to_manifestation -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation_relationship_type') -%>:</b>
  <%=h @manifestation_has_manifestation.manifestation_relationship_type.display_name.localize -%>
</p>
</div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to t('page.edit'), edit_manifestation_has_manifestation_path(@manifestation_has_manifestation) -%></li>
    <li><%= link_to t('page.back'), manifestation_has_manifestations_path -%></li>
  </ul>
</div>
