<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.news_feed')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.news_feed.title') -%></th>
    <th><%= t('activerecord.attributes.news_feed.url') -%></th>
    <th></th>
  </tr>

<%- @news_feeds.each do |news_feed| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%- if can? :destroy, news_feed -%>
        <%= move_position(news_feed) -%>
      <%- end -%>
    </td>
    <td><%= link_to h(news_feed.title), news_feed -%></td>
    <td><%= link_to h(news_feed.url), news_feed.url -%></td>
    <td>
      <%- if can? :destroy, news_feed -%>
        <%= link_to t('page.edit'), edit_news_feed_path(news_feed) -%>
        <%= link_to t('page.destroy'), news_feed, :confirm => t('page.are_you_sure'), :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@news_feeds) -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.news_feed')), new_news_feed_path -%></li>
    <li><%= link_to t('page.clear_cache'), news_feeds_path(:mode => 'clear_cache') -%></li>
  </ul>
</div>
