<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.news_feed')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th id="position"></th>
    <th><%= t('activerecord.attributes.news_feed.title') -%></th>
    <th><%= t('activerecord.attributes.news_feed.url') -%></th>
  </tr>

<%- @news_feeds.each do |news_feed| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <%- if news_feed.is_deletable_by(current_user) -%>
      <td>
        <%= news_feed.first? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_up.png', :size => '16x16', :alt => t('page.asc')), {:action => 'update', :position  => (news_feed.position  > 1 ? news_feed.position - 1 : 1), :id => news_feed.id}, :method => :put) -%>
        <%= news_feed.last? ? image_tag('cross.png', :size => '16x16') : link_to(image_tag('arrow_down.png', :size => '16x16', :alt => t('page.desc')), {:action => 'update', :position => (news_feed.position + 1), :id => news_feed.id}, :method => :put) -%>
      </td>
    <%- end -%>
    <td><%= link_to h(news_feed.title), news_feed -%></td>
    <td><%= link_to h(news_feed.url), news_feed.url -%></td>
    <%- if news_feed.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_news_feed_path(news_feed) -%></td>
      <td><%= link_to t('page.destroy'), news_feed, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@news_feeds, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

</div>
</div>

<div id="submenu">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.news_feed')), new_news_feed_path -%></li>
    <li><%= link_to t('page.clear_cache'), news_feeds_path(:mode => 'clear_cache') -%></li>
  </ul>
</div>
