<h1><%= ('Listing news_feeds') -%></h1>

<table id="index">
  <tr>
    <th><%= t('page.title') -%></th>
    <th><%= ('Url') -%></th>
  </tr>

<%- for news_feed in @news_feeds -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(news_feed.title), news_feed -%></td>
    <td><%= link_to h(news_feed.url), news_feed.url -%></td>
    <td><%= link_to t('page.show'), news_feed -%></td>
    <td><%= link_to t('page.edit'), edit_news_feed_path(news_feed) -%></td>
    <td><%= link_to t('page.destroy'), news_feed, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- if_authorized?(:desroy, news_feed) do -%>
      <td><%= news_feed.first? ? '' : link_to('▲', {:action => 'update', :position  => (news_feed.position  > 1 ? news_feed.position - 1 : 1), :id => news_feed.id}, :method => :put) -%></td>
      <td><%= news_feed.last? ? '' : link_to('▼', {:action => 'update', :position => (news_feed.position + 1), :id => news_feed.id}, :method => :put) -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to ('New news_feed'), new_news_feed_path -%>

<%= link_to ('Clear cache'), news_feeds_path(:mode => 'clear_cache') -%>
