<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_news_feed_path(@news_feed) -%></li>
    <li><%= link_to t('page.back'), news_feeds_path -%></li>
  </ul>
</div>

<div id="content_detail">
<p>
  <b><%= t('activerecord.attributes.news_feed.title') -%>:</b>
  <%=h @news_feed.title -%>
</p>

<p>
  <b><%= t('activerecord.attributes.news_feed.url') -%>:</b>
  <%= link_to h(@news_feed.url), @news_feed.url -%>
</p>

<div id="news_feed_box">
  <%= render :partial => 'news_feeds/content', :locals => {:news_feed => @news_feed} -%>
</div>

<%- form_for(@news_feed, :url => news_feed_url(@news_feed, :mode => 'force_reload')) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.submit t('page.force_reload') -%>
  </p>
<%- end -%>

</div>
