<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), expression_to_manifestation_rel_types_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression_to_manifestation_rel_type')) -%></h1>
<div id="content_list">

<%- form_for(@expression_to_manifestation_rel_type) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label t('activerecord.attributes.expression_to_manifestation_rel_type.name') -%><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.expression_to_manifestation_rel_type.display_name') -%><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.expression_to_manifestation_rel_type.note') -%><br />
    <%= f.text_area :note, :class => 'resource_textarea' -%>
  </p>
  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
