<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @subscribe -%></li>
    <li><%= link_to t('page.back'), subscribes_path -%></li>
  </ul>
</div>

<div class="inner">
  <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.subscribe')) -%></h1>

<%- form_for(@subscribe) do |f| -%>
  <%= f.error_messages -%>

  <p>
    <%= f.label t('activerecord.models.subscription') -%><br />
    <%= f.text_field :subscription_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.models.manifestation') -%><br />
    <%= f.text_field :manifestation_id -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.subscribe.start_on') -%><br />
    <%= f.date_select :start_on -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.subscribe.end_on') -%><br />
    <%= f.date_select :end_on -%>
  </p>
  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
