<div id="submenu">
  <ul>
    <li><%= link_to t('activerecord.models.subscription'), subscription_path(@subscription) if @subscription -%>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.manifestation')), subscription_manifestations_path(@subscription) if @subscription -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.subscribe')) -%></h1>
<div id="content_list">

<%= error_messages_for :subscribe -%>

<%- form_for(@subscribe) do |f| -%>
  <p>
    <b><%= t('activerecord.models.subscription') -%></b><br />
    <%- if @subscription -%>
		  <%= link_to h(@subscription.title), @subscription -%>
      <%= f.hidden_field :subscription_id, :value => @subscription.id -%>
    <%- else -%>
      <%= f.text_field :subscription_id, :value => params[:subscription_id] -%>
    <%- end -%>
  </p>

  <p>
    <b><%= t('activerecord.models.manifestation') -%></b><br />
    <%- if @manifestation -%>
		  <%= link_to h(@manifestation.original_title), @manifestation -%>
      <%= f.hidden_field :manifestation_id, :value => @manifestation.id -%>
    <%- else -%>
      <%= f.text_field :manifestation_id, :value => params[:manifestation_id] -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.subscribe.started_on') -%><br />
    <%= f.date_text_field :started_on, :class => 'date_field' -%>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.subscribe.ended_on') -%><br />
    <%= f.date_text_field :ended_on, :class => 'date_field' -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>

</div>
</div>
