<div id="submenu">
  <ul>
    <li><%= link_to ('Back to subscription'), subscription_path(@subscription) if @subscription -%>
    <li><%= link_to ('Back to expressions'), subscription_expressions_path(@subscription) -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('New subscribe') -%></h1>

<%= error_messages_for :subscribe -%>

<%- form_for(:subscribe, :url => subscription_subscribes_path(@subscription)) do |f| -%>
  <p>
    <b><%= ('Subscription') -%></b><br />
    <%- if @subscription -%>
		  <%= link_to h(@subscription.title), @subscription -%>
      <%= f.hidden_field :subscription_id, :value => @subscription.id -%>
    <%- else -%>
      <%= f.text_field :subscription_id, :value => params[:subscription_id] -%>
    <%- end -%>
  </p>

  <p>
    <b><%= ('Expression') -%></b><br />
    <%- if @expression -%>
		  <%= link_to h(@expression.original_title), expression_path(@expression) -%>
      <%= f.hidden_field :expression_id, :value => @expression.id -%>
    <%- else -%>
      <%= f.text_field :expression_id, :value => params[:expression_id] -%>
    <%- end -%>
  </p>
  <p>
    <%= f.label :start_on -%><br />
    <%= f.date_select :start_on -%>
  </p>
  <p>
    <%= f.label :end_on -%><br />
    <%= f.date_select :end_on -%>
  </p>

  <p>
    <%= submit_tag t('create') -%>
  </p>
<%- end -%>

</div>
