<div id='submenu'>
  <ul>
    <li><%= link_to t('page.edit'), edit_subscribe_path(@subscribe) -%></li>
    <li><%= link_to t('page.back'), subscribes_path -%></li>
  </ul>
</div>

<div id='content_detail'>
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subscribe')) -%></h1>
<div id='content_list'>
<p>
  <b><%= t('activerecord.models.subscription') -%>:</b>
  <%= link_to h(@subscribe.subscription.title), @subscribe.subscription -%>
</p>

<p>
  <b><%= t('activerecord.models.manifestation') -%>:</b>
  <%= link_to h(@subscribe.manifestation.original_title), @subscribe.manifestation -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscribe.start_on') -%>:<b>
  <%=l @subscribe.start_on -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscribe.end_on') -%>:<b>
  <%=l @subscribe.end_on -%>
</p>

</div>
</div>
