<div id='submenu'>
  <ul>
    <li><%= link_to t('page.edit'), edit_subscribe_path(@subscribe) -%></li>
    <li><%= link_to t('page.back'), subscribes_path -%></li>
  </ul>
</div>

<div id='content_detail'>
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.subscribe')) -%></h1>
<div id='content_list'>
<p>
  <b><%= t('activerecord.models.subscription') -%>:</b>
  <%= link_to h(@subscribe.subscription.title), @subscribe.subscription -%>
</p>

<p>
  <b><%= t('activerecord.models.work') -%>:</b>
  <%= link_to h(@subscribe.work.original_title), @subscribe.work -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscribe.started_on') -%>:<b>
  <%=l @subscribe.started_on -%>
</p>

<p>
  <b><%= t('activerecord.attributes.subscribe.ended_on') -%>:<b>
  <%=l @subscribe.ended_on -%>
</p>

</div>
</div>
