<h1>Listing user_stat_has_checkouts</h1>

<table>
  <tr>
    <th>User stat</th>
    <th>User</th>
    <th>Checkouts count</th>
  </tr>

<% for user_stat_has_checkout in @user_stat_has_checkouts %>
  <tr>
    <td><%=h user_stat_has_checkout.user_stat_id %></td>
    <td><%=h user_stat_has_checkout.user_id %></td>
    <td><%=h user_stat_has_checkout.checkouts_count %></td>
    <td><%= link_to t('page.show'), user_stat_has_checkout %></td>
    <td><%= link_to t('page.edit'), edit_user_stat_has_checkout_path(user_stat_has_checkout) %></td>
    <td><%= link_to t('page.destroy'), user_stat_has_checkout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_stat_has_checkout', new_user_stat_has_checkout_path %>
