<p>
  <b>User stat:</b>
  <%=h @user_stat_has_checkout.user_stat_id %>
</p>

<p>
  <b>User:</b>
  <%=h @user_stat_has_checkout.user_id %>
</p>

<p>
  <b>Checkouts count:</b>
  <%=h @user_stat_has_checkout.checkouts_count %>
</p>


<%= link_to t('page.edit'), edit_user_stat_has_checkout_path(@user_stat_has_checkout) %> |
<%= link_to 'Back', user_stat_has_checkouts_path %>
