<div id="sidebar">
  <ul>
    <li><%= link_to t('page.back'), library_groups_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.library_group')) -%></h1>
<div class="inner">

<%= error_messages_for :library_group -%>

<%- form_for(@library_group) do |f| -%>

  <p>
    <b><%= t('activerecord.attributes.library_group.name') -%></b><br />
    <%= f.text_field :name, :class => 'resource_title' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.display_name') -%></b><br />
    <%= f.text_area :display_name, :class => 'resource_textarea' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.name') -%></b><br />
    <%= f.text_field :name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.email') -%></b><br />
    <%= f.text_field :email, :class => 'resource_email' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.valid_period_for_new_user') -%></b><br />
    <%= f.text_field :valid_period_for_new_user, :class => 'resource_integer' -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.login_banner') -%></b><br />
    <%= f.text_area :login_banner -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.post_to_union_catalog') -%></b>
    <%= f.check_box :post_to_union_catalog -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.my_networks') -%></b><br />
    <%= f.text_area :my_networks -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.use_dsbl') -%></b>
    <%= f.check_box :use_dsbl -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.dsbl_list') -%></b><br />
    <%= f.text_area :dsbl_list -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.library_group.note') -%></b><br />
    <%= f.text_area :note -%>
  </p>

  <%= f.submit t('page.update') -%>
<%- end -%>
</div>
</div>
