<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_library_group_path(@library_group) -%></li>
    <li><%= link_to t('page.back'), library_groups_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= t('activerecord.attributes.library_group.name') -%>:</b>
  <%=h @library_group.name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.library_group.display_name') -%>:</b>
  <%=h @library_group.display_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.library_group.short_name') -%>:</b>
  <%=h @library_group.short_name -%>
</p>

<p>
  <b><%= t('activerecord.attributes.library_group.email') -%>:</b>
  <%=h @library_group.email -%>
</p>

<p>
  <b><%= t('activerecord.attributes.library_group.my_networks') -%>:</b>
  <%=h @library_group.my_networks -%>
</p>

<p>
  <b><%= t('activerecord.attributes.library_group.note') -%>:</b>
  <%=h @library_group.note -%>
</p>

<p>
  <b><%= t('activerecord.models.library') -%>:</b></br>
</p>

<ul>
  <%- @library_group.physical_libraries.each do |library| -%>
    <li><%= link_to h(library.name), library_path(library) -%></li>
  <%- end -%>
</ul>

<p>
  <b><%= t('activerecord.models.news_feed') -%>:</b></br>
</p>

<ul>
  <%- @library_group.news_feeds.each do |news_feed| -%>
    <li><%= link_to h(news_feed.title), news_feed -%></li>
  <%- end -%>
</ul>

</div>
</div>
