<% form_for @user_session, :url => user_session_path do |f| -%>
  <p><%= f.label t('activerecord.attributes.user.openid_identifier') -%><br/>
  <%= f.text_field :openid_identifier, :class => 'login_password' -%></p>

  <p><%= f.label t('user_session.remember_me') -%>
  <%= f.check_box :remember_me -%></p>

  <p>
    <%= f.submit t('page.login') -%>
  </p>

  <!--
  <p><%= link_to_remote t('user_session.login_with_username_and_password'), :update => 'sidebar', :url => new_user_session_url(:login_form => 'password'), :method => :get -%></p>
  -->
  <p><%= link_to t('user_session.login_with_username_and_password'), new_user_session_url -%></p>

  <%= hidden_field_tag 'login_form', 'openid' -%>
<% end -%>
<%= javascript_tag("$('user_session_openid_identifier').focus()") -%>
<p><%= link_to t('user.sign_up'), new_user_path -%></p>
