  <p>
    <%= f.label t('activerecord.attributes.user.login') -%><br/>
    <%= f.text_field :login, :class => 'login_password' -%>
  </p>

  <p>
    <%= f.label t('page.password') -%><br/>
    <%= f.password_field :password, :class => 'login_password' -%>
  </p>

  <p>
    <%= f.label t('user_session.remember_me') -%>
    <%= f.check_box :remember_me -%>
  </p>

  <p>
    <%= f.submit t('page.login') -%>
  </p>

  <!--
  <p><%= link_to_remote t('user_session.login_with_openid'), :update => 'submenu', :url => new_user_session_url(:login_form => 'openid'), :method => :get -%></p>
  -->
  <p>
    <%= link_to t('user_session.login_with_openid'), new_user_session_url(:mode => 'openid') -%>
  </p>

  <%= hidden_field_tag 'login_form', 'password' -%>
<%= javascript_tag("$('user_session_login').focus()") -%>
<%- if User.is_creatable_by(nil) -%>
  <p><%= link_to t('user.sign_up'), new_user_path -%></p>
<%- end -%>
