<div id="submenu">
  <ul>
    <li><%= link_to ('Back to statistics index'), :action => 'index' -%></li>
  </ul>
</div>

<div id="content_detail">
  <table>
    <tr>
      <td><%= ('Bookmark') -%></td>
      <td><%=h Bookmark.count -%></td>
    </tr>
    <tr>
      <td><%= ('Bookmarked resource') -%></td>
      <td><%=h BookmarkedResource.count -%></td>
    </tr>
  </table>
  <p><%= link_to ('Bookmarked resource statistics'), :action => :bookmark, :report => 'most_bookmarked' -%></p>
</div>
