<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.checkin')) -%></h1>

<%= error_messages_for :checkin -%>

<%- form_for(:checkin, :url => checkin_path(@checkin), :html => { :method => :put }) do |f| -%>
  <p>
  <b><%= t('activerecord.models.item') -%></b><br />
    <%= f.text_field :item_identifier -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

<%= link_to t('page.show'), checkin_path(@checkin) -%> |
<%= link_to t('page.back'), checkins_path -%>
