<h1><%= ('New checkin') -%></h1>

<%= error_messages_for :checkin -%>

<%- form_for(:checkin, :url => checkins_path) do |f| -%>
  <p>
    <b><%= t('activerecord.models.item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <%= submit_tag t('page.create') -%>
<%- end -%>

<%= link_to t('page.back'), checkins_path -%>
