<h1><%= ('New checkin') -%></h1>

<%= error_messages_for :checkin -%>

<%- form_for(:checkin, :url => checkins_path) do |f| -%>
  <p>
    <b><%= ('Item') -%></b><br />
    <%= f.text_field :item_id -%>
  </p>

  <%= submit_tag t('create') -%>
<%- end -%>

<%= link_to ('Back'), checkins_path -%>
