<div id="submenu">
  <ul>
    <%- if ClassificationType.is_creatable_by(current_user) -%>
      <li><%= link_to t('page.new', :model => t('activerecord.models.classification_type')), new_classification_type_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.classification_type')) -%></h1>
<div id="content_list">

<table id="index">
  <tr>
    <th><%= t('activerecord.attributes.classification_type.name') -%></th>
    <th><%= t('activerecord.attributes.classification_type.display_name') -%></th>
    <th><%= t('activerecord.attributes.classification_type.note') -%></th>
  </tr>

<%- for classification_type in @classification_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(classification_type.name), classification_type -%></td>
    <td><%= link_to h(classification_type.display_name.localize), classification_type -%></td>
    <td><%=h classification_type.note -%></td>
    <%- if classification_type.is_deletable_by(current_user) -%>
      <td><%= link_to t('page.edit'), edit_classification_type_path(classification_type) -%></td>
      <td><%= link_to t('page.destroy'), classification_type, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
</div>
