<div id="submenu">
  <ul>
    <%- if_authorized?(:new, ClassificationType) do -%>
      <li><%= link_to ('New classification_type'), new_classification_type_path -%></li>
    <%- end -%>
  </ul>
</div>

<div id="content_detail">
<h1><%= ('Listing classification_types') -%></h1>

<table style="width: 100%">
  <tr>
    <th><%= ('Name') -%></th>
    <th><%= ('Display name') -%></th>
    <th><%= ('Note') -%></th>
  </tr>

<%- for classification_type in @classification_types -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to h(classification_type.name), classification_type -%></td>
    <td><%=h classification_type.display_name -%></td>
    <td><%=h classification_type.note -%></td>
    <%- if_authorized?(:destroy, classification_type) do -%>
      <td><%= link_to t('edit'), edit_classification_type_path(classification_type) -%></td>
      <td><%= link_to t('destroy'), classification_type, :confirm => ('Are you sure?'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

</div>
