<%- form_for(:picture_file, :url => patron_picture_files_path(@patron), :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= ('page.attachable') -%></b><br />
    <%= link_to h(@patron.full_name), @patron -%>
    <%= f.hidden_field :picture_attachable_id -%>
    <%= f.hidden_field :picture_attachable_type -%>
  </p>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :picture -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
<%= link_to t('page.back'), patron_picture_files_path(@patron) -%>

