<%- form_for(:picture_file, :url => event_picture_files_path(@event), :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= t('page.attachable') -%></b><br />
    <%= link_to h(@event.title), @event -%>
    <%= f.hidden_field :picture_attachable_id, :value => h(@event.id) -%>
    <%= f.hidden_field :picture_attachable_type, :value => h(@event.class) -%>
  </p>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
<%= link_to t('page.back'), event_picture_files_path(@event) -%>

