<%- form_for(:picture_file, :url => manifestation_picture_files_path(@manifestation), :html => { :multipart => true, :method => :post }) do |f| -%>
  <p>
    <b><%= t('page.attachable') -%></b><br />
    <%= link_to h(@manifestation.original_title), @manifestation -%>
    <%= f.hidden_field :picture_attachable_id, :value => h(@manifestation.id) -%>
    <%= f.hidden_field :picture_attachable_type, :value => h(@manifestation.class) -%>
  </p>

  <p>
    <b><%= t('page.file') -%></b><br />
    <%= f.file_field :uploaded_data -%>
  </p>

  <p>
    <%= f.submit t('page.create') -%>
  </p>
<%- end -%>
<%= link_to t('page.back'), manifestation_picture_files_path(@manifestation) -%>

