<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @picture_file -%></li>
    <li><%= link_to t('page.back'), picture_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.picture_file')) -%></h1>
<div id="content_list">

<%= error_messages_for :picture_file -%>

<%- form_for(@picture_file) do |f| -%>
  <p>
    <b>Attachable</b><br />
    <%= f.text_field :picture_attachable_id -%>
  </p>

  <p>
    <b>Attachable type</b><br />
    <%= f.text_field :picture_attachable_type -%>
  </p>

  <p>
  <b><%= ('Size') -%></b><br />
    <%= f.text_field :size -%>
  </p>

  <p>
  <b>Content type</b><br />
    <%= f.text_field :content_type -%>
  </p>

  <p>
  <b><%= t('activerecord.attributes.picture_file.filename') -%></b><br />
    <%= f.text_field :filename -%>
  </p>

  <p>
  <b><%= ('Height') -%></b><br />
    <%= f.text_field :height -%>
  </p>

  <p>
  <b><%= ('Width') -%></b><br />
    <%= f.text_field :width -%>
  </p>

  <p>
  <b><%= ('Parent') -%></b><br />
    <%= f.text_field :parent_id -%>
  </p>

  <p>
  <b><%= ('Thumbnail') -%></b><br />
    <%= f.text_field :thumbnail -%>
  </p>

  <p>
    <b>Db file</b><br />
    <%= f.text_field :db_file_id -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
