<div id="sidebar">
  <ul>
    <li><%= link_to t('page.show'), @picture_file -%></li>
    <li><%= link_to t('page.back'), picture_files_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.picture_file')) -%></h1>
<div class="inner">

<%= error_messages_for :picture_file -%>

<%- form_for(@picture_file) do |f| -%>
  <p>
    <b><%= t('activerecord.attributes.picture_file.picture_attachable_type') -%></b><br />
    <%= f.text_field :picture_attachable_type -%>
  </p>

  <p>
    <b><%= t('page.attachable') -%></b><br />
    <%= f.text_field :picture_attachable_id -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.picture_file.picture_file_size') -%></b><br />
    <%= f.text_field :picture_file_size -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.picture_file.picture_content_type') -%></b><br />
    <%= f.text_field :picture_content_type -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.picture_file.picture_file_name') -%></b><br />
    <%= f.text_field :picture_file_name -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.picture_file.width') -%></b><br />
    <%= f.text_field :width -%>
  </p>

  <p>
    <b><%= t('activerecord.attributes.picture_file.height') -%></b><br />
    <%= f.text_field :height -%>
  </p>

  <p>
    <%= f.submit t('page.update') -%>
  </p>
<%- end -%>

</div>
</div>
