<h1><%= t('page.listing', :model => t('activerecord.models.picture_file')) -%></h1>

<%- if @manifestation -%>
  <p>Attachment files for <%= link_to h(@manifestation.original_title), @manifestation -%></p>
<%- end -%>

<%- if_authorized?(:new, AttachmentFile) do -%>
  <%= link_to t('page.new', :model => t('activerecord.models.picture_file')), new_picture_file_path -%>
<%- end -%>

<table id="index">
  <tr>
    <th><%= ('Attachable') -%></th>
    <th><%= ('Attachable type') -%></th>
    <th><%= t('activerecord.attributes.picture_file.size') -%></th>
    <th><%= t('activerecord.attributes.picture_file.content_type') -%></th>
    <th><%= t('activerecord.attributes.picture_file.filename') -%></th>
    <th><%= t('activerecord.attributes.picture_file.height') -%></th>
    <th><%= t('activerecord.attributes.picture_file.width') -%></th>
  </tr>

<%- for picture_file in @picture_files -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%=h picture_file.picture_attachable_id -%></td>
    <td><%=h picture_file.picture_attachable_type -%></td>
    <td><%=h picture_file.size -%></td>
    <td><%=h picture_file.content_type -%></td>
    <td><%= link_to h(picture_file.filename), picture_file -%></td>
    <td><%=h picture_file.height -%></td>
    <td><%=h picture_file.width -%></td>
    <%- if_authorized?(:destroy, picture_file) do -%>
      <td><%= link_to t('page.show'), picture_file -%></td>
      <td><%= link_to t('page.edit'), edit_picture_file_path(picture_file) -%></td>
      <td><%= link_to t('page.destroy'), picture_file, :confirm => t('page.are_you_sure'), :method => :delete -%></td>
    <%- end -%>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@picture_files, :previous_label => "&#171; " + t('page.previous'), :next_label => "&#187; " + t('page.next')) -%>

