<div id="submenu">
  <ul>
    <li><%= link_to t('page.edit'), edit_picture_file_path(@picture_file) -%></li>
    <li><%= link_to t('page.back'), picture_files_path -%></li>
  </ul>
</div>

<div id="content_detail">
<div id="content_list">
<p>
  <b><%= ('Attachable') -%>:</b>
  <%= link_to h(@picture_file.picture_attachable_type), @picture_file.picture_attachable -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.size') -%>:</b>
  <%=h @picture_file.size -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.content_type') -%>:</b>
  <%=h @picture_file.content_type -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.filename') -%>:</b>
  <%= link_to h(@picture_file.filename), formatted_picture_file_path(@picture_file, @picture_file.extname) -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.width') -%>:</b>
  <%=h @picture_file.width -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.height') -%>:</b>
  <%=h @picture_file.height -%>
</p>

<p>
  <b><%= ('Parent') -%>:</b>
  <%=h @picture_file.parent_id -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.thumbnail') -%>:</b>
  <%=h @picture_file.thumbnail -%>
</p>

<p>
  <b><%= t('activerecord.models.db_file') -%>:</b>
  <%=h @picture_file.db_file_id -%>
</p>

<p>
  <b><%= t('activerecord.attributes.picture_file.file_hash') -%>:</b>
  <%=h @picture_file.file_hash -%>
</p>

</div>
</div>
