<div id="submenu">
  <ul>
    <li><%= link_to t('page.show'), @place %></li>
    <li><%= link_to t('page.back'), places_path %></li>
  </ul>
</div>
<div id="content_detail">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.place')) -%></h1>

<% form_for(@place) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('activerecord.attributes.place.term') %><br />
    <%= f.text_area :term %>
  </p>
  <p>
    <%= f.label t('activerecord.attributes.place.note') %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit t('page.update') %>
  </p>
<% end %>
</div>
