<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= t('activerecord.models.answer') -%>: <%= title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%- if @user -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'answers', :action => 'index', :user_id => @user.username, :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('answer.user_answer', :login_name => @user.username) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, url_for(:controller => 'answers', :action => 'index', :user_id => @user.username, :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('answer.user_answer', :login_name => @user.username) + " (Atom)")) %>
    <%- else -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'answers', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('answer.library_group_answer', :library_group_name => @library_group.name) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, url_for(:controller => 'answers', :action => 'index', :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('answer.library_group_answer', :library_group_name => @library_group.name) + " (Atom)")) %>
    <%- end -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
