<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if @user -%>
    <title><%=h t('bookmark.user_bookmark', :login_name => @user.login) -%>: <%=h title_action_name -%></title>
  <%- else -%>
    <title><%=h t('activerecord.models.bookmarked_resource') -%>: <%=h title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%- if @user -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'bookmarked_resources', :action => 'index', :user_id => @user.login, :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => t('bookmark.user_bookmark', :login_name => @user.login)) -%>
    <%- else -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'bookmarked_resources', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => t('bookmarked_resource.library_group_bookmark', :library_group_name => @library_group.display_name.localize)) -%>
    <%- end -%>
  <%- end -%>
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
