<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= t('activerecord.models.checked_item') -%>: <%= title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
</head>
<body>

<%= render :partial => 'page/header' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>
<div style="color: green"><%= flash[:reserved] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
