<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= t('activerecord.models.checkout') -%>: <%= title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
  <%- if controller.action_name == 'index' -%>
    <%- if @user -%>
      <%= auto_discovery_link_tag(:rss, user_checkouts_url(@user.username, :format => :rss), :title => (t('checkout.user_checkout', :login_name => @user.username) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, user_checkouts_url(@user.username, :format => :atom), :title => (t('checkout.user_checkout', :login_name => @user.username) + " (Atom)")) %>
    <%- else -%>
      <%= auto_discovery_link_tag(:rss, checkouts_url(:format => :rss), :title => (t('checkout.library_group_checkout', :library_group_name => @library_group.display_name.localize) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, checkouts_url(:format => :atom), :title => (t('checkout.library_group_checkout', :library_group_name => @library_group.display_name.localize) + " (Atom)")) %>
    <%- end -%>
  <%- end -%>
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
