<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if @event and controller.action_name != 'new' -%>
    <title><%=h @event.title -%> : <%= t('activerecord.models.event') -%>: <%=h controller.action_name -%></title>
  <%- else -%>
    <title><%= t('activerecord.models.event') -%>: <%=h controller.action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, formatted_events_url(:rss), :title => (t('event.library_group_event', :library_group_name => @library_group.display_name) + " (RSS)")) -%>
    <%= auto_discovery_link_tag(:atom, formatted_events_url(:atom), :title => (t('event.library_group_event', :library_group_name => @library_group.display_name) + " (Atom)")) -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= LIBRARY_WEB_URL -%>page/opensearch" title="<%= @library_group.display_name -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
