<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- case when @expression -%>
    <%- if controller.action_name == 'new' -%>
      <title><%= t('activerecord.models.expression') -%>: <%=h title_action_name -%></title>
    <%- else -%>
      <title><%=h @expression.original_title -%> : <%= t('activerecord.models.expression') -%>: <%=h title_action_name -%></title>
    <%- end -%>
  <%- when @patron -%>
    <title><%= t('expression.patron_expression', :patron_name => @patron.full_name) -%>: <%=h title_action_name -%></title>
  <%- else -%>
    <title><%= t('activerecord.models.expression') -%>: <%=h title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
  <%= canonical_link_tag %>
</head>
<body class="yui-skin-sam" id="yahoo-com">

<div id="container">

<div id="header">
<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>
</div>

<div id="wrapper">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

<%= render :partial => 'page/footer' -%>

</div>

</div>

</body>
</html>
