<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- case when @expression -%>
    <title><%=h @expression.original_title -%> : <%= ('Expressions') -%>: <%=h controller.action_name -%></title>
  <%- when @patron -%>
    <title><%= ("%{patron}'s expressions") -%> : <%= ('Patrons') -%>: <%=h controller.action_name -%></title>
  <%- else -%>
    <title><%= ('Expressions') -%>: <%=h controller.action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= request.protocol + request.host_with_port -%>/page/opensearch" title="<%= @library_group.display_name -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
