<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <%- case when @expression -%>
    <%- if controller.action_name == 'new' -%>
      <title><%= t('activerecord.models.expression') -%>: <%= title_action_name -%></title>
    <%- else -%>
      <title><%= @expression.original_title -%> : <%= t('activerecord.models.expression') -%>: <%= title_action_name -%></title>
    <%- end -%>
  <%- when @patron -%>
    <title><%= t('expression.patron_expression', :patron_name => @patron.full_name) -%>: <%= title_action_name -%></title>
  <%- else -%>
    <title><%= t('activerecord.models.expression') -%>: <%= title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= page_opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
