<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= t('activerecord.models.inter_library_loan') -%>: <%=h title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, formatted_inter_library_loans_url(:rss), :title => (t('inter_library_loan.library_group_inter_library_loan', :library_group_name => @library_group.display_name) + " (RSS)")) -%>
    <%= auto_discovery_link_tag(:atom, formatted_inter_library_loans_url(:atom), :title => (t('inter_library_loan.library_group_inter_library_loan', :library_group_name => @library_group.display_name) + " (Atom)")) -%>
  <%- end -%>
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>

<div id="content">

<p style="color: green"><%= flash[:notice] -%></p>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
