<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <%- if !['index', 'new'].include?(controller.action_name) and @manifestation -%>
    <title><%=h @manifestation.original_title -%> : <%= t('activerecord.models.manifestation') -%> - <%=h @library_group.display_name -%></title>
  <%- elsif controller.action_name == 'index' -%>
    <%- case when @patron -%>
    <title><%= t('manifestation.patron_manifestation', :patron_name => @patron.full_name) -%></title>
    <%- when @expression -%>
    <title><%= t('manifestation.expressions_manifestation', :expression_title => @expression.original_title) -%></title>
    <%- when @query.present? -%>
      <title><%=h @query -%> : <%= t('activerecord.models.manifestation') -%> - <%=h@library_group.display_name -%></title>
    <%- else -%>
      <title><%= t('page.search_resource', :model => t('page.resource')) -%> : <%= t('activerecord.models.manifestation') -%>: <%=h title_action_name -%></title>
    <%- end -%>
  <%- else -%>
    <title><%= t('activerecord.models.manifestation') -%>: <%=h title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(:controller => 'manifestations', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name) + " (RSS)")) -%>
    <%= auto_discovery_link_tag(:atom, url_for(:controller => 'manifestations', :action => 'index', :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('manifestation.library_group_manifestation', :library_group_name => @library_group.display_name) + " (Atom)")) -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%=h @library_group.display_name -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
