<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="library system, open source, ILS, OPAC, ruby on rails" />
  <meta name="description" content="Next-L Enju, an open source integrated library system developed by Project Next-L" />
  <title>
    <%- if @title -%>
      <%= @title -%> - 
    <%- end -%>
    <%= @library_group.display_name.localize -%></title>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title = "<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
