<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <%- case when @patron -%>
    <title><%=h @patron.full_name -%> : <%= ('Patrons') -%>: <%=h controller.action_name -%></title>
  <%- when @expression -%>
    <title><%= ("Patrons for %{expression}") -%> : <%= ('Patrons') -%>: <%=h controller.action_name -%></title>
  <%- else -%>
    <title><%= ('Patrons') -%>: <%=h controller.action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(:controller => 'patrons', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => ("Patron in %{library}")) if @query -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= request.protocol + request.host_with_port -%>/page/opensearch" title="<%= @library_group.display_name -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
