<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= t('activerecord.models.purchase_request') -%>: <%=h title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%- if @user -%>
      <%= auto_discovery_link_tag(:rss, formatted_user_purchase_requests_url(@user.login, :rss), :title => (t('purchase_request.user_purchase_request', :login_name => @user.login) + " (RSS)")) -%>
      <%= auto_discovery_link_tag(:atom, formatted_user_purchase_requests_url(@user.login, :atom), :title => (t('purchase_request.user_purchase_request', :login_name => @user.login) + " (Atom)")) -%>
    <%- else -%>
      <%= auto_discovery_link_tag(:rss, formatted_purchase_requests_url(:rss), :title => (t('purchase_request.library_group_purchase_request', :library_group_name => @library_group.display_name) + " (RSS)")) -%>
      <%= auto_discovery_link_tag(:atom, formatted_purchase_requests_url(:atom), :title => (t('purchase_request.library_group_purchase_request', :library_group_name => @library_group.display_name) + " (Atom)")) -%>
    <%- end -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<%= render :partial => 'page/header' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
