<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-style-type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <%- if controller.action_name == 'show' and @question -%>
    <title><%= t('activerecord.models.question') -%>: <%= title_action_name -%>: <%= truncate(@question.body, :length => 100) -%></title>
  <%- else -%>
    <title><%= t('activerecord.models.question') -%>: <%= title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- case controller.action_name when 'index' -%>
    <%- if @user -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'questions', :action => 'index', :user_id => @user.username, :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('question.user_question', :login_name => @user.username) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, url_for(:controller => 'questions', :action => 'index', :user_id => @user.username, :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('question.user_question', :login_name => @user.username) + " (Atom)")) %>
    <%- else -%>
      <%= auto_discovery_link_tag(:rss, url_for(:controller => 'questions', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('question.library_group_question', :library_group_name => @library_group.display_name.localize) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, url_for(:controller => 'questions', :action => 'index', :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('question.library_group_question', :library_group_name => @library_group.display_name.localize) + " (Atom)")) %>
    <%- end -%>
  <%- when 'show' -%>
    <%- if @user and @question -%>
      <%= auto_discovery_link_tag(:rss, user_question_answers_path(@user.username, @question, :format => 'rss'), :title => (t('answer.user_answer', :login_name => @user.username) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, user_question_answers_path(@user.username, @question, :format => 'atom'), :title => (t('answer.user_answer', :login_name => @user.username) + " (Atom)")) %>
    <%- elsif @question -%>
      <%= auto_discovery_link_tag(:rss, question_answers_path(@question, :format => 'rss'), :title => (t('answer.library_group_answer', :library_group_name => @library_group.name) + " (RSS)")) %>
      <%= auto_discovery_link_tag(:atom, question_answers_path(@question, :format => 'atom'), :title => (t('answer.library_group_answer', :library_group_name => @library_group.name) + " (Atom)")) %>
    <%- end -%>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
