<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sessions: <%=h controller.action_name -%></title>
  <%= javascript_include_tag 'jquery' -%>
  <script type="text/javascript">
      jQuery.noConflict();
  </script>
  <%= javascript_include_tag :defaults -%>
  <%= javascript_include_tag 'thickbox' -%>
  <%= stylesheet_link_tag 'thickbox' -%>
  <%- if params[:mode] == 'thickbox' -%>
    <%= stylesheet_link_tag 'thickbox_login' -%>
  <%- else -%>
    <%= stylesheet_link_tag 'scaffold' -%>
    <%= stylesheet_link_tag 'nonopac' -%>
  <%- end -%>
</head>

<body class="yui-skin-sam" id="yahoo-com">

<p style="color: green"><%= flash[:notice] -%></p>

<div id="content">

<%= yield  -%>

</div>

<%- unless params[:mode] == 'thickbox' -%>
  <%= render :partial => 'page/footer' -%>
<%- end -%>

</body>
</html>
