<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <title><%= t('activerecord.models.shelf') -%>: <%= title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= page_opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
