<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta charset="UTF-8" />
  <%- if @subject -%>
    <title><%= t('activerecord.models.subject') -%> : <%= @subject.term -%>: <%= title_action_name -%></title>
  <%- else -%>
    <title><%= t('activerecord.models.subject') -%> : <%= title_action_name -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%- if controller.action_name == 'index' -%>
    <%= auto_discovery_link_tag(:rss, url_for(:controller => 'subjects', :action => 'index', :params => params.merge(:format => 'rss', :page => nil, :commit => nil)), :title => (t('page.listing', :model => t('activerecord.models.subject')) + " (RSS)")) %>
    <%= auto_discovery_link_tag(:atom, url_for(:controller => 'subjects', :action => 'index', :params => params.merge(:format => 'atom', :page => nil, :commit => nil)), :title => (t('page.listing', :model => t('activerecord.models.subject')) + " (Atom)")) %>
  <%- end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
  <%= canonical_link_tag %>
</head>
<body>

<%= render :partial => 'page/header' -%>
<%= render :partial => 'page/menu' -%>

<div id="content">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
