<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale -%>" lang="<%= @locale -%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= t('activerecord.models.subscription') -%>: <%=h title_action_name -%></title>
  <%= render :partial => 'page/include' -%>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body class="yui-skin-sam" id="yahoo-com">

<div id="container">

<%= render :partial => 'page/header' -%>

<div id="wrapper">

<div style="color: green"><%= flash[:notice] -%></div>

<%= yield  -%>

<%= render :partial => 'page/footer' -%>

</div>

</div>

</body>
</html>
