<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @locale.to_s -%>" lang="<%= @locale.to_s -%>">
<head>
  <meta charset="UTF-8" />
  <%- if @user -%>
    <%- if @user.username.present? -%>
      <title><%= t('page.user_title', :login_name => @user.username) -%> - <%= @library_group.display_name.localize -%></title>
    <%- else -%>
      <title><%= t('activerecord.models.user') -%>: <%= title_action_name -%> - <%= @library_group.display_name.localize -%></title>
    <%- end -%>
  <%- else -%>
    <title><%= t('activerecord.models.user') -%>: <%= title_action_name -%> - <%= @library_group.display_name.localize -%></title>
  <%- end -%>
  <%= render :partial => 'page/include' -%>
  <%= render :partial => 'page/portlets' %>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= page_opensearch_url -%>" title="<%= @library_group.display_name.localize -%>" />
</head>
<body>

<%= render :partial => 'page/header' -%>
<%- if ['index', 'show', 'edit'].include?(controller.action_name) -%>
  <%= render :partial => 'page/menu' -%>
<%- end -%>

<div id="content">

  <div style="color: green">
    <%= flash[:error] -%>
    <%= flash[:notice] -%>
  </div>

<%= yield  -%>

</div>

<%= render :partial => 'page/footer' -%>

</body>
</html>
